img.openness-rating-stars {
    margin-bottom: -4px !important;
}

.facet-item {
	padding-bottom: 3px; 
	padding-top: 3px;
}

.pkg-rss-feed-text {
    color: white;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
border: 1px solid #ddd;
}
.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
border: 1px solid #ddd;
}
.td-center {
text-align: center;
}
.td-full {
width: 100%;
}
.resource-list td {
vertical-align: middle !important;
}
.alert-error,
.label-error,
.label-error[href]:active,
.label-error[href]:focus,
.label-error[href]:hover,
details.alert-error {
    background: #f3e9e8;
    border-color: #d3080c;
    color: #000;
}
.alert-error>:first-child:before {
    color: #d3080c;
    content: "\e101";
}

.list-facets a {
    text-decoration: none;
}

.list-facets a:visited {
    color: #295376;
}

.breadcrumb li:last-child a {
  background: transparent !important;
  color: black;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.fgpv {
  height: 700px;
  border: 1px solid black;
  margin: 1em 0;
  position: relative;
}
.wrapall {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.btn .icon {
  padding-left: 0;
  min-height: 0;
  min-width: 0;
}
.field--name-field-vote {
  display: none;
}

#wb-sm li.dropdown-item a {
    color: #284162;
    text-align: left;
    text-decoration: none;
}

#wb-sm .menu li.dropdown-item a:hover {
    color: white;
}

#wb-sm .menu>li {
    padding:0;
}
#wb-sm .menu>li>a {
    display: block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

#wb-sm .menu {
    text-shadow: none;
}

[role="main"], .main {
    background: none;
}

.stages li.active .highlight {
    background: #284162;
}

.stages li.active::before {
    color: #284162;
}

.stages li.active:after {
  border-top-color: #c5e2c4;
  border-bottom-color: #c5e2c4;
}

body {
  background: none;
}

.js .image-upload #field-image-upload {
    position: initial;
    opacity: initial;
}

.nav-item > a, .nav-aside li a {
    font-size: inherit;
}

.nav-item.active > a, .nav-aside li.active a {
    background-color: unset;
    color: #335075;
}

.nav-item.active > a::before, .nav-aside li.active a::before {
    border: none;
}

.nav-item.active > a:hover,
.nav-aside li.active a:hover {
  color: initial;
  background-color: initial;
}

.module-content {
  padding: 0;
}

.module-resource .actions {
    top: unset;
    right: unset;
}

.context-info .nums {
    border: none;
}

.form-actions {
    text-align: inherit;
}

.form-actions .action-info.small {
    font-size: inherit;
    line-height: inherit;
}
.form-actions .action-info {
    float: inherit;
    width: auto;
    margin-right: inherit;
}
.form-actions .action-info {
    line-height: 2;
    text-align: inherit;
    color: inherit;
    margin: revert;
}