/*####################
## Datatables Views ##
######################*/
div#dtprv_processing.dataTables_processing{
  z-index: 9999 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  /* see static/js/canada_datatables for dynamic styles */
}
div#dtprv_processing.dataTables_processing > div:last-child{
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  pointer-events: none !important;
  /* see static/js/canada_datatables for dynamic styles */
}
div#dtprv_processing.dataTables_processing > div:last-child > div{
  background-color: #335075 !important;
  pointer-events: none !important;
}
body[data-disabled-view="true"] div#resize_wrapper{
  margin-top: 75px !important;
}
@media all and (max-width: 992px){
  body[data-disabled-view="true"] div#resize_wrapper{
    margin-top: 125px !important;
  }
}
div.canada-disabled-view-alert{
  text-align: center !important;
  pointer-events: none !important;
  z-index: 9999 !important;
  width: 100% !important;
  margin: 0 !important;
}
.buttons-collection.buttons-colvis ~ .dt-button-collection.fixed{
  width: 75%;
  top: 10% !important;
  margin-top: 0 !important;
  transform: translateX(-50%);
  margin-left: 0;
  padding: 18px !important;
  max-height: 80% !important;
  overflow-y: scroll !important;
}
.buttons-collection.buttons-colvis ~ .dt-button-collection.fixed .dropdown-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100% !important;
  min-height: 100% !important;
  height: 100% !important;
}
.buttons-collection.buttons-colvis ~ .dt-button-collection.fixed a{
  word-break: break-all;
}
.buttons-collection.buttons-colvis ~ .dt-button-collection.fixed a.buttons-columnVisibility{
  max-width: 50%;
  min-width: 50%;
  width: 50%;
  margin-bottom: 5px;
  padding-left: 24px;
  padding-right: 10px;
  position: relative;
}
.buttons-collection.buttons-colvis ~ .dt-button-collection.fixed a.buttons-columnVisibility::before{
  content: '\f096';
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  left: 6px;
  top: 6px;
}
.buttons-collection.buttons-colvis ~ .dt-button-collection.fixed a.buttons-columnVisibility.active::before{
  content: '\f046';
}
.buttons-collection.buttons-colvis ~ .dt-button-collection.fixed a:not(.buttons-columnVisibility){
  flex-basis: 100%;
  margin-top: 8px;
}
.buttons-collection.buttons-colvis ~ .dt-button-collection.fixed a:not(.buttons-columnVisibility).buttons-colvisRestore{
  max-width: 51%;
  min-width: 51%;
  width: 51%;
}
.buttons-collection.buttons-colvis ~ .dt-button-collection.fixed a:not(.buttons-columnVisibility).buttons-colvisGroup{
  max-width: 50%;
  min-width: 50%;
  width: 50%;
}
.buttons-collection.buttons-colvis ~ .dt-button-collection.fixed a:not(.buttons-columnVisibility).buttons-colvisGroup:nth-last-of-type(3){
  max-width: 49%;
  min-width: 49%;
  width: 49%;
  margin-left: -1%;
}
body .pd-datatable-ref-link{
  opacity: 0.65;
  margin-left: 4px;
}
body .pd-datatable-ref-link small{
  font-size: 75%;
}
body .d-none-soft{
  display: none;
}
/* Core data:image overrides for CSP support */
body .form-select{
  /* background-image: url("/data/static/img/data_img/chevron-down.svg"); */
  background-image: none;
}

body .form-check-input:checked[type=checkbox]{
  /* background-image: url("/data/static/img/data_img/check.svg"); */
  background-image: none;
}

body .form-check-input:checked[type=radio]{
  /* background-image: url("/data/static/img/data_img/dot.svg"); */
  background-image: none;
}

body .form-check-input[type=checkbox]:indeterminate{
  /* background-image: url("/data/static/img/data_img/dash.svg"); */
  background-image: none;
}

body .form-switch .form-check-input {
  /* background-image: url("/data/static/img/data_img/dot-grey.svg"); */
  background-image: none;
}

body .form-switch .form-check-input:focus{
  /* background-image: url("/data/static/img/data_img/dot-blue.svg"); */
  background-image: none;
}

body .form-switch .form-check-input:checked{
  /* background-image: url("/data/static/img/data_img/dot-white.svg"); */
  background-image: none;
}

body .was-validated .form-control:valid, .form-control.is-valid{
  /* background-image: url("/data/static/img/data_img/check-green.svg"); */
  background-image: none;
}

body .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"], .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"]{
  /* background-image: url("/data/static/img/data_img/chevron-downg"), url("/data/static/img/data_img/check-green.svg"); */
  background-image: none;
}

body .was-validated .form-control:invalid, .form-control.is-invalid{
  /* background-image: url("/data/static/img/data_img/danger.svg"); */
  background-image: none;
}

body .was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"], .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"]{
  /* background-image: url("/data/static/img/data_img/chevron-down.svg"), url("/data/static/img/data_img/danger.svg"); */
  background-image: none;
}

body .navbar-light .navbar-toggler-icon{
  /* background-image: url("/data/static/img/data_img/burger.svg"); */
  background-image: none;
}

body .navbar-dark .navbar-toggler-icon{
  /* background-image: url("/data/static/img/data_img/burger-lite.svg"); */
  background-image: none;
}

body .accordion-button:not(.collapsed)::after{
  background-image: url("/data/static/img/data_img/chevron-down-blue.svg");
}

body .accordion-button::after{
  background-image: url("/data/static/img/data_img/chevron-down-grey.svg");
}

body .btn-close{
  /* background-image: url("/data/static/img/data_img/close-black.svg"); */
  background-image: none;
}

body .carousel-control-prev-icon{
  /* background-image: url("/data/static/img/data_img/chevron-left.svg"); */
  background-image: none;
}

body .carousel-control-next-icon{
  /* background-image: url("/data/static/img/data_img/chevron-right.svg"); */
  background-image: none;
}
.canada-dt-search-input-no-fts{
  cursor: not-allowed !important;
  outline: none !important;
  box-shadow: none !important;
}
.canada-dt-hidden-div-fix{
  height: 1 !important;
  width: 1 !important;
  overflow: hidden !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}
/* END Core data:image overrides for CSP support END */
/*#####################
##       END         ##
##  Datatables Views ##
##       END         ##
#######################*/
