.pd-dattable-instructions{
  margin-bottom: 10px;
}

.pd-dattable-instructions pre{
  display: inline !important;
  padding: 2px 6px !important;
}

body #dtprv_wrapper{
  background-color: white !important;
}

body #dt-preview:fullscreen h2{
  display: none !important;
}

body #dt-preview:fullscreen #dtprv_wrapper{
  padding: 15px !important;
  height: 100vh !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  overflow-y: scroll !important;
}

body #dt-preview:fullscreen #dtprv_wrapper .dt-scroll-body{
  height: 55vh !important;
  max-height: 55vh !important;
}

body #dtprv,
body .dt-scroll-head{
  visibility: hidden;
}

body #dtprv td{
  font-size: 16px;
}

body #dtprv_wrapper #dtprv{
  margin-top: -15px !important;
}

body #dtprv_wrapper,
body #dtprv_wrapper .dt-scroll{
  position: relative !important;
}

body #dtprv_wrapper .dt-scroll{
  overflow: hidden !important;
}

body #dtprv_wrapper #dtprv_processing{
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.325) !important;
}

body #dtprv_wrapper #dtprv_processing > div{
  position: absolute !important;
  top: 25% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

body #dtprv_wrapper #dtprv_processing > div > div{
  background-color: #335075 !important;
}

body #dtprv_wrapper .dt-buttons .btn-secondary,
body #dtprv_wrapper .dt-buttons .btn-secondary:hover,
body #dtprv_wrapper .dt-buttons .btn-secondary:active,
body #dtprv_wrapper .dt-buttons .btn-secondary:focus{
  color: white !important;
}

body #dtprv_wrapper .dt-length{
  display: inline-flex !important;
  flex-direction: row-reverse !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  align-items: center !important;
  width: calc(100% / 3) !important;
  min-width: calc(100% / 3) !important;
  max-width: calc(100% / 3) !important;
}

body #dtprv_wrapper .dt-length select{
    margin-right: auto !important;
    background-image: none !important;
    font-size: 14px !important;
    height: 32px !important;
    min-height: 32px !important;
    max-height: 32px !important;
}

body #dtprv_wrapper .dt-length label{
  margin-right: 10px !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-length{
    display: flex !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

body #dtprv_wrapper .dt-search{
  display: inline-flex !important;
  flex-direction: row !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  align-items: center !important;
  width: calc((100% / 3) * 2) !important;
  min-width: calc((100% / 3) * 2) !important;
  max-width: calc((100% / 3) * 2) !important;
}

body #dtprv_wrapper .dt-search input{
  margin-left: 10px !important;
}

body #dtprv_wrapper .dt-search label{
  margin-left: auto !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-search{
    display: flex !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }

  body #dtprv_wrapper .dt-search label{
    margin-left: 0 !important
  }
}

body #dtprv_wrapper .dt-info{
  display: inline-flex !important;
  width: 50% !important;
  min-width: 50% !important;
  max-width: 50% !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-info{
    display: flex !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

body #dtprv_wrapper .dt-jump-to-page{
  display: flex !important;
}

body #dtprv_wrapper .dt-jump-to-page input{
  font-size: 14px !important;
  height: 32px !important;
  min-height: 32px !important;
  max-height: 32px !important;
}

body #dtprv_wrapper .dt-jump-to-page label{
  margin-right: 10px !important;
  margin-left: auto !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-jump-to-page label{
    margin-left: 0 !important;
  }
}

body #dtprv_wrapper .dt-paging{
  display: inline-flex !important;
  width: 50% !important;
  min-width: 50% !important;
  max-width: 50% !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

body #dtprv_wrapper .dt-paging > nav{
  margin-left: auto !important;
}

body #dtprv_wrapper .dt-paging ul.pagination{
  display: flex !important;
}

body #dtprv_wrapper .dt-paging ul.pagination .page-link{
  min-width: 36px !important;
  height: 36px !important;
  min-height: 36px !important;
  max-height: 36px !important;
  line-height: 26px !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-paging{
    display: flex !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }

  body #dtprv_wrapper .dt-paging > nav{
    margin-left: 0 !important
  }
}

body #dtprv_wrapper .dt-orderable-none{
  padding: 8px !important
}

body #dtprv_wrapper .dt-orderable-none .dt-column-order{
  display: none !important;
}

body #dtprv_wrapper thead th{
  font-size: 16px !important;
  vertical-align: top !important;
}

body #dtprv_wrapper thead th .dt-column-order::after,
body #dtprv_wrapper thead th .dt-column-order::before{
  color: #284162 !important;
}

body #dtprv_wrapper thead th .dt-column-order::after{
  top: calc(25% + 5px) !important;
}

body #dtprv_wrapper thead th .dt-column-order::before{
  bottom: 75% !important;
}

body #dtprv_wrapper thead th:not(.dt-ordering-desc):not(.dt-ordering-asc) .dt-column-order::after,
body #dtprv_wrapper thead th:not(.dt-ordering-desc):not(.dt-ordering-asc) .dt-column-order::before{
  opacity: 0.325;
}

body #dtprv_wrapper .dt-buttons .buttons-colvis::after{
  content: none !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection{
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: calc(100% + 10px) !important;
  background-color: rgba(0, 0, 0, 0.325) !important;
  margin-left: -5px !important;
  margin-right: -5px !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"]{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute !important;
  left: 50% !important;
  top: 10px !important;
  transform: translateX(-50%) !important;
  width: 75% !important;
  padding-left: 5px !important;
  padding-top: 5px !important;
  padding-bottom: none !important;
  background-color: white !important;
  border-radius: 4px !important;
  max-height: 85% !important;
  overflow-y: scroll !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button{
  width: calc((100% / 3) - 5px) !important;
  min-width: calc((100% / 3) - 5px) !important;
  max-width: calc((100% / 3) - 5px) !important;
  padding-right: 10px !important;
  padding-left: 28px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  text-decoration: none !important;
  font-size: 14px !important;
  text-overflow: initial !important;
  white-space: normal !important;
  line-height: 22px !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button:nth-of-type(1),
body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button:nth-of-type(2),
body #dtprv_wrapper[data-editable='true'] .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button:nth-of-type(3){
  display: none !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button.dt-button-active{
  color: #fff !important;
  background-color: #206b82 !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button:not(.dt-button-active){
  color: #333333 !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button.dt-button-active:hover,
body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button.dt-button-active:active,
body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button.dt-button-active:focus{
  background-color: #26374a !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button.dt-button-active::after{
  content: '\f046' !important;
  font-family: 'FontAwesome' !important;
  right: initial !important;
  left: 6px !important;
  top: 12px !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button{
    width: calc(100% / 2) !important;
    min-width: calc(100% / 2) !important;
    max-width: calc(100% / 2) !important;
  }
}

@media all and (max-width: 500px){
  body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button{
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

body #dtprv_wrapper th.expanders{
  visibility: hidden !important;
}

body #dtprv_wrapper[data-compact-view="true"] th.expanders,
body #dtprv_wrapper[data-compact-view="true"] td.expanders{
  width: 36px !important;
  min-width: 36px !important;
  max-width: 36px !important;
}

body #dtprv_wrapper td.expanders.dtr-control::before{
  font-family: 'FontAwesome';
  content: '\f105';
  border: none !important;
  font-size: 18px !important;
  color: #26374a !important;
}

body #dtprv_wrapper td.expanders.dtr-control:hover::before,
body #dtprv_wrapper td.expanders.dtr-control:active::before,
body #dtprv_wrapper td.expanders.dtr-control:focus::before{
  color: #1c578a !important;
}

body #dtprv_wrapper tr.dtr-expanded td.expanders.dtr-control::before{
  content: '\f107';
  font-size: 15px !important;
}

body #dtprv_wrapper .dt-scroll-head thead{
  background-color: white !important;
}

body #dtprv_wrapper .dt-scroll-head th:not(:first-of-type){
  z-index: 2 !important;
  border-bottom: 2px solid #335075 !important;
}

body #dtprv_wrapper .dt-scroll-body thead{
  position: relative !important;
}

body #dtprv_wrapper .dt-scroll-body thead th,
body #dtprv_wrapper .dt-scroll-body thead th .dt-column-title,
body #dtprv_wrapper .dt-scroll-body thead th .dt-column-order{
  visibility: hidden !important;
  pointer-events: none !important;
}

body #dtprv_wrapper[data-compact-view="false"] .dt-scroll-head,
body #dtprv_wrapper[data-compact-view="false"] #dtprv,
body #dtprv_wrapper[data-compact-view="false"] .dt-scroll-foot{
  overflow: hidden !important;
  margin-left: -50px !important;
  width: calc(100% + 50px) !important;
}


body #dtprv_wrapper #dtprv-foot-main,
body #dtprv_wrapper #dtprv-foot-main input[type="text"]{
  font-size: 13px !important;
  width: auto !important;
  min-width: auto !important;
  max-width: auto !important;
}

body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col{
  position: relative !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  flex-direction: row !important;
}

/* body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col input:not([type="submit"]){
  width: 100% !important;
} */

body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col input{
  min-height: 37px !important;
  max-height: 37px !important;
}

body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col input[type="text"]{
  padding-left: 6px !important;
  padding-right: 6px !important;
  flex: 1;
  /* border-top-right-radius: 0 !important; */
  /* border-bottom-right-radius: 0 !important; */
}

body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col button[type="submit"]{
  display: none !important;
  /* TODO: use submit buttons in column filters?? */
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  padding: 0 !important;
  position: relative !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col button[type="submit"] i.fa,
body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col button[type="submit"] i.fas{
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px !important;
}

body #dtprv .pd-datatable-readmore .collapse
body #dtprv .pd-datatable-readmore .collapsing{
  transition-duration: 0s !important;
}

body #dtprv .pd-datatable-readmore span.show{
  display: inline !important;
}

body #dtprv_wrapper[data-compact-view="false"] .pd-datatables-primary-key-fixed{
  position: sticky !important;
  left: 0;
  background-color: white !important;
}

body #dtprv_wrapper[data-compact-view="false"] .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-fixed,
body #dtprv_wrapper[data-compact-view="false"] #dtprv-foot-main .pd-datatables-primary-key-fixed{
  left: 50px;
  z-index: 4 !important;
}