.pd-datable-instructions{
  margin-bottom: 10px;
}

.pd-datable-instructions pre{
  display: inline !important;
  padding: 2px 6px !important;
}

body #dtprv_wrapper:fullscreen,
body #dt-preview:fullscreen,
.pd-datable-instructions:fullscreen{
  background-color: white !important;
}

body #dt-preview:fullscreen{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin-bottom: 15px !important;
  overflow-y: scroll !important;
}

body #dt-preview:fullscreen h2{
  display: none !important;
}

body #dt-preview:fullscreen #dtprv_wrapper{
  padding: 15px !important;
  height: 90vh !important;
  min-height: 90vh !important;
}

body #dt-preview:fullscreen #dtprv_wrapper .dt-scroll-body{
  height: 55vh !important;
  max-height: 55vh !important;
}

body #dtprv,
body .dt-scroll-head{
  visibility: hidden;
}

body #dtprv td{
  font-size: 16px;
}

body #dtprv_wrapper #dtprv{
  margin-top: -15px !important;
}

body #dtprv_wrapper,
body #dtprv_wrapper .dt-scroll{
  position: relative !important;
}

body #dtprv_wrapper .dt-scroll{
  overflow: hidden !important;
}

body #dtprv_wrapper #dtprv_processing{
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.325) !important;
}

body #dtprv_wrapper #dtprv_processing > div{
  position: absolute !important;
  top: 25% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

body #dtprv_wrapper #dtprv_processing > div > div{
  background-color: #335075 !important;
}

body #dtprv_wrapper .dt-buttons .btn-secondary,
body #dtprv_wrapper .dt-buttons .btn-secondary:hover,
body #dtprv_wrapper .dt-buttons .btn-secondary:active,
body #dtprv_wrapper .dt-buttons .btn-secondary:focus{
  color: white !important;
}

body #dtprv_wrapper .dt-length{
  display: inline-flex !important;
  flex-direction: row-reverse !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  align-items: center !important;
  width: calc(100% / 3) !important;
  min-width: calc(100% / 3) !important;
  max-width: calc(100% / 3) !important;
}

body #dtprv_wrapper .dt-length select{
    margin-right: auto !important;
    background-image: none !important;
    font-size: 14px !important;
    height: 32px !important;
    min-height: 32px !important;
    max-height: 32px !important;
}

body #dtprv_wrapper .dt-length label{
  margin-right: 10px !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-length{
    display: flex !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

body #dtprv_wrapper .dt-search{
  display: inline-flex !important;
  flex-direction: row !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  align-items: center !important;
  width: calc((100% / 3) * 2) !important;
  min-width: calc((100% / 3) * 2) !important;
  max-width: calc((100% / 3) * 2) !important;
}

body #dtprv_wrapper .dt-search input{
  margin-left: 10px !important;
}

body #dtprv_wrapper .dt-search label{
  margin-left: auto !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-search{
    display: flex !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }

  body #dtprv_wrapper .dt-search label{
    margin-left: 0 !important
  }
}

body #dtprv_wrapper .dt-info{
  display: inline-flex !important;
  width: 50% !important;
  min-width: 50% !important;
  max-width: 50% !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-info{
    display: flex !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

body #dtprv_wrapper .dt-jump-to-page{
  display: inline-flex !important;
  width: 50% !important;
  min-width: 50% !important;
  max-width: 50% !important;
  margin-top: -5px;
  margin-bottom: 10px;
  float: right;
  clear: right;
  box-sizing: border-box;
}

body #dtprv_wrapper .dt-jump-to-page input{
  font-size: 14px !important;
  height: 32px !important;
  min-height: 32px !important;
  max-height: 32px !important;
}

body #dtprv_wrapper .dt-jump-to-page label{
  margin-right: 10px !important;
  margin-left: auto !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-jump-to-page{
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
  body #dtprv_wrapper .dt-jump-to-page label{
    margin-left: 0 !important;
  }
}

body #dtprv_wrapper #dtprv_info{
  float: left;
  clear: left;
  box-sizing: border-box;
}

body #dtprv_wrapper .dt-sorting-info{
  display: inline-flex !important;
  width: 50% !important;
  min-width: 50% !important;
  max-width: 50% !important;
  margin-top: -10px;
  margin-bottom: 10px;
  float: left;
  clear: left;
  box-sizing: border-box;
}

body #dtprv_wrapper .dt-sorting-info .info-label{
  white-space: nowrap !important;
  margin-right: 8px !important;
}

body #dtprv_wrapper .dt-sorting-info div{
  display: inline-flex;
  width: 100%;
  flex-direction: column;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-sorting-info{
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

body #dtprv_wrapper .dt-paging{
  display: inline-flex !important;
  width: 50% !important;
  min-width: 50% !important;
  max-width: 50% !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  clear: both;
  box-sizing: border-box;
}

body #dtprv_wrapper .dt-paging > nav{
  margin-left: auto !important;
}

body #dtprv_wrapper .dt-paging ul.pagination{
  display: flex !important;
}

body #dtprv_wrapper .dt-paging ul.pagination .page-link{
  min-width: 36px !important;
  height: 36px !important;
  min-height: 36px !important;
  max-height: 36px !important;
  line-height: 26px !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dt-paging{
    display: flex !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }

  body #dtprv_wrapper .dt-paging > nav{
    margin-left: 0 !important
  }
}

body #dtprv_wrapper .dt-orderable-none{
  padding: 8px !important
}

body #dtprv_wrapper .dt-orderable-none .dt-column-order{
  display: none !important;
}

body #dtprv_wrapper thead th{
  font-size: 16px !important;
  vertical-align: top !important;
}

body #dtprv_wrapper thead th .dt-column-order::after,
body #dtprv_wrapper thead th .dt-column-order::before{
  color: #333333 !important;
}

body #dtprv_wrapper thead th .dt-column-order::after{
  top: 17.5px !important;
}

body #dtprv_wrapper thead th .dt-column-order::before{
  bottom: initial !important;
  top: 5px !important;
}

body #dtprv_wrapper thead th:not(.dt-ordering-desc):not(.dt-ordering-asc) .dt-column-order::after,
body #dtprv_wrapper thead th:not(.dt-ordering-desc):not(.dt-ordering-asc) .dt-column-order::before{
  opacity: 0.325;
}

body #dtprv_wrapper .dt-buttons .buttons-colvis::after{
  content: none !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection{
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: calc(100% + 10px) !important;
  background-color: rgba(0, 0, 0, 0.325) !important;
  margin-left: -5px !important;
  margin-right: -5px !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"]{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute !important;
  left: 50% !important;
  top: 10px !important;
  transform: translateX(-50%) !important;
  width: 75% !important;
  padding-left: 5px !important;
  padding-top: 5px !important;
  padding-bottom: none !important;
  background-color: white !important;
  border-radius: 4px !important;
  max-height: 85% !important;
  overflow-y: scroll !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button{
  width: calc((100% / 3) - 5px) !important;
  min-width: calc((100% / 3) - 5px) !important;
  max-width: calc((100% / 3) - 5px) !important;
  padding-right: 10px !important;
  padding-left: 28px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  text-decoration: none !important;
  font-size: 14px !important;
  text-overflow: initial !important;
  white-space: normal !important;
  line-height: 22px !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button:nth-of-type(1),
body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button:nth-of-type(2),
body #dtprv_wrapper[data-editable='true'] .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button:nth-of-type(3){
  display: none !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button.dt-button-active{
  color: #fff !important;
  background-color: #206b82 !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button:not(.dt-button-active){
  color: #333333 !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button.dt-button-active:hover,
body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button.dt-button-active:active,
body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button.dt-button-active:focus{
  background-color: #26374a !important;
}

body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button.dt-button-active::after{
  content: '\f046' !important;
  font-family: 'FontAwesome' !important;
  right: initial !important;
  left: 6px !important;
  top: 12px !important;
}

@media all and (max-width: 768px){
  body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button{
    width: calc(100% / 2) !important;
    min-width: calc(100% / 2) !important;
    max-width: calc(100% / 2) !important;
  }
}

@media all and (max-width: 500px){
  body #dtprv_wrapper .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button{
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

body #dtprv_wrapper tfoot th.expanders,
body #dtprv_wrapper .dt-scroll-head th.expanders{
  visibility: hidden !important;
}

body #dtprv_wrapper[data-compact-view="true"] th.expanders,
body #dtprv_wrapper[data-compact-view="true"] td.expanders{
  width: 36px !important;
  min-width: 36px !important;
  max-width: 36px !important;
}

body #dtprv_wrapper td.expanders.dtr-control::before{
  font-family: 'FontAwesome';
  content: '\f105';
  border: none !important;
  font-size: 18px !important;
  color: #26374a !important;
}

body #dtprv_wrapper td.expanders.dtr-control:hover::before,
body #dtprv_wrapper td.expanders.dtr-control:active::before,
body #dtprv_wrapper td.expanders.dtr-control:focus::before{
  color: #1c578a !important;
}

body #dtprv_wrapper tr.dtr-expanded td.expanders.dtr-control::before{
  content: '\f107';
  font-size: 15px !important;
}

body #dtprv_wrapper .dt-scroll-head thead{
  background-color: white !important;
}

body #dtprv_wrapper .dt-scroll-head th:not(.no-edit){
  z-index: 2 !important;
  border-bottom: 2px solid #335075 !important;
}

body #dtprv_wrapper .dt-scroll-head th.expanders{
  position: relative !important;
}

body #dtprv_wrapper #dtprv-editor-button button{
  position: absolute !important;
  top: 0;
  left: 0;
  right: 1px;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 0 !important;
  color: white !important;
  background-color: #1b6c1c !important;
  border-color: #071a07 !important;
}

body #dtprv_wrapper #dtprv-editor-button button:hover,
body #dtprv_wrapper #dtprv-editor-button button:active,
body #dtprv_wrapper #dtprv-editor-button button:focus{
  color: white !important;
  background-color: #114311 !important;
  border-color: #000000 !important;
}

body #dtprv_wrapper[data-edit-view="true"] #dtprv-editor-button button{
  visibility: hidden !important;
  pointer-events: none !important;
  display: none !important;
}

body #dtprv_wrapper .dt-scroll-body thead{
  position: relative !important;
}

body #dtprv_wrapper .dt-scroll-body thead th,
body #dtprv_wrapper .dt-scroll-body thead th .dt-column-title,
body #dtprv_wrapper .dt-scroll-body thead th .dt-column-order{
  visibility: hidden !important;
  pointer-events: none !important;
}

body #dtprv_wrapper[data-compact-view="false"] .dt-scroll-head,
body #dtprv_wrapper[data-compact-view="false"] #dtprv,
body #dtprv_wrapper[data-compact-view="false"] .dt-scroll-foot{
  overflow: hidden !important;
  margin-left: -36px !important;
  width: calc(100% + 36px) !important;
}

body #dtprv_wrapper[data-edit-view="true"] .dt-scroll-head,
body #dtprv_wrapper[data-edit-view="true"] #dtprv,
body #dtprv_wrapper[data-edit-view="true"] .dt-scroll-foot{
  margin-left: 0 !important;
  width: 100% !important;
}

body #dtprv_wrapper[data-compact-view="false"][data-edit-view="false"] #dtprv td.expanders{
  visibility: hidden !important;
}

body #dtprv_wrapper[data-edit-view="false"] .dt-scroll-body{
  border-bottom: 0 !important;
}

body #dtprv_wrapper[data-edit-view="false"] .dt-scroll-foot tfoot th{
  border-top: 3px solid #26374a !important;
}

body #dtprv_wrapper #dtprv-foot-main,
body #dtprv_wrapper #dtprv-foot-main input[type="text"]{
  font-size: 13px !important;
  width: auto !important;
  min-width: auto !important;
  max-width: auto !important;
}

body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col{
  position: relative !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  flex-direction: row !important;
}

/* body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col input:not([type="submit"]){
  width: 100% !important;
} */

body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col input{
  min-height: 37px !important;
  max-height: 37px !important;
}

body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col input[type="text"]{
  padding-left: 6px !important;
  padding-right: 6px !important;
  flex: 1;
  /* OPTIONAL: input buttons */
  /* border-top-right-radius: 0 !important; */
  /* border-bottom-right-radius: 0 !important; */
}

body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col button[type="submit"]{
  /* OPTIONAL: input buttons */
  display: none !important;
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  padding: 0 !important;
  position: relative !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col button[type="submit"] i.fa,
body #dtprv_wrapper #dtprv-foot-main .dtprv-filter-col button[type="submit"] i.fas{
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px !important;
}

body #dtprv .pd-datatable-readmore .collapse
body #dtprv .pd-datatable-readmore .collapsing{
  transition-duration: 0s !important;
}

body #dtprv .pd-datatable-readmore span.show{
  display: inline !important;
}

body #dtprv_wrapper[data-compact-view="false"] .pd-datatables-primary-key-fixed{
  /* FIXME: margin in KeyTableing when going backwards is a bit bad... */
  position: sticky !important;
  left: 0;
  background-color: white !important;
}

body #dtprv_wrapper[data-compact-view="false"] .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-fixed,
body #dtprv_wrapper[data-compact-view="false"] #dtprv-foot-main .pd-datatables-primary-key-fixed{
  left: 0;
  z-index: 4 !important;
}

body #dtprv_wrapper[data-edit-view="true"] .pd-datatables-primary-key-fixed{
  position: relative !important;
  left: initial !important;
}

body #dtprv_wrapper[data-compact-view="false"] .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-fixed,
body #dtprv_wrapper[data-compact-view="false"] #dtprv-foot-main .pd-datatables-primary-key-fixed{
  left: 36px !important;
}

body #dtprv_wrapper[data-edit-view="true"] .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-fixed,
body #dtprv_wrapper[data-edit-view="true"] #dtprv-foot-main .pd-datatables-primary-key-fixed{
  left: initial !important;
}

body #dtprv_wrapper[data-edit-view="false"] th.expanders,
body #dtprv_wrapper[data-edit-view="false"] td.expanders{
  width: 36px !important;
  min-width: 36px !important;
  max-width: 36px !important;
}

body #dtprv_wrapper .dt-scroll-body tfoot input,
body #dtprv_wrapper .dt-scroll-body tfoot label,
body #dtprv_wrapper .dt-scroll-body thead span.dt-column-order{
  visibility: hidden !important;
}

body #dtprv_wrapper .btn.btn-warning,
body #dtprv_wrapper .btn.btn-warning:hover,
body #dtprv_wrapper .btn.btn-warning:active,
body #dtprv_wrapper .btn.btn-warning:focus{
  color: black !important;
}

body #dtprv_wrapper[data-edit-view="true"] #dtprv-foot-main,
body #dtprv_wrapper[data-edit-view="true"] #dtprv_info,
body #dtprv_wrapper[data-edit-view="true"] .dt-paging,
body #dtprv_wrapper[data-edit-view="true"] .dt-length,
body #dtprv_wrapper[data-edit-view="true"] .dt-search{
  display: none !important;
  visibility: hidden !important;
}

body #dtprv_wrapper[data-edit-view="true"] th.checkboxes,
body #dtprv_wrapper[data-edit-view="true"] td.checkboxes,
body #dtprv_wrapper[data-edit-view="true"] th[data-editable-col="false"],
body #dtprv_wrapper[data-edit-view="true"] td[data-editable-col="false"]
body #dtprv_wrapper[data-edit-view="true"] th.pd-datatables-non-editable-col,
body #dtprv_wrapper[data-edit-view="true"] td.pd-datatables-non-editable-col{
  visibility: hidden !important;
  width: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
  height: 0 !important;
  min-height: 0 !important;
  max-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  border: none !important;
}

body #dtprv_wrapper[data-edit-view="true"] th{
  pointer-events: none !important;
}

body #dtprv_wrapper[data-edit-view="true"] .dt-scroll{
  margin-top: 25px !important;
}

body #dtprv_wrapper[data-edit-view="true"] .dt-scroll-body thead{
  height: 16px;
  min-height: 16px;
}

body #dtprv_wrapper[data-edit-view="true"] #dtprv-body-main td.expanders{
  position: sticky !important;
  left: 0;
  background-color: #555555;
  color: white !important;
  font-weight: 700 !important;
  text-align: center !important;
  padding: 4px 8px !important;
  z-index: 6 !important;
}

body #dtprv_wrapper[data-edit-view="true"] #dtprv-body-main td{
  padding: 0 !important;
  box-shadow: none;
  vertical-align: middle !important;
}

body #dtprv_wrapper[data-edit-view="true"] #dtprv-body-main td input,
body #dtprv_wrapper[data-edit-view="true"] #dtprv-body-main td select,
body #dtprv_wrapper[data-edit-view="true"] #dtprv-body-main td textarea{
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  border-radius: 0 !important;
  padding: 4px 8px !important;
  border: none !important;
  background-color: white !important;
  margin: 0 !important;
}

body #dtprv_wrapper[data-edit-view="true"] #dtprv-body-main td textarea{
  min-height: 31px !important;
  height: 100%;
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

body #dtprv_wrapper i.fa-spinner{
  animation: spin 4s linear infinite;
}