{% set organizations_available = h.organizations_available('create_dataset') %}

{% if organizations_available|length > 12 %}

  {% import 'macros/form.html' as form %}

  {% set org_required = not h.check_config_permission('create_unowned_dataset') %}

  {% call form.input_block('field-organizations',
    label=h.scheming_language_text(field.label),
    error=errors[field.field_name],
    is_required=org_required,
    classes=field.classes if 'classes' in field else ['form-group', 'control-medium', 's2id_field-organizations_wrapper'],
    extra_html=caller() if caller,
    ) %}
      {% set selected_org = data.get('organization', '') if data else '' %}
      {% if selected_org %}
        {% set selected_org = h.split_piped_bilingual_field(selected_org.title, h.lang()) %}
      {% endif %}
      <div {{
        form.attributes(field.form_attrs) if 'form_attrs' in field else '' }}>
        <input id="field-organizations"
          type="text"
          name="owner_org"
          value="{{ data.get('owner_org', '') if data else '' }}"
          placeholder="{{ _('Search organizations...') }}"
          data-module="autocomplete"
          data-module-source="{{h.url_for('canada.organization_autocomplete') ~ '?q=?'}}"
          data-module-key="id"
          data-module-label="title"
          data-module-dropdownClass="org-select2-dropdown"
          data-module-containerClass="org-select2-container"
          data-module-tags="false"
          data-module-createtags="false"
          data-module-initial_value="{{ data.get('owner_org', '') if data else '' }}"
          data-module-initial_label="{{ selected_org }}"
          class="control-medium"
          />
      </div>
  {% endcall %}

  <div class="form-group">
    {%- snippet 'scheming/form_snippets/help_text.html', field=field %}
  </div>

{% else %}

  {% extends "scheming/form_snippets/organization.html" %}

{% endif %}
