{% ckan_extends %}

{% set pkg = pkg_dict %}
{% set client_lang = h.lang() %}

{% block breadcrumb_content %}
  {% set pkg_url = h.url_for(pkg.type ~ '.read', id=pkg.id if is_activity_archive else pkg.name, **({'activity_id': request.args['activity_id']} if 'activity_id' in request.args else {})) %}
  {% if action != 'new' and pkg %}
    {% set dataset = h.get_translated(pkg, 'title') %}
    {% if h.is_registry_domain() and pkg.type in h.recombinant_get_types() %}
      {% set dataset = dataset ~ ' - ' ~ h.split_piped_bilingual_field(pkg.organization.title, h.lang()) %}
    {% endif %}
    <li{{ self.breadcrumb_content_selected() }}><a href="{{ pkg_url }}" title="{{ dataset }}">{{ dataset|truncate(80) }}</a></li>
  {% endif %}
{% endblock %}
