{% extends "page.html" %}

{% block subtitle %}{{ _("Confirm Delete") }}{% endblock %}

{% block primary_content_inner %}
  <div class="col-md-12">
    {% block form %}
      <p>{{ _('Are you sure you want to delete resource - {name}?').format(name=h.resource_display_name(g.resource_dict)) }}</p>
      <p class="form-actions">
        <form action="{{ h.url_for('dataset_resource.delete', resource_id=g.resource_dict.id, id=g.pkg_id) }}" method="post">
          <button class="btn btn-danger" type="submit" name="cancel" >{{ _('Cancel') }}</button>
          <button class="btn btn-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
        </form>
      </p>
    {% endblock %}
  </div>
{% endblock %}
