{% ckan_extends %}

{%- block subtitle %}
  {{ _('Edit') }} {{ pkg.title or pkg.name }}
{% endblock -%}

{% block page_heading %}
  {{ _('Edit') }} {{ pkg.title or pkg.name }}
{% endblock %}

{% block primary_content %}
  <div class="row">
    <div class="col-md-12">
      {{ super() }}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  {% if pkg_dict and pkg_dict.resources %}
    {% snippet "package/snippets/resources.html", pkg=pkg %}
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'canada_internal/package_confirm_contact_email' %}
{% endblock %}
