{% ckan_extends %}

{% block content_primary_nav %}
  {% if pkg.type != 'prop' %}  {# suggested datasets have no resources #}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% if pkg_dict and not pkg_dict.resources %}
    <div class="resources-side-section--no-resources">
      {{ super() }}
    </div>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block scripts %}
  {% asset 'canada_internal/package_edit' %}
  {% asset 'canada_internal/resource_edit' %}
  {{ super() }}
  <script nonce="{{- h.get_inline_script_nonce() -}}">
    window.addEventListener('load', function(){
      $(document).ready(function(){
        let select2Fields = $('[data-field-select2="True"]');
        if( select2Fields.length > 0 ){
          $(select2Fields).each(function(_index, _select2Field){
            $(_select2Field).select2();
          });
        }
      });
    });
  </script>
{% endblock %}
