{% ckan_extends %}

{% block form %}
  {% set max_resource_count = h.max_resources_per_dataset() %}
  {% if h.is_registry_domain() and max_resource_count and pkg_dict.resources|length >= max_resource_count %}
    <div class="row">
      <div class="col-md-12 canada-flash-messages">
        <div>
          <section class="alert fade in alert-danger">
            <strong>{{ _("Resource Limit Reached") }}</strong>
            <p>{{ _("You can only add up to {max_resource_count} resources to a dataset. "
                    "You can segment your resources across multiple datasets or merge your "
                    "data to limit the number of resources. Please contact "
                    "{support} if you need further assistance.").format(max_resource_count=max_resource_count, support=h.support_email_address()) }}</p>
          </section>
        </div>
      </div>
    </div>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
 {% snippet 'package/snippets/resources.html', pkg=pkg %}
{% endblock %}
