{% ckan_extends %}

{% block primary_content %}
  <div class="row mrgn-tp-md canada-page-main-wrapper">
    <div class="col-md-12">
      {{ self.form() }}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if g.is_registry %}
    <script type="text/javascript" src="{{ h.url_for_static('/registry_resource_edit.js') }}" ></script>
    {% asset 'canada_internal/guess_mimetype' %}
  {% endif %}
  {{ super() }}
{% endblock %}

{% block custom_styles %}
  {{ super() }}
  {% if g.is_registry %}
    {% asset 'vendor/select2-css' %}
  {% endif %}
{% endblock %}
