{% ckan_extends %}

{% set client_lang = h.lang() %}
{% set title, machine_translated = h.get_translated_t(pkg_dict, 'title') %}

{%- block subtitle -%}
  {{ (title or pkg_dict.name) | trim }}
{%- endblock -%}

{% block page_title %}
  <h1>{{ title or pkg_dict.name }}
    {% if pkg_dict.state.startswith('draft') %}
      <span class="label label-info canada-draft-title-pill">{{ _('Draft') }}</span>
    {% endif %}
    {% if machine_translated %}
      <i class="fa fa-language text-muted mrgn-lft-sm" title="{{ _('This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact {support}').format(support=h.support_email_address()) }}"></i>
    {% endif %}
  </h1>
{% endblock %}

{% block primary_content_inner %}
  {% if not is_activity_archive %}
    {%- snippet 'package/snippets/schemaorg.html', data=pkg_dict -%}
  {% endif %}
  <div class="module">
    {% block internal_actions %}
      {% if h.is_registry_domain() %}
        {% set max_resource_count = h.max_resources_per_dataset() %}
        {% if max_resource_count and pkg.resources|length >= max_resource_count %}
          <div class="row">
            <div class="col-md-12 canada-flash-messages">
              <div>
                <section class="alert fade in alert-danger">
                  <strong>{{ _("Resource Limit Reached") }}</strong>
                  <p>{{ _("You can only add up to {max_resource_count} resources to a dataset. "
                          "You can segment your resources across multiple datasets or merge your "
                          "data to limit the number of resources. Please contact "
                          "{support} if you need further assistance.").format(max_resource_count=max_resource_count, support=h.support_email_address()) }}</p>
                </section>
              </div>
            </div>
          </div>
        {% endif %}
        <section class="resources module-content indent-large">
          {% set portal_link = h.portal_url() ~ "/data/" ~ client_lang ~ "/" ~ pkg_dict.get('type', 'dataset') ~ "/" ~ pkg_dict.name %}
          {% set portal_status_alerts = [] %}
          {% set is_type_for_alerts = pkg_dict.get('type') == 'dataset' or pkg_dict.get('type') == 'info' %}
          {% set do_not_show_alerts = pkg_dict.state.startswith('draft') or pkg_dict.state.startswith('deleted') %}
          {% set no_ready_to_publish = pkg_dict['ready_to_publish'] == 'false' or not pkg_dict['ready_to_publish'] %}
          {% set no_has_approval = pkg_dict['imso_approval'] == 'false' or not pkg_dict['imso_approval'] %}
          {% set queued_for_publishing = not pkg_dict['portal_release_date'] or h.date_format(pkg_dict['portal_release_date']) > h.today() %}
          {% if no_ready_to_publish %}
            {% do portal_status_alerts.append({
                'label': _('Action required:'),
                'sub_label': _('Draft record has been saved and can be edited. Mark as ready to publish to continue.'),
                'alert_class': 'warning',
              })
            %}
          {% endif %}
          {% if no_has_approval %}
            {% do portal_status_alerts.append({
                'label': _('Action required:'),
                'sub_label': _('Seek out departmental approval and mark as approved to continue.'),
                'alert_class': 'warning',
              })
            %}
          {% endif %}
          {% if not no_ready_to_publish and not no_has_approval and queued_for_publishing %}
            {% do portal_status_alerts.append({
                'label': _('Data record is in queue for validation.'),
                'sub_label': _('Record will be published by the following business day upon validation.'),
                'alert_class': 'info',
              })
            %}
          {% endif %}
          {% if not do_not_show_alerts and is_type_for_alerts %}
            {% if portal_status_alerts %}
              {% for alert in portal_status_alerts %}
                <div class="module-alert alert alert-{{ alert['alert_class'] }} mrgn-tp-sm">
                  <p>
                    {{ alert['label'] }}
                    {% if alert['sub_label'] %}
                      <br/><small>{{ alert['sub_label'] }}</small>
                    {% endif %}
                  </p>
                </div>
              {% endfor %}
            {% else %}
              <a href="{{ portal_link }}" title="{{ _('View on Portal') }}" class="btn btn-success" target="_blank" rel='noopener noreferrer'>
                <span class="fa fa-arrow-circle-right" aria-hidden="true"></span>&nbsp;<span class="text">{{ _('View on Portal') }}</span>
              </a>
            {% endif %}
          {% endif %}
          {% if pkg_dict.state == "deleted" %}
            <div class="module-alert alert alert-danger mrgn-tp-sm">
              <p>{{ _('This dataset has been deleted and is no longer accessible') }}.</p>
            </div>
          {% endif %}
        </section>
      {% endif %}
    {% endblock %}
    {% block package_archive_notice %}{% endblock %}
    {% block package_item_title %}
      <section class="module-content indent-large">
        <div id="resource-desc">
          {% set notes, machine_translated = h.get_translated_t(pkg_dict, 'notes') %}
          {% if machine_translated %}
            <i class="fa fa-language text-muted mrgn-bttm-md float-right" title="{{ _('This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact {support}').format(support=h.support_email_address()) }}"></i>
          {% endif %}
          {{ h.render_markdown(notes) }}
        </div>
      </section>
    {%- endblock -%}
    {% if (pkg_dict.organization.name == 'ab' or pkg_dict.organization.name == 'qc' or pkg_dict.organization.name == 'bc-cb' or pkg_dict.organization.name == 'on') %}
      {% set owner_org_title = h.split_piped_bilingual_field(pkg_dict.organization.title, h.lang()) %}
      <section>
        <details class="alert alert-info" id="alberta-content" open="open">
          <summary class="h4">
            <h4>{{ _('Made available by the ') + owner_org_title }}</h4>
          </summary>
          {% trans %}
            <p>These resources are not under the control of the Government of Canada and the link is provided solely for the convenience of our website visitors. We are not responsible for the accuracy, currency or reliability of the content of this website. The Government of Canada does not offer any guarantee in that regard and is not responsible for the information found through this link.</p>
            <p>Visitors should also be aware that information offered by this non-Government of Canada site is not subject to the <a href="http://laws-lois.justice.gc.ca/eng/acts/P-21/index.html">Privacy Act</a> or the <a href="http://laws-lois.justice.gc.ca/eng/acts/O-3.01/">Official Languages Act</a> and may not be accessible to persons with disabilities. The information offered may be available only in the language used by the site. With respect to privacy, visitors should research the privacy policies of this non-government website before providing personal information.</p>
          {% endtrans %}
        </details>
      </section>
    {% endif %}
    {# Display some publisher-specific details on this dataset inline with the dataset notes. #}
    <section>
      <ul class="list-group dataset-inline-details">
        {% if pkg_dict.organization %}
          {# For legacy reasons, organization titles are not stores the same way as other multilingual fields, so special case it. #}
          {% set owner_org = h.scheming_field_by_name(schema.dataset_fields, 'owner_org') %}
          {% set owner_org_title = h.split_piped_bilingual_field(pkg_dict.organization.title, h.lang()) %}
          <li class="list-group-item">
            <strong>{{ h.scheming_language_text(owner_org.label) }}{{ _(':') }}</strong>
            {{ owner_org_title }}
          </li>
        {% endif %}
        {# Only the list of fields included below will be included #}
        {% set include_labels = [
          "org_title_at_publication",
          "org_section",
          "contributor",
          "license_id",
        ] + schema.get('detail_include_fields', []) %}
        {% for field in schema.dataset_fields if field.field_name in include_labels and field.display_snippet is not none %}
          {% set field_title = h.scheming_language_text(field.label) %}
          {% if field_title %}
            {% set field_value = pkg_dict[field.field_name] %}
            {% if pkg_dict[field.field_name] is mapping %}
              {% set field_value = h.scheming_language_text(field_value) %}
            {% endif %}
            {% if field_value %}
              {% if field.field_name != 'org_title_at_publication' or (field_value|escape) != owner_org_title %}
                {% if field.field_name == 'org_title_at_publication' and pkg_dict.jurisdiction != 'federal' %}
                  {% set field_title = _('Issued by') %}
                {% endif %}
                <li class="list-group-item"><strong>{{ field_title }}{{ _(':') }}</strong>
                  {% snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, entity_type='dataset', object_type=pkg_dict.type %}
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </section>
    {% block package_resources %}
      {% if pkg_dict.type != 'prop' %}
        {{ super() }}
      {% endif %}
    {% endblock %}
    {% block related_items %}
      {% if pkg_dict.get('relationship') %}
        <div class="span-6 margin-top-medium clear-both">
          <h2>{{ _('Dataset Relationships') }}</h2>
          {% set relation_field = h.scheming_field_by_name(schema.dataset_fields, 'relationship') %}
          {% snippet 'scheming/snippets/display_field.html', field=relation_field, data=pkg_dict, entity_type='dataset', object_type=pkg_dict.type %}
        </div>
      {% endif %}
    {% endblock related_items %}
    {% block contact_information %}
      {% set info = h.contact_information(pkg_dict.get('contact_information')) %}
      {% if info %}
        <div class="span-6 margin-top-medium clear-both">
          <h4>{{ _('Contact Information') }}</h4>
          {% if 'delivery_point' in info and info['delivery_point'] %}
            <p>{{ _('Delivery Point:') }} {{ info['delivery_point'] }}</p>
          {% endif %}
          {% if 'city' in info and info['city'] %}
            <p>{{ _('City:') }} {{ info['city'] }}</p>
          {% endif %}
          {% if 'administrative_area' in info and info['administrative_area'] %}
            <p>{{ _('Administrative Area:') }} {{ info['administrative_area'] }}</p>
          {% endif %}
          {% if 'postal_code' in info and info['postal_code'] %}
            <p>{{ _('Postal Code:') }} {{ info['postal_code'] }}</p>
          {% endif %}
          {% if 'country' in info and info['country'] %}
            <p>{{ _('Country:') }} {{ info['country'] }}</p>
          {% endif %}
          {% if 'electronic_mail_address' in info and info['electronic_mail_address'] %}
            <p>{{ _('Electronic Mail Address:') }}
              <a href="mailto:{{ info['electronic_mail_address'] }}">{{ info['electronic_mail_address'] }}</a>
            </p>
          {% endif %}
        </div>
      {% endif %}
    {% endblock contact_information %}
    {% block detail_fields %}
      {% set show_fields = schema.get('detail_show_fields', []) %}
      {% if show_fields %}
        {% for field in schema.dataset_fields %}
          {% if field.field_name in show_fields %}
            {% snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, entity_type='dataset', object_type=pkg_dict.type %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endblock %}
    {% block more_like_this %}
      {% if not h.is_registry_domain() %}
        {% if h.adv_search_url() %}
          <section class="panel panel-primary">
            <header class="panel-heading">
              <div class="panel-title">{{ _('Similar records') }}</div>
            </header>
            <div data-ajax-replace="{{ h.adv_search_mlt_root() }}{{ pkg_dict.id }}" class="panel-body" id="related_pkgs"></div>
          </section>
        {% endif %}
      {% endif %}
    {% endblock %}
    {% block package_rate %}
      {% if not h.is_registry_domain() %}
        <a id="rate"></a>
        <div id="voting-wrapper" data-ajax-replace="/{{ h.lang() }}/vote?uuid={{ pkg_dict.id }}"></div>
      {% endif %}
    {% endblock %}
    {% block package_feedback %}
      {% if not h.is_registry_domain() and pkg_dict.maintainer_email %}
        <a id="feedback"></a>
        <section class="indent-large">
          <div id="feedback-wrapper" data-ajax-replace="/{{ h.lang() }}/feedback?uuid={{ pkg_dict.id }}"></div>
        </section>
      {% endif %}
    {% endblock %}
  </div>
{% endblock primary_content_inner %}

{% block links %}
  {{ super() }}
  {% if not h.is_registry_domain() %}
    <script nonce="{{- h.get_inline_script_nonce() -}}">
    window.imConfigPath = "/invitation-manager/";
    </script>
  {% endif %}
{% endblock %}

{% block scripts %}
  {% asset 'canada_public/more_like_this' %}
  {% asset 'canada_public/voting_fix' %}
  {% if not h.is_registry_domain() %}
    {% asset 'invitation_manager/js' %}
  {% endif %}
  {{ super() }}
{% endblock %}

{% block custom_styles %}
  {{ super() }}
  {% if not h.is_registry_domain() %}
    {% asset 'invitation_manager/css' %}
  {% endif %}
{% endblock %}

{% block package_license %}{% endblock %}
{% block package_item_notes %}{% endblock %}
