{% ckan_extends %}

{% block subtitle %}
  {% if pkg.type != 'prop' %}
    {{ _('Resources') }} - {{ h.get_translated(pkg, 'title') }}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  {% if pkg.type != 'prop' %}
    <div class="canada-reorder-resources-wrapper">{{ super() }}</div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{ h.cdts_asset('/js/deps/jquery.dataTables.min.js') }}" integrity="sha384-xbKh5PcHqYD2znaTJ+mPamIq8ERw8yRfp72NI8CGRg51FffJAXidmePtdkmCjEh9" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script>
  {{ super() }}
{% endblock %}
