{# vim: set filetype=jinja sw=2 sts=2: #}

{% ckan_extends %}
{% import 'macros/form_canada.html' as cform %}

{% block errors %}{{ cform.errors(
  errors, schema_description.dataset_field_by_id, h.lang()) }}{% endblock %}

{% block disclaimer %}
  <p class="action-info small">
    {% set license = h.get_license('ca-ogl-lgo') %}
    {% if license != None %}
      {% if h.lang() == 'en' %}
      Important: By submitting content, you
      agree to release your contributions under the
      <a href="{{ license.url }}">{{ license.title }}</a>
      {% else %}
      Important: en fournissant un contenu, vous acceptez de diffuser
      votre contribution aux termes de la
      <a href="{{ license.url_fra }}"
      >{{ license.title_fra[:1].lower() }}{{ license.title_fra[1:] }}</a>.
      {% endif %}
    {% endif %}
  </p>
{% endblock %}
