{# vim: set filetype=jinja sw=2 sts=2: #}

{% import 'macros/form_canada.html' as cform with context %}

{% for id, lang, field in schema_description.dataset_field_iter(
    true, schema_description.dataset_sections.0) %}
  {% if field.type not in ('primary_key', 'calculated', 'fixed') %}
    {{ cform.formfield(id, lang, field, data, errors, h.lang(),
      h.organizations_available) }}
  {% endif %}
{% endfor %}

{# workaround for not using standard tags field #}
<input type="hidden" name="tag_string" value="" />
