{# vim: set filetype=jinja sw=2 sts=2: #}
{% ckan_extends %}
{% import 'macros/form_canada.html' as cform %}

{%- block errors -%}
  {{- cform.errors(
  errors, schema_description.resource_field_by_id, h.lang()) -}}
{%- endblock -%}

{% block basic_fields %}
  {% for id, lang, field in schema_description.resource_field_iter(
      true) %}
    {{ cform.formfield(id, lang, field, data, errors, h.lang()) }}
  {% endfor %}
{% endblock %}

{% block again_button %}
  <button class="btn mrgn-rght-sm" name="save" value="again" type="submit">{{ _('Save and add another resource') }}</button>
{% endblock %}

{% block save_button %}
  {% if stage %}
    <button class="btn btn-primary mrgn-rght-sm" name="save" value="go-metadata" type="submit">{% block save_button_text %}{{ _('Submit') }}{% endblock %}</button>
  {% else %}
    <button class="btn btn-primary mrgn-rght-sm" name="save" value="go-dataset-search" type="submit">{{ _('Finish') }}</button>
  {% endif %}
{% endblock %}
