{% ckan_extends %}

{% block subtitle %}{{ super.super() }}{% endblock %}
{% block subtitle_2 %}{{ _('Activity Stream') }}{% endblock %}
{% block page_heading %}{{ super.super() }}{% endblock %}

{% block primary_content_inner %}
  {% block activity_stream %}
  <div align="right">
  <a href="{{ h.url_for('feeds.organization', id=c.group_dict['name']) }}" title="RSS">
          <span class="fa fa-rss-square"></span>{{ _('Atom Feed') }}
        </a>
        </div>
  {% snippet 'snippets/activity_stream.html', activity_stream=activity_stream %}
  {% endblock %}
{% endblock %}
