{% ckan_extends %}

{% block secondary_content %}
  {% if organization %}
    {% snippet 'snippets/organization.html', organization=organization %}
  {% else %}
    {{ super() }}
  {% endif %}
  <div class="panel panel-info">
    <div class="panel-heading text-center">
      {{ _('What are roles?') }}
    </div>
    <div class="panel-body">
      {% trans %}
        <p><strong>Admin:</strong> Can add/edit and delete datasets, as well as
          manage organization members.</p>
        <p><strong>Editor:</strong> Can add and edit datasets, but not manage
          organization members.</p>
        <p><strong>Member:</strong> Can view the organization's private
          datasets, but not add new datasets.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
