{% ckan_extends %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
{% endblock %}

{% block subtitle %}{{ h.get_translated(c.group_dict, 'title') }}{% endblock %}

{% block primary_content %}
<div class="row">
  <div class="col-md-12 mrgn-bttm-md">
    <header>
      <ul class="nav nav-pills">
        <li class="{% if c.action == 'read' %}active{% endif %}">
          <a href="{{h.url(controller='organization', action='read', id=c.group_dict.name)}}">{{_('Datasets')}}</a>
        </li>
        <li class="{% if c.action == 'activity' %}active{% endif %}">
          <a href="{{h.url(controller='organization', action='activity', id=c.group_dict.name, offset=0)}}">{{_('Activity')}}</a>
        </li>
        {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
          <li class="{% if c.action == 'members' %}active{% endif %}">
            <a href="{{h.url(controller='organization', action='members', id=c.group_dict.name)}}">{{_('Edit Members')}}</a>
          </li>
          {% if h.check_access('group_update', {'id': c.group_dict.id}) %}
          <li class="{% if c.action == 'edit' %}active{% endif %}">
            <a href="{% url_for controller='organization' if c.group_dict.type == 'organization' else 'group', action='edit', id=c.group_dict.id %}">{{ _('Edit') }}</a>
          </li>
          {% endif %}
        {% endif %}
      </ul>
    </header>
  </div>
  <div class="col-md-12 mrgn-bttm-md">
  {% block primary_content_inner %}
  {% endblock %}
  </div>
</div>
{% endblock %}
