# .coveragerc
[report]
omit =
    */__init__.py
    ckanext/canada/tests/
    ckanext/canada/migration/
    ckanext/canada/i18n/
    ckanext/canada/assets/
    ckanext/canada/public/
    ckanext/canada/strings.py
    ckanext/canada/extract.py
    bin/
    build/
    conf/
    links/
    node_modules/
    docs/
    samples/
    ckanext_canada.egg-info/
    changes/
    .github/
    .pytest_cache/
    setup.py