ckanext_canada.egg-info
*.pyc
.project
.pydevproject
build
dist
*.swp
development.ini
.DS_Store
.idea

*.prefs
ckan.log
links/ckan
links/test-core.ini
links/who.ini
ckanext/canada/templates/public/snippets/site_message_*
ckanext/canada/download/*.jsonl
ckanext/canada/tables/choices/minister.json
