# seem to be missing from the ckan version we're using
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5

-e git+https://github.com/open-data/ckan@canada-v2.0#egg=ckan
-e git+https://github.com/open-data/ckanext-wet-boew@master#egg=ckanext-wet-boew
ckanapi>=2.1
