ckanapi>=2.1
lxml
geojson==2.3.0
geomet==0.2.0.post2
docopt
pyyaml==5.2
ckantoolkit
pytz
babel
rdflib-jsonld
backports.ssl-match-hostname>=3.5.0.1
azure-storage==0.33.0
configparser>=3.5.0
openpyxl==2.6.4
