{% from "macros/form/input_block.html" import input_block %}
{% from "macros/form/attributes.html" import attributes %}

{#
Creates all the markup required for a Markdown textarea element. Handles
matching labels to inputs, selected item and error messages.

name        - The name of the form parameter.
id          - The id to use on the input and label. Convention is to prefix with 'field-'.
label       - The human readable label.
value       - The value of the input.
placeholder - Some placeholder text.
error       - A list of error strings for the field or just true to highlight the field.
classes     - An array of classes to apply to the form-group.
is_required - Boolean of whether this input is requred for the form to validate

Examples:

{% import 'macros/form.html' as form %}
{{ form.markdown('desc', id='field-description', label=_('Description'), value=data.desc, error=errors.desc) }}

#}
{% macro markdown(name, id='', label='', value='', placeholder='', error="", classes=[], attrs={'class': 'form-control'}, is_required=false) %}
{% set classes = (classes|list) %}
{% do classes.append('control-full') %}
{# NOTE: custom markdown limits and help text, i18n #}
{% set markdown_tooltip = _("<pre><p>__bold text__</p><p>_italic text_</p><p>* list<br>* of<br>* items</p><p>1. numbered<br>2. list<br>3. of items</p><p>https://auto.link.ed/</p><p>[Formatted Link](https://formatted.link)</p><p>> block quote</p></pre><p class='text-muted'><b>Please note:</b> HTML tags are stripped out for security reasons</p>") %}

{%- set extra_html = caller() if caller -%}
{% call input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
<textarea id="{{ id or name }}" name="{{ name }}" cols="20" rows="5" placeholder="{{ placeholder }}" {{ attributes(attrs) }}>{{ value | empty_and_escape }}</textarea>
{# NOTE: i18n #}
<span class="editor-info-block">{{ _('You can use <a href="javascript:void(0);" title="Markdown quick reference" data-bs-toggle="popover" data-bs-content="{}" data-bs-html="true">Markdown formatting</a> here').format(markdown_tooltip) }}</span>
{% endcall %}
{% endmacro %}
