{% ckan_extends %}

{% block breadcrumb_content %}
  {% if h.is_registry_domain() %}
    {{ h.build_nav('admin.index', _('Admin')) }}
  {% else %}
    {{ super() }}
  {% endif  %}
{% endblock %}

{% block content_primary_nav %}
  {% if h.is_registry_domain() %}
    {{ h.build_nav_icon('canada.ckan_admin_index', _('Admins'), icon='user-plus') }}
    {{ h.build_nav_icon('user.index', _('Users'), icon='user') }}
    {# {{ h.build_nav_icon('admin.trash', _('Trash'), icon='trash') }} #}
    {{ h.build_nav_icon('canada.ckanadmin_publish', _('Publish Records'), icon='cloud-upload') }}
    {{ h.build_nav_icon('canada.ckanadmin_job_queue', _('Job Queue'), icon='tasks') }}
    {{ h.build_nav_icon('canada.ckan_admin_portal_sync', _('Out of Sync Packages'), icon='exclamation-triangle') }}
    {{ h.build_nav_icon('admin.search_rebuild', _('Rebuild Search Index'), icon='database') }}
    {{ h.build_extra_admin_nav() }}
  {% else %}
    {{ super() }}
  {% endif  %}
{% endblock %}
