
<div id="wb-foot">
  <div id="wb-foot-in">
    <footer>
      <h2 id="wb-nav">Footer</h2>
      <!-- FooterStart -->
      <nav role="navigation">
        <div id="gcwu-sft">
          <h3>Site footer</h3>
          <div id="gcwu-sft-in">
            <div id="gcwu-tctr">
              
            </div>
            <br/><br/><!-- Break needed to avoid display issues with the footer nav overlapping the maple leaf image -->
            <div class="clear"></div>
            <div class="span-2">
              <div class="gcwu-col-head">
                {% if h.lang() == 'en' %}
                <a href="http://www.data.gc.ca/default.asp?lang=En&n=B20B4A63-" target="_blank">About us</a>
                {% else %}
                <a href="http://www.data.gc.ca/default.asp?lang=Fr&n=B20B4A63-1" target="_blank">À propos de nous</a>
                {% endif %}
              </div>
            </div>
            <div class="span-2">
              <div class="gcwu-col-head">
                {% if h.lang() == 'en' %}
                <a href="http://www.data.gc.ca/default.asp?lang=En&n=8A8B7BB0-1" target="_blank">News</a>
                {% else %}
                <a href="http://www.data.gc.ca/default.asp?lang=Fr&n=8A8B7BB0-1" target="_blank">Nouvelles</a>                
                {% endif %}
              </div>
            </div>
            <div class="span-2">
              <div class="gcwu-col-head">
                {% if h.lang() == 'en' %}
                <a href="http://www.data.gc.ca/default.asp?lang=En&n=A0653291-1" target="_blank">Contact us</a>
                {% else %}
                <a href="http://www.data.gc.ca/default.asp?lang=Fr&n=A0653291-1" target="_blank">Contactez-nous</a>
                {% endif %}
              </div>
            </div>
            <div class="span-2">
              <div class="gcwu-col-head">
                <a href="#" target="_blank">{{ _('Stay connected') }}</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <nav role="navigation">
        <div id="gcwu-gcft">
          <h3>Government of Canada footer</h3>
          <div id="gcwu-gcft-in">
            <div id="gcwu-gcft-fip">
              <ul>
                <li>
                  <a target="_blank" rel="external" href="http://healthycanadians.gc.ca/index-eng.php"><span>{{_("Health")}}</span>
                  <br />
                  {{_("healthycanadians.gc.ca")}}</a>
                </li>
                <li>
                  <a target="_blank" rel="external" href="http://www.voyage.gc.ca/index-eng.asp"><span>{{_("Travel")}}</span>
                  <br />
                  {{_('travel.gc.ca')}}</a>
                </li>
                <li>
                  <a target="_blank" rel="external" href="http://www.servicecanada.gc.ca/eng/home.shtml"><span>{{_('Service Canada')}}</span>
                  <br />
                  {{_('servicecanada.gc.ca')}}</a>
                </li>
                <li>
                  <a target="_blank" rel="external" href="http://www.jobbank.gc.ca/intro-eng.aspx"><span>{{_("Jobs")}}</span>
                  <br />
                  {{_('jobbank.gc.ca')}}</a>
                </li>
                <li>
                  <a target="_blank" rel="external" href="http://actionplan.gc.ca/en"><span>{{_("Economy")}}</span>
                  <br />
                  {{_('actionplan.gc.ca')}}</a>
                </li>
                <li id="gcwu-gcft-ca">
                  <div>
                    <a target="_blank" rel="external" href="http://www.canada.gc.ca/menu-eng.html">Canada.gc.ca</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- FooterEnd -->
    </footer>
  </div>
</div>

