{% extends 'page.html' %}

{% block page_title %}
  {% if h.lang() == 'en' %}
    <h1>Open Data - Guidelines</h1>
  {% else %}
    <h1>Données ouvertes – Lignes directrices</h1>
  {% endif %}
{% endblock %}

{% block primary_content %}
<div class="span-1"></div>
<div class="span-6">
  <div class="module-poster indent-large">
  {% if h.lang() == 'en' %}
    <p>The following criteria have been established for preparing datasets for publication to the
    Government of Canada’s Open Data Portal.</p>

    <ol>
      <li>The dataset must be available in the public domain.</li>
      <li>The provided link (URL) is a direct link to the dataset. <b><em>Avoid</em></b> providing links to a Web
      page that requires further navigation in order to find the dataset.</li>
      <li>The dataset is in structured, machine-readable and platform independent formats such as
      CSV/TXT, GeoTIFF, KML/KMZ, RDF, RSS/GeoRSS, SHP, XLS, or XML. <b><em>Avoid</em></b> PDF
      and HTML (eg. HTML tables).</li>
      <li>A file containing definitions of the headings (row and column) and variables used in the
      dataset(s) should be uploaded to the Portal, in XML or TXT format.</li>
      <li>The dataset should be subject to as little interpretation, analysis, and massaging as
      possible.</li>
      <li>Metadata must be provided in both official languages. Where a dataset is available
      in only English or French, enter the same URL for both where required and provide
      metadata for the dataset in both languages.</li>
      <li>The quality of the dataset is acceptable and is the responsibility of the department or
      agency.</li>
      <li>Compliance of the dataset with GC privacy and security policy and legislation is verified
      by the department or agency.</li>
    </ol>

    <p>Publishers must also consider the potential of copyright and liability issues around the
    publication of datasets to the Open Data Portal.</p>
    
    <h2>Open Data Portal Metadata Implementation Guide</h2>
    <p>Review the <a href="/static/Open_Data_Portal_Metadata_Implementation_Guide_-_2nd_edition.doc">Open Data Portal Metadata Implementation Guide</a>.</p>
  
  {% else %}
    <p>Les critères suivants ont été établis pour les jeux de données qui doivent être publiés dans le Portail de données ouvertes du gouvernement du Canada.</p>
    
    <ol>
      <li>Le jeu de données doit être accessible dans le domaine public.</li>
      <li>Le lien fourni (URL) est un lien direct vers le jeu de données. <em>Évitez</em> de fournir des liens vers une page Web où l’utilisateur devra continuer de naviguer pour trouver le jeu de données.</li>
      <li>Le jeu de données est sous forme structurée, en formats lisibles par machine, indépendants, tels que : CSV/TXT, GeoTIFF, KML/KMZ, RDF, RSS/GeoRSS, SHP, XLS ou SML. <em><b>Évitez</b></em> les formats PDF et HTML (p. ex., les tableaux HTML).</li>
      <li>Un fichier contenant les définitions des en-têtes (rangées et colonnes) et des variables utilisées dans le jeu de données devrait être téléchargé dans le Portail, soit en format XML ou TXT.</li>
      <li>Le jeu de données devrait laisser le moins de place possible à toute interprétation, analyse ou traitement.</li>
      <li>Les métadonnées doivent être fournies dans les deux langues officielles. Lorsqu’un jeu de données n’est accessible que dans une langue, entrez la même adresse URL pour les deux versions et fournissez les métadonnées pour le jeu de données dans les deux langues.</li>
      <li>La qualité du jeu de données est acceptable et relève du ministère ou de l’organisme.</li>
      <li>La conformité du jeu de données aux politiques et aux lois du GC en matière de protection des renseignements personnels et de sécurité doit être assurée par le ministère ou l’organisme en question.</li>
    </ol>
    
    <p>Les éditeurs doivent également tenir compte des questions possibles liées aux droits d’auteur et à la responsabilité, en ce qui a trait à la publication de jeux de données dans le Portail de données ouvertes.</p>
    
    <h2>Guide de mise en œuvre des métadonnées dans le cadre du Portail de données ouvertes</h2>
    
    <p>Veuillez consulter le <a href="http://www.gcpedia.gc.ca/wiki/Guide_de_mise_en_place_des_m%C3%A9tadonn%C3%A9es_pour_les_ressources_Web">Guide de mise en œuvre des métadonnées dans le cadre du Portail de données ouvertes</a>.</p>
    
  {% endif %}
  </div>
</div>
{% endblock %}