{% ckan_extends %}
{# set menu = h.url_for(controller='ckanext.canada.controller:CanadaController', action='registry_menu', __no_cache__='True') #}
{# FIXME: This is a quick fix to get rid of WETs annoying behavior. #}
{% set menu = '/wet_no_menu_loader' %}
{% block sitemenu %}
<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement" data-ajax-replace="{{ menu }}">
  <div class="container nvbar">
    <h2>{{ _("Site menu") }}</h2>
    <div class="row">
      <ul class="list-inline menu">
        {% block header_site_navigation_tabs %}
            <li><a href="{{ _('http://open.canada.ca') }}" class="item">{{ _('Open.Canada.ca') }}</a></li>
            {% if h.check_access('package_create') %}
            <li><a href="#addportal-ajoutportail" class="item">{{ _('Add to Portal') }}</a>
              <ul class="sm list-unstyled" id="addportal-ajoutportail" role="menu">
                <li><a href="{{ h.url_for('dataset_new') }}"
                  >{{ _('Open Data') }}</a></li>
                <li><a href="{{ h.url_for('info_new') }}"
                  >{{ _('Open Information') }}</a></li>
                {%- for r_type in [
                  'ati',
                  'contracts',
                  'contractsa',
                  'hospitalityq',
                  'travelq',
                  'travela',
                  'grants',
                  'reclassification',
                  'wrongdoing',
                  'briefingt',
                  'qpnotes',
                  'consultations',
                  'inventory',
                  'dac',
                  'nap',
                  ] -%}
                  {# XXX bit of a hack: we "know" that our dataset types have
                     resource names with the same values #}
                  <li><a href="{{ h.url_for('recombinant_type', resource_name=r_type)
                    }}">{{ _(h.recombinant_get_geno(r_type).title) }}</a></li>
                {%- endfor -%}
              </ul>
            </li>
            {% endif %}
            <li><a href="{{ h.url_for(controller='package', action='search') }}" class="item">{{ _('Search') }}</a></li>
            <li><a href="{{ h.url_for(controller='ckanext.canada.controller:CanadaController', action='organization_index') }}" class="item">{{ _('Organizations') }}</a></li>
            <li><a href="{{ h.url_for(controller='ckanext.canada.controller:CanadaController', action='view_help') }}" class="item">{{ _('FAQ') }}</a></li>
            {% if c.userobj %}
            <li><a href="{{ h.url_for(controller='user', action='logout') }}" class="item">{{ _('Log out') }}</a></li>
            {% else %}
            <li><a href="{% url_for controller='user', action='login' %}" class="item">{{ _('Log in') }}</a></li>
            {% endif %}
        {% endblock %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block signed_on_off %}
{%- if c.userobj -%}
  {{ super.super() }}
{%- endif -%}
{% endblock %}
