{% ckan_extends %}

{% block mega %}
<li>
  <div role="presentation">
    <a role="menuitem" href="http://www.data.gc.ca/">Data.gc.ca</a>
  </div>
</li>


<li>
  <div role="presentation">
    <a role="menuitem" href={{ h.url(action='search', controller='package') }}>{{ _('Search Data') }}</a>
  </div>
</li>

<li>
  <div role="presentation">
    <a role="menuitem" href={{ h.url(action='index', controller='organization') }}>{{_("Organizations")}}</a>
  </div>
</li>

{% if c.userobj %}
<li>
  <div role="presentation">
    {% link_for _('Log out'), controller='user', action='logout' %}
  </div>
</li>
{% else %}
<li>
  <div role="presentation">
    {% link_for _('Log in'), controller='user', action='login' %}
  </div>
</li>
{% endif %}

<li>
  <div role="presentation">
    {% link_for _('Register'), controller='ckanext.canada.controller:CanadaController', action='view_new_user' %}
  </div>
</li>

{% if c.userobj %}
<li>
  <section>
    <h3><a href={{ h.url(action='about', controller='home') }}>{{ _('My Account') }}</a></h3>
    <div class="mb-sm">
      <div class="span-2">
        <ul>
          <li>
            <a href="{{ h.url_for(controller='user', action='dashboard') }}">
              <i class="icon-dashboard"></i>
              {{ _('Dashboard') }}
            </a>
          </li>
          <li>
            <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}">
              <i class="icon-user"></i>
              {{ _('My Profile') }}
            </a>
          </li>
          <li>
            <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}">
              <i class="icon-wrench"></i>
              {{ _('Edit Profile') }}
            </a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </section>          
</li>

<li>
  <a href="{{ h.url_for(controller='package', action='new') }}">
    <i class="icon-dashboard"></i>
    {{ _('Add Dataset') }}
  </a>
</li>
{% endif %}

<li>
  <div role="presentation">
    <a role="menuitem" href="/help">{{_('Help')}}</a>
  </div>
</li>

{% endblock %}