{% extends 'page.html' %}

{% block primary_content %}
  <article class="module-poster span-4">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Account Created') }}</h1>

        {% if h.lang() == 'en' %}
        <p>Thank you for creating your account for the data.gc.ca registry. Although your account is
           active, it has not yet been linked to your department. Until the account is linked to your
           department you will not be able to create or modify datasets in the registry.</p>

        <p> You should receive an email within the next business day once the account activation process
            has been completed. If you require faster processing of the account, please send the request
            directly to: <a href="mailto:open-ouvert@tbs-sct.gc.ca">open-ouvert@tbs-sct.gc.ca</a>
        {% else %}
        <p>Merci d’avoir créé votre compte dans le registre de donnees.gc.ca.</p>

        <p>Même si votre compte est actif, il n’est pas encore relié à votre ministère. Vous ne pourrez
           créer ou modifier de jeux de données dans le registre tant que votre compte n’aura pas été relié
           à votre ministère.</p>

        <p>Vous devriez recevoir un courriel, au cours des deux prochains jours ouvrables, une fois que le
           processus d’activation de compte aura été achevé. Si vous avez besoin que le traitement de
           votre compte se fasse plus rapidement, veuillez envoyer une demande directement à :
           <a href="mailto: open-ouvert@tbs-sct.gc.ca">open-ouvert@tbs-sct.gc.ca.</a>.</p>

        {% endif %}

      {{ c.form | safe }}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}

{% endblock %}
