{% ckan_extends %}

{% block content %}
    <div class="container"><div class="row">
      {% block flash %}
        {{ super() }}
      {% endblock flash %}
      {% block maintag %}<main role="main" property="mainContentOfPage" class="container">{% endblock %}
      {% block page_title %}
        {{ super() }}
      {% endblock %}
      {% block pre_primary %}
        <div class="row">
          <div class="col-md-12">
            <div data-ajax-replace="/static/_site_messaging/header_od_registry.{{ h.lang() }}"></div>
          </div>
        </div>
      {% endblock %}
      {% block primary %}
        <div class="row{% if self.secondary_content()|trim != '' %} wb-eqht{% else %}col-md-12{% endif %}">
          <div class="{% if self.secondary_content()|trim != '' %}col-md-9 col-md-push-3{% endif %}">
            {% block primary_content %}
              {{ super() }}
            {% endblock primary_content %}
          </div>
        {% endblock primary %}
        {% block secondary %}
          {% if self.secondary_content()|trim != '' %}
            <aside class="col-md-3 col-md-pull-9">
              {% block secondary_content %}{% endblock %}
            </aside>
          {% endif %}
        {% endblock %}
      </div>
      </main>
    </div></div>
  {% endblock content %}

{%- block adobe_analytics_footer -%}{%- endblock -%}
{%- block google_analytics_footer -%}
  <script type="text/javascript" src="{{ h.url_for_static('/registry_ga_event_tracking.js') }}" ></script>
{%- endblock -%}
