{% import 'macros/canada_read.html' as cr %}

{% set is_registry = h.plugin_loaded('canada_internal') %}

{% if is_registry %}
  <li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
    <i class="fa icon fa-file"></i>
    <p>
      {{ _('{actor} deleted the record {datastore} {datastore_detail}').format(
        actor=ah.actor(activity),
        datastore=cr.pd_link(h, activity),
        datastore_detail=cr.entries(ungettext, activity)
      )|safe }}
      <br />
      <span class="date">
        {{ h.time_ago_from_timestamp(activity.timestamp) }}
      </span>
    </p>
  </li>
{% else %}
  <li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
    <i class="fa icon fa-file"></i>
    <p>
      {{ _('{actor} {activity_type} for resource "{resource}"').format(
        actor=ah.actor(activity),
        activity_type=activity.activity_type,
        resource=activity.data.resource_name,
      )|safe }}
      <br />
      <span class="date">
        {{ h.time_ago_from_timestamp(activity.timestamp) }}
      </span>
    </p>
  </li>
{% endif %}
