{% set list_class = 'list-bullet-none' %}

{% if packages %}
  <form action="{{ h.url_for('canada.ckanadmin_publish_datasets') }}" method="POST" id="publish_form">
    {{ h.csrf_input() }}
    <div class="mrgn-bttm-md canada-padding-top-25">
      <label for="publish_all" class="form-checkbox no-colon canada-admin-publish-checkbox">
        <input type="checkbox" id="publish_all" name="publish_all"> {{ _('Select All for Publishing') }}
      </label>
    </div>

    <ul class="list-unstyled">
      {% for package in packages %}
        {% snippet 'admin/snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
      {% endfor %}
    </ul>

    <fieldset class="admin-publish-date-fieldset mrgn-tp-md">
      <div>
        <label for="publish_date" class="admin-publish-date-label">
          {% trans %}Publish Date (<abbr title="Four digits year">YYYY</abbr>-<abbr title="Two digits month">MM</abbr>-<abbr title="Two digits day">DD</abbr>):{% endtrans %}
        </label>
        <input type="date" id="publish_date" name="publish_date" min="{{h.today()}}" value="{{h.today()}}" />
      </div>

      <button type="submit" class="btn btn-primary mrgn-tp-md">{{ _('Publish Selected Records') }}</button>

    </fieldset>
  </form>
{% endif %}
