{# vim: set filetype=jinja sw=2 sts=2: #}
{% macro field(field, pkg, client_lang) -%}
  {%- if field.bilingual and client_lang == 'fr' -%}
    {{- pkg[field.id + '_fra'] -}}
  {%- else -%}
    {{- pkg[field.id] -}}
  {%- endif -%}
{%- endmacro %}

{% macro field_id(id, pkg, client_lang) -%}
  {{- field(schema_description.dataset_field_by_id[id], pkg) -}}
{%- endmacro %}

{% macro field_label(field, client_lang) -%}
  {%- if client_lang == 'fr' -%}
    {{- field.label.fra -}}
  {%- else -%}
    {{- field.label.eng -}}
  {%- endif -%}
{%- endmacro %}
