{#
Strip any time from the date passed, returning only YYYY-MM-DD
#}
{%- macro date_format(d) -%}
  {%- if d and ' ' in d -%}
    {{- d.split(' ')[0] -}}
  {%- else -%}
    {{- d -}}
  {%- endif -%}
{%- endmacro -%}

{%- macro date_field(f, pkg) -%}
  {{- date_format(pkg[f.id]) -}}
{%- endmacro -%}

{%- macro url_field(f, pkg) -%}
  <a href="{{- pkg[f.id] -}}">{{- pkg[f.id] -}}</a>
{%- endmacro -%}

{#
Render a list of keywords for the client language
#}
{%- macro keyword_field(f, pkg, client_lang) -%}
  <ul class='list-inline'>
    {% set tags = pkg.get(f.id, {}).get(client_lang, []) %}
    {%- for tag in tags -%}
      <li>
        <a class="btn btn-default btn-xs mrgn-bttm-sm mrgn-rght-sm" href="
          {%- if client_lang == 'fr' -%}
            {%- url_for controller='package', action='search',
              keywords_fra=tag.strip() -%}
          {%- else -%}
            {%- url_for controller='package', action='search',
              keywords=tag.strip() -%}
          {%- endif -%}
          " title="{{ _('Keyword') ~ ' ' ~ tag.strip() }}">{{ tag.strip() }}</a>
      </li>
    {%- endfor -%}
  </ul>
{%- endmacro -%}

{#
Render a list of tag vocabulary tags for given field object and client
language
#}
{%- macro tag_vocab_field(f, pkg, client_lang) -%}
  <ul class='menu-horizontal margin-top-none margin-bottom-none'>
    {%- for tag in pkg[f.id] -%}
      <li>
          <code>{{ tag.split('  ')[1 if client_lang == 'fr' else 0] }}</code>
      </li>
    {%- endfor -%}
  </ul>
{%- endmacro -%}

{#
Render the organization name
#}
{%- macro org_field(pkg, client_lang) -%}
  {%- set org = pkg.organization.title -%}
  {%- if org != None and ' | ' in org -%}
    {{- org.split(' | ')[1 if client_lang == 'fr' else 0] -}}
  {%- else -%}
    {{- org -}}
  {%- endif -%}
{%- endmacro -%}

{#
Render a choice field where the choice['key'] is the value stored
#}
{%- macro lookup_field(f, pkg, client_lang) -%}
  {%- if pkg[f.id] -%}
    {%- if f.choices_by_key.get(pkg[f.id]) -%}
      {{- f.choices_by_key[pkg[f.id]][full_lang(client_lang)] -}}
    {% else %}
      {{ split_bilingual_field(pkg[f.id], client_lang) }}
    {% endif %}
  {%- endif -%}
{%- endmacro -%}

{#
Choose the most appropriate display name for a resource
#}
{%- macro resource_display_name(res, client_lang) -%}
  {%- set name = res.name.fr if client_lang == 'fr' else res.name.en -%}
  {%- if name -%}
    {{- name -}}
  {%- else -%}
    {{- res.url -}}
  {%- endif -%}
{%- endmacro -%}

{#
Split a bilingual field separated by a pipe
#}
{%- macro split_bilingual_field(field_text, client_lang) -%}
  {%- if field_text != None and ' | ' in field_text -%}
    {{- field_text.split(' | ')[1 if client_lang == 'fr' else 0] -}}
  {%- else -%}
    {{- field_text -}}
  {%- endif -%}
{%- endmacro -%}


{#
Split a subject or topic category field, which are separated by a double space
#}
{%- macro split_subject_field(field_text, client_lang) -%}
  {%- if field_text != None and '  ' in field_text -%}
    {{- field_text.split('  ')[1 if client_lang == 'fr' else 0] -}}
  {%- else -%}
    {{- field_text -}}
  {%- endif -%}
{%- endmacro -%}

{#
Render a boolean field with a friendly WET checkmark or X
#}
{%- macro bool_field(f, pkg) -%}
  {%- if pkg[f.id] -%}
    <span class="wb-icon-tick"></span>
  {%- else -%}
    <span class="wb-icon-x"></span>
  {%- endif -%}
{%- endmacro -%}

{#
Render a file download size field with 'O' or 'B' appended for Octets/Bytes
#}
{%- macro size_field(f, pkg, client_lang) -%}
  {% set suffix = 'O' if client_lang == 'fr' else 'B' %}

  {%- if pkg[f.id] -%}
    {{pkg[f.id]}} {{suffix}}
  {%- else -%}
    0 {{suffix}}
  {%- endif -%}
{%- endmacro -%}


{# 
Search Facet Formatters 
#}

{%- macro subject_label(subject, lang) -%}
  {{- split_subject_field(subject.name, lang) -}}
{%- endmacro -%}

{% macro active_filter_button(h, field, value, extras, preset_choices) %}
  <a href="{{ h.remove_url_param(field, value, extras=extras) }}"
     class="btn btn-info btn-xs mrgn-lft-sm mrgn-bttm-sm" title="{{ _('Remove') }}">
    {% if field == 'organization' %}
      {#
      We special case organization label lookups because unlike the rest of
      the possible facets these don't have presets and can be edited by users.
      #}
      {% set org = h.get_organization(value) %}
      {%- if org -%}
        {{ split_bilingual_field(org.title, h.lang()) }}
      {%- else -%}
        {{ value }}
      {%- endif -%}
    {%- else -%}
      {{ h.scheming_language_text(
        h.list_dict_filter(
          preset_choices,
          'value',
          'label',
          value
        ))
      }}
    {%- endif %}
    <span class="glyphicon glyphicon-remove"></span>
  </a>
{% endmacro %}

{% macro filter_buttons(h, c, field, extras) %}
    {% if field=='portal_type' %}
      {% set preset_choices = [
          {'value': 'dataset', 'label': _('Open Data')},
          {'value': 'info', 'label': _('Open Information')},
          {'value': 'prop', 'label': _('Suggested Datasets')},
          ] %}
      {% for t in h.recombinant_get_types() %}
        {% do preset_choices.append({
          'value': t, 'label': _(h.recombinant_get_chromo(t).title)}) %}
      {% endfor %}
    {% else %}
      {% set preset_choices =
        (h.scheming_get_preset('canada_' + field) or {}).get('choices', []) %}
      {% if field=='collection' %}
        {# collection is special, see also dataset_facets #}
        {% set collection_choices = preset_choices %}
        {% set preset_choices = [{'value': 'pd', 'label': _('Proactive Disclosure')}] %}

            {% for t in collection_choices %}
              {% do preset_choices.append(t) %}
            {% endfor %}
          {% for t in h.recombinant_get_types() %}
            {% do preset_choices.append({
              'value': t, 'label': _(h.recombinant_get_chromo(t).title)}) %}
          {% endfor %}
      {% endif %}
    {% endif %}
    {% for value in c.fields_grouped[field] %}
      {% if value is not string %}
        {% for v in value %}
        {{ active_filter_button(h, field, v, extras, preset_choices) }}
        {% endfor %}
      {% else %}
        {{ active_filter_button(h, field, value, extras, preset_choices) }}
      {% endif %}
    {% endfor %}
{% endmacro %}

{% macro entries(ungettext, activity) %}
{% set count = activity.data.count %}
{{ count|string + ' ' + ungettext(_('entry'), _('entries'), count) }}
{% endmacro %}

{% macro pd_link(h, activity) %}
{% set resource_name = activity.data.resource_name %}
{% set org_name = activity.data.owner_org %}
{% set resource_link=h.url_for(resource_name=resource_name,owner_org=org_name,
                      action='preview_table',
                      controller='ckanext.recombinant.controller:UploadController') %}
{% set resource_name= _(h.recombinant_get_chromo(resource_name)['title'])  %}
<span class="datastore">
 <a href="{{ resource_link }}">{{ resource_name }}</a>
</span>
{% endmacro %}
