{% ckan_extends %}
{% import 'macros/canada_read.html' as cr %}

{% set facet_name = title + 's' %}

{% block facet_list_item_panel_body %}
{% with items = items or h.get_facet_items_dict(name, limit=200) %}
  {% set item_count = items | length %}
  {% set items = items[0:5] if h.get_param_int('_%s_limit' % name) else items %}

    {% if items %}
      <nav>
        <ul class="list-unstyled list-facets">
          {% for item in items | sort(attribute='count', reverse=true) %}
            {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
            {% set label =
              h.scheming_choices_label(scheming_choices, item.name)
              if scheming_choices
              else cr.split_bilingual_field(item.display_name, h.lang()) %}
            {% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}
              <li class="nav-item{% if item.active %} active{% endif %} facet-item" >
                <a href="{{ href }}">
                  <i class="fa fa-{{ "check-" if item.active else "" }}square-o"></i>&nbsp;
                  <span>{{ label }} {{ count }}</span>
                </a>
              </li>
          {% endfor %}
        </ul>
      </nav>
      <ul class="list-unstyled list-facets" style="margin-bottom: 0;">
        {% if item_count > 5 %}
          {% if h.get_param_int('_%s_limit' % name) %}
            <li><a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}"
                   title="{{_('Show more')}} {{facet_name}}">
              <span class="glyphicon glyphicon-chevron-down"></span>
              {{ _('Show more')}}</a></li>
          {% else %}
            <li><a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}"
                   title="{{_('Show less')}} {{facet_name}}">
              <span class="glyphicon glyphicon-chevron-up"></span>
              {{ _('Show less') }}</a></li>
          {% endif %}
        {% endif %}
        <li>
          <a href="{{ h.remove_url_param(name, extras=extras, alternative_url=alternative_url) }}" class="action"
               title="{{_('Clear All')}} {{facet_name}}">
            <span class="glyphicon glyphicon-remove"></span> {{ _('Clear All') }}</a></li>
          </a>
        </li>
      </ul>
      {% else %}
        <p>{{ _('There are no filters for this search') }}</p>
      {% endif %}

{% endwith %}
{% endblock %}
