{% ckan_extends %}
{% import 'macros/canada_read.html' as cr %}

{% set client_lang = h.lang() %}
{%- if 'title_fra' not in package -%}
  {% set title = _(package.title) %}
  {% set desc = _(package.notes) %}
{%- else -%}
  {% set title = cr.field_id('title', package, client_lang) %}
  {% set desc = cr.field_id('notes', package, client_lang) %}
{%- endif -%}

{% block publisher_info %}
<div class="row mrgn-tp-sm">
  <div class="col-md-3"><em>{{ _('Organization') }}: </em></div>
  <div class="cold-md-9">{{ cr.org_field(package, client_lang) }}</div>
</div>
{% endblock %}

{% block notes %}
  {% set notes = h.markdown_extract(desc, extract_length=truncate) %}
  {% if notes %}
    <div>{{ notes|urlize }}</div>
  {% else %}
    <p class="empty">{{ _("This dataset has no description") }}</p>
  {% endif %}
{% endblock %}

{% block heading %}
  {% block heading_private %}{{ super() }}{% endblock %}
    {{ h.link_to(title, h.url_for(controller='package', action='read', id=package.name)) }}
  {% block heading_meta %}{{ super() }}{% endblock %}
{% endblock %}
