{% ckan_extends %}

{% block form %}
  {% if select_delete %}
    {% set uri = h.url_for('canada.delete_selected_records', resource_id=resource.id) %}
    {% set field = 'select-delete' %}
    {% set value = select_delete %}
    {% set to_delete = value.split(';') %}
  {% elif bulk_delete %}
    {% set uri = h.url_for('recombinant.delete_records',id=dataset.id, resource_id=resource.id) %}
    {% set field = 'bulk-delete' %}
    {% set value = bulk_delete %}
    {% set to_delete = value.split('\n') %}
  {% endif %}
  {% set primary_keys = h.recombinant_primary_key_fields(resource.name) %}
  <p>{{ ungettext(
    'Are you sure you want to delete {num} record? This action cannot be undone.',
    'Are you sure you want to delete {num} records? This action cannot be undone.',
    num).format(num=num) }}</p>
  <div class="mrgn-tp-lg mrgn-bttm-lg col-md-6">
    <table class="table table-responsive">
      <thead>
        <th scope="col" class="col-sm-1 border-0"></th>
        {% for c in primary_keys %}
          <th scope="col">{{ c['label'][h.lang()] }}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for r in to_delete %}
          <tr>
            <td class="text-danger border-0"><i class="fa fa-minus-circle" aria-hidden="true"></i></td>
            {% for _r in r.split(',') %}
              <td class="bg-danger text-danger">{{ _r }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <p classs="form-actions">
    <form id="recombinant-confirm-delete-form" action="{{ uri }}" method="post">
      <input type="hidden" name="{{ field }}" value="{{ value }}" />
      <input class="btn" type="submit" name="cancel" value="{{ _('Cancel') }}"/>
      <input class="btn btn-primary" type="submit" name="confirm" value="{{ _('Confirm Delete') }}"/>
    </form>
  </p>

{% endblock %}
