{% ckan_extends %}

{% block organization_display %}
  {{- h.split_piped_bilingual_field(org.title, h.lang()) | truncate(80) -}}
{% endblock %}

{%- block subtitle_2 -%}
  {{ h.split_piped_bilingual_field(organization.title, h.lang()) | trim }}
{%- endblock -%}

{% block adobe_analytics_creator %}
  {{ h.adobe_analytics_creator(organization=organization) }}
{% endblock %}

{# we want a wide display for the table #}
{% block secondary_content %}{% endblock %}

{% block notices %}
  {% if dataset_type == 'ati' %}
    {% if organization.ati_email %}
      <div class="dataset-alert alert alert-info">
        <p>{{ _('Informal Requests for ATI Records Previously Released are being sent to <strong>{ati_email}.</strong> Please contact <a href="mailto:{support}">{support}</a> if that address is no longer valid.').format(ati_email=h.obfuscate_to_code_points(organization.ati_email), support=h.support_email_address()) | safe }}</p>
      </div>
    {% else %}
      <div class="dataset-alert alert alert-danger">
        <p>{{ _('Your organization does not have an Access to Information email on file. Please contact <a href="mailto:{support}">{support}</a> with the email for your organization\'s Access to Information Coordinator.').format(support=h.support_email_address()) | safe }}</p>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block resource_menu_classes %}nav nav-tabs{% endblock %}

{% block primary_content %}
  {% set geno = h.recombinant_get_geno(dataset_type) %}

  <div class="row">
    {% block resource_menu %}
      {% if dataset %}
        <div class="col-md-12 canada-action-toolbar">
          <header class="module-content page-header">
            <div class="content_action"><div></div></div>
            {{ super() }}
          </header>
        </div>
      {% endif %}
    {% endblock %}
  </div>

  <div class="row">
    {% block org_select %}
      <div class="col-md-12 canada-action-toolbar canada-pd-org-select-wrapper">
        <header class="module-content page-header {% if dataset %} canada-no-marg {% endif %}">
          <div class="content_action"><div></div></div>
          {{ super() }}
        </header>
      </div>
    {% endblock %}
  </div>

  <div class="row mrgn-tp-lg">
    <div class="col-md-9">
      <div class="recombinant-action-panels-container">
        {% block action_panels %}{{ super() }}{% endblock %}
      </div>
    </div>
    <aside class="col-md-3">
      {% if geno.notes %}
        <div class="panel panel-primary">
          <div class="panel-heading">{{ _("Info") }}</div>
          <div class="panel-body">
            <p>{{ _(geno.notes) }}</p>
          </div>
        </div>
      {% endif %}
      <div class="panel panel-primary">
        <div class="panel-heading">{{ _("Guide") }}</div>
        <div class="panel-body">
          {% set default_guidelink = h.operations_guide_link(stub='publication-proactive' if h.lang() == 'fr' else 'proactive-publication' ) %}
          {% set guide_link = h.recombinant_language_text(h.recombinant_get_geno(dataset_type).get('guide_link', default_guidelink) ) %}
          <p>
            {% trans guide_link=guide_link %}
              For information on how to prepare, maintain and upload templates to the Registry, refer to the appropriate documentation posted on the <a href="{{ guide_link }}">Operations Guide.</a>
            {% endtrans %}
          </p>
          {{ h.render_markdown(h.recombinant_language_text(h.recombinant_get_geno(dataset_type).get('sidebar_extra_content', ''))) }}
        </div>
      </div>
    </aside>
  </div>
{% endblock %}

{% block primary %}
  {{ super() }}
  {% if resource and 'error' not in resource %}
    {{ h.get_pd_datatable(resource.name, resource.id, organization.name, dataset.dataset_type) }}
  {% endif %}
{% endblock %}
