div#dtprv_processing.dataTables_processing{
  z-index: 9999 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  /* see static/js/canada_datatables for dynamic styles */
  > div:last-child{
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    pointer-events: none !important;
    /* see static/js/canada_datatables for dynamic styles */
    > div{
      background-color: #335075 !important;
      pointer-events: none !important;
    }
  }
}

body[data-disabled-view="true"] div#resize_wrapper{
  margin-top: 75px !important;
  @media (max-width: 992px){
    margin-top: 125px !important;
  }
}

div.canada-disabled-view-alert{
  text-align: center !important;
  pointer-events: none !important;
  z-index: 9999 !important;
  width: 100% !important;
  margin: 0 !important;
}

.buttons-collection.buttons-colvis{
  ~ .dt-button-collection.fixed{
    width: 75%;
    top: 10% !important;
    margin-top: 0 !important;
    transform: translateX(-50%);
    margin-left: 0;
    padding: 18px !important;
    max-height: 80% !important;
    overflow-y: scroll !important;
    .dropdown-menu{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      max-height: 100% !important;
      min-height: 100% !important;
      height: 100% !important;
    }
    a{
      word-break: break-all;
      &.buttons-columnVisibility{
        max-width: 50%;
        min-width: 50%;
        width: 50%;
        margin-bottom: 5px;
        padding-left: 24px;
        padding-right: 10px;
        position: relative;
        &::before{
          content: '\f096';
          font: normal normal normal 14px/1 FontAwesome;
          position: absolute;
          left: 6px;
          top: 6px;
        }
        &.active{
          &::before{
            content: '\f046';
          }
        }
      }
      &:not(.buttons-columnVisibility){
        flex-basis: 100%;
        margin-top: 8px;
        &.buttons-colvisRestore{
          max-width: 51%;
          min-width: 51%;
          width: 51%;
        }
        &.buttons-colvisGroup{
          max-width: 50%;
          min-width: 50%;
          width: 50%;
        }
        &.buttons-colvisGroup:nth-last-of-type(3){
          max-width: 49%;
          min-width: 49%;
          width: 49%;
          margin-left: -1%;
        }
      }
    }
  }
}

body{
  .pd-datatable-ref-link{
    opacity: 0.65;
    margin-left: 4px;
    small{
      font-size: 75%;
    }
  }
  .d-none-soft{
    display: none;
  }
  .canada-dt-search-input-no-fts{
    cursor: not-allowed !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .canada-dt-hidden-div-fix{
    height: 1 !important;
    width: 1 !important;
    overflow: hidden !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*###############################################
##  Core data:image overrides for CSP support  ##
#################################################*/
body{
  .form-select{
    background-image: none;  /* background-image: url("/data/static/img/data_img/chevron-down.svg"); */
  }
  .form-check-input{
    &:checked[type=checkbox]{
      background-image: none;  /* background-image: url("/data/static/img/data_img/check.svg"); */
    }
    &:checked[type=radio]{
      background-image: none;  /* background-image: url("/data/static/img/data_img/dot.svg"); */
    }
    &[type=checkbox]:indeterminate{
      background-image: none;  /* background-image: url("/data/static/img/data_img/dash.svg"); */
    }
  }
  .form-switch{
    .form-check-input{
      background-image: none;  /* background-image: url("/data/static/img/data_img/dot-grey.svg"); */
      &:focus{
        background-image: none;  /* background-image: url("/data/static/img/data_img/dot-blue.svg"); */
      }
      &:checked{
        background-image: none;  /* background-image: url("/data/static/img/data_img/dot-white.svg"); */
      }
    }
  }
  .was-validated{
    .form-control{
      &:valid{
        background-image: none;  /* background-image: url("/data/static/img/data_img/check-green.svg"); */
      }
      &:invalid{
        background-image: none;  /* background-image: url("/data/static/img/data_img/danger.svg"); */
      }
    }
    .form-select{
      &:valid:not([multiple]){
        &:not([size]), &[size="1"]{
          background-image: none;  /* background-image: url("/data/static/img/data_img/chevron-downg"), url("/data/static/img/data_img/check-green.svg"); */
        }
      }
      &:invalid:not([multiple]){
        &:not([size]), &[size="1"]{
          background-image: none;  /* background-image: url("/data/static/img/data_img/chevron-down.svg"), url("/data/static/img/data_img/danger.svg"); */
        }
      }
    }
  }
  .form-control{
    &.is-valid{
      background-image: none;  /* background-image: url("/data/static/img/data_img/check-green.svg"); */
    }
    &.is-invalid{
      background-image: none;  /* background-image: url("/data/static/img/data_img/danger.svg"); */
    }
  }
  .form-select{
    &.is-valid:not([multiple]){
      &:not([size]), &[size="1"]{
        background-image: none;  /* background-image: url("/data/static/img/data_img/chevron-downg"), url("/data/static/img/data_img/check-green.svg"); */
      }
    }
    &.is-invalid:not([multiple]){
      &:not([size]), &[size="1"]{
        background-image: none;  /* background-image: url("/data/static/img/data_img/chevron-down.svg"), url("/data/static/img/data_img/danger.svg"); */
      }
    }
  }
  .navbar-light .navbar-toggler-icon{
    background-image: none;  /* background-image: url("/data/static/img/data_img/burger.svg"); */
  }
  .navbar-dark .navbar-toggler-icon{
    background-image: none;  /* background-image: url("/data/static/img/data_img/burger-lite.svg"); */
  }
  .accordion-button:not(.collapsed)::after{
    background-image: url("/data/static/img/data_img/chevron-down-blue.svg");
  }
  .accordion-button::after{
    background-image: url("/data/static/img/data_img/chevron-down-grey.svg");
  }
  .btn-close{
    background-image: none;  /* background-image: url("/data/static/img/data_img/close-black.svg"); */
  }
  .carousel-control-prev-icon{
    background-image: none;  /* background-image: url("/data/static/img/data_img/chevron-left.svg"); */
  }
  .carousel-control-next-icon{
    background-image: none;  /* background-image: url("/data/static/img/data_img/chevron-right.svg"); */
  }
}
/*###############################################
##                     END                     ##
##  Core data:image overrides for CSP support  ##
##                     END                     ##
#################################################*/