/*##########################
##  Variables and Mixins  ##
############################*/
@-moz-keyframes spin{
  100%{ -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin{
  100%{ -webkit-transform: rotate(360deg); }
}

@keyframes spin{
  100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes l7-1{
  0%,
  100%{ background-position: 0 -50px, 100% -50px; }
  17.5%{ background-position: 0 100%, 100% -50px, 0 -50px,100% -50px; }
  35%{ background-position: 0 100%, 100% 100%, 0 -50px,100% -50px; }
  52.5%{ background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% -50px; }
  70%,
  98%{ background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% calc(100% - 16px); }
}

@keyframes l7-2{
  0%,
  70%{ transform:translate(0); }
  100%{ transform:translate(200%); }
}

@keyframes l8{
  0%{ background-position: 0 0, 0 100%; }
  100%{ background-position: 60px 0, 60px 100%; }
}

@keyframes checkmark{
  0%{
    stroke-dashoffset: 50%;
  }
  100%{
    stroke-dashoffset: 0px;
  }
}

@keyframes grow-circle{
  0%{
    r: 0;
  }
}

@keyframes grow-circle-bigger{
  50%{
    opacity: 0.11;
  }
  100%{
    r: 100;
    opacity: 0;
  }
}
/*##########################
##           END          ##
##  Variables and Mixins  ##
##           END          ##
############################*/

.pd-datable-instructions{
  margin-bottom: 10px;
  pre{
    display: inline !important;
    padding: 2px 6px !important;
  }
  &:fullscreen{
    background-color: white !important;
  }
}

#dt-preview{
  &:fullscreen{
    background-color: white !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-bottom: 15px !important;
    overflow-y: scroll !important;
    h2{
      display: none !important;
    }
    #dtprv_wrapper{
      padding: 15px !important;
      height: 90vh !important;
      min-height: 90vh !important;
      .dt-scroll-body{
        height: 55vh !important;
        max-height: 55vh !important;
      }
    }
  }
}

body .dt-scroll-head{
  visibility: hidden;
}

body #select2-drop ul.select2-results li.select2-disabled{
  display: none !important;
}

body #dtprv{
  visibility: hidden;
  td{
    font-size: 16px;
  }
  .pd-datatable-readmore{
    .collapse, .collapsing{
      transition-duration: 0s !important;
    }
    span.show{
      display: inline !important;
    }
  }
  .pd-datatable-ref-link{
    opacity: 0.65;
    margin-left: 4px;
    small{
      font-size: 75%;
    }
  }
}

body #dtprv_wrapper{
  position: relative !important;
  &:fullscreen{
    background-color: white !important;
  }
  #dtprv{
    margin-top: -15px !important;
  }
  .dt-scroll{
    position: relative !important;
    overflow: hidden !important;
    margin-top: 10px !important;
  }
  .dt-empty{
    padding: 0;
    position: relative;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: left !important;
  }
  &[data-compact-view="true"]{
    .dt-scroll-body.pd-datatable-body-main-no-records::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 36px;
      display: block;
      background-color: white;
    }
    th.expanders, td.expanders{
      width: 36px !important;
      min-width: 36px !important;
      max-width: 36px !important;
    }
  }
  #pd-dtatable-no-records{
    position: sticky;
    display: block;
    text-align: center;
    width: 225px;
    left: 50%;
    transform: translateX(-50%);
    top: 36px;
    font-weight: 600;
  }
  #dtprv_processing{
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgba(0, 0, 0, 0.325) !important;
    > div{
      position: absolute !important;
      top: 25% !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
      > div{
        background-color: #335075 !important;
      }
    }
  }
  .dt-buttons{
    /* req: Edge arch */
    width: 100%;
    button.btn{
      border-radius: 0 !important;
    }
    .btn-secondary{
      color: white !important;
      &:hover, &:active, &:focus{
        color: white !important;
      }
    }
    .buttons-colvis::after{
      content: none !important;
    }
  }
  .dt-length{
    display: inline-flex !important;
    flex-direction: row-reverse !important;
    margin-top: 10px !important;
    align-items: center !important;
    width: calc(100% / 3) !important;
    min-width: calc(100% / 3) !important;
    max-width: calc(100% / 3) !important;
    @media (max-width: 768px){
      display: flex !important;
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }
    select{
      margin-right: auto !important;
      background-image: none !important;
      font-size: 14px !important;
      height: 32px !important;
      min-height: 32px !important;
      max-height: 32px !important;
    }
    label{
      margin-right: 10px !important;
    }
  }
  .dt-search{
    display: inline-flex !important;
    flex-direction: row !important;
    margin-top: 10px !important;
    align-items: center !important;
    width: calc((100% / 3) * 2) !important;
    min-width: calc((100% / 3) * 2) !important;
    max-width: calc((100% / 3) * 2) !important;
    @media (max-width: 768px){
      display: flex !important;
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }
    input{
      margin-left: 10px !important;
    }
    label{
      margin-left: auto !important;
      @media (max-width: 768px){
        margin-left: 0 !important
      }
    }
  }
  .dt-info{
    display: inline-flex !important;
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    @media (max-width: 768px){
      display: flex !important;
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }
  }
  .dt-jump-to-page{
    display: inline-flex !important;
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important;
    margin-top: -5px;
    margin-bottom: 10px;
    float: right;
    clear: right;
    box-sizing: border-box;
    @media (max-width: 768px){
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }
    input{
      font-size: 14px !important;
      height: 32px !important;
      min-height: 32px !important;
      max-height: 32px !important;
    }
    label{
      margin-right: 10px !important;
      margin-left: auto !important;
      @media (max-width: 768px){
        margin-left: 0 !important;
      }
    }
  }
  #dtprv_info{
    float: left;
    clear: left;
    box-sizing: border-box;
  }
  .dt-sorting-info{
    display: inline-flex !important;
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important;
    margin-top: -10px;
    margin-bottom: 10px;
    float: left;
    clear: left;
    box-sizing: border-box;
    @media (max-width: 768px){
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }
    .info-label{
      white-space: nowrap !important;
      margin-right: 8px !important;
    }
    div{
      display: inline-flex;
      width: 100%;
      flex-direction: column;
    }
  }
  .dt-paging{
    display: inline-flex !important;
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    clear: both;
    box-sizing: border-box;
    @media (max-width: 768px){
      display: flex !important;
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }
    > nav{
      margin-left: auto !important;
      @media (max-width: 768px){
        margin-left: 0 !important
      }
    }
    ul.pagination{
      display: flex !important;
    }
    .page-link{
      min-width: 36px !important;
      height: 36px !important;
      min-height: 36px !important;
      max-height: 36px !important;
      line-height: 26px !important;
    }
  }
  .dt-orderable-none{
    padding: 8px !important;
    .dt-column-order{
      display: none !important;
    }
  }
  thead{
    th{
      font-size: 16px !important;
      vertical-align: top !important;
      .dt-column-order{
        &::after{
          color: #333333 !important;
          top: 17.5px !important;
        }
        &::before{
          color: #333333 !important;
          bottom: initial !important;
          top: 5px !important;
        }
      }
      &:not(.dt-ordering-desc):not(.dt-ordering-asc) .dt-column-order{
        &::after, &::before{
          opacity: 0.325;
        }
      }
    }
  }
  .dropdown-menu{
    &.dt-button-collection{
      position: absolute !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      width: calc(100% + 10px) !important;
      background-color: rgba(0, 0, 0, 0.325) !important;
      margin-left: -5px !important;
      margin-right: -5px !important;
      div[role="menu"]{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute !important;
        left: 50% !important;
        top: 10px !important;
        transform: translateX(-50%) !important;
        width: 75% !important;
        padding-left: 5px !important;
        padding-top: 5px !important;
        padding-bottom: none !important;
        background-color: white !important;
        border-radius: 4px !important;
        max-height: 85% !important;
        overflow-y: scroll !important;
        a.dt-button{
          width: calc((100% / 3) - 5px) !important;
          min-width: calc((100% / 3) - 5px) !important;
          max-width: calc((100% / 3) - 5px) !important;
          padding-right: 10px !important;
          padding-left: 28px !important;
          margin-bottom: 5px !important;
          margin-right: 5px !important;
          text-decoration: none !important;
          font-size: 14px !important;
          text-overflow: initial !important;
          white-space: normal !important;
          line-height: 22px !important;
          @media (max-width: 768px){
            width: calc(100% / 2) !important;
            min-width: calc(100% / 2) !important;
            max-width: calc(100% / 2) !important;
          }
          @media (max-width: 500px){
            width: 100% !important;
            min-width: 100% !important;
            max-width: 100% !important;
          }
          &:nth-of-type(1), &:nth-of-type(2){
            display: none !important;
          }
          &.dt-button-active{
            color: #fff !important;
            background-color: #206b82 !important;
            &:hover, &:active, &:focus{
              background-color: #26374a !important;
            }
            &::after{
              content: '\f046' !important;
              font-family: 'FontAwesome' !important;
              right: initial !important;
              left: 6px !important;
              top: 12px !important;
            }
          }
          &:not(.dt-button-active){
            color: #333333 !important;
          }
        }
      }
    }
  }
  &[data-editable='true']{
    .dropdown-menu.dt-button-collection div[role="menu"] a.dt-button:nth-of-type(3){
      display: none !important;
    }
  }
  tfoot{
    th.expanders{
      visibility: hidden !important;
    }
  }
  .dt-scroll-head{
    th{
      &.expanders{
        visibility: hidden !important;
        position: relative !important;
      }
      &:not(.no-edit){
        z-index: 2 !important;
        border-bottom: 2px solid #335075 !important;
      }
    }
    thead{
      background-color: white !important;
    }
  }
  td.expanders{
    &.dtr-control{
      &::before{
        font-family: 'FontAwesome';
        content: '\f105';
        border: none !important;
        font-size: 18px !important;
        color: #26374a !important;
      }
      &:hover, &:active, &:focus{
        &::before{
          color: #1c578a !important;
        }
      }
    }
  }
  tr.dtr-expanded{
    td.expanders.dtr-control::before{
      content: '\f107';
      font-size: 15px !important;
    }
  }
  .dt-scroll-body{
    thead{
      position: relative !important;
      th{
        visibility: hidden !important;
        pointer-events: none !important;
        .dt-column-title, .dt-column-order{
          visibility: hidden !important;
          pointer-events: none !important;
        }
      }
      tfoot input, tfoot label, thead span.dt-column-order{
        visibility: hidden !important;
      }
    }
  }
  #dtprv-body-main{
    td.child .dtr-details{
      display: block;
      width: 100%;
    }
    .pd-datatable-badge{
      background-color: #ffd700 !important;
      color: #333333 !important;
      font-size: 12px !important;
      display: inline-flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      margin-left: 4px;
      i{
        font-size: 9px !important;
      }
    }
  }
  #dtprv-editor-button{
    button{
      position: absolute !important;
      top: 0;
      left: 0;
      right: 1px;
      bottom: 0;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-radius: 0 !important;
      color: white !important;
      background-color: #1b6c1c !important;
      border-color: #071a07 !important;
      &:hover, &:active, &:focus{
        color: white !important;
        background-color: #114311 !important;
        border-color: #000000 !important;
      }
    }
  }
  &[data-compact-view="false"]{
    .dt-scroll-head, .dt-scroll-foot{
      overflow: hidden !important;
    }
    .dt-scroll-head, .dt-scroll-foot, #dtprv{
      margin-left: -36px !important;
      width: calc(100% + 36px) !important;
    }
    .pd-datatables-primary-key-fixed{
      /* FIXME: margin in KeyTableing when going backwards is a bit bad... */
      position: sticky !important;
      left: 0;
      background-color: white !important;
    }
    .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-fixed,
    #dtprv-foot-main .pd-datatables-primary-key-fixed{
      left: 0;
      z-index: 4 !important;
      left: 36px;
    }
    .pd-datatables-primary-key-offset-xxs{
      left: 75px;
    }
    .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-offset-xxs,
    #dtprv-foot-main .pd-datatables-primary-key-offset-xxs{
      left: calc(75px + 36px);
    }
    .pd-datatables-primary-key-offset-xs{
      left: 100px;
    }
    .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-offset-xs,
    #dtprv-foot-main .pd-datatables-primary-key-offset-xs{
      left: calc(100px + 36px);
    }
    .pd-datatables-primary-key-offset-sm{
      left: 135px;
    }
    .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-offset-sm,
    #dtprv-foot-main .pd-datatables-primary-key-offset-sm{
      left: calc(135px + 36px);
    }
    .pd-datatables-primary-key-offset-md{
      left: 225px;
    }
    .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-offset-md,
    #dtprv-foot-main .pd-datatables-primary-key-offset-md{
      left: calc(225px + 36px);
    }
    .pd-datatables-primary-key-offset-sm_md{
      left: 360px;
    }
    .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-offset-sm_md,
    #dtprv-foot-main .pd-datatables-primary-key-offset-sm_md{
      left: calc(360px + 36px);
    }
    .pd-datatables-primary-key-offset-lg{
      left: 300px;
    }
    .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-offset-lg,
    #dtprv-foot-main .pd-datatables-primary-key-offset-lg{
      left: calc(300px + 36px);
    }
    .pd-datatables-primary-key-offset-xl{
      left: 400px;
    }
    .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-offset-xl,
    #dtprv-foot-main .pd-datatables-primary-key-offset-xl{
      left: calc(400px + 36px);
    }
    .pd-datatables-primary-key-offset-xxl{
      left: 620px;
    }
    .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-offset-xxl,
    #dtprv-foot-main .pd-datatables-primary-key-offset-xxl{
      left: calc(620px + 36px);
    }
  }
  &[data-edit-view="true"]{
    .dt-length, .dt-search{
      display: none !important;
    }
    #dtprv-editor-button{
      button{
        visibility: hidden !important;
        pointer-events: none !important;
        display: none !important;
      }
    }
    .dt-scroll-head, .dt-scroll-foot, #dtprv{
      margin-left: 0 !important;
      width: 100% !important;
    }
    .pd-datatables-primary-key-fixed{
      position: relative !important;
      left: initial !important;
    }
    .dt-scroll-head th:not(:first-of-type).pd-datatables-primary-key-fixed,
    #dtprv-foot-main .pd-datatables-primary-key-fixed{
      left: initial !important;
    }
    #dtprv-foot-main, #dtprv_info, .dt-paging, .dt-length, .dt-search{
      display: none !important;
      visibility: hidden !important;
    }
    th.checkboxes, td.checkboxes, th[data-editable-col="false"], td[data-editable-col="false"],
    th.pd-datatables-non-editable-col, td.pd-datatables-non-editable-col{
      visibility: hidden !important;
      width: 0 !important;
      min-width: 0 !important;
      max-width: 0 !important;
      height: 0 !important;
      min-height: 0 !important;
      max-height: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      line-height: 0 !important;
      font-size: 0 !important;
      border: none !important;
    }
    th{
      pointer-events: none !important;
    }
    .dt-scroll{
      margin-top: 25px !important;
    }
    .dt-scroll-body thead{
      height: 16px;
      min-height: 16px;
    }
    #dtprv-body-main{
      td{
        padding: 0 !important;
        box-shadow: none;
        &.expanders{
          position: sticky !important;
          left: 0;
          background-color: #555555;
          color: white;
          font-weight: 700 !important;
          text-align: center !important;
          padding: 4px 8px !important;
          z-index: 6 !important;
          vertical-align: middle !important;
        }
        .validation-error{
          padding: 4px 6px;
          background-color: #FF7961;
          color: #333333 !important;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
    #dtprv_failure_message{
      margin-top: 15px;
      clear: both !important;
      p{
        font-weight: 700;
      }
    }
    .pd-datable-error-summary{
      .pd-datable-error-summary-item{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: -0.5em;
        margin-right: -0.5em;
        width: calc(100% + 1em);
        border: 2px solid #FF7961;
        border-radius: 4px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .pd-datable-error-summary-row-title{
        padding: 4px 6px;
        background-color: #FF7961;
        color: #333333 !important;
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
      }
    }
    .pd-datable-error-field-link{
      color: initial !important;
      text-decoration: underline dotted !important;
    }
    #dtprv-body-main{
      td{
        input, select, textarea, .select2-container{
          width: 100% !important;
          min-width: 100% !important;
          max-width: 100% !important;
          border-radius: 0 !important;
          padding: 4px 8px !important;
          border: none !important;
          background-color: white !important;
          margin: 0 !important;
          box-shadow: 0 0 1px 1px #d0d0d0 inset;
        }
        input, textarea{
          display: block !important;
        }
        textarea{
          min-height: 31px !important;
          height: 100%;
        }
        input.select2-input{
          box-shadow: none !important;
        }
        .select2-container{
          padding: 1px !important;
          position: relative;
          a.select2-choice{
            border: none !important;
            border-radius: 0 !important;
            background-color: transparent !important;
            min-height: 29px;
            background-image: none !important;
            padding-left: 20px !important;
            .select2-arrow{
              border: none !important;
              border-radius: 0 !important;
              background-color: transparent !important;
              background-image: none !important;
              color: #333333 !important;
            }
          }
          &.select2-container-multi::after{
            content: '\f142';
            font-family: 'FontAwesome';
            font-weight: 900;
            position: absolute;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 12px;
            color: #333333 !important;
            pointer-events: none !important;
          }
          input.select2-input{
            background-color: transparent !important;
          }
          > ul{
            border-radius: 0 !important;
            padding: 0 !important;
            padding-right: 15px !important;
            border: none !important;
            background-color: transparent !important;
            margin: 0 !important;
            background-image: none !important;
            box-shadow: none;
          }
          &.editor-input-readonly{
            cursor: not-allowed !important;
            pointer-events: none !important;
            .select2-search-choice-close{
              visibility: hidden !important;
            }
          }
        }
      }
      .pd-datatable-editor-input.editor-input-readonly{
        background-color: #e8e8e8 !important;
        color: #333333 !important;
        outline: none !important;
        cursor: not-allowed !important;
      }
      tr.validation-error{
        td{
          &.expanders{
            background-color: #FF7961 !important;
            color: #333333 !important;
          }
          &:not(.expanders){
            padding: 4px 6px !important;
            background-color: #FF7961 !important;
            color: #333333 !important;
            font-size: 14px !important;
            font-weight: 600 !important;
          }
        }
      }
    }
    span.dt-column-order{
      pointer-events: none !important;
      display: none !important;
    }
    .pd-datatables-non-editable-col:not(.expanders):not(.checkboxes){
      display: none !important;
    }
    #pd-datatables-editor-legend{
      font-size: 14px;
      margin-top: 10px;
      span{
        padding: 4px 8px;
      }
    }
  }
  &[data-compact-view="false"][data-edit-view="false"]{
    #dtprv td.expanders{
      visibility: hidden !important;
    }
  }
  &[data-edit-view="false"]{
    .dt-scroll-body{
      border-bottom: 0 !important;
    }
    .dt-scroll-foot tfoot th{
      border-top: 3px solid #26374a !important;
    }
    th.expanders, td.expanders{
      width: 36px !important;
      min-width: 36px !important;
      max-width: 36px !important;
    }
    td:not(.child).pd-datatables-meta-col-lg,
    th.pd-datatables-meta-col-lg{
      width: 300px !important;
      min-width: 300px !important;
      max-width: 300px !important;
    }
  }
  #dtprv-foot-main{
    font-size: 13px !important;
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
    input[type="text"]{
      font-size: 13px !important;
      width: auto !important;
      min-width: auto !important;
      max-width: auto !important;
    }
    .dtprv-filter-col{
      position: relative !important;
      display: flex !important;
      flex-wrap: nowrap !important;
      flex-direction: row !important;
    }
    .dtprv-filter-col{
      &.dtprv-filter-col-deactive{
        pointer-events: none !important;
        visibility: hidden !important;
      }
      /* input:not([type="submit"]){
        width: 100% !important;
      } */
      input{
        min-height: 37px !important;
        max-height: 37px !important;
        &[type="text"]{
          padding-left: 6px !important;
          padding-right: 6px !important;
          flex: 1;
          /* OPTIONAL: input buttons */
          /* border-top-right-radius: 0 !important; */
          /* border-bottom-right-radius: 0 !important; */
        }
      }
      button[type="submit"]{
        /* OPTIONAL: input buttons */
        display: none !important;
        width: 24px;
        min-width: 24px;
        max-width: 24px;
        padding: 0 !important;
        position: relative !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        i.fa, i.fas{
          position: absolute !important;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 13px !important;
        }
      }
    }
  }
  .pd-datatable-choice-title{
    text-decoration: underline dotted;
    cursor: help;
    display: inline;
  }
  .btn{
    &.btn-warning{
      color: black !important;
      &:hover, &:active, &:focus{
        color: black !important;
      }
    }
  }
  td:not(.child).pd-datatables-col-xxs,
  th.pd-datatables-col-xxs{
    width: 75px !important;
    min-width: 75px !important;
    max-width: 75px !important;
  }
  td:not(.child).pd-datatables-col-xs,
  th.pd-datatables-col-xs{
    width: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
  }
  td:not(.child).pd-datatables-col-sm,
  th.pd-datatables-col-sm{
    width: 135px !important;
    min-width: 135px !important;
    max-width: 135px !important;
  }
  td:not(.child).pd-datatables-col-md,
  th.pd-datatables-col-md{
    width: 225px !important;
    min-width: 225px !important;
    max-width: 225px !important;
  }
  td:not(.child).pd-datatables-col-lg,
  th.pd-datatables-col-lg{
    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
  }
  td:not(.child).pd-datatables-col-xl,
  th.pd-datatables-col-xl{
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
  }
  td:not(.child).pd-datatables-col-xxl,
  th.pd-datatables-col-xxl{
    width: 620px !important;
    min-width: 620px !important;
    max-width: 620px !important;
  }
  i.fa-spinner{
    animation: spin 4s linear infinite;
  }
  #loader-validating{
    width: 90px;
    height: 14px;
    margin-top: 15px;
    box-shadow: 0 3px 0 #fff;
    position: relative;
    clip-path: inset(-40px 0 -5px);
    &:before{
      content: "";
      position: absolute;
      inset: auto calc(50% - 17px) 0;
      height: 50px;
      --g: no-repeat linear-gradient(#335075 0 0);
      background: var(--g),var(--g),var(--g),var(--g);
      background-size: 16px 14px;
      animation:
        l7-1 2s infinite linear,
        l7-2 2s infinite linear;
    }
  }
  #loader-saving{
    margin-top: 15px;
    width: 90px;
    height: 30px;
    box-shadow: 0 3px 0 #fff;
    --g: repeat-x repeating-linear-gradient(90deg, #335075 0 16px, #0000 0 18px, #335075 0 34px, #0000 0 100%);
    background: var(--g), var(--g);
    background-size: 60px 14px, 60px 14px;
    animation: l8 1s infinite linear;
  }
  .pd-datatables-editor-loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    margin: -5px;
    background: white;
    width: calc(100% + 10px);
    height: calc(100% + 40px);
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    color: #335075;
    text-align: center;
    display: none;
  }
  #pd-datatables-editor-complete-more{
    margin-right: 15px;
  }
  svg.pd-check-circle{
    color: #1e7e34;
    width: 50px;
    height: 50px;
    polyline{
      animation: checkmark 0.5s cubic-bezier(0.55, 0.2, 0.71, -0.04) 0.7s backwards;
    }
    circle.semi-transparent{
      animation: grow-circle 0.45s cubic-bezier(0.66, 0.23, 0.51, 1.23) backwards, grow-circle-bigger 0.9s linear 1.1s forwards;
    }
    circle.colored{
      animation: grow-circle 0.5s cubic-bezier(0.66, 0.23, 0.51, 1.23) 0.25s backwards;
    }
  }
}