{% set url = h.url_for(organization.type + '.read', id=organization.name) %}
{% set html_title = _('This organization has no description') %}
{% if organization.description %}
  {% set html_title = h.truncate(organization.description, length=80, whole_word=True) %}
{% endif %}
<dt style="width:auto;"><a href="{{ url }}" title="{{ html_title }}">
  {{ h.truncate(h.split_piped_bilingual_field(organization.display_name, h.lang()), length=70, whole_word=True) }}</a>
</dt>
<dd class="text-right">
  {%- if organization.package_count -%}
    <span>{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</span>
  {%- else -%}
    <span>{{ _('0 Datasets') }}</span>
  {%- endif -%}
  {% if h.check_access('group_update', {'id': organization.id}) %}
    <a href="{{h.url(('organization' if organization.is_organization else 'group') + '.edit', id=organization.name)}}" class="btn btn-default">{{ _('Edit') }}</a>
  {% endif %}
</dd>
