{% ckan_extends %}

{% block subfield_display %}
  {% for field_data in fields %}
    <div class="panel panel-default">
      {% if loop.index == fields|length %}
        <header class="panel-heading">
          {{ h.scheming_language_text(field.label) }} {{ loop.index }}
        </header>
      {%- else -%}
        <details>
          <summary class="panel-heading">{{ h.scheming_language_text(field.label) }} {{ loop.index }}</summary>
      {%- endif -%}
      <div class="panel-body">
        <dl class="scheming-subfield-list">
          {% for subfield in field.repeating_subfields %}
            <dt class="dataset-label">
              {{ h.scheming_language_text(subfield.label) }}
            </dt>
            <dd>
            {%- snippet 'scheming/snippets/display_field.html',
              field=subfield,
              data=field_data,
              entity_type=entity_type,
              object_type=object_type
            -%}
            </dd>
          {% endfor %}
        </dl>
      </div>
      {% if loop.index != fields|length %}
        </details>
      {%- endif -%}
    </div>
  {% endfor %}
{% endblock %}