{% ckan_extends %}

{% block field_removal_button%}
<a class="btn btn-danger pull-left" name="repeating-remove" href="javascript:;">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
{% endblock %}

{% block removal_text %}
  {% set locale = h.dump_json({'content': _('These fields have been removed, click save below to update the record with your changes.') }) %}
<fieldset name="scheming-repeating-subfields" class="scheming-fieldset" data-module="scheming-repeating-subfields" data-module-i18n="{{ locale }}">
  {% endblock %}

