{% ckan_extends %}

{% block links %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ h.googleanalytics_id() }}']);
  _gaq.push(['_setDomainName', 'auto']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block wet_scripts %}
  // Add Google Analytics Event Tracking to resource download links.
  jQuery('a.resource-url-analytics').on('click', function() {
  var resource_url = encodeURIComponent(jQuery(this).prop('href'));
  if (resource_url) {
  _gaq.push(['_trackEvent', 'Resource', 'Download', resource_url]);
  }
  });
{% endblock %}

