<html
xmlns:i18n="http://genshi.edgewall.org/i18n"
xmlns:py="http://genshi.edgewall.org/"
xmlns:xi="http://www.w3.org/2001/XInclude"
py:strip=""
>
  <py:match path="themeheader">

    <header>
      <!-- HeaderStart -->
      <section>
        <div id="base-fullhd">
          <h2>Full-width header area</h2>
          <p>
            id="base-fullhd"
          </p>
          <div id="base-fullhd-in">
            <p class="float-left">
              id="base-fullhd-in"
            </p>
            <ul>
              <li id="base-fullhd-lang">
                <a href="index-fra.html" lang="fr">Français</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <div id="base-bnr" role="banner">
        <div id="base-bnr-in">
          <div id="base-title">
            <p id="base-title-in">
              <a href="/data">Open Data</a>
            </p>
          </div>

        </div>
      </div>

      <nav role="navigation">
        <div id="base-psnb">
          <h2><span>Site </span>menu</h2>
          <div id="base-psnb-in">
            <div class="wet-boew-menubar mb-mega">
              <div>
                <ul class="mb-menu">
                
                        <li>
                          <section>
                            <h3><a href="/">${_('Home')}</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url(action='index', controller='home')}">${_('Home')}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </section>
                        </li>
                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">About</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/')}">About data.gc.ca</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">News</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">FAQ</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Licensing</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">About</a>
                              </div>
                            </div>
                          </section>
                        </li>
                        
                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">Data</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/')}">Search Data</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Featured Dataset</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Facts and Figures</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Technical Specifications</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">Data</a>
                              </div>
                            </div>
                          </section>
                        </li>                        
                        
                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">Apps</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/')}">Mobile Apps</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Web Apps</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Other Resources</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Data Challenges</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">Apps</a>
                              </div>
                            </div>
                          </section>
                        </li> 
                        
                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">Open Government</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/')}">Access to Information Requests</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">GC Spending</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Departmental Dashboards</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Proactive Disclosure</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">Open Government</a>
                              </div>
                            </div>
                          </section>
                        </li> 

                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">Participate</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/')}">Consultations</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Stay Connected</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Feedback</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">Participate</a>
                              </div>
                            </div>
                          </section>
                        </li> 
                        
                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">Search</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/dataset')}">Search for Data</a>
                                  </li>
                                  <li>
                                    <a href="/search">Search the site</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">Search</a>
                              </div>
                            </div>
                          </section>
                        </li> 
                                                
                        <li>
                          <section>
                            <h3><a href="section4/index-eng.html">Help</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="/help">Help</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="#">Help</a>
                              </div>
                            </div>
                          </section>
                        </li>
                        
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="base-bc">
          <h2>Breadcrumb trail</h2>
          <div id="base-bc-in">
            <ol>
              <li>
                <a href="../../index-eng.html">Home</a>
              </li>
              <li>
                <a href="../index-eng.html">Working examples</a>
              </li>
              <li>
                Base theme
              </li>
            </ol>
          </div>
        </div>
      </nav>
      <!-- HeaderEnd -->
    </header>

  </py:match>
</html>