{% ckan_extends %}
{% block contact_links_inner %}
  <li><a class="gl-footer" href="{{ _('/en/forms/contact-us') }}">{{ _('Open Government Contact') }}</a></li>
  <li><a class="gl-footer" href="{{ _('/en/user') }}">{{ _('Open Government Log In') }}</a></li>
  <li><a class="gl-footer" href="{{ _('/en/forms/receive-open-government-email-form') }}">{{ _('Receive Open Government Email') }}</a></li>
  <li><a class="gl-footer" href="{{ _('http://open.canada.ca/en/contact/index.html#aat') }}">{{ _('Most asked-about topics') }}</a></li>
  <li><a class="gl-footer" href="{{ _('http://open.canada.ca/en/contact/index.html#spe') }}">{{ _('Specialized enquiries') }}</a></li>
  <li><a class="gl-footer" href="{{ _('http://open.canada.ca/en/contact/index.html#gen') }}">{{ _('General enquiries') }}</a></li>
{% endblock %}