{% ckan_extends %}
{% block foot_content_inner %}
<li><a href="{{ _('/en/forms/contact-us') }}" class="gl-footer">{{ _( 'Open Government Contact') }}</a></li>
<li><a href="{{ _('https://www.canada.ca/en/government/dept.html') }}">{{ _('Departments and agencies') }}</a></li>
<li><a href="{{ _('https://www.canada.ca/en/government/publicservice.html') }}">{{ _('Public service and military') }}</a></li>
<li><a href="{{ _('http://news.gc.ca/') }}">{{ _('News') }}</a></li>
<li><a href="{{ _('https://www.canada.ca/en/government/system/laws.html') }}">{{ _('Treaties, laws and regulations') }}</a></li>
<li><a href="{{ _('https://www.canada.ca/en/transparency/reporting.html') }}">{{ _('Government-wide reporting') }}</a></li>
<li><a href="{{ _('/en/user/') }}">{{ _('Open Government Log In') }}</a></li>
<li><a href="{{ _('https://www.canada.ca/en/government/system.html') }}">{{ _('How government works') }}</a></li>
{% endblock %}

{% block foot_brand_inner %}
<li><a href="{{ _('https://www.canada.ca/en/social.html') }}">{{ _('Social media') }}</a></li>
<li><a href="{{ _('https://www.canada.ca/en/mobile.html') }}">{{ _('Mobile applications') }}</a></li>
<li><a href="{{ _('https://www1.canada.ca/en/newsite.html') }}">{{ _('About Canada.ca') }}</a></li>
<li><a href="{{ _('https://www.canada.ca/en/transparency/terms.html') }}">{{ _('Terms and conditions') }}</a></li>
<li><a href="{{ _('https://www.canada.ca/en/transparency/privacy.html') }}">{{ _('Privacy') }}</a></li>
{% endblock %}
