{# vim: set filetype=jinja sw=2 sts=2: #}
<div id="wb-foot">
  <div id="wb-foot-in">
    <footer>
      {% if h.lang() == 'en' %}
        <h2 id="wb-nav">Footer</h2>
<nav role="navigation">
        <div id="gcwu-sft">
          <h3>Site Footer</h3>
          <div id="gcwu-sft-in">
            <div id="gcwu-tctr">
              <ul class="links clearfix">
                <li class="menu-1105 first gcwu-tc">
                  <a href="/eng/content/terms-and-conditions" title="Terms and Conditions">Terms and Conditions</a>
                </li>
                <li class="menu-1107 last gcwu-tr">
                  <a href="/eng/content/transparency" title="Transparency">Transparency</a>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
            <!-- region: Footer -->
            <div class="menu-block-wrapper menu-block-wetkit_menu_blocks-2 menu-name-menu-wet-mid-footer parent-mlid-0 menu-level-1">
              <section>
                <div class="span-2">
                  <h4 class="gcwu-col-head"><a href="/eng/content/about-open-government" title="About Open Government">About Open Government</a></h4>
                  <ul>
                    <li>
                      <a href="/eng/canadas-action-plan-open-government" title="Open Government Action Plan">Action Plan</a>
                    </li>
                    <li>
                      <a href="/eng/open-government-licence-canada" title="Open Government License">Open Government License</a>
                    </li>
                  </ul>
                </div>
              </section>
              <section>
                <div class="span-2">
                  <h4 class="gcwu-col-head"><a href="/eng/media" title="Media">Media</a></h4>
                  <ul>
                    <li>
                      <a href="/eng/media#toc1" title="News Releases">News Releases</a>
                    </li>
                    <li>
                      <a href="/eng/media#events" title="Events">Events</a>
                    </li>
                  </ul>
                </div>
              </section>
              <section>
                <div class="span-2">
                  <h4 class="gcwu-col-head"><a href="/eng/forms/contact-us" title="Contact Us">Contact Us</a></h4>
                  <ul>
                    <li>
                      <a href="/eng/frequently-asked-questions" title="faq">Frequently Asked Questions</a>
                    </li>
                    <li>
                      <a href="/eng/forms/suggest-dataset" title="Suggest a dataset">Suggest a Dataset</a>
                    </li>
                  </ul>
                </div>
              </section>
              <section>
                <div class="span-2">
                  <h4 class="gcwu-col-head"><a href="/eng/stay-connected" title="Stay connected">Stay Connected</a></h4>
                  <ul>
                    <li>
                      <a href="https://twitter.com/TBS_Canada" title="Twitter">Twitter</a>
                    </li>
                    <li>
                      <a href="/eng/rss-feeds" title="RSS Feeds">RSS Feeds</a>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </div>
      </nav>
      <nav role="navigation">
        <div id="gcwu-gcft">
          <h3>Government of Canada Footer</h3>
          <div id="gcwu-gcft-in">
            <div id="gcwu-gcft-fip">
              <ul class="links clearfix">
                <li class="menu-1137 first">
                  <a href="http://healthycanadians.gc.ca/index-eng.php" title="healthycanadians.gc.ca" rel="external"><span>Health</span>
                  <br />
                  healthycanadians.gc.ca</a>
                </li>
                <li class="menu-1139">
                  <a href="http://www.voyage.gc.ca/index-eng.asp" title="travel.gc.ca" rel="external"><span>Travel</span>
                  <br />
                  travel.gc.ca</a>
                </li>
                <li class="menu-1141">
                  <a href="http://www.servicecanada.gc.ca/eng/home.shtml" title="servicecanada.gc.ca" rel="external"><span>Service Canada</span>
                  <br />
                  servicecanada.gc.ca</a>
                </li>
                <li class="menu-1143">
                  <a href="http://www.jobbank.gc.ca/intro-eng.aspx" title="jobbank.gc.ca" rel="external"><span>Jobs</span>
                  <br />
                  jobbank.gc.ca</a>
                </li>
                <li class="menu-1145">
                  <a href="http://actionplan.gc.ca/en" title="actionplan.gc.ca" rel="external"><span>Economy</span>
                  <br />
                  actionplan.gc.ca</a>
                </li>
                <li id="gcwu-gcft-ca" class="menu-1147 last">
                  <div>
                    <a href="http://www.canada.gc.ca/home.html">Canada.gc.ca</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      {% else %}
        <h2 id="wb-nav">Pied de page</h2>
<nav role="navigation">
        <div id="gcwu-sft">
          <h3>Pied de page</h3>
          <div id="gcwu-sft-in">
            <div id="gcwu-tctr">
              <ul class="links clearfix">
                <li class="menu-1106 first gcwu-tc">
                  <a href="/fra/terms-and-conditions">Avis</a>
                </li>
                <li class="menu-1108 last gcwu-tr active">
                  <a href="/fra" class="active">Transparence</a>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
            <!-- region: Footer -->
            <div class="menu-block-wrapper menu-block-wetkit_menu_blocks-2 menu-name-menu-wet-mid-footer parent-mlid-0 menu-level-1">
              <section>
                <div class="span-2">
                  <h4 class="gcwu-col-head"><a href="/fra" class="active">À propos de nous</a></h4>
                  <ul>
                    <li>
                      <a href="/fra" class="active">Notre mandat</a>
                    </li>
                    <li>
                      <a href="/fra" class="active">Le ministre</a>
                    </li>
                  </ul>
                </div>
              </section>
              <section>
                <div class="span-2">
                  <h4 class="gcwu-col-head"><a href="/fra" class="active">Média</a></h4>
                  <ul>
                    <li>
                      <a href="/fra" class="active">Avis aux médias</a>
                    </li>
                    <li>
                      <a href="/fra" class="active">Communiqués</a>
                    </li>
                  </ul>
                </div>
              </section>
              <section>
                <div class="span-2">
                  <h4 class="gcwu-col-head"><a href="/fra" class="active">Contactez-nous</a></h4>
                  <ul>
                    <li>
                      <a href="/fra" class="active">Numéros de téléphone</a>
                    </li>
                    <li>
                      <a href="/fra/node/51">Suggest a dataset (fr)</a>
                    </li>
                  </ul>
                </div>
              </section>
              <section>
                <div class="span-2">
                  <h4 class="gcwu-col-head"><a href="/fra" class="active">Restez branchés</a></h4>
                  <ul>
                    <li>
                      <a href="https://twitter.com/SCT_Canada">Twitter</a>
                    </li>
                    <li>
                      <a href="/fra" class="active">Fils de nouvelles</a>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </div>
      </nav>
        <nav role="navigation">
          <div id="gcwu-gcft">
            <h3>Pied de page du Gouvernment du Canada</h3>
            <div id="gcwu-gcft-in">
              <div id="gcwu-gcft-fip">
                <ul class="links clearfix"><li class="menu-1138 first"><a href="http://canadiensensante.gc.ca/index-fra.php" title="canadiensensante.gc.ca" rel="external"><span>Santé</span><br />canadiensensante.gc.ca</a></li>
<li class="menu-1140"><a href="http://voyage.gc.ca/index-fra.asp" title="voyage.gc.ca" rel="external"><span>Voyage</span><br />voyage.gc.ca</a></li>
<li class="menu-1142"><a href="http://www.servicecanada.gc.ca/fra/accueil.shtml" title="servicecanada.gc.ca" rel="external"><span>Service Canada</span><br />servicecanada.gc.ca</a></li>
<li class="menu-1144"><a href="http://www.guichetemplois.gc.ca/Intro-fra.aspx" title="guichetemplois.gc.ca" rel="external"><span>Emplois</span><br />guichetemplois.gc.ca</a></li>
<li class="menu-1146"><a href="http://www.plandaction.gc.ca/fr" title="plandaction.gc.ca" rel="external"><span>Économie</span><br />plandaction.gc.ca</a></li>
<li id="gcwu-gcft-ca" class="menu-1148 last"><div><a href="http://www.canada.gc.ca/accueil.html">Canada.gc.ca</a></div></li>
</ul>        
              </div>
            </div>
          </div>
        </nav>
      {% endif %}
    </footer>
  </div>
</div>

