{# vim: set filetype=jinja sw=2 sts=2: #}

{% set wet_server = h.wet_url() %}
{% set canada_ca = h.canada_url() %}
{% block footer_content %}
<footer role="contentinfo" id="wb-info">

{% if h.lang() == 'en' %}

<nav role="navigation" class="container visible-sm visible-md visible-lg wb-navcurr">

  <h2 class="wb-inv">Site Information</h2>

  <div class="row">
    <div class="col-sm-3 col-lg-3">
      <section>
        <h3>Contact information</h3>
        <ul class="list-unstyled">
          <li><a class="gl-footer" href="/en/forms/contact-us">Open Government Contact</a></li>
          <li><a class="gl-footer" href="/en/user">Open Government Log In</a></li>
          <li><a class="gl-footer" href="/en/forms/receive-open-government-email-form">Receive Open Government Email</a></li>
          <li><a class="gl-footer" href="{{ canada_ca }}/en/contact/index.html#aat">Most asked-about topics</a></li>
          <li><a class="gl-footer" href="{{ canada_ca }}/en/contact/index.html#spe">Specialized enquiries</a></li>
          <li><a class="gl-footer" href="{{ canada_ca }}/en/contact/index.html#gen">General enquiries</a></li>
        </ul>
      </section>
      <section>
        <h3>News</h3>
        <ul class="list-unstyled">
          <li><a class="gl-footer" href="http://news.gc.ca/web/index-en.do" rel="external">Newsroom</a></li>
          <li><a class="gl-footer" href="http://news.gc.ca/web/nwsprdct-en.do?mthd=tp&amp;crtr.tp1D=1" rel="external">News
            releases</a></li>
          <li><a class="gl-footer" href="http://news.gc.ca/web/nwsprdct-en.do?mthd=tp&amp;crtr.tp1D=3" rel="external">Media
            advisories</a></li>
          <li><a class="gl-footer" href="http://news.gc.ca/web/nwsprdct-en.do?mthd=tp&amp;crtr.tp1D=970" rel="external">Speeches</a>
          </li>
          <li><a class="gl-footer" href="http://news.gc.ca/web/nwsprdct-en.do?mthd=tp&amp;crtr.tp1D=980" rel="external">Statements</a>
          </li>
        </ul>
      </section>
    </div>
    <section class="col-sm-3 col-lg-3">
      <h3>Government</h3>
      <ul class="list-unstyled">
        <li><a class="gl-footer" href="{{ canada_ca }}/en/gov/system/index.html">How government works</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/en/gov/dept/index.html">Departments &amp; agencies</a></li>
        <li><a class="gl-footer" href="http://pm.gc.ca/eng" rel="external">Prime Minister</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/en/gov/ministers/index.html">Ministers</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/en/gov/policy/index.html">Policies, regulations &amp; laws</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/en/gov/libraries/index.html">Libraries</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/en/gov/publications/index.html">Publications</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/en/gov/statistics/index.html">Statistics &amp; data</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/en/newsite.html">About Canada.ca</a></li>
      </ul>
    </section>
    <section class="col-sm-3 col-lg-3 brdr-lft">
      <h3>Transparency</h3>
      <ul class="list-unstyled">
        <li><a class="gl-footer" href="{{ canada_ca }}/en/transparency/reporting.html">Government-wide reporting</a></li>
        <li><a class="gl-footer" href="/en/">Open government</a></li>
        <li><a class="gl-footer" href="http://www.tbs-sct.gc.ca/pd-dp/gr-rg/index-eng.asp" rel="external">Proactive
          disclosure</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/en/transparency/terms.html">Terms &amp; conditions</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/en/transparency/privacy.html">Privacy</a></li>
      </ul>
    </section>
    <div class="col-sm-3 col-lg-3 brdr-lft">
      <section>
        <h3>Feedback</h3>

        <p><a class="gl-footer" href="{{ canada_ca }}/en/contact/feedback.html"><img src="{{ wet_server }}/assets/feedback.png"
                                                                      alt="Feedback about this Web site"></a></p>
      </section>
      <section>
        <h3>Social media</h3>

        <p><a class="gl-footer" href="{{ canada_ca }}/en/social/index.html"><img src="{{ wet_server }}/assets/social.png" alt="Social media"></a>
        </p>
      </section>
      <section>
        <h3>Mobile centre</h3>

        <p><a class="gl-footer" href="{{ canada_ca }}/en/mobile/index.html"><img src="{{ wet_server }}/assets/mobile.png" alt="Mobile centre"></a>
        </p>
      </section>
    </div>
  </div>

</nav>
<div class="brand">
  <div class="container">
    <div class="row ">
      <div class="col-xs-6 visible-sm visible-xs tofpg"><a class="gl-footer" href="#wb-cont">Top of page <span
          class="glyphicon glyphicon-chevron-up"></span></a></div>
      <div class="col-xs-6 col-md-12 text-right">
        <object type="image/svg+xml" tabindex="-1" role="img" data="{{ wet_server }}/assets/wmms-blk.svg"
                aria-label="Symbol of the Government of Canada"></object>
      </div>
    </div>
  </div>
</div>

{% else %}

<nav role="navigation" class="container visible-sm visible-md visible-lg wb-navcurr">

  <h2 class="wb-inv">Information du site</h2>

  <div class="col-sm-3 col-lg-3">
    <section>
      <h3>Coordonnées</h3>
      <ul class="list-unstyled">
        <li><a class="gl-footer" href="/fr/formulaire/faites-nous-part-de-vos-commentaires">Contactez Gouvernement ouvert</a></li>
        <li><a class="gl-footer" href="/fr/user">Ouverture de session Gouvernement ouvert</a></li>
        <li><a class="gl-footer" href="/fr/formulaire/courriels-gouvernement-ouvert">Courriels sur le Gouvernement ouvert</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/fr/contact/index.html#slq">Sujets sur lesquels portent la plupart des
          questions</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/fr/contact/index.html#spe">Renseignements spécifiques</a></li>
        <li><a class="gl-footer" href="{{ canada_ca }}/fr/contact/index.html#gen">Renseignements généraux</a></li>
      </ul>
    </section>
    <section>
      <h3>Nouvelles</h3>
      <ul class="list-unstyled">
        <li><a class="gl-footer" href="http://nouvelles.gc.ca/web/index-fr.do" rel="external">Salle de presse</a></li>
        <li><a class="gl-footer" href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=1"
               rel="external">Communiqués de presse</a></li>
        <li><a class="gl-footer" href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=3"
               rel="external">Avis aux médias</a></li>
        <li><a class="gl-footer" href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=970"
               rel="external">Discours</a></li>
        <li><a class="gl-footer" href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=980"
               rel="external">Déclarations</a></li>
      </ul>
    </section>
  </div>
  <section class="col-sm-3 col-lg-3">
    <h3>Gouvernement</h3>
    <ul class="list-unstyled">
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/gouv/systeme/index.html">Comment le gouvernement fonctionne</a></li>
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/gouv/min/index.html">Ministères et organismes</a></li>
      <li><a class="gl-footer" href="http://pm.gc.ca/fra" rel="external">Premier ministre</a></li>
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/gouv/ministres/index.html">Ministres</a></li>
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/gouv/politique/index.html">Politiques, règlements et lois</a></li>
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/gouv/bibliotheques/index.html">Bibliothèques</a></li>
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/gouv/publications/index.html">Publications</a></li>
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/gouv/statistiques/index.html">Statistiques et données</a></li>
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/nouveausite.html">À propos de Canada.ca</a></li>
    </ul>
  </section>
  <section class="col-sm-3 col-lg-3 brdr-lft">
    <h3>Transparence</h3>
    <ul class="list-unstyled">
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/transparence/rapports.html">Établissement de rapports à l'échelle du
        gouvernement</a></li>
      <li><a class="gl-footer" href="/fr/">Gouvernement ouvert</a></li>
      <li><a class="gl-footer" href="http://www.tbs-sct.gc.ca/pd-dp/gr-rg/index-fra.asp" rel="external">Divulgation
        proactive</a></li>
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/transparence/avis.html">Avis</a></li>
      <li><a class="gl-footer" href="{{ canada_ca }}/fr/transparence/confidentialite.html">Confidentialité</a></li>
    </ul>
  </section>
  <div class="col-sm-3 col-lg-3 brdr-lft">
    <section>
      <h3>Rétroaction</h3>

      <p><a class="gl-footer" href="{{ canada_ca }}/fr/contact/retroaction.html"><img src="{{ wet_server }}/assets/feedback.png"
                                                                       alt="Rétroaction sur ce site Web"></a></p>
    </section>
    <section>
      <h3>Médias sociaux</h3>

      <p><a class="gl-footer" href="{{ canada_ca }}/fr/sociaux/index.html"><img src="{{ wet_server }}/assets/social.png" alt="Médias sociaux"></a>
      </p>
    </section>
    <section>
      <h3>Centre mobile</h3>

      <p><a class="gl-footer" href="{{ canada_ca }}/fr/mobile/index.html"><img src="{{ wet_server }}/assets/mobile.png" alt="Centre mobile"></a>
      </p>
    </section>
  </div>

</nav>
<div class="brand">
  <div class="container">
    <div class="row ">
      <div class="col-xs-6 visible-sm visible-xs tofpg"><a class="gl-footer" href="#wb-cont">Haut de la page <span
          class="glyphicon glyphicon-chevron-up"></span></a></div>
      <div class="col-xs-6 col-md-12 text-right">
        <object type="image/svg+xml" tabindex="-1" role="img" data="{{ wet_server }}/assets/wmms-blk.svg"
                aria-label="Symbole du gouvernement du Canada"></object>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% block footer_debug %}
  {% if g.debug %}
    {% include 'snippets/debug.html' %}
  {% endif %}
{% endblock %}
</footer>

{% endblock %}