{# vim: set filetype=jinja sw=2 sts=2: #}


{% block footer_content %}
<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
  {% if h.lang() == 'en' %}
  <div class="container">
    <nav role="navigation"><h2>{{ _('Site information') }}</h2>
      <ul id="gc-tctr" class="list-inline">
        <li><a rel="license" href="/eng/terms-and-conditions">Terms and conditions</a></li>
        <li><a href="/eng/transparency">Transparency</a></li>
      </ul>
      <div class="row">
        <section class="col-sm-3"><h3><a href="/eng/about-datagcca">About Open Government</a></h3>
          <ul class="list-unstyled">
            <li><a href="/eng/canadas-action-plan-open-government">Action Plan</a></li>
            <li><a href="/eng/open-government-licence-canada">Open Government Licence</a></li>
          </ul>
        </section>
        <section class="col-sm-3"><h3><a href="/eng/media">Media</a></h3>
          <ul class="list-unstyled">
            <li><a href="/eng/media#toc2">News Releases</a></li>
          </ul>
        </section>
        <section class="col-sm-3"><h3><a href="/eng/forms/contact-us">Contact Us</a>
        </h3>
          <ul class="list-unstyled">
            <li><a href="/eng/frequently-asked-questions" title="faq">Frequently Asked Questions</a></li>
            <li><a href="/eng/suggested-datasets" title="Suggest a Dataset">Suggest a Dataset</a></li>
          </ul>
        </section>
        <section class="col-sm-3"><h3><a href="/eng/stay-connected">Stay Connected</a></h3>
          <ul class="list-unstyled">
            <li><a
                href="https://twitter.com/search?q=%40TBS_Canada%20%23opengov%20OR%20%23opendata%20OR%20%23datagc%20%2Bexclude%3Aretweets%20&src=typd"
                title="Twitter">Twitter</a>
            </li>
            <li><a href="/eng/rss-feeds" title="RSS Feeds">RSS Feeds</a></li>
          </ul>
        </section>
      </div>
      </nav>
  </div>
  <div id="gc-info">
    <div class="container">
      <nav role="navigation"><h2>Government of Canada footer</h2>
        <ul class="list-inline">
          <li><a href="http://healthycanadians.gc.ca"><span>Health</span>healthycanadians.gc.ca</a></li>
          <li><a href="http://travel.gc.ca"><span>Travel</span>travel.gc.ca</a></li>
          <li><a href="http://www.servicecanada.gc.ca/eng/home.shtml"><span>Service Canada</span>servicecanada.gc.ca</a>
          </li>
          <li><a href="http://www.jobbank.gc.ca"><span>Jobs</span>jobbank.gc.ca</a></li>
          <li><a href="http://actionplan.gc.ca/en"><span>Economy</span>actionplan.gc.ca</a></li>
          <li id="canada-ca"><a href="http://www.canada.ca/en/index.html">Canada.ca</a></li>
        </ul>
      </nav>
    </div>
  </div>
  {% else %}
  <div class="container">
    <nav role="navigation"><h2>{{ _('Site information') }}</h2>
      <ul id="gc-tctr" class="list-inline">
        <li><a rel="license" href="/fra/avis">Avis</a></li>
        <li><a href="/fra/transparence">Transparence</a></li>
      </ul>
      <div class="row">
        <section class="col-sm-3"><h3><a href="/eng/about-datagcca">About Open Government</a></h3>
          <ul class="list-unstyled">
            <li><a href="/fra/plan-daction-du-canada-pour-un-gouvernement-ouvert">Plan d'action</a></li>
            <li><a href="/fra/licence-du-gouvernement-ouvert-canada">Licence du gouvernement ouvert</a></li>
          </ul>
        </section>
        <section class="col-sm-3"><h3><a href="/fra/medias">Médias</a></h3>
          <ul class="list-unstyled">
            <li><a href="/fra/medias#toc2">Communiqués de presse</a></li>
          </ul>
        </section>
        <section class="col-sm-3"><h3><a href="/fra/formulaire/faites-nous-part-de-vos-commentaires">Contactez-nous</a>
        </h3>
          <ul class="list-unstyled">
            <li><a href="/fra/foire-aux-questions">Foire aux questions</a></li>
            <li><a href="/fra/jeux-de-donnees-suggeres">Proposez un jeu de données</a></li>
          </ul>
        </section>
        <section class="col-sm-3"><h3><a href="/fra/restez-branches">Restez branchés</a></h3>
          <ul class="list-unstyled">
            <li><a
                href="https://twitter.com/search?q=%40SCT_Canada%20%23donn%C3%A9esouvertes%20OR%20%23gouvert%20OR%20donn%C3%A9esGC%20%2Bexclude%3Aretweets&src=typd">Twitter</a>
            </li>
            <li><a href="/fra/fils-rss">Fils RSS</a></li>
          </ul>
        </section>
      </div>
      </nav>
    </div>
    <div id="gc-info">
      <div class="container">
        <nav role="navigation"><h2>Pied de page du gouvernement du Canada</h2>
          <ul class="list-inline">
            <li><a href="http://canadiensensante.gc.ca"><span>Santé</span>canadiensensante.gc.ca</a></li>
            <li><a href="http://voyage.gc.ca"><span>Voyage</span>voyage.gc.ca</a></li>
            <li><a href="http://www.servicecanada.gc.ca/fra/accueil.shtml"><span>Service Canada</span>servicecanada.gc.ca</a>
            </li>
            <li><a href="http://www.guichetemplois.gc.ca"><span>Emplois</span>guichetemplois.gc.ca</a></li>
            <li><a href="http://plandaction.gc.ca/fr"><span>Économie</span>plandaction.gc.ca</a></li>
            <li id="canada-ca"><a href="http://www.canada.ca/fr/index.html">Canada.ca</a></li>
          </ul>
        </nav>
      </div>
    </div>

  {% endif %}
</footer>

{% endblock %}


