<html
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
        <py:match path="themeheader">
          <header>
            <!-- HeaderStart -->
            <nav role="navigation">
              <div id="gcwu-gcnb">
                <h2>Government of Canada navigation bar</h2>
                <div id="gcwu-gcnb-in">
                  <div id="gcwu-gcnb-fip">
                    <div id="gcwu-sig">
                      <div id="gcwu-sig-in">
                        <div id="gcwu-sig-eng" title="Government of Canada"><img src="${h.url_for_static('/build/theme-gcwu-fegc/images/sig-eng.gif')}" width="214" height="20" alt="Government of Canada" />
                        </div>
                      </div>
                    </div>
                    <ul>
                      <li id="gcwu-gcnb1">
                        <a rel="external" href="http://www.canada.gc.ca/menu-eng.html">Canada.gc.ca</a>
                      </li>
                      <li id="gcwu-gcnb2">
                        <a rel="external" href="http://www.servicecanada.gc.ca/eng/home.shtml">${_('Services')}</a>
                      </li>
                      <li id="gcwu-gcnb3">
                        <a rel="external" href="http://www.canada.gc.ca/aboutgov-ausujetgouv/depts/menu-eng.html">${_('Departments')}</a>
                      </li>
                      <li py:choose="c.language" id="gcwu-gcnb-lang">    
                        <a py:when="'en'" href="${h.url(action=c.action, controller=c.controller, locale='fr')}" lang="fr">Français</a>
                        <a py:otherwise="'fr'" href="${h.url(action=c.action, controller=c.controller, locale='en')}" lang="en">English</a>
                      </li>
                    </ul>
                     
                  </div>
                </div>
              </div>
            </nav>

            <div id="gcwu-bnr" role="banner">
              <div id="gcwu-bnr-in">
                <div id="gcwu-wmms">
                  <div id="gcwu-wmms-in">
                    <div id="gcwu-wmms-fip" title="Symbol of the Government of Canada"><img src="${h.url_for_static('build/theme-gcwu-fegc/images/wmms.gif')}" width="126" height="30" alt="Symbol of the Government of Canada" />
                    </div>
                  </div>
                </div>
                <div id="gcwu-title">
                  <p id="gcwu-title-in">
                    <a href="/eng">data.gc.ca</a>
                  </p>
                </div>             
              </div>
            </div>

            <nav role="navigation">
              <div id="gcwu-psnb">
                <h2><span>Site </span>menu</h2>
                <div id="gcwu-psnb-in">
                  <div class="wet-boew-menubar mb-mega">
                    <div>
                      <ul class="mb-menu">
                        <li>
                          <section>
                            <h3><a href="/">${_('Home')}</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url(action='index', controller='home')}">${_('Home')}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </section>
                        </li>
                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">About</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/')}">About data.gc.ca</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">News</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">FAQ</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Licensing</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">About</a>
                              </div>
                            </div>
                          </section>
                        </li>
                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">Data</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/')}">Search Data</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Featured Dataset</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Facts and Figures</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Technical Specifications</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">Data</a>
                              </div>
                            </div>
                          </section>
                        </li>                        
                        
                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">Apps</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/')}">Mobile Apps</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Web Apps</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Other Resources</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Data Challenges</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">Apps</a>
                              </div>
                            </div>
                          </section>
                        </li> 
                        
                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">Open Government</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/')}">Access to Information Requests</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">GC Spending</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Departmental Dashboards</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Proactive Disclosure</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">Open Government</a>
                              </div>
                            </div>
                          </section>
                        </li> 

                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">Participate</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/')}">Consultations</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Stay Connected</a>
                                  </li>
                                  <li>
                                    <a href="${h.url_for('/')}">Feedback</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">Participate</a>
                              </div>
                            </div>
                          </section>
                        </li> 
                        
                        <li>
                          <section>
                            <h3><a href="${h.url_for('/')}">Search</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="${h.url_for('/dataset')}">Search for Data</a>
                                  </li>
                                  <li>
                                    <a href="/search">Search the site</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="${h.url_for('/dataset')}">Search</a>
                              </div>
                            </div>
                          </section>
                        </li> 
                                                
                        <li>
                          <section>
                            <h3><a href="section4/index-eng.html">Help</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li>
                                    <a href="/help">Help</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="clear"></div>
                              <div class="mb-main-link">
                                <a href="#">Help</a>
                              </div>
                            </div>
                          </section>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <breadcrumb>
                <div id="gcwu-bc">
                  <h2>Breadcrumb trail</h2>
                  <div id="gcwu-bc-in">
                    <ol>

                      <li>
                        <a href="${h.url_for(controller='home', action='index')}">Home</a>
                      </li>

                    </ol>
                  </div>
                </div>
              </breadcrumb>

            </nav>
            <!-- HeaderEnd -->
          </header>
        </py:match>
</html>