{% ckan_extends %}

{% block header_site_navigation_tabs %}
  <li><a href="http://open.canada.ca/">{{ _('Open.canada.ca') }}</a></li>
  {{ h.build_nav_main(
    ('info_search', _('Search Assets')),
    ('organizations_index', _('Organizations')),
    ('about', _('About')),
    ('info_new', _('Add Asset')),
  ) }}
  {% if c.userobj %}
    <li><a href="#usermenu" class="item">{{ _('My Account') }}</a>
      <ul class="sm list-unstyled" role="menu" id="usermenu">
        <li><a href="{{ h.url_for(controller='user', action='dashboard')
          }}">{{ _('Dashboard') }}</a></li>
        <li><a href="{{ h.url_for(controller='user', action='read',
          id=c.userobj.name) }}">{{ _('View Profile') }}</a></li>
        <li><a href="{{ h.url_for(controller='user', action='edit',
          id=c.userobj.name) }}">{{ _('Edit Profile') }}</a></li>
        {% if c.userobj.sysadmin %}
          <li><a href="{{ h.url_for(
            controller='ckanext.canada.controller:PublishController',
            action='search') }}">{{ _('Publish Assets') }}</a></li>
        {% endif %}
      </ul>
    </li>
  {% endif %}
{% endblock %}
