{% ckan_extends %}

{% block header_site_navigation_tabs %}
  <li><a href="http://open.canada.ca/">{{ _('Open.canada.ca') }}</a></li>
  {{ h.build_nav_main(
    ('info_search', _('Search Assets')),
    ('organizations_index', _('Organizations')),
    ('about', _('About')),
    ('info_new', _('Add Asset')),
  ) }}
  {% if c.userobj.sysadmin %}
    <li><a href="{{ h.url_for(controller='ckanext.canada.controller:PublishController', action='search') }}">
      {{ _('Publish Assets') }}</a></li>
  {% endif %}
{% endblock %}
