{% ckan_extends %}

{% set current_url = request.environ.CKAN_CURRENT_URL %}

{% block site_title %}
<a href="{% if h.lang() == 'en' %}/eng{% else %}/fra{% endif %}">{{ _('data.gc.ca') }}</a>
{% endblock %}

{% block wet_banner %}
<div id="wb-bnr" class="container">
{% block wet_banner_bar %}

  <section class="visible-md visible-lg text-right" id="wb-lng">
    <h2 class="wb-inv">Language selection</h2>

    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline margin-bottom-none">
          {% if h.lang() == 'en' %}
          <li><a lang="fr" href="{% url_for current_url, locale='fr' %}">Français</a></li>
          {% else %}
          <li><a lang="en" href="{% url_for current_url, locale='en' %}">English</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </section>
<div class="row">
  <div class="brand col-xs-8 col-sm-9 col-md-6">
    <a href="http://www.canada.ca/en/index.html">
      <object type="image/svg+xml" tabindex="-1" role="img" data="{{ wet_server }}/assets/sig-blk-en.svg"
              aria-label="Government of Canada"></object>
    </a>
  </div>
  <section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
    <h2>Search and menus</h2>
    <ul class="list-inline text-right chvrn">
      <li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span
          class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Search and menus</span></span></span></a>
      </li>
    </ul>
    <div id="mb-pnl"></div>
  </section>
</div>
{% endblock %}
</div>

{% block wet_megamenu %}
<nav role="navigation" id="wb-sm" data-ajax-fetch="{% url_for '/snippets/menu.html' %}" data-trgt="mb-pnl"
     class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
{% if h.lang() == 'fr' %}
  <h2 class="wb-inv">Menu des sujets</h2>
  <div class="container visible-md visible-lg nvbar">
    <div class="row">
      <ul class="list-inline menu">
        <li><a href="http://www.canada.ca/fr/services/emplois/index.html">Emplois</a></li>
        <li><a href="http://www.cic.gc.ca/francais/index.asp">Immigration</a></li>
        <li><a href="http://voyage.gc.ca/">Voyage</a></li>
        <li><a href="http://www.canada.ca/fr/services/entreprises/index.html">Entreprises</a></li>
        <li><a href="http://www.canada.ca/fr/services/prestations/index.html">Prestations</a></li>
        <li><a href="http://canadiensensante.gc.ca/index-fra.php">Santé</a></li>
        <li><a href="http://www.canada.ca/fr/services/impots/index.html">Impôts</a></li>
        <li><a href="http://www.canada.ca/fr/services/index.html">Autres services</a></li>
      </ul>
    </div>
  </div>
{% else %}
  <h2 class="wb-inv">Topics menu</h2>
  <div class="container visible-md visible-lg nvbar">
    <div class="row">
      <ul class="list-inline menu">
        <li><a href="http://www.canada.ca/en/services/jobs/index.html">Jobs</a></li>
        <li><a href="http://www.cic.gc.ca/english/index.asp">Immigration</a></li>
        <li><a href="http://travel.gc.ca/">Travel</a></li>
        <li><a href="http://www.canada.ca/en/services/business/index.html">Business</a></li>
        <li><a href="http://www.canada.ca/en/services/benefits/index.html">Benefits</a></li>
        <li><a href="http://healthycanadians.gc.ca/index-eng.php">Health</a></li>
        <li><a href="http://www.canada.ca/en/services/taxes/index.html">Taxes</a></li>
        <li><a href="http://www.canada.ca/en/services/index.html">More services</a></li>
      </ul>
    </div>
  </div>
{% endif %}
</nav>
{% endblock %}

{% block breadcrumb %} {{ super() }} {% endblock %}

{% endblock wet_banner %}

{% block wet_search_box %}
<div id="wb-sttl" class="col-md-5">
  <a href="{% url_for controller='home', action='index' %}">
  <span>{{ _('data.gc.ca') }}</span>
  </a>
</div>
<object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="{{ wet_server }}/assets/wmms.svg"
        aria-label="Symbol of the Government of Canada"></object>
{% endblock %}

{% block footer %}
  {% include "footer_gcweb.html" %}
{% endblock footer %}

{% block body_extras -%}
  {# defined in the config.ini under "ckan.template_footer_end" #}
  {{ g.template_footer_end | safe }}
{%- endblock %}