{%- set values = data[field.field_name] -%}

<ul class='list-inline'>
  {%- for choice in field.choices -%}
    {%- if choice.value in values -%}
      {% if h.get_site_id() == 'portal' %}
        <li> {{ h.scheming_language_text(choice.label) }}</li>
      {% else %}
        {% if field.field_name == 'topic_category' %}
          <li><a class="btn btn-default btn-xs mrgn-bttm-sm mrgn-rght-sm"
            href="{%- url_for controller='package', action='search',
            topic_category=choice.value %}">{{
              h.scheming_language_text(choice.label) }}</a></li>
        {% elif field.field_name == 'audience' %}
          <li>{{
              h.scheming_language_text(choice.label) }}</li>
        {% else %}
          <li><a class="btn btn-default btn-xs mrgn-bttm-sm mrgn-rght-sm"
            href="{%- url_for controller='package', action='search',
            subject=choice.value %}">{{
              h.scheming_language_text(choice.label) }}</a></li>
        {% endif %}
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
</ul>
