{# See: https://github.com/wet-boew/cdts-sgdc/blob/v4.1.0/src/gcweb/refFooter.ejs #}
{# NOTE: DOMParser, nonce injection, and re-stringing is necessary for WET Builder to work with CSP header #}
<script nonce="{{- h.get_inline_script_nonce() -}}">
  const wetFooterString = wet.builder.refFooter({
    {% if h.is_registry_domain() and 'is_resource_supported_by_xloader' in h %}
      "isApplication": true,
    {% else %}
      "isApplication": false,
    {% endif %}
  });
  let newWetFooterString = '';
  const wetFooterParser = new DOMParser();
  const wetFooterDOC = wetFooterParser.parseFromString(wetFooterString, 'text/html');
  const wetFooterScripts = wetFooterDOC.querySelectorAll('script');
  wetFooterScripts.forEach(function(_script){
    _script.setAttribute('nonce', '{{- h.get_inline_script_nonce() -}}');
    newWetFooterString += _script.outerHTML;
  });
  const wetFooterStyles = wetFooterDOC.querySelectorAll('style');
  wetFooterStyles.forEach(function(_style){
    _style.setAttribute('nonce', '{{- h.get_inline_script_nonce() -}}');
    newWetFooterString += _style.outerHTML;
  });
  const wetFooterObjLinks = wetFooterDOC.querySelectorAll('link');
  wetFooterObjLinks.forEach(function(_link){
    _link.setAttribute('nonce', '{{- h.get_inline_script_nonce() -}}');
    newWetFooterString += _link.outerHTML;
  });
  document.write(newWetFooterString);
  {% if not h.is_registry_domain() and h.adobe_analytics_js() %}
    function canada_set_adobe_bottom(){
      const maxTries = 20;
      let currentTry = 0;
      let interval = false;

      function _set_adobe_bottom(){
        if( currentTry > maxTries ){
          clearInterval(interval);
          interval = false;
          return;
        }

        currentTry++;

        if( typeof _satellite == 'undefined' || typeof _satellite.pageBottom == 'undefined' ){
          return;
        }

        clearInterval(interval);
        interval = false;
        _satellite.pageBottom();
      }

      interval = setInterval(_set_adobe_bottom, 100);

    }
    canada_set_adobe_bottom();
  {% endif %}
</script>
