{# See: https://github.com/wet-boew/cdts-sgdc/blob/v4.1.0/src/gcweb/refFooter.ejs #}
<script nonce="{{- h.get_inline_script_nonce() -}}">
  const wetFooterString = wet.builder.refFooter({
    {% if g.is_registry %}
      "isApplication": true,
    {% else %}
      "isApplication": false,
      {% if h.adobe_analytics_js() %}
        "webAnalytics": true,
      {% endif %}
    {% endif %}
  });
  const wetFooterParser = new DOMParser();
  const wetFooterDOC = wetFooterParser.parseFromString(wetFooterString, 'text/html');
  const wetFooterScripts = wetFooterDOC.querySelectorAll('script');
  wetFooterScripts.forEach(function(_script){
    document.body.appendChild(_script);
  });
  const wetFooterStyles = wetFooterDOC.querySelectorAll('style');
  wetFooterStyles.forEach(function(_style){
    document.body.appendChild(_style);
  });
  const wetFooterObjLinks = wetFooterDOC.querySelectorAll('link');
  wetFooterObjLinks.forEach(function(_link){
    document.body.appendChild(_link);
  });
</script>
