<script src="{{ h.cdts_asset('/compiled/soyutils.js', theme=False) }}" integrity="sha384-hfwnpowMIP7hDqCMoNULlqSq7k2nu8R7zl+zHfYpNc5iokyd+Gbk5NO5ZdJFCv0o" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}"></script>
<script src="{{ h.cdts_asset('/compiled/wet-' ~ (h.lang() or 'en') ~ '.js', theme=False) }}" integrity="{{- 'sha384-RGMFGZMCJKgVZPBWoH+xj/UlWA8tKt5hnOqKri2Y/NpPeVYzg4+eI1K1NVfkR7VR' if (h.lang() or 'en') == 'en' else 'sha384-uUG0C9gTNvYwZ1GW/xEfNqqs/ZFGBcR6y+yyKSXEWuB3nqCpDelitWilNMGXMwT3' -}}" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}"></script>
{# See: https://github.com/wet-boew/cdts-sgdc/blob/v4.1.0/src/gcweb/refTop.ejs #}
{# NOTE: DOMParser, nonce injection, and re-stringing is necessary for WET Builder to work with CSP header #}
<script nonce="{{- h.get_inline_script_nonce() -}}">
  const wetHeaderString = wet.builder.refTop({
    {% if h.is_registry_domain() %}
      "isApplication": true,
    {% else %}
      "isApplication": false,
      {% if h.adobe_analytics_js() %}
        "webAnalytics": [
          {
            "custom": "{{ h.adobe_analytics_js() }}",
          }
        ],
      {% endif %}
    {% endif %}
  });
  let newWetHeaderString = '';
  const wetHeaderParser = new DOMParser();
  const wetHeaderDOC = wetHeaderParser.parseFromString(wetHeaderString, 'text/html');
  const wetHeaderScripts = wetHeaderDOC.querySelectorAll('script');
  wetHeaderScripts.forEach(function(_script){
    _script.setAttribute('nonce', '{{- h.get_inline_script_nonce() -}}');
    if( _script.id == 'cdts_AnalyticsId' ){
      _script.async = true;
      _script.setAttribute('data-nonce', '{{- h.get_inline_script_nonce() -}}');
    }
    newWetHeaderString += _script.outerHTML;
  });
  const wetHeaderStyles = wetHeaderDOC.querySelectorAll('style');
  wetHeaderStyles.forEach(function(_style){
    _style.setAttribute('nonce', '{{- h.get_inline_script_nonce() -}}');
    newWetHeaderString += _style.outerHTML;
  });
  const wetHeaderObjLinks = wetHeaderDOC.querySelectorAll('link');
  wetHeaderObjLinks.forEach(function(_link){
    _link.setAttribute('nonce', '{{- h.get_inline_script_nonce() -}}');
    newWetHeaderString += _link.outerHTML;
  });
  const wetHeaderMetaTags = wetHeaderDOC.querySelectorAll('meta');
  wetHeaderMetaTags.forEach(function(_meta){
    newWetHeaderString += _meta.outerHTML;
  });
  document.write(newWetHeaderString);
</script>
{# Styles done inline so first paint looks good. #}
<style nonce="{{- h.get_inline_script_nonce() -}}">
  body .app-bar-mb nav#info-pnl{
    display: none !important;
  }
  body .app-bar .row > section{
    width: 0 !important;
    display: none !important;
  }
  body .app-bar nav{
    width: 100% !important;
  }
  body .app-bar nav ul.app-list-account{
    margin-top: 9px !important;
  }
  body .app-bar nav ul.app-list-account > li:first-of-type{
    margin-right: 4.15px !important;
  }
  body div[class^="app-bar"] nav .btn.btn-warning{
    color: #000000;
    background-color: #f2d40d;
    border-color: #917f08;
  }
  body div[class^="app-bar"] nav .btn.btn-warning:hover,
  body div[class^="app-bar"] nav .btn.btn-warning:active,
  body div[class^="app-bar"] nav .btn.btn-warning:focus{
    background-color: #c2aa0a;
  }
  body #cdts-signout-btn,
  body #cdts-signout-btn-mobile,
  body div[class^="app-bar"] nav .btn.btn-danger{
    color: #ffffff;
    background-color: #bc3331;
    border-color: #6b1d1c;
  }
  body #cdts-signout-btn:hover,
  body #cdts-signout-btn:active,
  body #cdts-signout-btn:focus,
  body #cdts-signout-btn-mobile:hover,
  body #cdts-signout-btn-mobile:active,
  body #cdts-signout-btn-mobile:focus,
  body div[class^="app-bar"] nav .btn.btn-danger:hover,
  body div[class^="app-bar"] nav .btn.btn-danger:active,
  body div[class^="app-bar"] nav .btn.btn-danger:focus{
    background-color: #942826;
  }
  .canada-sign-in-context{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    background-color: #E1E4E7;
  }
</style>
