<script src="{{ h.cdts_asset('/compiled/soyutils.js', theme=False) }}"></script>
<script src="{{ h.cdts_asset('/compiled/wet-' ~ (h.lang() or 'en') ~ '.js', theme=False) }}"></script>
{# See: https://github.com/wet-boew/cdts-sgdc/blob/v4.1.0/src/gcweb/refTop.ejs #}
<script>
  //TODO: add Adobe Analytics loading in here with webAnalytics
  document.write(
    wet.builder.refTop({
      "isApplication": true,
    })
  );
</script>
<style>
  #wb-sm{
    background: transparent !important;
    border: none !important;
    border-top: 3px solid #38414d !important;
    font-size: 20px;
    margin-top: 5px;
  }
</style>
