.header-title-box {
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
padding-top: 12px;
}
.header-title-box > h1 {
margin-top: 0;
margin-bottom: 12px;
border-bottom: 1px solid #ccc;
font-size: 30px;
}
ol.breadcrumb {
margin-bottom: 0px;
}
#wb-cont {
font-size: 24px;
}
#wb-info a {
text-decoration: none;
}

#wb-info > .wb-navcurr {
padding-top: 2em;
padding-bottom: 2em;
}
.ftr-urlt-lnk li:before {
content: "\2022";
margin-right: 0.7em;
}
.ftr-urlt-lnk li:first-child:before {
content: none;

}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
border: 1px solid #ddd;
}
.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
border: 1px solid #ddd;
}
.td-center {
text-align: center;
}
.td-full {
width: 100%;
}
.resource-list td {
vertical-align: middle !important;
}
.alert-error,
.label-error,
.label-error[href]:active,
.label-error[href]:focus,
.label-error[href]:hover,
details.alert-error {
    background: #f3e9e8;
    border-color: #d3080c;
    color: #000;
}
.alert-error>:first-child:before {
    color: #d3080c;
    content: "\e101";
}

.list-facets a {
    text-decoration: none;
}

.list-facets a:visited {
    color: #295376;
}

.form-control.select2-container {
    display: block;
}
.form-control.select2-offscreen,
.form-control.select2-offscreen:focus {
    /* Keep original element in the same spot
       So that HTML5 valiation message appear in the correct position */
    left: auto !important;
    top: auto !important;
}

/* DataTables Overrides */
div.dt-button-collection {width:50%;}
div.dt-button-collection a.dt-button {display: inline-block}

.activity {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    background: transparent url('../../../base/images/dotted.png') 14px 0 repeat-y
}

.activity .item {
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    *zoom: 1
}

.activity .item:before,
.activity .item:after {
    display: table;
    content: "";
    line-height: 0
}

.activity .item:after {
    clear: both
}

.activity .item .icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: normal;
    margin-right: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    padding-left: 0px;
}

.activity .item .gravatar {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px
}

.activity .item .actor .gravatar {
    position: absolute;
    top: 0;
    left: 40px
}

.activity .item p {
    font-size: 14px;
    line-height: 1.5;
    margin: 5px 0 0 40px
}

.activity .item .date {
    color: #999;
    font-size: 12px;
    white-space: nowrap
}

.activity .item .new {
    display: block;
    position: absolute;
    overflow: hidden;
    top: -3px;
    left: -3px;
    width: 10px;
    height: 10px;
    background-color: #A35647;
    border: 1px solid #FFF;
    text-indent: -1000px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
}

.activity .item.no-avatar p {
    margin-left: 40px
}

.activity .load-less {
    margin-bottom: 15px
}

.popover {
    width: 300px
}

.popover .popover-title {
    font-weight: bold;
    margin-bottom: 0
}

.popover p.about {
    margin: 0 0 10px 0
}

.popover .popover-close {
    float: right;
    text-decoration: none
}

.popover .popover-content {
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    word-break: break-all
}

.popover .popover-content dl {
    margin: 0
}

.popover .popover-content dl dd {
    margin-left: 0;
    margin-bottom: 10px
}

.activity .item .icon {
    background-color: #999999
}

.activity .item.failure .icon {
    background-color: #b95252
}

.activity .item.success .icon {
    background-color: #69a67a
}

.activity .item.added-tag .icon {
    background-color: #6995a6
}

.activity .item.changed-group .icon {
    background-color: #767dce
}

.activity .item.changed-package .icon {
    background-color: #8c76ce
}

.activity .item.changed-package_extra .icon {
    background-color: #769ace
}

.activity .item.changed-resource .icon {
    background-color: #aa76ce
}

.activity .item.changed-user .icon {
    background-color: #76b8ce
}

.activity .item.changed-organization .icon {
    background-color: #699fa6
}

.activity .item.deleted-group .icon {
    background-color: #b95252
}

.activity .item.deleted-package .icon {
    background-color: #b97452
}

.activity .item.deleted-package_extra .icon {
    background-color: #b95274
}

.activity .item.deleted-resource .icon {
    background-color: #b99752
}

.activity .item.deleted-organization .icon {
    background-color: #b95297
}

.activity .item.new-group .icon {
    background-color: #69a67a
}

.activity .item.new-package .icon {
    background-color: #69a68e
}

.activity .item.new-package_extra .icon {
    background-color: #6ca669
}

.activity .item.new-resource .icon {
    background-color: #81a669
}

.activity .item.new-user .icon {
    background-color: #69a6a3
}

.activity .item.new-organization .icon {
    background-color: #81a669
}

.activity .item.removed-tag .icon {
    background-color: #b95297
}

.activity .item.deleted-related-item .icon {
    background-color: #b9b952
}

.activity .item.follow-dataset .icon {
    background-color: #767dce
}

.activity .item.follow-user .icon {
    background-color: #8c76ce
}

.activity .item.new-related-item .icon {
    background-color: #95a669
}

.activity .item.follow-group .icon {
    background-color: #8ba669
}

footer {
    margin-top: 15px;
}

#quick-links .col-md-6 section {
    padding-left: 12px;
}

#ql-open-data { border-left: solid 3px #088; }
#ql-sug-datasets { border-left: solid 3px #f80; }
#ql-open-dialogue { border-left: solid 3px #f08; }
#ql-open-info { border-left: solid 3px #80f; }
#ql-search { border-left: solid 3px #888; }
#ql-pd { border-left: solid 3px #44f; }

#quick-links .fa-question-circle-o {
    color: lightslategray;
}

.mfp-bg {
    opacity: .50;
}
