{% if c.userobj and c.userobj.sysadmin %}
  {% extends 'admin/base.html' %}
{% else %}
  {% extends 'page.html' %}
{% endif %}

{% block breadcrumb_content %}
  {% if c.userobj and not c.userobj.sysadmin %}
    {{ h.build_nav('user.index', _('Users')) }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block subtitle %}
  {% if c.userobj and not c.userobj.sysadmin %}
    {{ _('Users') }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
    <h2 class="wb-inv">{{ _('Users') }}</h2>
    {% if c.userobj and c.userobj.sysadmin %}
      <a class="btn btn-default mrgn-bttm-lg" href="{{ h.url_for('user.register') }}">{{ _('Create an Account') }}</a>
    {% endif %}
    {% block users_list %}
      {% block users_search %}
        {% snippet 'user/snippets/user_search.html', q=q , sysadmin_view=sysadmin_view%}
      {% endblock %}
      <table style="width:100%">
        <thead>
          <tr>
            <th>{{ _('Username') }}</th>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Role') }}</th>
          </tr>
        </thead>
        <tbody>
        {% block users_list_inner %}
          {% if page.items %}
            {% for user in page.items %}
              {% if user.name %}
                <tr>
                  <td>
                    <a href="{{ h.url_for('user.read', id=user.name) }}">
                      {{ user['name'] }}
                    </a>
                  </td>
                  <td>{{ user['fullname'] or ' ' }}</td>
                  <td>{{ _('Sysadmin') if user[0].sysadmin else _('Member') }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endblock %}
        </tbody>
      </table>
    {% endblock %}
    {% block page_pagination %}
      {% if page.pager %}
        {{ page.pager(q=q or '') }}
      {% endif %}
    {% endblock %}
{% endblock %}

{% block secondary_content %}
  <section class="panel panel-info">
      <header class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-info-circle"></i>
          {{ _('Users') if not sysadmin_view else _("Admins") }}
        </h3>
      </header>
      <div class="panel-body">
        {% if c.userobj and not c.userobj.sysadmin %}
          <p>{{ _("Search and view users.") if not sysadmin_view else _("Search and view admins.") }}</p>
        {% else %}
          <p>{{ _("Search and manage users.") if not sysadmin_view else _("Search and manage admins.") }}</p>
        {% endif %}
      </div>
  </section>
{% endblock %}

{% block scripts %}
  {% snippet 'snippets/wet-boew/footerresources.html' %}
  <script src="{{ h.url_for_static('/static/js/csrf.js?ver=2') }}"></script>
  {% asset 'canada_public/analytics' %}
  {% block adobe_analytics_footer %}
    <script type="text/javascript">if( typeof _satellite !== "undefined" ){ _satellite.pageBottom(); }</script>
  {%- endblock -%}
  {% block google_analytics_footer %}{%- endblock -%}
  {{ super() }}
{% endblock %}

