{% extends 'admin/base.html' %}

{% block primary_content_inner %}
    <h2 class="wb-inv">{{ _('Users') }}</h2>
    {% if c.userobj.sysadmin %}
      <a class="btn btn-default mrgn-bttm-lg" href="{{ h.url_for(controller='user', action='register') }}">{{ _('Create an Account') }}</a>
    {% endif %}
    {% block users_list %}
    {% snippet 'user/snippets/user_search.html', q=q %}
    <table class="wb-tables" data-wb-tables='{"pageLength": 25}' style="width:100%">
      <thead>
        <tr>
          <th>{{ _('Username') }}</th>
          <th>{{ _('Name') }}</th>
          <th>{{ _('Role') }}</th>
        </tr>
      </thead>
      <tbody>
      {% block users_list_inner %}
        {% for user in c.page.items %}
        <tr>
          <td>
            <a href="{{ h.url_for(controller='user', action='read', id=user['name']) }}">
              {{ user['name'] }}
            </a>
          </td>
          <td>{{ user['fullname'] or ' ' }}</td>
          <td>{{ _('Sysadmin') if user[0].sysadmin else _('Member') }}</td>
        </tr>
        {% endfor %}
      {% endblock %}
      </tbody>
    </table>
    {% endblock %}
    {{ c.page.pager(q=q, order_by=order_by) }}
{% endblock %}

{% block scripts %}
  {% snippet 'snippets/wet-boew/footerresources.html' %}
  <script type="text/javascript" src="{{ h.url_for_static('/static/js/googleanalytics_event_tracking.js') }}" ></script>
  {% block adobe_analytics_footer %}
    <script type="text/javascript">_satellite.pageBottom();</script>
  {%- endblock -%}
  {% block google_analytics_footer %}{%- endblock -%}
{% endblock %}
