{% ckan_extends %}

{% block secondary_content %}

  <div class="panel panel-info">
    <div class="panel-heading panel-title">
    {{ _('Need an Account') }}?</div>
    <div class="panel-body">
      <p>{{ _('Then sign right up, it only takes a minute') }}.</p>
      <p class="action">
        <a class="btn btn-primary btn-xs" href="{{ h.url_for(controller='user', action='register') }}" role="button">{{ _('Create an Account') }}</a>
      </p>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading panel-title">
    {{ _('Forgotten your password?') }}</div>
    <div class="panel-body">
      <p>{{ _('No problem, use our password recovery form to reset it') }}.</p>
      <p>
        <a class="btn btn-warning btn-xs" href="{{ h.url_for(controller='user', action='request_reset') }}" role="button">{{ _('Reset password') }}</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block primary_content %}
  <div class="panel">

      {% if h.lang() == 'en' %}
<h2>Welcome to the Government of Canada Open Information Portal Registry</h2>

<p>
Use the Registry to publish metadata to the
<a href="http://open.canada.ca/vl/en/doc?q=">Open
Information Portal</a>
</p>

<p>
For more information on using the Registry or to report
any errors, contact open-ouvert@tbs-sct.gc.ca. Please
note that your log in information for your account for the
Open Data Registry can be used here.
</p>
      {% else %}
<h2>Bienvenue au Portail d’information ouverte du gouvernement du Canada</h2>

<p>
Servez-vous du registre pour publier des métadonnées dans le
<a href="http://ouvert.canada.ca/vl/fr/doc?q=">Portail d’information ouverte</a>
</p>

<p>
Pour obtenir de plus amples renseignements au sujet
de l’utilisation du registre ou pour signaler une erreur,
écrivez à open-ouvert@tbs-sct.gc.ca.  Veuillez prendre
note que les données de connexion associées à votre compte
du Registre de données ouvertes peuvent être utilisées ici.
</p>
{#
        <h2>Welcome to the Government of Canada Open Data Portal Registry</h2>
        <p>
          Use the Registry to publish metadata to the <a href="http://data.gc.ca/">GC Open Data Portal</a> <br/>
          Before publishing metadata for a dataset, ensure that the dataset meets the criteria listed in the <a href="/guidelines">Guidelines</a>. For more information on using the Registry or to report any
          errors, contact open-ouvert@tbs-sct.gc.ca
        </p>
        <blockquote>
          <p>
            The Open Data Registry has changed platforms, <em>old logins used for the previous registry are no longer valid</em>. 
            In order to modify an existing dataset or add a new one, you will need to register for a new account. 
          </p>
        </blockquote>
      {% else %}
        <h2>Bienvenue au Portail de données ouvertes du Gouvernement du Canada</h2>
        <p> Utilisez le Registre pour publier les métadonnées sur <a href="http://data.gc.ca">le Portail de données ouvertes du GC</a>. <br/>
          Avant de publier les métadonnées associés à un ensemble de données, assurez-vous que votre ensemble de données rencontre les critères listés sur <a href="/guidelines">la page Lignes directrices</a>. Pour plus d'information sur l'utilisation du registre ou pour nous aviser d'une erreur : Contactez-nous a open-ouvert@tbs-sct.gc.ca
        </p>
        <blockquote>
          <p>
            Le Registre de données ouvertes a migré sous une nouvelle platforme. <em>Les comptes de l’ancien registre ne sont plus valables.</em> 
            Pour modifier ou créer des ensembles de données, vous devrez vous inscrire pour un nouveau compte.
          </p>
        </blockquote>
#}
      {% endif %}

      {% block form %}
        {{ super() }}
      {% endblock %}

      <div class="text-info">
      {% if h.lang() == 'en' %}
      NOTE: Username and password are case sensitive.
      {% else %}
      NOTE: Le nom d'utilisateur et mot de passe sont sensibles à la casse.
      {% endif %}
      </div>

  </div>
{% endblock %}
