{% ckan_extends %}

{% block secondary_content %}
  <section class="module module-info span-2">
    <h2 class="module-heading">{{ _('Need an Account') }}?</h2>
    <div class="module-content">
      <p>{{ _('Then sign right up, it only takes a minute') }}.</p>
      <p class="action">
        <a class="button button-info" href="{{ h.url_for(controller='user', action='register') }}">{{ _('Create an Account') }}</a>
      </p>
    </div>
  </section>

  <section class="module module-attention span-2">
    <h2 class="module-heading">{{ _('Forgotten your password?') }}</h2>
    <div class="module-content">
      <p>{{ _('No problem, use our password recovery form to reset it') }}.</p>
      <p class="action">
        <a class="button button-attention" href="{{ h.url_for(controller='user', action='request_reset') }}">{{ _('Forgotten your password?') }}</a>
      </p>
    </div>
  </section>
{% endblock %}

{% block primary_content %}
  <section class="module-poster">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Log in') }}</h1>
      
      {% if h.lang() == 'en' %}
        <h2>Welcome to the Government of Canada Open Data Portal Registry</h2>
        <p>
          Use the Registry to publish metadata to the <a href="http://data.gc.ca/">GC Open Data Portal</a> <br/>
          Before publishing metadata for a dataset, ensure that the dataset meets the criteria listed in the <a href="/guidelines">Guidelines</a>. For more information on using the Registry or to report any
          errors, contact open-ouvert@tbs-sct.gc.ca
        </p>
        <blockquote>
          <p>
            The Open Data Registry has changed platforms, <em>old logins used for the previous registry are no longer valid</em>. 
            In order to modify an existing dataset or add a new one, you will need to {% link_for _('register'), controller='ckanext.canada.controller:CanadaController', action='view_new_user' %} for a new account. 
          </p>
        </blockquote>
      {% else %}
        <h2>Bienvenue au Portail de données ouvertes du Gouvernement du Canada</h2>
        <p> Utilisez le Registre pour publier les métadonnées sur <a href="http://data.gc.ca">le Portail de données ouvertes du GC</a>. <br/>
          Avant de publier les métadonnées associés à un ensemble de données, assurez-vous que votre ensemble de données rencontre les critères listés sur <a href="/guidelines">la page Lignes directrices</a>. Pour plus d'information sur l'utilisation du registre ou pour nous aviser d'une erreur : Contactez-nous a open-ouvert@tbs-sct.gc.ca
        </p>
        <blockquote>
          <p>
            Le Registre de données ouvertes a migré sous une nouvelle platforme. <em>Les comptes de l’ancien registre ne sont plus valables.</em> 
            Pour modifier ou créer des ensembles de données, vous devrez vous {% link_for _('inscrire'), controller='ckanext.canada.controller:CanadaController', action='view_new_user' %} pour un nouveau compte.
          </p>
        </blockquote>
      {% endif %}
      
      {% block form %}
        {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
      {% endblock %}

      <div class="color-accent">
      {% if h.lang() == 'en' %}
      NOTE: Username and password are case sensitive.
      {% else %}
      NOTE: Le nom d'utilisateur et mot de passe sont sensibles à la casse.
      {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
