{% ckan_extends %}

{% block subtitle %}{% block page_heading %}{{ _('Register for an Account') }}{% endblock %}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Registration'), controller='user', action='register') }}</li>
{% endblock %}

{% block primary_content %}

  <div class="row col-md-12">
    {{ c.form | safe }}
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="panel panel-info">
    <div class="panel-heading">{{ _('Why Sign Up?') }}</div>
    <div class="panel-body">
      <p>{% trans %}An active account linked to your organization is required in order to create or modify records in the registry.{% endtrans %}</p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">{{ _('Next Step...') }}</div>
    <div class="panel-body">
      <p>{% trans %}Once an account is created you will receive an email confirming your request. Next, the Administrator will link your account to your Organization and send you a notification. At this point, you can start adding records to the Registry.{% endtrans %}</p>
    </div>
  </div>
{% endblock %}

{%- block scripts %}
  {{ super() }}
    <script src="{{ h.url_for_static('base/javascript/plugins/jquery.proxy-all.js') }}"></script>
    <script src="{{ h.url_for_static('base/javascript/plugins/jquery.inherit.js') }}"></script>
    <script src="{{ h.url_for_static('base/vendor/jed.min.js') }}"></script>
    <script src="{{ h.url_for_static('base/vendor/select2/select2.min.js') }}"></script>

    <script src="{{ h.url_for_static('base/javascript/sandbox.js') }}"></script>
    <script src="{{ h.url_for_static('base/javascript/module.js') }}"></script>
    <script src="{{ h.url_for_static('base/javascript/pubsub.js') }}"></script>
    <script src="{{ h.url_for_static('base/javascript/client.js') }}"></script>
    <script src="{{ h.url_for_static('base/javascript/notify.js') }}"></script>
    <script src="{{ h.url_for_static('base/javascript/i18n.js') }}"></script>
    <script src="{{ h.url_for_static('base/javascript/main.js') }}"></script>
  <script src="{{ h.url_for_static('base/javascript/modules/autocomplete.js') }}"></script>
{% endblock %}

{% block custom_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ h.url_for_static('base/vendor/select2/select2.css') }}" />
    <link rel="stylesheet" href="{{ h.url_for_static('base/vendor/select2/select2-bootstrap.css') }}" />
{% endblock %}
