{% ckan_extends %}

{% block primary_content %}
  <article class="module-poster">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Register for an Account') }}</h1>
      <div class="module-attention">
        <p> This note will be to inform the user that after they register they will not be able to add a dataset until they have been granted privileges by the administrator. Waiting for English/French text.</p>
      </div>
      {{ c.form | safe }}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}

{% endblock %}
