{% ckan_extends %}

{% block subtitle %}{% block page_heading %}{{ _('Register for an Account') }}{% endblock %}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Registration'), controller='user', action='register') }}</li>
{% endblock %}

{% block primary_content %}

  <div class="row col-md-12">
    {{ c.form | safe }}
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="panel panel-info">
    <div class="panel-heading">{{ _('Why Sign Up?') }}</div>
    <div class="panel-body">
      <p>{% trans %}An active account linked to your department is required to create or modify datasets in the registry.{% endtrans %}</p>
    </div>
  </div>
{% endblock %}
