A new account has been created in the Open Government registry. The account information is as follows:
Username:   {{ username }}
Email:      {{ email }}
Phone:      {{ phoneno }}
Department: {{ dept }}

To complete the registration, access the registry and link the account to their department.

Un nouveau compte a été créé dans le registre de Gouvernement ouvert. Les renseignements concernant le compte sont les suivants :
Nom d’utilisateur :     {{ username }}
Adresse électronique :  {{ email }}
Téléphone :             {{ phoneno }}
Ministère :             {{ dept }}

Pour compléter l’inscription, veuillez accéder au registre et relier le compte à son ministère.
