A new account has been created in the data.gc.ca registry. The account information is as follows:
Username: 	{{ nu_username }}
Email:		  {{ nu_email }}
Phone:		  {{ nu_phoneno }}
Department:	{{ nu_dept }}

To complete the registration, access the registry and link the account to their department.

Un nouveau compte a été créé dans le registre de donnees.gc.ca. Les renseignements concernant le compte sont les suivants :
Nom d’utilisateur : 	  {{ c.nu_username }}
Adresse électronique :	{{ c.nu_email }}
Téléphone :		          {{ c.nu_phoneno }}
Ministère :		          {{ c.nu_dept }}

Pour compléter l’inscription, veuillez accéder au registre et relier le compte à son ministère.
