{% import 'macros/form.html' as form %}

<form role="form" action="" method="post">
  {{ form.errors(error_summary) }}
  {% call form.input("name", id="field-username", label=_("Username"), placeholder="username", value=data.name, error=errors.name)  %}
    {{ form.info(_('Use only lowercase letters (a-z) and numbers (0-9) with optional hyphens (-) and underscores (_)')) }}
  {% endcall %}
  {{ form.input("fullname", id="field-fullname", label=_("Full Name"), placeholder="Joe Bloggs", value=data.fullname, error=errors.fullname) }}
  {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder="joe.bloggs@tbs-sct.gc.ca", value=data.email, error=errors.email) }}
  {{ form.input("department", id="field-department", label=_("Department"), placeholder="Treasury Board Secretariat", value=data.department, error=errors.department) }}
  {{ form.input("phoneno", id="field-phoneno", label=_("Phone Number"), placeholder="000 000 0000", value=data.phoneno, error=errors.phoneno, classes=["control-medium"]) }}
  {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder="••••••••", value=data.password1, error=errors.password1) }}
  {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", placeholder="••••••••", value=data.password2, error=errors.password1) }}
  <div class="form-group">
    <button class="btn btn-primary" type="submit" name="save">{{ _("Create Account") }}</button>
  </div>
</form>
