{% ckan_extends %}

{% block primary_content %}
<div class="row">
  <div class="col-md-12">
    <section class="alert alert-info">
      <p>
        {{ h.render_markdown(_(
'1. Passwords must contain characters from at least 3 of the following 4 classes:\n'
'    * Upper Case Letters: A, B, C, … Z\n'
'    * Lower Case Letters: a, b, c, … z\n'
'    * Westernised Arabic Numerals: 0, 1, 2, … 9\n'
'    * Special characters: ({}[],.<>;:\'"?/|\\`~!@#$%%^&*()_-+=).\n'
'2. No accented characters are permitted.\n'
'3. All passwords must be at least 8 characters long.\n')) }}
      </p>
    </section>
    <section>
      {% block primary_content_inner %}
      <div class="module-content">
        {% block form %}
          {{ super() }}
        {% endblock %}
      </div>
      {% endblock %}
    </section>
  </div>
</div>
{% endblock %}
