{% ckan_extends %}
{% import 'macros/canada_read.html' as cr %}

{% block breadcrumb_content %}
  {{ h.build_nav('user.index', _('Users')) }}
  {{ h.build_nav('user.read', user.display_name|truncate(35), id=user.name) }}
{% endblock %}

{% block content_primary_nav %}
  {{ super () }}
  {% if h.check_access('user_update', {'id': user.name}) %}
    {{ h.build_nav_icon('user.edit', _('Edit User'), id=user.name) }}
  {% endif %}
{% endblock %}

{%- block user_info -%}
  {{ super() }}
  <div class="info mrgn-tp-md">
      {% if h.user_organizations(user) %}
      <dl>
        <dt>{{ _('Organizations') }}</dt>
        <dd><ul>
          {% for org in h.user_organizations(user) %}
            {% set url = h.url_for(org.type ~ '_read', action='read', id=org.name) %}
            <li><a href="{{ url }}">{{cr.split_bilingual_field(org.title, h.lang())}}</a></li>
          {% endfor %}
        </ul></dd>
      </dl>
      {% endif %}
  </div>
{%- endblock -%}
