(Le français suit)
Hello {{ fullname }}

Thank you for registering with the Open Government Registry. Your account has been successfully created. 
You will receive an email from our team detailing your username and temporary password. It is important to update this password upon your first log in, using the “edit profile” function. 
For information on how to use the Open Government Registry, visit our [GCconnex] page for information resources.

The Open Government Registry Team

[GCconnex]: https://gcconnex.gc.ca/file/group/24670219/all#33289464

……………………………………………………………………………………………………………………………………………………

Bonjour {{ fullname }},

Merci de vous être inscrit au Registre du gouvernement ouvert. Votre compte a été créé avec succès. 
Vous recevrez un courriel de notre équipe indiquant votre nom d’utilisateur et votre mot de passe temporaire. Il est important de mettre à jour ce mot de passe dès l’ouverture de votre première session, en utilisant la fonction « Modifier le profil ». 
Pour savoir comment utiliser le Registre du gouvernement ouvert, visitez notre page [GCconnex] pour obtenir des ressources documentaires.

L'équipe de la Registre de Gouvernement Ouvert

[GCconnex]: https://gcconnex.gc.ca/file/group/24670219/all#33289464
