(Le français suit)
Hello {{ fullname }}
Thank you for registering with the Open Government Registry. Your account has been successfully created.
Although your account is active, you will not be able to add, modify or delete records in the registry until your account is linked to your organization. A request has been submitted to a User Administrator to perform the link. You will receive a confirmation email within the next business day, once the account activation is completed.
If you require assistance or faster activation of the account, please send the request directly to open-ouvert@tbs-sct.gc.ca.
The Open Government Registry Team

……………………………………………………………………………………………………………………………………………………

Bonjour {{ fullname }}, 
Merci pour votre enregistrement avec le Registre de gouvernement ouvert. Votre compte a été créé avec succès.
Bien que votre compte soit actif, vous ne serez pas en mesure d'ajouter, modifier ou supprimer des enregistrements dans le registre jusqu'à ce que votre compte soit lié à votre organisation. Votre demande a été soumise à l'administrateur pour effectuer le lien. Vous recevrez un email de confirmation dans le prochain jour ouvrable, une fois l'activation du compte est terminée. 
Si vous avez besoin d'aide, ou vous désirez une activation rapide de votre compte, veuillez communiquer avec open-ouvert@tbs-sct.gc.ca.
L'équipe de la Registre de Gouvernement Ouvert
