(Le français suit)
Hello {{ fullname }}

Thank you for registering with the Open Government Registry. Your account has been successfully created. 
Although your account is active, it has not yet been linked to your department. Until the account is linked to your department you will not be able to create or modify datasets in the registry.
For information on how to use the Open Government Registry, visit our [GCconnex] page for information resources.

The Open Government Registry Team

[GCconnex]: https://gcconnex.gc.ca/file/group/24670219/all#33289464

……………………………………………………………………………………………………………………………………………………

Bonjour {{ fullname }},

Merci de vous être inscrit au Registre du gouvernement ouvert. Votre compte a été créé avec succès. 
Même si votre compte est actif, il n’est pas encore relié à votre ministère. Vous ne pourrez créer ou modifier de jeux de données dans le registre tant que votre compte n’aura pas été relié à votre ministère.
Pour savoir comment utiliser le Registre du gouvernement ouvert, visitez notre page [GCconnex] pour obtenir des ressources documentaires.

L'équipe de la Registre de Gouvernement Ouvert

[GCconnex]: https://gcconnex.gc.ca/file/group/24670219/all#33289464
