{% ckan_extends %}
{% block custom_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ h.url_for_static('base/vendor/select2/select2.css') }}" />
    <link rel="stylesheet" href="{{ h.url_for_static('base/vendor/select2/select2-bootstrap.css') }}" />
{% endblock %}

{% block form %}
  <form class="dataset-form add-member-form" method='post'>
    <div class="row-fluid">
      <div class="form-group">
        <label class="control-label" for="username">
          {{ _('Existing User') }}
        </label>
        {% if not user %}
          <p class="help-block">
            {{ _('If you wish to add an existing user, search for their username below.') }}
          </p>
        {% endif %}
        {% if user %}
          <input type="hidden" name="username" value="{{ user.name }}" />
          <input id="username" name="username" type="text" value="{{ user.name }}"
          disabled="True" class="control-medium form-control">
        {% else %}
           <input id="username" type="text" name="username" placeholder="{{ _('Username') }}"
          value="" class="control-medium form-control" data-module="autocomplete"
          data-module-source="/api/2/util/user/autocomplete?q=?">
        {% endif %}
      </div>
      {% if not user %}
        <div class="add-member-or">
          {{ _('or') }}
        </div>
        <div class="control-group control-medium">
          <label class="control-label" for="email">
            {{ _('New User') }}
          </label>
          <span>
            {{ _('If you wish to invite a new user, enter their email address.') }}
          </span>
          <div class="controls">
            <input id="email" type="email" name="email" placeholder="{{ _('Email address') }}" >
          </div>
        </div>
      {% endif %}
      <div class="form-group">
        <label for="role">
          {{ _('Role') }}
        </label>
        <p class="help-block">
          {{ _('Select the role this user should have within this organization.') }}
        </p>
        <select id="role" name="role" class="form-control" data-module="autocomplete">
          {% for role in c.roles %}
          <option value="{{ role['value'] }}">
            {{ role['text'] }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-actions">
      {% if user %}
        {% set locale = h.dump_json({'content': _('Are you sure you want to delete this member?')}) %}
        <a href="{% url_for controller='organization', action='member_delete', id=c.group_dict.id, user=user.id %}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Delete') }}</a>
        <button class="btn btn-primary" type="submit" name="submit" >
          {{ _('Update Member') }}
        </button>
      {% else %}
        <button class="btn btn-primary" type="submit" name="submit" >
          {{ _('Add Member') }}
        </button>
      {% endif %}
    </div>
  </form>
{% endblock %}
