:root{
  --canada-root-dir: '/';
}

.header-title-box {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 12px;
}
.header-title-box > h1 {
  margin-top: 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #ccc;
  font-size: 30px;
}
ol.breadcrumb {
  margin-bottom: 0px;
}
.breadcrumb li:last-child a {
  background: transparent !important;
  color: black;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

#wb-info a {
  text-decoration: none;
}

#wb-info > .wb-navcurr {
  padding-top: 2em;
  padding-bottom: 2em;
}
.ftr-urlt-lnk li:before {
  content: "\2022";
  margin-right: 0.7em;
}
.ftr-urlt-lnk li:first-child:before {
  content: none;

}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border: 1px solid #ddd;
}
.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
  border: 1px solid #ddd;
}
.td-center {
  text-align: center;
}
.td-full {
  width: 100%;
}
.resource-list td {
  vertical-align: middle !important;
}
.alert-error,
.label-error,
.label-error[href]:active,
.label-error[href]:focus,
.label-error[href]:hover,
details.alert-error {
  background: #f3e9e8;
  border-color: #d3080c;
  color: #000;
}
.alert-error>:first-child:before {
  color: #d3080c;
  content: "\e101";
}

.list-facets a {
  text-decoration: none;
}

.list-facets a:visited {
  color: #295376;
}

.form-control.select2-container {
  display: contents;
}
.form-control.select2-offscreen,
.form-control.select2-offscreen:focus {
  /* Keep original element in the same spot
      So that HTML5 validation message appear in the correct position */
  left: auto !important;
  top: auto !important;
}

/* DataTables Overrides */
div.dt-button-collection {width:50%;}
div.dt-button-collection a.dt-button {display: inline-block}

.popover {
  width: 300px
}

.popover .popover-title {
  font-weight: bold;
  margin-bottom: 0
}

.popover p.about {
  margin: 0 0 10px 0
}

.popover .popover-close {
  float: right;
  text-decoration: none
}

.popover .popover-content {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  word-break: break-all
}

.popover .popover-content dl {
  margin: 0
}

.popover .popover-content dl dd {
  margin-left: 0;
  margin-bottom: 10px
}

footer {
  margin-top: 15px;
}

.page-header .nav-tabs li.active a {
  background-color: #335075;
  color: #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #335075;
}

/* The styling below hides the native sort buttons provided by Datatables */
table#dtprv thead .sorting,
table#dtprv thead .sorting_asc,
table#dtprv thead .sorting_desc {
  background-image: none;
}

#menu-bar {
  background-color: #256EB8;
  margin-bottom: 15px;
}
.topnav {
  overflow: hidden;
  width: 100%;
  display: table;
}

.topnav > a {
  display: table-cell;
  vertical-align: middle;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  border-left: 1px solid rgb(153,153,153);
  text-shadow: 1px 1px 1px #222;
}

.topnav > a:nth-last-child(2) {
  border-right: 1px solid rgb(153,153,153);
}

.topnav .icon {
  display: none;
}

.dropdown-new {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.dropdown-new .dropbtn {
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  padding: 17px;
  background-color: #256EB8;
  font-family: inherit;
  margin: 0;
  border-left: 1px solid rgb(153,153,153);
  text-shadow: 1px 1px 1px #222;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
}

.topnav a:hover, .dropdown-new:hover .dropbtn,
.topnav a:focus, .dropdown-new:focus .dropbtn {
  background-color: #335075;
  color: white;
}

.topnav a:focus, .dropdown-new .dropbtn:focus {
  outline: 5px auto black;
  outline-offset: -2px;
}


.dropdown-content a:hover {
  background-color: #335075;
  color: white;
}

.dropdown-new:hover .dropdown-content{
  display: block;
}

.show {display:block;}

@media screen and (max-width: 600px) {
  .topnav {
    display: block;
    width: auto;
  }
  .topnav a {
    float: left;
    display: block;
    vertical-align: baseline;
    border-left: none;
  }
  .topnav > a:nth-last-child(2) {
    border-right: none;
  }
  .dropdown-new {
    display: block;
    vertical-align: baseline;
  }
  .dropdown-new .dropbtn {
    width: auto;
    border-left: none;
  }

  .dropdown-content a {
    padding: 8px 12px;
  }
  .topnav a:not(:first-child), .dropdown-new .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  #menu-bar .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown-new {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown-new .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

#quick-links .col-md-6 section {
  padding-left: 12px;
}

#quick-links h2 { margin-top: 11.5px; }
#quick-links section { margin-bottom: 11.5px; }

#ql-open-data { border-left: solid 3px #088; border-top: solid 1px #ddd; }
#ql-open-data i { color: #088; margin-right: 10px; }
#mn-open-data { border-left: solid 6px #088; }
#open-data i { color: #088; }

#ql-sug-datasets { border-left: solid 3px #f80; border-top: solid 1px #ddd; }
#ql-sug-datasets i { color: #f88; margin-right: 10px; }
#mn-sug-datasets { border-left: solid 6px #f80; }

#ql-open-dialogue { border-left: solid 3px #f08; border-top: solid 1px #ddd; }
#ql-open-dialogue i { color: #f08; margin-right: 10px; }
#mn-open-dialogue { border-left: solid 6px #f08; }
#open-dialogue i { color: #f08; }
ul#brf-pkg { padding-left: 0; }
#brf-pkg li { list-style: none; }

#ql-open-info { border-left: solid 3px #80f; border-top: solid 1px #ddd; }
#ql-open-info i { color: #80f; margin-right: 10px; }
#mn-open-info { border-left: solid 6px #80f; }

#ql-search { border-left: solid 3px #888; border-top: solid 1px #ddd; }
#ql-search i { color: #888; margin-right: 10px; }
#mn-search { border-left: solid 6px #888; }

#ql-pd { border-left: solid 3px #44a; border-top: solid 1px #ddd; }
#ql-pd i { color: #44a; margin-right: 10px; }
#mn-pd { border-left: solid 6px #44a; }
#pd i { color: #44a; }

.label.dataset-private { display: none; }

#quick-links .fa-question-circle-o {
  color: lightslategray;
}

.mfp-bg {
  opacity: .50;
}

.gcweb-menu [role=menu] [role=menu] {
  background-color: #fff;
  min-height: 488px;
}

.gcweb-menu [role=menu] {
  background-color: #26374a;
}

.gcweb-menu [role=menuitem]:focus {
  background-color: #fff;
  color: #333;
}


.gcweb-menu button[aria-haspopup=true] {
  background-color: #26374a;
  border: 1px solid #26374a;
}

.gcweb-menu button[aria-haspopup=true]:hover, .gcweb-menu button[aria-haspopup=true][aria-expanded=true] {
  background-color: #26374a;
  color: #fff;
}

.gcweb-menu [role=menu] [role=menu] [role=menu] li [role=menuitem] {
  font-weight: 400;
}

.gcweb-menu i {
  margin-right: 10px;
}

#usr-logged ul{
  text-align: right;
  margin-top: 18px;
}

@media screen and (min-width: 995px) {
  #user_nav {
    margin-top: -57px;
  }
}

.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th {
  background-color: #fff;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  position: relative;
  margin-left: 0;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#confirm-contact-email .modal-dialog{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 80%;
}

@media all and (max-width: 768px){
  #confirm-contact-email .modal-dialog{
    min-width: 80%;
    max-width: 80%;
    width: 80%;
  }
}

.nav-item.active > a span, .nav-aside li.active a span {
  white-space: inherit;
}

.scheming-subfield-group-panel-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.dataset-alert {

  clear: both;
  margin-top: 23px;

}

div.resource-upload-field label#resource-menu-label::before,
div.resource-upload-field label[for="field-resource-upload"]::before,
div.resource-upload-field label[for="field-resource-url"]::before,
div.resource-upload-field .upload-type > label.control-label::before{
  content: "*";
  color: #c6898b;
  margin-right: 2.5px;
}
.form-group .info-block {
  padding: 0;
  font-size: small;
  color: #2572b4;
}
label.control-label:has(span.control-required):after {
  content: "(required)";
  display: inline;
  color: #e00;
  vertical-align: baseline;
  margin-left: 4px;
  background-image: none;
}
label.control-label:has(span.control-required):lang(fr):after {
  content: "(requis)";
}
label:lang(fr):after {
  content: " :";
}
.control-required {
  color: #e00;
}
.stages li.active:after {
  border-top-color: #EDEDED;
  border-bottom-color: #EDEDED;
  border-right-color: #284162;
  z-index: -1;
}
.border-0 {
    border: 0 !important;
}

.stages li.complete .highlight {
  color: #aeaeae;
  background: #EDEDED;
}

.stages li.complete:before {
  color: #aeaeae;
  background: white;
}

.stages li.active:after {
  border-top-color: #284162;
  border-bottom-color: #284162;
  border-right-color: #284162;
}
.stages li.active:after {
  border-top-color: #EDEDED;
  border-bottom-color: #EDEDED;
}
.stages li.complete:after {
  border-top-color: #EDEDED;
  border-bottom-color: #EDEDED;
}
li.nav-item.justify-content-between.position-relative:hover {
  background-color: #eee;
}

.canada-select2-field-wrapper div.select2-container{
  padding: 0 !important;
  border: none !important;
  position: relative;
}

.canada-select2-field-wrapper div.select2-container::after{
  content: '\f142';
  font-family: 'FontAwesome';
  font-weight: 900;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #333333 !important;
  pointer-events: none !important;
}

.canada-select2-field-wrapper div.select2-container ul.select2-choices{
  padding-right: 15px !important;
}

/*#####################
## DataStore Buttons ##
#######################*/
form.canada-xloader-delete-form{
  position: relative;
  display: inline-block;
  margin-bottom: 10px !important;
  min-height: 40px;
  float: left;
}
form.datapusher-form{
  position: relative;
  display: inline-block;
  margin-bottom: 10px !important;
  min-height: 40px;
  float: left;
}
div.canada-datastore-button-fix{
  height: 55px;
}
@media all and (max-width: 768px){
  div.canada-datastore-button-fix{
    height: 65px;
  }
}
/*#####################
##        END        ##
## DataStore Buttons ##
##        END        ##
#######################*/


/*############################
##  CKAN Base CSS Overrides ##
##############################*/
body ul.xloader-log li.item{
  position: relative;
}
body ul.xloader-log li.item > i{
  background-color: white !important;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  outline: 4px solid #999999;
  height: 34px !important;
  width: 34px !important;
  padding: 0;
  margin: 0;
  line-height: 1 !important;
  text-align: initial !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
body ul.xloader-log li.item > i::before{
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent !important;
  color: white !important;
  z-index: 2;
}
body ul.xloader-log li.item > i::after{
  content: '';
  background-color: #999999 !important;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body ul.xloader-log li.item.success > i{
  outline-color: #69A67A !important;
}
body ul.xloader-log li.item.success > i::after{
  background-color: #69A67A !important;
}
body ul.xloader-log li.item.failure > i{
  outline-color: #B95252 !important;
}
body ul.xloader-log li.item.failure > i::after{
  background-color: #B95252 !important;
}
#s2id_field-department,
#s2id_field-organizations{
  min-height: 37px !important;
}
#s2id_field-department.select2-container,
#s2id_field-organizations.select2-container{
  vertical-align: initial !important;
  width: 100% !important;
}
#s2id_field-department.select2-container,
#s2id_field-department.select2-container .select2-choice,
#s2id_field-department.select2-container .select2-chosen,
#s2id_field-organizations.select2-container,
#s2id_field-organizations.select2-container .select2-choice,
#s2id_field-organizations.select2-container .select2-chosen{
  height: 100% !important;
}
#s2id_field-department.select2-container .select2-choice,
#s2id_field-organizations.select2-container .select2-choice{
  font-size: 16px !important;
  line-height: 1.4375 !important;
  padding: 6px 12px !important;
}
#s2id_field-department.select2-container .select2-arrow b,
#s2id_field-organizations.select2-container .select2-arrow b{
  background-position-y: -100%;
}
.s2id_field-organizations_wrapper{
  margin-bottom: 0 !important;
}
.s2id_field-organizations_wrapper .error-block{
  margin-top: -8px;
  padding-top: 8px !important;
}
/*###########################
##           END           ##
##  CKAN Base CSS Overrides##
##           END           ##
#############################*/


/*####################################
##  Recombinant Base CSS Overrides  ##
######################################*/
@keyframes fade-opacity-in{
  from{
    opacity: 0;
    pointer-events: none;
  }
  to{
    opacity: 1;
    pointer-events: all;
  }
}
.canada-pd-org-select-wrapper > .module-content.canada-no-marg{
  margin-top: 0 !important;
}
.canada-pd-org-select-wrapper .recombinant-org-select-container{
  display: flex !important;
  width: 100% !important;
  flex-wrap: nowrap !important;
  flex-direction: row;
  min-height: 38px;
  max-height: 38px;
  height: 38px;
}
.canada-pd-org-select-wrapper .recombinant-org-select-label-wrapper{
  display: block;
  flex: 0;
  padding-left: 15px !important;
  white-space: nowrap;
}
.canada-pd-org-select-wrapper .recombinant-org-select-label-wrapper label{
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
  border-radius: 0 !important;
  border: none !important;
  margin: 0 !important;
  transition-duration: 0.325s !important;
  color: #295376 !important;
}
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper{
  display: flex;
  flex: 1;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  animation: fade-opacity-in 0.5s ease-in 1s 1 normal forwards;
}
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .select2-container,
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .recombinant-org-select1-wrapper select{
  vertical-align: initial !important;
  flex: 1;
  width: auto !important;
}
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .select2-container,
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .select2-container .select2-choice,
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .select2-container .select2-chosen,
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .recombinant-org-select1-wrapper select{
  height: 100% !important;
  border-radius: 0 !important;
}
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .select2-container .select2-choice,
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .recombinant-org-select1-wrapper select{
  background: #335075 !important;
  border-color: #335075 !important;
  box-shadow: none !important;
}
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .select2-container .select2-chosen{
  vertical-align: middle;
  display: inline-block;
  width: 95%;
  height: initial !important;
  overflow: visible !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
  border-radius: 0 !important;
  border: none !important;
  margin: 0 !important;
  margin-top: 4px !important;
  transition-duration: 0.325s !important;
  color: white !important;
}
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .recombinant-org-select1-wrapper{
  width: 100% !important;
}
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .recombinant-org-select1-wrapper select{
  color: white !important;
  width: 100% !important;
}
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .select2-container .select2-arrow{
  border-radius: 0 !important;
  background: #335075 !important;
  border-color: #335075 !important;
}
.canada-pd-org-select-wrapper .recombinant-org-select-wrapper .select2-container .select2-arrow b{
  background-position-y: -100%;
  color: white !important;
  border-color: white !important;
  background-image: url("/data/static/img/select2x2_white.png") !important;
}
.recombinant-action-panels-container .tabpanels > details{
  padding: 0 20px 20px 20px !important;
}
/*###################################
##               END               ##
##  Recombinant Base CSS Overrides ##
##               END               ##
#####################################*/

input#field-resource-url{
  padding-right: 100px !important;
}


/*######################################
##    TODO: DEPRECATED:               ##
## REMOVE AFTER FULL PD DATATABLES QA ##
##   PD DataTable CSS Overrides       ##
##    TODO: DEPRECATED:               ##
## REMOVE AFTER FULL PD DATATABLES QA ##
########################################*/
.canada-wet-datatable-btn-primary{
  color: white !important;
  background: #26374a !important;
  border-color: #1d2a39 !important;
  transition-duration: 0.325s !important;
}
.canada-wet-datatable-btn-primary.disabled{
  color: white !important;
  background: #adc0d5 !important;
  border-color: #9cb3cd !important;
}
.canada-wet-datatable-btn-primary:not(.disabled):hover,
.canada-wet-datatable-btn-primary:not(.disabled):active,
.canada-wet-datatable-btn-primary:not(.disabled):focus{
  background: #1c578a !important;
  border-color: #091c2d !important;
}
.canada-wet-datatable-btn-danger{
  color: white !important;
  background: #bc3331 !important;
  border-color: #6b1d1c !important;
  transition-duration: 0.325s !important;
}
.canada-wet-datatable-btn-danger.disabled{
  color: white !important;
  background: #ebb3b2 !important;
  border-color: #e6a1a0 !important;
}
.canada-wet-datatable-btn-danger:not(.disabled):hover,
.canada-wet-datatable-btn-danger:not(.disabled):active,
.canada-wet-datatable-btn-danger:not(.disabled):focus{
  background: #942826 !important;
  border-color: #3b100f !important;
}
/*######################################
##               END                  ##
##    TODO: DEPRECATED:               ##
## REMOVE AFTER FULL PD DATATABLES QA ##
##   PD DataTable CSS Overrides       ##
##    TODO: DEPRECATED:               ##
## REMOVE AFTER FULL PD DATATABLES QA ##
##               END                  ##
########################################*/