{% ckan_extends %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module-info">
      <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are datasets?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          Datasets are simply used to group related pieces of data. These
          can then be found under a single url with a description and
          licensing information.
          {% endtrans %}
        </p>
      </div>
    </section>
    <br/>
    <section class="module-info">
      <h2 class="module-heading"><i class="icon-info-sign"></i>{{_('Guidelines')}}</h2>
      <p>
        {% trans %}
        Waiting for the English and French text for this box.
        {% endtrans %}
      </p>
    </section>
    <br/>
    <section class="module-info">
      <h2 class="module-heading"><i class="icon-info-sign"></i>{{_('Open Data Implementation Guide')}}</h2>
      <p>
        {% trans %}
        Waiting for the English and French text for this box.
        {% endtrans %}
      </p>
    </section>
  {% endblock %}

  {% block resources_module %}
    {# TODO: Pass in a list of previously created resources and the current package dict #}
    {% snippet "package/snippets/resources.html", pkg={}, action='new_resource' %}
  {% endblock %}
{% endblock %}
