{% ckan_extends %}

{% block internal_actions %}
  <section class="resources module-content indent-large">
    {% set portal_link = h.portal_url() ~ "/data/" ~ client_lang ~ "/" ~ pkg.get('type', 'dataset') ~ "/" ~ pkg.name %}
    {% set sub_label = _("Your record will be published at:") %}
    {% set alert_class = "info" %}
    {% set show_portal_status_alert = true %}
    {% if pkg['ready_to_publish'] == 'false' or not pkg['ready_to_publish'] %}
      {% set label = _("Record marked not ready to publish") %}
      {% set alert_class = "warning" %}
    {% elif pkg['imso_approval'] == 'false' or not pkg['imso_approval'] %}
      {% set label = _("Approval required") %}
      {% set alert_class = "warning" %}
    {% elif not pkg['portal_release_date'] or h.date_format(pkg['portal_release_date']) > h.today() %}
      {% set label = _("Queued for publishing") %}
    {% else %}
      {% set label = _("View on Portal") %}
      {% set sub_label = "" %}
      {% set show_portal_status_alert = false %}
    {% endif %}
    {% if show_portal_status_alert %}
      <div class="module-alert alert alert-{{ alert_class }} mrgn-tp-sm">
        <p>
          {{ label }}
          {% if sub_label %}
            <br/><small>{{ sub_label }} <a href="{{ portal_link }}">{{ portal_link }}</a></small>
          {% endif %}
        </p>
      </div>
    {% else %}
      <a href="{{ portal_link }}"
        title="{{ label }}" class="btn btn-success" target="_blank">
        <span class="fa fa-arrow-circle-right"></span>
        <span class="text">{{ label }}</span>
      </a>
    {% endif %}
    {% if pkg.state == "deleted" %}
    <div class="module-alert alert alert-danger mrgn-tp-sm">
      <p>{{ _('This dataset has been deleted and is no longer accessible to non-admin users') }}.</p>
      {% if h.check_access('package_update', {'id': pkg.id}) %}
        {% link_for _('Undelete'), controller='ckanext.canada.controller:CanadaController', action='package_undelete', pkg_id=pkg.name, class_='btn btn-default' %}
      {% endif %}
    </div>
    {% endif %}
  </section>
{% endblock internal_actions %}

{% block openness %}
<li class="list-group-item"><a
   href="{{ 'http://open.canada.ca/en/openness-rating' if h.lang() == 'en' else
    'http://ouvert.canada.ca/fr/cote-degre-douvertrure-des-donnees' }}"><b>{{ _('Openness Rating') }}</b></a>:
    {%- set openness = h.openness_score(pkg) -%}
    <img src="{{ h.url_for_static('/static/img/stars/star'
      ~ openness ~ '.png') }}" alt="{{
        ['',
        _('one star'),
        _('two stars'),
        _('three stars'),
        _('four stars'),
        _('five stars'),
        ][openness] }}"
        class="image-actual margin-bottom-none openness-rating-stars" />
</li>
{% endblock %}

{% block more_like_this %}{% endblock %}
