{% ckan_extends %}

{% block subtitle %}{{ _('Edit') }} -
  {{ h.get_translated(res, 'name') }} -
  {{ h.get_translated(pkg, 'title') }}
{% endblock %}

{% block primary_content_inner %}
  <p>
  <script>
    document.write('<a class="btn btn-primary" href=\'' + document.referrer + '\';">'+
        '<i class="fa fa-arrow-left" aria-hidden="true">'+'{{ _("Go back") }}'+'</i></a>');
  </script>
  </p>
  {% block form %}{{ super() }}{% endblock %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ h.url_for_static('/registry_resource_edit.js') }}" ></script>
  {{ super() }}
{% endblock %}
