{% ckan_extends %}

{% block breadcrumb_content %}
  {{ super.super() }}
  {% if res %}
    <li>{% link_for h.get_translated(res, 'name'), controller='package', action='resource_read', id=pkg.name, resource_id=res.id %}</li>
    <li{% block breadcrumb_edit_selected %} class="active"{% endblock %}><a href="">{{ _('Edit') }}</a></li>
  {% endif %}
{% endblock %}


{% block content_primary_nav %}
  {{ super() }}
  {% if 'datapusher' in g.plugins %}
    {{ h.build_nav_icon('resource_data', _('DataStore'), id=pkg.name, resource_id=res.id) }}
  {% endif %}
{% endblock %}


{% block custom_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ h.url_for_static('base/vendor/select2/select2.css') }}" />
    <link rel="stylesheet" href="{{ h.url_for_static('base/vendor/select2/select2-bootstrap.css') }}" />
{% endblock %}