{% if 'ckan-admin/publish' in request.url %}

  {% include 'admin/publish_search.html' %}

{% else %}

  {% ckan_extends %}

  {# internal theme has title already visible above #}
  {% block subtitle %}{{ _('Search Datasets') }}{% endblock %}
  {% block breadcrumb_content %}
    <li class="active">{{ h.nav_link(_('Datasets'), named_route='dataset.search', highlight_actions = 'new index') }}</li>
  {% endblock %}

  {% block extra_facets %}
    {{ h.snippet('snippets/publish_facet.html', facet_ranges=facet_ranges) }}
  {% endblock %}

{% endif %}
