<section>
  <div class="col-md-12">
    <h2 id="prtable">{{_("Preview")}}</h2>
      <table id="dtprv" class="wb-tables table table-striped"
        data-wb-tables='{"paging": true, "serverSide": true, "processing": true, "ajax": "/datatable/{{ resource_id }}"}'
        data-role="table"
        data-mode="columntoggle" >
      <thead>
        <tr class="font-small">
          {% set i = 1 %}
          {% for field_name in ds_fields %}
            {% if field_name['id'] != '_id' %}
              <th scope="col" data-priority="dtprv-{{i}}">{{field_name['label']}}</th>
            {% endif %}
            {% set i = i + 1 %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</section>
