{% ckan_extends %}

{% block stages %}
  {% if form_style != 'edit' and dataset_type != 'prop' %}
    {{ h.snippet('package/snippets/stages.html', stages=stage, dataset_type=dataset_type) }}
  {% endif %}
{% endblock %}

{% block basic_fields %}
  <ul class="list-unstyled">
    <li class="bg-info">
      <details>
        <summary>
          {{_('Catalogue Metadata')}}
        </summary>
        {% set m1 = _('Open Data Metadata Element Set') %}
        {% if dataset_type == 'info' %}
          {% set m1 = _('Open Information Metadata Element Set') %}
        {% endif %}
        <div class="mrgn-lft-md mrgn-rght-md">
          <div class="form-group control-medium">
            <small class="text-info">{{_('This section of the form only displays system-populated data elements used to describe the record type and the placement in the registry')}}</small>
          </div>
          <div class="form-group control-medium">
            <label>{{_('Portal Type')}}</label>
            {% set f_value = '' %}
            {%- if dataset_type == 'dataset' -%}
              {% set f_value = _('Open Data') %}
            {%- elif dataset_type == 'info' -%}
              {% set f_value = _('Open Information') %}
            {%- elif dataset_type == 'prop' -%}\
              {% set f_value = _('Suggested Dataset') %}
            {%- endif -%}
            <input class="form-control" readonly value="{{ f_value }}" />
            <small class="text-info">{{_('The portal to which the metadata record belongs (Open Data or Open Information)')}}</small>
          </div>
          <div class="form-group control-medium">
            <label>{{_('Metadata Scheme')}}</label>
            <input class="form-control" readonly value="{{ m1 }}" size='60'/>
            <small class="text-info">{{_('The name of the metadata scheme used (including profile name)')}}</small>
          </div>
          <div class="form-group control-medium">
            <label>{{_('Metadata Scheme Version')}}</label>
            <input class="form-control" readonly value="2.0" />
            <small class="text-info">{{_('The version of the metadata scheme used (version of the profile)')}}</small>
          </div>
          <div class="form-group control-medium">
            <label>{{_('Metadata Record Identifier')}}</label>
            <input class="form-control" readonly value="{{ data.name if data else '' }}" />
            <small class="text-info">{{_('A unique phrase or string which identifies the metadata record within the Open Government Portal')}}</small>
          </div>
        </div>
      </details>
    </li>
  </ul>

  {% block confirm_contact_email %}
    <div class="modal"
         id="confirm-contact-email"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalLabel">{{ _('Confirm Contact Email') }}</h3>
            <button type="button" class="btn-close" id="confirm-contact-email-dismiss" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>{{ _('Please note: The Contact Email field allows Portal users to send feedback and questions about this data and information. If you leave this field empty, you will not be able to receive any feedback or questions.') }}</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-sm btn-secondary" id="go-back-email">{{ _('Go back and add Contact email') }}</button>
            <button class="btn btn-sm btn-warning" id="continue-submit">{{ _('Continue anyway') }}</button>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  {{ super() }}
{% endblock %}

{% block form_actions %}
  {# custom hack for suggested datasets #}
  {% if dataset_type == 'prop' %}
    <div class="form-actions mrgn-tp-lg">
      <button class="btn btn-primary" type="submit" name="save">{{ _('Save') }}</button>
    </div>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block publish_button %}{% endblock %}

{% block save_button_text %}
  {% if form_style != 'edit' %}
    {{- _('Next: Add Resource') -}}
  {% else %}
    {{- _('Update Record') -}}
  {% endif %}
{% endblock %}

{% block save_button %}
  <div data-module="package_confirm_contact_email">
    {{ super() }}
  </div>
{% endblock %}