{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block errors %}
  {%- if resource_validation_errors -%}
    {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
    {%- snippet 'scheming/snippets/resource_validation_errors.html',
      errors=resource_validation_errors, resource_fields=schema.resource_fields,
      dataset_fields=schema.dataset_fields, pkg_dict=pkg_dict,
      entity_type='dataset', object_type=dataset_type -%}
  {%- else -%}
    {{ super() }}
  {%- endif -%}
{% endblock %}

{# Separate our resource fields into common and resource/related-specific panels #}

{% block basic_fields %}
  {% set schema = h.scheming_get_dataset_schema(dataset_type) %}
  {%- for field in schema.resource_fields -%}
    {%- if not field.form_panel -%}
      {%- snippet 'scheming/snippets/form_field.html', field=field, data=data, errors=errors, entity_type='dataset', object_type=dataset_type -%}
    {%- endif -%}
  {%- endfor -%}
  <div class="accordion mrgn-tp-lg mrgn-bttm-lg">
    <details id="normal-resource-meta-group" class="acc-group-res" open="open">
      <summary class="wb-toggle tgl-tab" data-bs-toggle='{"parent": ".accordion", "group": ".acc-group-res"}'>
        {{ _("Metadata Fields for Resources") }}
      </summary>
      <div class="tgl-panel">
        {%- for field in schema.resource_fields -%}
          {%- if field.form_panel == 'resource' -%}
            {%- snippet 'scheming/snippets/form_field.html', field=field, data=data, errors=errors, entity_type='dataset', object_type=dataset_type -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </details>
    <details id="related-resource-meta-group" class="acc-group-rel" open="open">
      <summary class="wb-toggle tgl-tab" data-bs-toggle='{"parent": ".accordion", "group": ".acc-group-rel"}'>
        {{ _("Metadata Fields for Resource Relationships") }}
      </summary>
      <div class="tgl-panel">
        {%- for field in schema.resource_fields -%}
          {%- if field.form_panel == 'relationships' -%}
            {%- snippet 'scheming/snippets/form_field.html', field=field, data=data, errors=errors, entity_type='dataset', object_type=dataset_type -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </details>
  </div>
  <div class="hidden">
    {%- for field in schema.resource_fields -%}
      {%- if field.form_panel == 'validation' -%}
        {%- snippet 'scheming/snippets/form_field.html', field=field, data=data, errors=errors, entity_type='dataset', object_type=dataset_type -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
  {{ form.required_message() }}
{% endblock %}
