{% ckan_extends %}

{% set is_registry = h.is_registry() %}

{% block site_title %}
  {% if is_registry %}
    <a href="{{ h.url_for('dataset.search') }}"
        >{{ _('Open Data Registry') }}</a>
  {% endif %}
{% endblock %}

{# Remove when WET v4.0.21 is out #}
{% block custom_styles %}
  {% snippet 'snippets/wet-boew/headresources.html' %}
  <link rel="stylesheet" href="{{ h.url_for_static('/css/canada1.css?x=8') }}" type="text/css" />
  {{ super() }}
{% endblock %}

{%- block links -%}
{{super()}}
{%- block meta -%}
  {{ super() }}
  {% block adobe_analytics_meta %}
    {% if not is_registry %}
      {%- block adobe_analytics_title -%}
      <meta property="dcterms:title" content="{{ g.site_title }}" />
      {%- endblock -%}
      <meta property="dcterms:language" content="{{ h.adobe_analytics_lang() }}" />
      {%- block adobe_analytics_creator -%}
      {# remove encode when moving from fanstatic - applied as a fix for OPEN-1566 #}
      <meta property="dcterms:creator" content="{{ _('Treasury Board of Canada Secretariat').encode('ascii', 'xmlcharrefreplace') | safe }}"/>
      {%- endblock -%}
      <meta property="dcterms:service" content="OG-GO" />
      <meta property="dcterms:accessRights" content="{{ h.adobe_analytics_login_required(h.full_current_url()) }}" />
    {% endif %}
  {%- endblock -%}
{%- endblock -%}
{%- block google_analytics -%}
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ h.googleanalytics_id() }}', 'auto');
  if (location.hostname == 'localhost') {
    ga('set', 'sendHitTask', null);
  }
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
{%- endblock -%}

{% block adobe_analytics %}
{% if not is_registry and h.adobe_analytics_js() %}
  <script src="{{ h.adobe_analytics_js() }}"></script>
{% endif %}
{%- endblock -%}

{% set loop11_key = h.loop11_key() %}
{% if loop11_key %}
  <script type="text/javascript">
    window.loop11_key = '{{ loop11_key }}';
  </script>
  <script src="//cdn.loop11.com/my/loop11.js" type="text/javascript" async="async"></script>
{% endif %}
{%- endblock -%}

{%- block gtm_datalayer -%}
  <script>dataLayer1 = [];</script>
{%- endblock -%}

{%- block gtm -%}
  <!-- Google Tag Manager -->
  <noscript><iframe title="Google Tag Manager" src="//www.googletagmanager.com/ns.html?id=GTM-TLGQ9K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer1'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer1','GTM-TLGQ9K');</script>
  <!-- End Google Tag Manager -->
{%- endblock -%}

{%- block htmltag -%}
{% set lang = h.lang() %}
<!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="{{ lang }}" dir="ltr"><![endif]--> <!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ lang }}" dir="ltr"> <!--<![endif]-->
{%- endblock -%}

{%- block title -%}
  {%- block subtitle_2 %}{% endblock -%}
  {%- if self.subtitle_2()|trim %} {{ g.template_title_deliminater }} {% endif -%}
  {%- block subtitle %}{% endblock -%}
  {%- if self.subtitle()|trim %} {{ g.template_title_deliminater }} {% endif -%}
  {{ _(g.site_title) }}
{%- endblock -%}

{% block bodytag %}{{super()}} vocab="http://schema.org/" typeof="WebPage"{% endblock %}
