{% ckan_extends %}

{% block site_title %}
  {% if h.is_registry_domain() %}
    <a href="{{ h.url_for('dataset.search') }}">{{ _('Open Data Registry') }}</a>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block meta %}
  {{ super() }}
  {% block og_meta_title %}
    <meta property="og:title" content="{{ self.title() }}">
  {% endblock %}
  {% block adobe_analytics_meta %}
    {% if not h.is_registry_domain() %}
      {% block adobe_analytics_title %}
        <meta property="dcterms:title" content="{{ self.title() }}" />
      {% endblock %}
      <meta property="dcterms:language" content="{{ h.adobe_analytics_lang() }}" />
      {% block adobe_analytics_creator %}
        {{ h.adobe_analytics_creator() }}
      {% endblock %}
      <meta property="dcterms:service" content="OG-GO" />
      <meta property="dcterms:accessRights" content="{{ h.adobe_analytics_login_required(h.full_current_url()) }}" />
    {% endif %}
  {% endblock %}
{% endblock %}

{% block links %}
  {{ super() }}
  {% block google_analytics %}
    {% set ga4_id = h.ga4_id() %}
    {% set ga4_integrity = h.ga4_integrity() %}
    {% if ga4_id %}
      <!-- Google tag (gtag.js) -->
      {# FIXME: how to do script integrity with the non-static gtag script... #}
      <script src="https://www.googletagmanager.com/gtag/js?id={{- ga4_id -}}" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" async></script>
      <script nonce="{{- h.get_inline_script_nonce() -}}" async>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{- ga4_id -}}');
      </script>
    {% endif %}
  {% endblock %}
  {% set loop11_key = h.loop11_key() %}
  {% if loop11_key %}
    <script type="text/javascript">
      window.loop11_key = '{{ loop11_key }}';
    </script>
    <script src="//cdn.loop11.com/my/loop11.js" integrity="sha384-ryoGVNTPnR+ANCc00GlsI2s1q5ZLFbGKUScq2M4b8iqMM2TDjh1x8PDoRpHTOejB" crossorigin="anonymous" type="text/javascript" async="async" nonce="{{- h.get_inline_script_nonce() -}}"></script>
  {% endif %}
{% endblock %}

{%- block custom_styles -%}
  {% asset 'canada_public/css' %}
  {% if h.is_registry_domain() %}
    {# Remove when WET v4.0.21 is out #}
    {% asset 'canada_internal/css' %}
  {% endif %}
  {% snippet 'snippets/cdts/head_scripts.html' %}
{%- endblock -%}

{%- block htmltag -%}
  {%- set lang = h.lang() -%}
  <!--[if lt IE 9]>
  <html class="no-js lt-ie9" lang="{{ lang }}" dir="ltr"><![endif]--> <!--[if gt IE 8]><!-->
  <html class="no-js" lang="{{ lang }}" dir="ltr"> <!--<![endif]-->
{%- endblock -%}

{%- block title -%}
  {%- block subtitle_2 -%}{%- endblock -%}
  {%- if self.subtitle_2() | trim %} - {% endif -%}
  {%- block subtitle -%}{%- endblock -%}
  {%- if self.subtitle() | trim %} - {% endif %}
  {{- _(g.site_title) | trim -}}
{%- endblock -%}

{% block bodytag %}{{super()}} vocab="https://schema.org/" typeof="WebPage"{% endblock %}
