{% ckan_extends %}

{% set is_registry = h.is_registry() %}

{% block page_heading %}
  {% block subtitle %}
    {% if is_registry %}
      {{ _("Open Government Registry") }}
    {% else %}
      {% if code[0] == '404' %}
        {{ _('We couldn\'t find that Web page') }}
      {% else %}
        {{ _('We encountered an error') }}
      {% endif %}
    {% endif %}
  {% endblock %}
{% endblock %}

{% block primary %}
  {% if is_registry %}
    <div class="row">
      <div class="col-md-12">
        {% set err_msg = content.split('</h1>') %}
        {% set err_reason = content.split('<h1>') %}
        <p class="mrgn-tp-lg"><strong>{{ err_reason[0] | striptags }}: </strong>{{ err_msg[1] | striptags }}</p>
        {% if code[0] == '403' %}
          {% if not c.userobj %}
          <p class="mrgn-tp-lg">{{ _('You are not logged in to the Open Government Registry.
            Note that your login expires after 1 hour of inactivity.
            Click on the log in button below to log in.') }}</p>
          <p><a href="{% url_for 'user.login' %}" class="btn btn-primary">
                <span class="fa fa-sign-in"></span><span class="text">{{ _('Log in') }}</span>
              </a></p>
          {% endif %}
        {% elif code[0] == '404' %}
          <p class="mrgn-tp-lg">{{ _('We couldn\'t find that Web page') }}</p>
        {% elif code[0] == '500' %}
          <p class="mrgn-tp-lg">{{ _('We encountered an error and are unable to serve your request. Please try again in short time or contact <a href="mailto:open-ouvert@tbs-sct.gc.ca">open-ouvert@tbs-sct.gc.ca</a> if you need immediate assistance or if this issue persists. Note that your login expires after 1 hour of inactivity.') | safe }}</p>
        {% else %}
          <p class="mrgn-tp-lg">{{ _('We encountered an error') }}</p>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
