<footer id="wb-info">
  {% block footer_content %}
    <h2 class="wb-inv">{{ _('About this site') }}</h2>
    {% block foot_content_inner %}
      <div id="transactFooter" class="gc-main-footer">
        <div class="container">
          <nav>
            <h3>{{ _('Government of Canada') }}</h3>
            <ul class="list-col-xs-1 list-col-sm-2 list-col-md-3">
              <li><a href="{{ _('https://www.canada.ca/en/contact.html') }}">{{ _('All Contacts') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/government/dept.html') }}">{{ _('Departments and agencies') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/government/system.html') }}">{{ _('About government') }}</a></li>
            </ul>
            <h4><span class="wb-inv">{{ _('Themes and topics') }}</span></h4>
            <ul class="list-unstyled colcount-sm-2 colcount-md-3">
              <li><a href="{{ _('https://www.canada.ca/en/services/jobs.html') }}">{{ _('Jobs') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/immigration-citizenship.html') }}">{{ _('Immigration and citizenship') }}</a></li>
              <li><a href="{{ _('https://travel.gc.ca/') }}">{{ _('Travel and tourism') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/business.html') }}">{{ _('Business') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/benefits.html') }}">{{ _('Benefits') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/health.html') }}">{{ _('Health') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/taxes.html') }}">{{ _('Taxes') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/environment.html') }}">{{ _('Environment and natural resources') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/defence.html') }}">{{ _('National security and defence') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/culture.html') }}">{{ _('Culture, history and sport') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/policing.html') }}">{{ _('Policing, justice and emergencies') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/transport.html') }}">{{ _('Transport and infrastructure') }}</a></li>
              <li><a href="{{ _('https://international.gc.ca/world-monde/index.aspx?lang=eng') }}">{{ _('Canada and the world') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/finance.html') }}">{{ _('Money and finance') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/science.html') }}">{{ _('Science and innovation') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/indigenous-peoples.html') }}">{{ _('Indigenous peoples') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/veterans.html') }}">{{ _('Veterans and military') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/services/youth.html') }}">{{ _('Youth') }}</a></li>
            </ul>
          </nav>
        </div>
      </div>
    {% endblock %}

    <div class="gc-sub-footer">
      <div class="container d-flex align-items-center">
        {% block foot_brand_inner %}
          <nav>
            <h3 class="wb-inv">{{ _('Government of Canada Corporate') }}</h3>
            <ul>
              <li><a href="{{ _('https://www.canada.ca/en/social.html') }}">{{ _('Social media') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/mobile.html') }}">{{ _('Mobile applications') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/government/about.html') }}">{{ _('About Canada.ca') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/transparency/terms.html') }}">{{ _('Terms and conditions') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/transparency/privacy.html') }}">{{ _('Privacy') }}</a></li>
              </ul>
          </nav>
        {% endblock %}
        <div class="wtrmrk align-self-end">
          <img src="{{ h.url_for_wet_theme('/assets/wmms-blk.svg') }}" alt="{{ _('Symbol of the Government of Canada') }}">
        </div>
      </div>
    </div>
  {% endblock %}
</footer>

{% block footer_debug %}{% endblock %}
