<footer id="wb-info">
  {% block footer_content %}
  <div class="landscape">
    <div class="region region-footer">
      <nav  id="block-gcweb-footer" class="container wb-navcurr">
        <h2>About government</h2>
        <ul class="list-unstyled colcount-sm-2 colcount-md-3">
        {% block foot_content_inner %}
          <li><a href="{{ _('https://open.canada.ca/en/forms/contact-us') }}" class="gl-footer">{{ _( 'Contact Open Government') }}</a></li>
          <li><a href="{{ _('https://www.canada.ca/en/government/dept.html') }}">{{ _('Departments and agencies') }}</a></li>
          <li><a href="{{ _('https://www.canada.ca/en/government/publicservice.html') }}">{{ _('Public service and military') }}</a></li>
          <li><a href="{{ _('http://news.gc.ca/') }}">{{ _('News') }}</a></li>
          <li><a href="{{ _('https://www.canada.ca/en/government/system/laws.html') }}">{{ _('Treaties, laws and regulations') }}</a></li>
          <li><a href="{{ _('https://www.canada.ca/en/transparency/reporting.html') }}">{{ _('Government-wide reporting') }}</a></li>
          <li><a href=" {{ _('http://pm.gc.ca/eng') }}">{{ _('Prime Minister') }}</a></li>
          <li><a href="{{ _('https://www.canada.ca/en/government/system.html') }}">{{ _('About government') }}</a></li>
          <li><a href="{{ _('https://open.canada.ca/en') }}">{{ _('Open government') }}</a></li>
        {% endblock %}
        </ul>
      </nav>
    </div>
  </div>
  <div class="brand">
    <div class="container">
      <div class="row">
        <div class="region region-branding">
          <nav  id="block-brand" class="col-md-10 ftr-urlt-lnk">
            <h2 class="visually-hidden wb-inv" id="block-brand-menu">Brand</h2>
            <ul>
            {% block foot_brand_inner %}
              <li class="first"><a href="{{ _('https://www.canada.ca/en/social.html') }}">{{ _('Social media') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/mobile.html') }}">{{ _('Mobile applications') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/government/about.html') }}">{{ _('About Canada.ca') }}</a></li>
              <li><a href="{{ _('https://www.canada.ca/en/transparency/terms.html') }}">{{ _('Terms and conditions') }}</a></li>
              <li class="last"><a href="{{ _('https://www.canada.ca/en/transparency/privacy.html') }}">{{ _('Privacy') }}</a></li>
            {% endblock %}
            </ul>
          </nav>
        </div>
        <div class="col-xs-6 visible-sm visible-xs tofpg">
          <a href="#wb-cont">{{ _('About this site')}} <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-6 col-md-2 text-right">
          <object type="image/svg+xml" tabindex="-1" role="img" data="{{ h.url_for_wet_theme('/assets/wmms-blk.svg') }}" aria-label="{{ _('Symbol of the Government of Canada') }}"></object>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</footer>

{% block footer_debug %}
  {% if g.debug %}
    {% include 'snippets/debug.html' %}
  {% endif %}
{% endblock %}
