{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About'), 'canada.view_help' %}</li>
{% endblock %}

{% block primary %}
  <h2>{{ _('Frequently Asked Questions (FAQ)') }}</h2>
  {% block primary_content %}
    <h3>{{ _('General Registry Information') }}</h3>
    <details>
      <summary>{{ _("Why can't I create an account?") }}</summary>
      <p>{{ _('If you encounter the error message <em>"That login name is not available"</em> while trying to create an account, it typically indicates that you already have an account with that username. If you remember the password, try to log into the Registry using the same username and password.') }}</p>
      <p>{{ _('If you forgot the password, refer to the Reset your Password function, and a new one will be emailed to you.') }}</p>
    </details>
    <details>
      <summary>{{ _('Have you forgotten your password or username?') }}</summary>
      <p>{{ _('If you encounter the error message <em>"Login failed. Bad username or password"</em> while trying to log in to the Registry, follow these steps to resolve the issue:') }}</p>
      <ol>
        <li>{{ _('Click on either the <em>"Reset Password"</em> or <em>"Recover Username"</em> option.') }}</li>
        <li>{{ _('Provide your email address.') }}</li>
        <li>{{ _('Follow the directions provided in the email sent to you.') }}</li>
      </ol>
    </details>
    <details>
      <summary>{{ _("What if I manage the registry for more than one organization?") }}</summary>
      <p>{{ _('To manage additional organizations using your Registry account, send an email to {support} requesting that your account is linked to the desired organization. Ensure that you include the name of the organization in your email.').format(support=h.support_email_address()) }}</p>
      <p>{{ _("Once the support team processes your request, you'll be able to manage those organizations through your Registry account.") }}</p>
    </details>
    <details>
      <summary>{{ _('How do I change my Profile (i.e. password, name, e-mail)?') }}</summary>
      <p>{{ _('To update your profile in the Registry, follow these steps:') }}</p>
      <ol>
        <li>{{ _('Click the <em>"My Account"</em> tab.') }}</li>
        <li>{{ _('Select <em>"Edit Profile"</em> to access the <em>"Change Details"</em> page.') }}</li>
        <li>{{ _('After completing your modifications, click <em>"Update Profile"</em>. Depending on the changes, you may need to log in again.') }}</li>
      </ol>
    </details>
    <h3>{{ _('Open Data and Open Information') }}</h3>
    <details>
      <summary>{{ _('How do I add an open data or open information record?') }}</summary>
      <p>{{ _('Please visit the registry operations guide section for <a href="https://open.canada.ca/en/registry-operations-guide/upload-data">Uploading open data and information.</a>') }}</p>
    </details>
    <details>
      <summary>{{ _('How do I review an open data or open information record for my organization?') }}</summary>
      <p>{{ _("To review your department's open data or open information records or to see the complete list of records:") }}</p>
      <ol>
        <li>{{ _('Select Menu, then Organizations.') }}</li>
        <li>{{ _('Select your organization.') }}</li>
        <li>{{ _('Your records will appear.') }}</li>
      </ol>
    </details>
    <details>
      <summary>{{ _('How do I search the Registry?') }}</summary>
      <p>{{ _('To find metadata records published in the Registry, follow these steps:') }}</p>
      <ol>
        <li>{{ _('Click on the <em>"Search"</em> option in the main menu.') }}</li>
        <li>{{ _('On the Search page, you can either enter a search term directly or use the facets on the left-hand side to narrow down your search.') }}</li>
        <li>{{ _('The list of results will display records matching your search query in the order in which they were entered or updated in the Registry.') }}</li>
      </ol>
    </details>
    <h3>{{ _('Proactive Disclosure Information') }}</h3>
    <details>
      <summary>{{ _('How do I add, modify or delete records in the Registry?') }}</summary>
      <p>{{ _('Please visit the registry operations guide section for <a href="https://open.canada.ca/en/registry-operations-guide/upload-data#manage">Managing records.</a>') }}</p>
    </details>
    <details>
      <summary>{{ _("Why can't I see my uploaded data on the portal?") }}</summary>
      <p>{{ _("When uploading Proactive publication data to the Registry, it's essential to follow these directives to ensure a successful process:") }}</p>
      <ol>
        <li>{{ _("Download the Latest Template to ensure that you're using the most up-to-date format.") }}</li>
        <li>{{ _('Prepare Data in the Proper Template: Organize your data in the appropriate template for the specific organization and Proactive publication type. Each template corresponds to particular context, so choose the relevant one.') }}</li>
        <li>{{ _("Include All Required Fields: Ensure that the template you're uploading contains all the required fields for the specific Proactive publication type. Missing fields can lead to issues during the upload process.") }}</li>
        <li>{{ _('Enter Valid Data: Populate the template with valid and accurate data. Incorrect or incomplete information may cause errors.') }}</li>
        <li>{{ _('File Format and Naming: Your completed data template should be an Excel spreadsheet in either XLS or XLSX format.') }}</li>
        <li>{{ _('Troubleshooting Upload Issues: If you encounter an error message during the upload, carefully review the message text and take corrective measures based on the specific issue.') }}</li>
        <li>{{ _('If the upload was successful but you don\'t see the data in the <em>"Preview"</em> section of the page, verify your data file. It might be a duplicate upload or have other issues.') }}</li>
      </ol>
    </details>
    <details>
      <summary>{{ _('Was everything uploaded correctly?') }}</summary>
      <p>{{ _('A record is not immediately pushed to the portal, it will appear the following morning. The following are two possible methods for you to verify your data upload:') }}</p>
      <ul>
        <li>{{ _('If you see the message <em>"Your template has been successfully uploaded"</em> after you have hit the <em>"Submit"</em> button; or') }}</li>
        <li>{{ _('you can verify the data by looking in the Preview table for one or more of your template line items.') }}</li>
      </ul>
    </details>
    <details>
      <summary>{{ _("Why didn't I get a confirmation email that my upload was successful?") }}</summary>
      <p>{{ _('The system only provides an onscreen message <em>"Your template has been successfully uploaded"</em>; it does not send a confirmation email.') }}</p>
    </details>
    <details>
      <summary>{{ _("Why don't I see the upload button?") }}</summary>
      <p>{{ _("The Upload button is accessible only to users associated with an organization. If you're unable to see the button, consider the following reasons:") }}</p>
      <ol>
        <li>{{ _('Confirm that you are logged into the Registry.') }}</li>
        <li>{{ _('Ensure that your account is linked to your organization.') }}</li>
        <li>{{ _('If your organization hasn\'t uploaded data yet for that proactive disclosure type, your template hasn\'t been initiated. To access the Upload button, you\'ll need to click on the <em>"Get Started"</em> button.') }}</li>
      </ol>
    </details>
    <details>
      <summary>{{ _("Why doesn't all the text I entered in the template appear?") }}</summary>
      <p>{{ _('Excel has a cell display limit of 1024 characters.  However, the complete text (Maximum of 32767 characters of it) is actually in the cell. You can view all the text by extending the cell size, or putting the cell in Edit mode, or looking into the Formula bar, in order to see the complete text.') }}</p>
    </details>
    <details>
      <summary>{{ _('Who approves the Proactive publication data?') }}</summary>
      <p>{{ _("It is the organization's responsibility to verify and approve Proactive publication data before uploading to the Registry.") }}</p>
    </details>
  {% endblock primary_content %}
{% endblock %}
