{% ckan_extends %}

{% block page %}
  {%- block header %}
    {% macro breadcrumb_content() %}
      {% block breadcrumb_content %}{% endblock %}
    {% endmacro %}
    {% include "header.html" with context %}
  {% endblock -%}
  {% block toolbar %}{% endblock %}
  {% set lang = h.lang() %}
  {% block content %}
    {% if h.is_registry_domain() %}
      {% if g.userobj and h.get_timeout_length() %}
        <div class="modal fade" id="timeout" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content overlay-def">
              <header class="modal-header">
                <h2 class="modal-title" id="modalLabel">{{ _('Your user sessions has timed out due to inactivity') }}</h2>
                <button type="button" class="close mfp-close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </header>
              <div class="modal-body">
                {{ _('If you are currently entering data on this page, you may lose it when submitted. To avoid this, you can click on the log in button below to log in again in a new tab without losing your progress and you can then keep working on this page. If you have any issues please contact <a href="mailto:{support}">{support}</a>.').format(support=h.support_email_address()) | safe }}
              </div>
              <div class="modal-footer">
                <a href="{{ h.url_for('user.login') }}" target="_blank" rel='noopener noreferrer' class="btn btn-default btn-sm">
                  <span class="fa fa-sign-in" aria-hidden="true"></span>&nbsp;<span class="text">{{ _('Log in') }}</span>
                </a>
                <button type="button" class="btn btn-sm btn-primary pull-left" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
    <div class="container">
      <div class="row">
        {% block flash %}
          <div class="col-md-12 canada-flash-messages">
            <div class="flash-messages">
              {% for category, message in h.get_flashed_messages(with_categories=true) %}
                <div class="alert alert-dismissible fade show {{ category }}">
                  {{ h.literal(message) }}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endblock flash %}
        <main role="main" property="mainContentOfPage" class="container">
          {% block page_title %}
            {% if h.is_registry_domain() %}
              <div id="ie_warning" class="alert alert-warning canada-display-none">
                <p>{{ _('Internet Explorer is no longer being supported within the Open Government Registry. Some features will not work as expected, including publication of records. Please use MS Edge or Google Chrome, or contact <a href="mailto:{support}">{support}</a> for additional support.').format(support=h.support_email_address()) | safe }}</p>
              </div>
            {% endif %}
            <h1 property="name" id="wb-cont">
              {%- block page_heading -%}
                {% set subtitle_2 = self.subtitle_2()|trim %}
                {%- block subtitle %}{{ _('About') }}{% endblock -%}
                {%- if subtitle_2 -%}<span class="wb-inv"> - {{ subtitle_2 }}</span>{%- endif -%}
              {%- endblock -%}
            </h1>
          {% endblock page_title %}
          {% block pre_primary %}
            <div class="row">
              <div class="col-md-12">
                {# _site_messaging is handled by aliases in nginx to SMB #}
                {# has to be below title for a11y H3 after H1 #}
                {% if h.is_registry_domain() %}
                  <div data-ajax-replace="/static/_site_messaging/header_od_registry.{{ h.lang() }}"></div>
                {% else %}
                  <div data-ajax-replace="/data/static/_site_messaging/header_od_ckan.{{ h.lang() }}"></div>
                {% endif %}
              </div>
            </div>
          {% endblock pre_primary %}
          <div class="row {% if self.secondary_content()|trim != '' %} wb-eqht {% else %} row-gutterless {% endif %}">
            {% block page_header %}
              {% if self.content_primary_nav() | trim or self.content_action() | trim %}
                <div class="col-md-12 canada-action-toolbar">
                  <header class="module-content page-header">
                    {% if self.content_action() | trim %}
                      <div class="content_action">
                        {% block content_action %}{% endblock %}
                      </div>
                    {% else %}
                      {# required for flex layout #}
                      <div></div>
                    {% endif %}
                    <ul class="nav nav-tabs">
                      {% block content_primary_nav %}{% endblock %}
                    </ul>
                  </header>
                </div>
              {% endif %}
            {% endblock %}
            {% block primary %}
              <div class="{% if self.secondary_content()|trim != '' %} col-md-9 col-md-push-3 {% else %} col-md-12 {% endif %}">
                {% block primary_content %}
                  <article class="module">
                    <div class="module-content mrgn-tp-lg canada-page-main-wrapper">
                      {% if self.page_primary_action() | trim %}
                        <div class="page_primary_action">
                          {% block page_primary_action %}{% endblock %}
                        </div>
                      {% endif %}
                      {% block primary_content_inner %}
                      {% endblock %}
                    </div>
                  </article>
                {% endblock primary_content %}
              </div>
            {% endblock primary %}
            {% block secondary %}
              {% if self.secondary_content()|trim != '' %}
                <aside class="col-md-3 col-md-pull-9 mrgn-tp-lg canada-page-side-wrapper">
                  {% block secondary_content %}{% endblock %}
                </aside>
              {% endif %}
            {% endblock secondary %}
          </div>
        </main>
      </div>
    </div>
  {% endblock %}
  {%- block footer %}
    {{ super() }}
  {% endblock -%}
{% endblock %}


{% block scripts %}
  {% snippet 'snippets/cdts/footer_scripts.html' %}
  {% asset 'canada_public/analytics' %}
  {% block google_analytics_footer %}
    {% if h.is_registry_domain() %}
      {% asset 'canada_internal/analytics' %}
    {% endif %}
  {%- endblock -%}
  {%- if not h.is_registry_domain() -%}
    {%- asset 'canada_public/adobe_analytics_fix' -%}
  {%- endif -%}
  {{ super() }}
  {% if h.is_registry_domain() %}
    {%- block session_timeout -%}
      {% if g.userobj and h.get_timeout_length() %}
        <script nonce="{{- h.get_inline_script_nonce() -}}">
          setTimeout(function(){ $('#timeout').modal('show'); }, {{ h.get_timeout_length() }} * 1000);
        </script>
      {% endif %}
    {%- endblock -%}
    {% block ie_browser_warning %}
      <script nonce="{{- h.get_inline_script_nonce() -}}">
        window.addEventListener('load', function(){
          $(document).ready(function(){
            if (navigator.appName == 'Microsoft Internet Explorer' ||
            !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) ||
            (typeof $.browser !== "undefined" && $.browser.msie == 1))
            {
              let ieWarning = document.getElementById("ie_warning");
              if( ieWarning.length > 0 ){
                $(ieWarning).show();
              }
            }
          });
        });
      </script>
    {% endblock %}
  {% endif %}
{% endblock %}
