{% extends "page.html" %}

{% block subtitle %}{{ _("Confirm Delete") }}{% endblock %}

{% block primary_content_inner %}
    <div class="col-md-12">
      {% block form %}
        <p>{{ _('Are you sure you want to delete this DataStore table and Data Dictionary?') }}</p>
        <p class="form-actions">
          <form action="{{ h.url_for('canada.delete_datastore_table', id=package_id, resource_id=resource_id) }}" method="post">
            {{ h.csrf_input() }}
            <input type="hidden" name="resource_id" value="{{ resource_id }}" />
            <button class="btn" type="submit" name="cancel" >{{ _('Cancel') }}</button>
            <button class="btn btn-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
          </form>
        </p>
      {% endblock %}
    </div>
{% endblock %}
