{% ckan_extends %}

{% block resources %}
  <section class="panel panel-default resources-side-section">
    {% block resources_inner %}
      {% block resources_title %}
        <div class="panel-heading"><i class="fa fa-bars"></i> {{ _("Resources") }}</div>
      {% endblock %}
      <div class="panel-body resources-side-panel">
        {% block resources_list %}
          {% if g.is_registry %}
            {# Registry #}
            <ul class="list-unstyled nav nav-simple">
              {% for resource in resources %}
                {% set url = h.url_for(pkg.type ~ '_resource.read', id=pkg.id if is_activity_archive else pkg.name, resource_id=resource.id, **({'activity_id': request.args['activity_id']} if 'activity_id' in request.args else {})) %}
                {% if active == resource.id %}
                  <li class="nav-item active">
                    <a href="#">{{ h.resource_display_name(resource)|truncate(25) }}</a>
                  </li>
                {% elif can_edit and not is_activity_archive %}
                  <li class="nav-item justify-content-between position-relative">
                    <a class="flex-fill" href="{{ url }}" title="{{ h.resource_display_name(resource) }}">{{ h.resource_display_name(resource)|truncate(25) }}</a>
                    <div class="dropdown position-absolute end-0 me-2">
                      <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownRes{{ loop.index }}" data-bs-toggle="dropdown" aria-expanded="false" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownRes{{ loop.index }}">
                        <li>{% link_for _('Edit resource'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=resource.id, class_='dropdown-item', icon='pencil' %}</li>
                        {% block resources_list_edit_dropdown_inner scoped %}{% endblock %}
                        <li>{% link_for _('Views'), named_route=pkg.type ~ '_resource.views', id=pkg.name, resource_id=resource.id, class_='dropdown-item', icon='chart-bar' %}</li>
                      </ul>
                    </div>
                    {% set language_options = h.scheming_get_preset('canada_resource_language').choices %}
                    <div class="mrgn-tp-md mrgn-lft-md">
                    {% for language in resource.language %}
                      {% for option in language_options %}
                        {% if option.value == language %}
                        <span class="badge res-tag res-tag-lang">
                            {{ option.label[h.lang()] }}
                          </span>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                    {% if resource.format %}
                    <span class="badge res-tag">
                      {{ resource.format }}
                    </span>
                    {% endif %}
                    </div>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a href="{{ url }}" title="{{ h.resource_display_name(resource) }}">{{ h.resource_display_name(resource)|truncate(25) }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% else %}
            {# Portal #}
            {{ super() }}
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
  </section>
{% endblock %}
