{% ckan_extends %}

{%- block title -%}
  {{- h.resource_view_meta_title(package=package, resource=resource, view=resource_view) -}}
{%- endblock -%}

{% block adobe_analytics_creator %}
  {{ h.adobe_analytics_creator(organization=package.organization, package=package) }}
{% endblock %}

{% block resource_view_actions %}
  {{ super() }}
  {% if not h.is_registry_domain() %}
    <a class="btn btn-default"
        href="#embed-{{ resource_view['id'] }}"
        data-module="resource-view-embed"
        data-module-id="{{ resource_view['id'] }}"
        data-module-url="{{ h.url_for('resource_view', id=package['name'], resource_id=resource['id'], view_id=resource_view['id'], qualified=true) }}">
      <i class="fa fa-code"></i>&nbsp;{{ _("Embed") }}
    </a>
  {% endif %}
{% endblock %}

{% block description %}
<p class="desc">
  {%- if h.lang() == 'fr' -%}
    {{ h.render_markdown(resource_view['description_fr']) }}
  {%- else -%}
    {{ h.render_markdown(resource_view['description']) }}
  {%- endif -%}
</p>
{% endblock %}

{% block resource_view_bottom %}
  {% set allowed_hosts = h.get_allowed_frame_hosts() %}
  <div id="embed-{{ resource_view['id'] }}" class="modal fade resource-view-embed canada-resource-view-embed">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{ _("Embed resource view") }}</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
        </div>
        <div class="modal-body">
          <p class="embed-content">{{ _("You can copy and paste the embed code into a CMS or blog software that supports raw HTML") }}</p>
          {%- if allowed_hosts -%}
            <p class="embed-content">
              {{ _("Only certain websites are allowed to embed content from open.canada.ca:") }}
            <ul>{%- for h in allowed_hosts -%}<li>{{- h -}}</li>{%- endfor -%}</ul>
            </p>
          {%- endif -%}
          <div class="row">
            <div class="col-md-6">
              {{ form.input("width", label=_("Width"), value=700, classes=["control-full"]) }}
            </div>
            <div class="col-md-6">
              {{ form.input("height", label=_("Height"), value=400, classes=["control-full"]) }}
            </div>
          </div>
          {{ form.textarea("code", label=_("Code"), value="", classes=["pre"], rows=3) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
