{% ckan_extends %}

{% set url_action = 'resource.edit' if url_is_edit and can_edit else 'resource.read' %}
{% set url = h.url_for('dataset_' + url_action, id=pkg.name, resource_id=res.id) %}
{% if h.is_registry_domain() and 'is_resource_supported_by_xloader' in h and h.check_access('package_update', {'id': pkg.id }) %}
  {% set is_xloader_supported = h.is_resource_supported_by_xloader(res) %}
  {% set xloader_info = h.xloader_status(res.id) %}
{% endif %}

{% block resource_item_title %}
  <div id="resource_title">
    {% set translated_title, machine_translated = h.get_translated_t(res, 'name') %}
    <a class="heading resource-heading" href="{{ url }}" title="{{ translated_title or res.description }}">
      {{ translated_title }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
      {%- if machine_translated -%}
        <i class="fa fa-language text-muted canada-margin-left-10" title="{{ _('This third party metadata element has been translated using an automated translation tool. To report any discrepancies please contact {support}').format(support=h.support_email_address()) }}"></i>
      {%- endif -%}
      {% if 'tracking_summary' in res %}
        {{ h.popular('views', res.tracking_summary.total, min=10) }}
      {% endif %}
    </a>
    {% set language_options = h.scheming_get_preset('canada_resource_language').choices %}
    <div>
    {% for language in res.language %}
      {% if loop.index <= 2 %}
        {% for option in language_options %}
          {% if option.value == language %}
            <span class="badge res-tag res-tag-lang">
              {{ option.label[h.lang()] }}
            </span>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% if res.language|length > 2 %}
      {% set lang_count = res.language|length %}
      <span class="badge res-tag res-tag-lang">
        {{ _('+ %s more').format(lang_count - 2) }}
      </span>
    {% endif %}
    {% if res.resource_type %}
      <span class="badge res-tag">
        {{ res.resource_type }}
      </span>
    {% endif %}
    {% if res.format %}
      <span class="badge res-tag">
        {{ h.scheming_choices_label(h.scheming_get_preset('canada_resource_format').choices, res.format) }}
      </span>
    {% endif %}
    </div>
  </div>
{% endblock %}

{% block resource_item_description %}
  {% if h.is_registry_domain() and is_xloader_supported %}
    <div class="canada-resource-list-badges">
      {% if res.validation_status in ('success', 'unkown') and 'get_validation_badge' in h %}
        {{- h.get_validation_badge(res, in_listing=True)|safe -}}
      {% endif %}
      {% if xloader_info and xloader_info.status not in ('error', 'inactive') and 'get_loader_status_badge' in h %}
        {{- h.get_loader_status_badge(res) -}}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block resource_item_explore %}
  {% if not url_is_edit %}
    <div class="dropdown btn-group resource-action-links">
      <a href="javascript:void(0);" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button" id="dropdownExplorer" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-share" aria-hidden="true"></i>&nbsp;{{ _('Explore') }}
      </a>
      <ul class="dropdown-menu canada-resource-dropdown-explore">
        {% block resource_item_explore_links %}
          <li>
            <a href="{{ url }}">
              {% if not is_activity_archive and res.has_views %}
                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{ _('Preview') }}
              {% else %}
                <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;{{ _('More information') }}
              {% endif %}
            </a>
          </li>
          {% if res.url and h.is_url(res.url) %}
            <li>
              <a href="{{ res.url }}" class="resource-url-analytics" target="_blank" rel='noopener noreferrer' data-pkg-id="{{ pkg.id }}" data-res-id="{{ res.id }}" data-org-id="{{ pkg.organization.id }}">
                {% if res.has_views or res.url_type == 'upload' %}
                  <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>&nbsp;{{ _('Download') }}
                {% else %}
                  <i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;{{ _('Go to resource') }}
                {% endif %}
              </a>
            </li>
          {% endif %}
          {% set fgp_url = h.fgp_viewer_url(pkg) %}
          {% if fgp_url and res.url and h.is_url(res.url) and res.format not in ['PDF','HTML', 'PNG', 'CSV', 'TXT',] %}
            <li>
              <a href="{{ fgp_url }}" class="dropdown-item" target="_blank" rel='noopener noreferrer'>
                <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{ _('View on Map') }}
              </a>
            </li>
          {% endif %}
          {% if can_edit and not is_activity_archive %}
            <li>{% link_for _('Edit resource'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='dropdown-item', icon='pencil' %}</li>
            {% block resource_item_explore_inner scoped %}{{ super() }}{% endblock %}
            <li>{% link_for _('Views'), named_route=pkg.type ~ '_resource.views', id=pkg.name, resource_id=res.id, class_='dropdown-item', icon='chart-bar' %}
            <li>
              <a class="dropdown-item text-danger" href="{{ h.url_for(pkg.type ~ '_resource.delete', id=pkg.name, resource_id=res.id) }}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this resource?') }}">
                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;{{ _('Delete resource') }}</a>
            </li>
          {% endif %}
        {% endblock %}
      </ul>
    </div>
  {% endif %}
  {% if h.is_registry_domain() and is_xloader_supported %}
    {% if res.validation_status in ('failure', 'error', 'deprecated_report') %}
      <div class="canada-resource-list-validation-info"><p><i aria-hidden="true" class="fas fa-exclamation-triangle"></i>&nbsp;{{ _('Resource data has failed validation.') }}<a href="{{ h.url_for('validation.read', id=pkg.name, resource_id=res.id) }}" class="btn btn-sm btn-danger">{{ _('View Report') }}</a></p></div>
    {% endif %}
    {% if xloader_info and xloader_info.status in ('error', 'inactive') %}
      <div class="canada-resource-list-validation-info"><p><i aria-hidden="true" class="fas fa-exclamation-triangle"></i>&nbsp;{{ _('Resource data has failed to load to the DataStore.') }}<a href="{{ h.url_for('xloader.resource_data', id=pkg.name, resource_id=res.id) }}" class="btn btn-sm btn-danger">{{ _('View Report') }}</a></p></div>
    {% endif %}
  {% endif %}
{% endblock %}
