{% set is_registry = h.plugin_loaded('canada_internal') %}

{% block ds_socialmedia %}
  {% if not is_registry %}
    <div class="panel panel-primary">
      {% set pkg = c.pkg_dict %}
      <div class="panel-heading"><div class="panel-title">{{ _('Have your say') }}</div></div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <div data-ajax-replace="/{{ h.lang() }}/vote-result/vote/{{ c.pkg_dict.id }}"></div>
          <li><a href="#rate">{{ _('Rate this dataset') }}</a></li>
          <li><a href="#comments">{{ _('Comment(s)') }}</a></li>
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock ds_socialmedia %}
