{# stages side bar #}

{%- set pages = h.scheming_get_dataset_form_pages(dataset_type) -%}
{%- if pages -%}
  {%- set active_page = data.get('_form_page', 1) | int -%}
  {%- set draft_missing_required = h.scheming_missing_required_fields(
    pages, data) -%}
  <section class="module module-narrow resources">
    <h2 class="module-heading"><i class="fa fa-bars"></i> {{ _("Metadata") }}</h2>
    <ul class="list-unstyled nav nav-simple">
      {%- for p in pages -%}
        <li class="nav-item {% if loop.index == active_page %}active{% else %}position-relative{% endif %}">
          {% if loop.index <= active_page %}
            <a href="{{'#' if loop.index == active_page else
              h.url_for(dataset_type +
                  ('.scheming_edit_page' if form_style == 'edit' else '.scheming_new_page'),
                package_type=dataset_type,
                id=data.name or data.id,
                page=loop.index)
            }}">{{ h.scheming_language_text(p.title) }}</a>
          {% else %}
            {{ h.scheming_language_text(p.title) }}
          {% endif %}

          {%- set mreq = draft_missing_required[loop.index0] -%}
          {% if mreq %}
            <a href="#" data-bs-toggle="tooltip" title="{{
                ungettext("Missing required field", "Missing required fields", mreq | length)
              }}: {% for m in mreq %}{{
                  h.scheming_language_text(h.scheming_field_by_name(p.fields, m).label)
                }}{% if not loop.last %}, {% endif %}{% endfor %}">
              <i class="fa fa-exclamation-circle text-danger fs-3" aria-hidden="true"></i>
            </a>
          {% endif %}
        </li>
      {%- endfor -%}
      {% if form_style != 'edit' %}
        <li class="nav-item {{ s2 }}">
          {% if s2 != 'complete' %}
            <a><span class="highlight">{{ _('Add Resource') }}</span></a>
          {% else %}
            {% if s1 == 'active' %}
              <a><button class="btn-link" name="save" value="go-resources" type="submit">{{ _('Add Resource Metadata') }}</button></a>
            {% else %}
              {% link_for _('Add data'), dataset_type + '.new', class_="highlight" %}
            {% endif %}
          {% endif %}
        </li>
      {% endif %}
    </ul>
  </section>
{%- endif -%}
