{# stages side bar #}

{%- set pages = h.scheming_get_dataset_form_pages(dataset_type) -%}
{%- if pages -%}
  {%- set is_draft = data.get('state') == 'draft' -%}
  {%- set active_page = data.get('_form_page', 1) | int -%}
  {%- set draft_missing_required = h.scheming_missing_required_fields(
    pages, data) -%}
  <section id="canada-package-form-stages" data-form-style="{{- form_style -}}" class="module">
    <h2 class="module-heading"><i class="fa fa-bars"></i> {{ _("Metadata") }}</h2>
    <ul class="list-unstyled nav nav-simple">
      {%- for p in pages -%}
        <li class="nav-item {% if loop.index == active_page %}active{% else %}position-relative{% endif %}">
          {% if form_style == 'edit' %}
            {# you can click on any stage/page link when editing a record #}
            <a class="canada-package-form-stages--label"
               href="{{- h.url_for(dataset_type ~ '.scheming_edit_page',
                                   package_type=dataset_type,
                                   id=data.name or data.id,
                                   page=loop.index) -}}">
              {{- h.scheming_language_text(p.title) -}}
            </a>
          {% else %}
            {% if loop.index <= active_page or is_draft %}
              {# you can click on any stage/page link when editing a DRAFT record, otherwise you have to step through the form #}
              <a class="canada-package-form-stages--label"
                 href="{{- h.url_for(dataset_type ~ '.scheming_new_page',
                                     package_type=dataset_type,
                                     id=data.name or data.id,
                                     page=loop.index) -}}">
                {{- h.scheming_language_text(p.title) -}}
              </a>
            {% else %}
              <span class="canada-package-form-stages--label">{{- h.scheming_language_text(p.title) -}}</span>
            {% endif %}
          {% endif %}

          {%- set mreq = draft_missing_required[loop.index0] -%}
          {% if mreq %}
            <abbr data-bs-toggle="tooltip" title="{{
                ungettext("Missing required field", "Missing required fields", mreq | length)
              }}: {% for m in mreq %}{{
                  h.scheming_language_text(h.scheming_field_by_name(p.fields, m).label)
                }}{% if not loop.last %}, {% endif %}{% endfor %}">
              <i class="fa fa-exclamation-circle text-danger fs-3" aria-hidden="true"></i>
            </abbr>
          {% endif %}
        </li>
      {%- endfor -%}
      {% if form_style != 'edit' %}
        <li class="nav-item {{ s2 }}">
          {% if is_draft %}
            <a class="canada-package-form-stages--label"
               href="{{- h.url_for(dataset_type ~ '_resource.new',
                                   id=data.name or data.id) -}}">
              {{ _('Add Resource') }}
            </a>
          {% else %}
            <span class="canada-package-form-stages--label">{{ _('Add Resource') }}</span>
          {% endif %}
        </li>
      {% endif %}
    </ul>
  </section>
{%- endif -%}
