{# vim: set filetype=jinja sw=2 sts=2: #}
{% import 'macros/form.html' as form %}

{% macro formfield(id, lang, field, data, errors, client_lang='eng') %}
  {% set client_lang = 'fra' if client_lang == 'fr' else 'eng' %}

  {% set inputargs = {
    'name': id,
    'label': field.label[client_lang],
    'placeholder': field.example if lang != 'fra' else '', 
    'value': data[id],
    'error': errors[id],
    'id': 'field-' + id,
    'classes': ['control-medium'],
    } %}

  {% if lang %}
    {% do inputargs.update({'label': inputargs.label + ' ' + lang|upper}) %}
  {% endif %}

  {% set widget = form.input %}
  {% if id == 'name' %}
    {% do inputargs.update({
      'prepend': '/data/dataset/',
      'attrs': {'data-module': 'slug-preview-slug',
                'data-module-prefix': 'data.gc.ca/data/dataset/',
                'data-module-placeholder': '<dataset>',}, 
      }) %}
    {% set widget = form.prepend %}
  {% elif id in ('notes', 'notes_fra') %}
    {% set widget = form.markdown %}
  {% elif id == 'tags' %} 
    {# special case name "tag_string" for tags #}
    {% do inputargs.update({
      'name': 'tag_string', 
      'value': data['tag_string'],
      'classes': ['control-full'],
      'attrs': {'data-module': 'autocomplete',
                'data-module-tags': '',
                'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'},
      }) %}
  {% elif field.vocabulary %}
    {# subject and topic_category fields #}
    {{ multi_checkbox_field(id, field, data, client_lang, inputargs) }}
    {% set widget = none %}
  {% elif field.choices %}
    {% do inputargs.update({'options':[], 'selected':data[id]}) %}
    {# kwargs form.select doesn't support #}
    {% do inputargs.pop('value') %}
    {% do inputargs.pop('placeholder') %}
    {% for c in field.choices %}
      {% set indent = '' %}
      {% set skip = false %}
      {# Try to make geographic region selection nicer-looking #}
      {% if id == 'geographic_region' %}
        {% if not c.id %}
          {% set skip = true %}
        {% elif c.id > 99 %}
          {% set indent = ': : ' %}
        {% elif c.id > 9 %}
          {% set indent = ': ' %}
        {% endif %}
      {% endif %}
      {% if not skip %}
        {% do inputargs.options.append({
          'text': indent + c[client_lang],
          'value': c.key}) %}
      {% endif %}
    {% endfor %}
    {% set widget = form.select %}
  {% endif %}

  {% if widget %}
    {% call widget(**inputargs) %}
      {% if field.description %}
        {{ form.info(field.description[client_lang]) }}
      {% endif %}
    {% endcall %}
  {% endif %}
{% endmacro %}

{#
Create a group of checkboxes for a tag vocabulary field with all the
currently chosen options checked
#}
{% macro multi_checkbox_field(id, field, data, client_lang, inputargs) %}
  <div class="control-group{{ " error" if inputargs.error }}">
    <label class="control-label">{{ inputargs.label }}</label>
    <div class="controls">
      {% for c in field.choices %}
        <label class="checkbox" for="{{ id }}-{{ loop.index0 }}"
            style="font-weight: normal; margin-bottom: 0"> {# FIXME: remove style #}
          <input id="{{ id }}-{{ loop.index0 }}" type="checkbox" name="{{ id 
              }}" value="{{ c.key | empty_and_escape }}" {{
              "checked " if c.key in data.get(id, []) }} />
          {{ c[client_lang] }}
        </label>
      {% endfor %}
      {% if error and error is iterable %}<strong class="error-inline">{{ error|join(', ') }}</strong>{% endif %}
      {% if field.description %}
        {{ form.info(field.description[client_lang]) }}
      {% endif %}
    </div>
  </div>
{% endmacro %}
