{# vim: set filetype=jinja sw=2 sts=2: #}
{% import 'macros/form_wet.html' as form %}

{#
Automatic form field creation with schema_description field and form data

id          - CKAN dataset or resource field id
lang        - language of this field for fields available in both languages
              as separate fields: none, 'eng' or 'fra'
field       - schema_description field dict for this CKAN field
data        - dict containing form data by CKAN field id
errors      - dict containing form errors by CKAN field id
client_lang - language from h.lang(): 'en' or 'fr'
#}
{% macro formfield(id, lang, field, data, errors, client_lang) %}
  {% set client_lang = 'fra' if client_lang == 'fr' else 'eng' %}

  {% set inputargs = {
    'name': id,
    'label': ('* ' if field.mandatory else '') + field.label[client_lang],
    'placeholder': field.example if lang != 'fra' else '', 
    'value': data[id],
    'error': errors[id],
    'id': 'field-' + id,
    'classes': ['control-medium'],
    } %}

  {% if lang %}
    {% do inputargs.update({'label': inputargs.label + ' ' +
      schema_description.dataset_field_by_id.language.choices[
      0 if lang != 'fra' else 1][client_lang]}) %}
  {% endif %}

  {% set widget = form.input %}
  {% if id in ('notes', 'notes_fra') %}
    {% set widget = form.markdown %}
  {% elif field.choices %}
    {% do inputargs.update({'options':[],
      'selected':data[id] if data[id] else field.example}) %}
    {# kwargs form.select doesn't support #}
    {% do inputargs.pop('value') %}
    {% do inputargs.pop('placeholder') %}
    {% for c in field.choices %}
      {% set indent = '' %}
      {% set skip = false %}
      {# Try to make geographic region selection nicer-looking #}
      {% if id == 'geographic_region' %}
        {% if not c.id %}
          {% set skip = true %}
        {% elif c.id > 99 %}
          {% set level = 2 %}
        {% elif c.id > 9 %}
          {% set level = 1 %}
        {% else %}
          {% set level = 0 %}
        {% endif %}
      {% endif %}
      {% if not skip %}
        {% do inputargs.options.append({
          'text': c[client_lang],
          'value': c.key,
          'level': level}) 
        %}
      {% endif %}
      
    {% endfor %}
    {% if id == 'geographic_region' %}
      {% set widget = geo_checkbox_field %}
    {% elif field.vocabulary %}
      {% set widget = multi_checkbox_field %}
    {% else %}
      {% set widget = form.select %}
    {% endif %}
  {% endif %}

  {% call widget(**inputargs) %}
    {% if field.description %}
      {{ form.info(field.description[client_lang]) }}
    {% endif %}
  {% endcall %}
{% endmacro %}

{#
Create a group of checkboxes for a tag vocabulary field with all the
currently chosen options checked

name        - The name of the form parameter.
id          - The id to use on the input and label. Convention is to prefix with 'field-'.
label       - The human readable label.
options     - A list/tuple of fields to be used as <options>.
selected    - The value of the selected <option>.
error       - A list of error strings for the field or just true to highlight the field.
classes     - An array of classes to apply to the control-group.
#}
{% macro multi_checkbox_field(name, id, label, options, selected, error,
    classes=[], attrs=[]) %}
  {%- set extra_html = caller() if caller -%}
    <div class="control-group{{ " error" if error }}"></div>
    <h4>{{ label }}</h4>
    <div class="span-1 row-start"></div>
    <div class="controls span-4 row-end">
      {% for o in options %}
        <label class="form-checkbox" for="{{ name }}-{{ loop.index0 }}"
            style="font-weight: normal; margin-bottom: 0"> {# FIXME: remove style #}
          <input id="{{ name }}-{{ loop.index0 }}" type="checkbox" name="{{ name 
              }}" value="{{ o.value | empty_and_escape }}" {{
              "checked " if o.value in selected }} />
          {{ o.text }}
        </label>
      {% endfor %}
      {% if error and error is iterable %}<strong class="error-inline">{{ error|join(', ') }}</strong>{% endif %}
      {{ extra_html }}
    </div>
    <div class="clear"></div>
{% endmacro %}

{% macro geo_checkbox_field(name, id, label, options, selected, error,
    classes=[], attrs=[]) %}
  {%- set extra_html = caller() if caller -%}
    <div class="control-group{{ " error" if error }}"></div>
    <h4>{{ label }}</h4>
    <div class="span-1 row-start"></div>
    <div class="controls span-4 row-end">
      {% set last_level = options[0].level %}
      {% for o in options %}
        {% set checked = True if o.value in selected %}
        
        {% if o.level == last_level -1 %}
        </details>
        {% elif o.level == last_level -2 %}
          </details>
        </details>
        {% endif %}
        
        {% if o.level == 0 %}
        <details class="span-4">
          <summary>
            {{ geo_checkbox(name, option = o, index = loop.index0, checked = checked) }}
          </summary>
          <div class="clear"></div>
        {% elif o.level == 1 %}
          <details class="span-4">
            <summary class="indent-large">
              {{ geo_checkbox(name, option = o, index = loop.index0, checked = checked) }}
            </summary>
            <div class="clear"></div>
        {% elif o.level == 2 %}
          {{ geo_checkbox(name, option = o, index = loop.index0, checked = checked) }}
        {% endif %}
        
        {% set last_level = o.level %}
        
        {% if False %}
        <label>{{o.level}}</label>
        <label class="form-checkbox" for="{{ name }}-{{ loop.index0 }}"
            style="font-weight: normal; margin-bottom: 0"> {# FIXME: remove style #}
          <input id="{{ name }}-{{ loop.index0 }}" type="checkbox" name="{{ name 
              }}" value="{{ o.value | empty_and_escape }}" {{
              "checked " if o.value in selected }} />
          {{ o.text }}
        </label>
        {% endif %}
        
      {% endfor %}
      {% if error and error is iterable %}<strong class="error-inline">{{ error|join(', ') }}</strong>{% endif %}
      {{ extra_html }}
    </div>
    <div class="clear"></div>
{% endmacro %}

{% macro geo_checkbox(name, id='', option='', index=0, checked=false, placeholder='', error="", classes=[], attrs={}) %}
  
  <label class="form-checkbox {{'indent-xlarge' if option.level == 2}}" style=" line-height:1em; {{'float: left;
  padding-right: 10px;' if option.level < 2}} " for="{{ name }}-{{ index}}"
      style="font-weight: normal; margin-bottom: 0"> {# FIXME: remove style #}
    <input id="{{ name }}-{{ index }}" type="checkbox" name="{{ name 
        }}" value="{{ option.value | empty_and_escape }}" {{
        "checked " if checked }} />
    {{ option.text }}
  </label>
  
{% endmacro %}
