{# vim: set filetype=jinja sw=2 sts=2: #}
{% import 'macros/form_wet.html' as form %}

{#
Automatic form field creation with schema_description field and form data

id          - CKAN dataset or resource field id
lang        - language of this field for fields available in both languages
              as separate fields: none, 'eng' or 'fra'
field       - schema_description field dict for this CKAN field
data        - dict containing form data by CKAN field id
errors      - dict containing form errors by CKAN field id
client_lang - language from h.lang(): 'en' or 'fr'
orgs_avail  - h.organizations_available helper (optional)
#}
{% macro formfield(id, lang, field, data, errors, client_lang, orgs_avail=none) %}
  {% set client_lang = 'fra' if client_lang == 'fr' else 'eng' %}

  {% set inputargs = {
    'name': id,
    'label': ('* ' if field.mandatory == 'all' else '')
      + field.label[client_lang],
    'placeholder': field.example['eng' if lang != 'fra' else 'fra'],
    'value': data[id],
    'error': errors[id],
    'id': 'field-' + id,
    'classes': ['control-medium'],
    } %}

  {% if lang %}
    {% do inputargs.update({'label': inputargs.label + ' ' +
      schema_description.resource_field_by_id.language.choices[
      1 if lang != 'fra' else 2][client_lang]}) %}
  {% endif %}

  {% if field.get('ui_disabled') %}
    {% do inputargs.update({'attrs': {'class': 'ui-disabled'}}) %}
  {% endif %}

  {% set widget = form.input %}
  {% if id in ('notes', 'notes_fra') %}
    {% set widget = form.markdown %}

  {% elif id == 'size' %}
    {% set widget = form.append %}
    {% do inputargs.update({'append': 'O' if client_lang == 'fra' else 'B' }) %}

  {% elif field.type == 'date' %}
    {% do inputargs.update({'type': 'date', 'value': h.date_format(data[id]) or h.today() }) %}

  {% elif field.type == 'boolean' %}
    {% set widget = big_checkbox_field %}

  {% elif field.choices %}
    {% do inputargs.update({'options':[]}) %}
    {% if id in data %}
      {% do inputargs.update({'selected':data[id]}) %}
    {# custom requirement from client #}
    {% elif field.id == 'catalog_type' %}
      {% do inputargs.update({'selected':field.choices[0].key}) %}
    {% endif %}
    {# kwargs form.select doesn't support #}
    {% do inputargs.pop('value') %}
    {% do inputargs.pop('placeholder') %}

    {% if id == 'owner_org' %}
      {% do inputargs.options.append({'text': '', 'value': ''}) %}
      {% for org in orgs_avail('create_dataset') %}
        {% set c = field.choices_by_key[org.name] %}
        {% do inputargs.options.append({
          'text': c[client_lang],
          'value': org.id, })
        %}
      {% endfor %}

    {% elif id == 'geographic_region' %}
      {% for c in field.choices %}
        {% set skip = false %}
        {% if not c.id %}
          {% set skip = true %}
        {% elif c.id > 99 %}
          {% set level = 2 %}
        {% elif c.id > 9 %}
          {% set level = 1 %}
        {% else %}
          {% set level = 0 %}
        {% endif %}
        {% if not skip %}
          {% do inputargs.options.append({
            'text': c[client_lang],
            'value': c.key,
            'level': level, })
          %}
        {% endif %}
      {% endfor %}

    {% else %}
      {% if field.type != 'tag_vocabulary' and (
          field.mandatory != 'all' or field.choices|length > 1) %}
        {% do inputargs.options.append({'text': '', 'value': ''}) %}
      {% endif %}
      {% for c in field.choices %}
        {% do inputargs.options.append({
          'text': c[client_lang],
          'value': c.key, })
        %}
      {% endfor %}
    {% endif %}

    {% if id == 'geographic_region' %}
      {% set widget = geo_checkbox_field %}
    {% elif field.type == 'tag_vocabulary' %}
      {% set widget = multi_checkbox_field %}
    {% else %}
      {% set widget = form.select %}
    {% endif %}
  {% endif %}

  {% call widget(**inputargs) %}
    {% if field.description %}
      {{ form.info(field.description[client_lang]) }}
    {% endif %}
  {% endcall %}
{% endmacro %}

{#
Create a group of checkboxes for a tag vocabulary field with all the
currently chosen options checked

name        - The name of the form parameter.
id          - The id to use on the input and label. Convention is to prefix with 'field-'.
label       - The human readable label.
options     - A list/tuple of fields to be used as <options>.
selected    - The value of the selected <option>.
error       - A list of error strings for the field or just true to highlight the field.
classes     - An array of classes to apply to the control-group.
#}
{% macro multi_checkbox_field(name, id, label, options, selected, error,
    classes=[], attrs=[]) %}
  {%- set extra_html = caller() if caller -%}
    <div class="control-group{{ " error" if error }}"></div>
    <h4>{{ label }}</h4>
    <div class="span-1 row-start"></div>
    <div class="controls span-4 row-end">
      {% for o in options %}
        <label class="form-checkbox" for="{{ name }}-{{ loop.index0 }}"
            style="font-weight: normal; margin-bottom: 0"> {# FIXME: remove style #}
          <input id="{{ name }}-{{ loop.index0 }}" type="checkbox" name="{{ name 
              }}" value="{{ o.value | empty_and_escape }}" {{
              "checked " if o.value in selected }} />
          {{ o.text }}
        </label>
      {% endfor %}
      {% if error and error is iterable %}<strong class="error-inline">{{ error|join(', ') }}</strong>{% endif %}
      {{ extra_html }}
    </div>
    <div class="clear"></div>
{% endmacro %}

{% macro geo_checkbox_field(name, id, label, options, selected, error,
    classes=[], attrs=[]) %}
  {%- set extra_html = caller() if caller -%}
    <div class="control-group{{ " error" if error }}"></div>
    <h4>{{ label }}</h4>
    <div class="span-1 row-start"></div>
    <div class="controls span-4 row-end">
      {% set last_level = options[0].level %}
      {% for o in options %}
        {% set checked = True if o.value in selected %}
        
        {% if o.level == last_level -1 %}
        </details>
        {% elif o.level == last_level -2 %}
          </details>
        </details>
        {% endif %}
        
        {% if o.level == 0 %}
        <details class="span-4">
          <summary>
            {{ geo_checkbox(name, option = o, index = loop.index0, checked = checked) }}
          </summary>
          <div class="clear"></div>
        {% elif o.level == 1 %}
          <details class="span-4">
            <summary class="indent-large">
              {{ geo_checkbox(name, option = o, index = loop.index0, checked = checked) }}
            </summary>
            <div class="clear"></div>
        {% elif o.level == 2 %}
          {{ geo_checkbox(name, option = o, index = loop.index0, checked = checked) }}
        {% endif %}
        
        {% set last_level = o.level %}
        
        {% if False %}
        <label>{{o.level}}</label>
        <label class="form-checkbox" for="{{ name }}-{{ loop.index0 }}"
            style="font-weight: normal; margin-bottom: 0"> {# FIXME: remove style #}
          <input id="{{ name }}-{{ loop.index0 }}" type="checkbox" name="{{ name 
              }}" value="{{ o.value | empty_and_escape }}" {{
              "checked " if o.value in selected }} />
          {{ o.text }}
        </label>
        {% endif %}
        
      {% endfor %}
      {% if error and error is iterable %}<strong class="error-inline">{{ error|join(', ') }}</strong>{% endif %}
      {{ extra_html }}
    </div>
    <div class="clear"></div>
{% endmacro %}


{% macro geo_checkbox(name, id='', option='', index=0, checked=false, placeholder='', error="", classes=[], attrs={}) %}
  
  <label class="form-checkbox {{'indent-xlarge' if option.level == 2}}" style=" line-height:1em; {{'float: left;
  padding-right: 10px;' if option.level < 2}} " for="{{ name }}-{{ index}}"
      style="font-weight: normal; margin-bottom: 0"> {# FIXME: remove style #}
    <input id="{{ name }}-{{ index }}" type="checkbox" name="{{ name 
        }}" value="{{ option.value | empty_and_escape }}" {{
        "checked " if checked }} />
    {{ option.text }}
  </label>
  
{% endmacro %}

{#
Build a list of errors for the current form.

errors        - A dict of field/message pairs.
schema_fields - schema_description.dataset_field_by_id or .resource_field...
client_lang   - language from h.lang(): 'en' or 'fr'

Example:

  {% import 'macros/form.html' as form %}
  {{ form.errors(error_summary, type="warning") }}

#}
{% macro errors(errors={}, schema_fields, client_lang) %}
  {% set client_lang = 'fra' if client_lang == 'fr' else 'eng' %}
  {% if errors %}
    <div class="error-explanation module-alert margin-bottom-large alert-{{ type }}{{ " " ~ classes | join(' ') }}">
      <p>{{ _('The form contains invalid entries:') }}</p>
      <ul>
        {% for key, error in errors.items() %}
          {% if key.endswith('_fra') %}
            {% set key_base = key[:-4] %}
          {% else %}
            {% set key_base = key %}
          {% endif %}
          {% set f = schema_fields[key_base] %}
          {% set label = schema_fields[key_base].label[client_lang] %}
          {% if f.bilingual %}
            {% set label = label + ' ' +
              schema_description.resource_field_by_id.language.choices[
              2 if key.endswith('_fra') else 1][client_lang] %}
          {% endif %}
          <li data-field-label="{{ key }}">{% if key %}{{
            label }}: {% endif %}{{ ', '.join(error) }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{#
Create a single checkbox field, with emphasis

name        - The name of the form parameter.
id          - The id to use on the input and label. Convention is to prefix with 'field-'.
label       - The human readable label.
options     -
selected    -
error       - A list of error strings for the field or just true to highlight the field.
classes     - An array of classes to apply to the control-group.
#}
{% macro big_checkbox_field(name, id='', label='', value='', checked=false,
    placeholder='', error="", classes=[], attrs={}) %}
  {%- set extra_html = caller() if caller -%}
    <div class="control-group{{ " error" if error }}"></div>
    <h4>{{ label }}</h4>
    <div class="span-1 row-start"></div>
    <div class="controls span-4 row-end">
      <label class="form-checkbox background-highlight" for="{{ name }}"
          style="font-weight: normal; margin-bottom: 0"> {# FIXME: remove style #}
        <input id="{{ name }}" type="checkbox" name="{{ name
            }}" value="{{ 1 | empty_and_escape }}" {{
            "checked " if value }} />
        {{ extra_html }}
      </label>
      {% if error and error is iterable %}<strong class="error-inline">{{ error|join(', ') }}</strong>{% endif %}
    </div>
    <div class="clear"></div>
{% endmacro %}
