{% extends '/package/search.html' %}

{% block primary_content %}
  <section role="main" id="search-results">
    <div class="module-poster">
      <form id="dataset-search" class="dataset-search clearfix" method="get" data-module="select-switch" role="search">
        <div id="search">
          <label for="q">{{_('Search Datasets')}}</label>
          <input type="text" class="search" name="q" id="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search...') }}" size="45"/>
          
          {% block suggest_a_dataset_button %}{% endblock %}
        </div>

        {{ h.snippet('snippets/sort_by.html', sort=c.sort_by_selected) }}
        
        <button type="submit" class="button button-large button-accent" value="{{ _('Search') }}">{{ _('Submit') }}</button>
        
        {% if c.fields -%}
          <span>
            {{ form.hidden_from_list(fields=c.fields) }}
          </span>
        {%- endif %}

        <div id="dataset-search-ext">{% block dataset_search_ext %}{% endblock %}</div>
      </form>
      <div class="{% if request.params and c.page.item_count == 0 -%}module-info module-simplify{%- endif -%}">
        <h3>{{_('Search Results:')}}</h3>
        <strong>
          {% snippet 'snippets/search_result_text.html', query=c.q, count=c.page.item_count, type='dataset' %}
        </strong>
        <div class="filter-list">
          {% block filter_list %}
          {% for field in c.fields_grouped %}
            {% set search_facets_items = c.search_facets.get(field)['items'] %}
            <span class="facet">{{ c.facet_titles.get(field) }}:</span>
            {% for value in c.fields_grouped[field] %}
              <span class="filtered pill background-accent facet-filter">
                {%- if c.translated_fields and c.translated_fields.has_key((field,value)) -%}
                  {{ c.translated_fields[(field,value)] }}
                {% elif field == 'subject' %}
                  {# since we separate subjects by two spaces instead of a pipe... #}
                  {{ cr.split_subject_field(value, h.lang()) }}
                {%- else -%}
                  {{ h.list_dict_filter(search_facets_items , 'name', 'display_name', value) }}
                {%- endif %}
                <a href="{{ h.remove_url_param(field, value=value, controller='ckanext.canada.controller:PublishController', action='search') }}" class="remove" title="{{ _('Remove') }}"><span class="wb-icon-x"></span></a>
              </span>
            {% endfor %}
          {% endfor %}
          {% endblock %}
        </div>
        {% if request.params and c.page.item_count == 0 %}
          {% block try_another_search %}
          {% trans %}
            <p class="extra">Please try another search.</p>
          {% endtrans %}
          {% endblock %}
        {% endif %}
      </div>

      {% if c.query_error %}
        {% trans %}
          <p><strong>There was an error while searching.</strong> Please try again.</p>
        {% endtrans %}
      {% endif %}
      {{ h.snippet('publish/package_list.html', packages=c.page.items) }}
    </div>

    {%- block pager -%}
      {{ c.page.pager(q=c.q) }}
    {%- endblock -%}
  </section>

  {%- block api_access_info -%}
    <!-- We want this block to be empty in the canada extension -->
  {%- endblock -%}
  
{% endblock %}

{% block extra_facets %}
  {# we want this to be empty. we don't want to show the publish/pending facet on the publish interface #}
{% endblock %}

{# block scripts %}
{{ super() }}
{% resource 'js/check_all.js' %}
{% endblock #}

{% block page_extra_scripts %}
    <!--[if gte IE 9 | !IE ]><!-->
    <script src="{{ h.url_for_static('/static/js/check_all.js') }}" type="text/javascript"></script>
    <!--<![endif]--><!--[if lt IE 9]>
    <script src="{{ h.url_for_static('/static/js/check_all.js') }}"></script>
    <![endif]-->
{% endblock %}