<section id="dataset-resources" class="module-content indent-large">
  <div class="span-6 margin-top-medium">
  {% if pkg.resources %}
    {% set nonapps = [] %}
    {% for resource in pkg.resources %}
      {% if not resource.related_type %}
        {% do nonapps.append(resource) %}
      {% endif %}
    {% endfor %}
    {% if nonapps %}
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=nonapps %}
    {% endif %}
  {% endif %}
  </div>
</section>

<section class="indent-large">

  {% set apps = [] %}
  {% for resource in pkg.resources %}
    {% if resource.related_type %}
      {% do apps.append(resource) %}
    {% endif %}
  {% endfor %}

  {% if apps %}
  <h4>{{ _('Related Items') }}</h4>
  <table class="wb-tables table table-striped resource-list"
    data-wb-tables='{"bPaginate": false, "searching":false, "info":false,
        "columnDefs": [ { "orderable": false, "targets": 4 }]}'>
    <thead>
      <tr>
        <th class="td-full">{{ _('Title') }}</th>
        <th nowrap class="td-center">{{ _('Relationship') }}</th>
        <th nowrap class="td-center">{{ _('Portal Type') }}</th>
        <th class="td-center">{{ _('Language') }}</th>
        <th class="td-center">{{ _('Links') }}</th>
      </tr>
    </thead>
    <tbody>
    {% set schema = h.scheming_get_dataset_schema(pkg.type) %}
    {% set name_field = h.scheming_field_by_name(schema.resource_fields, 'name_translated') %}
    {% for resource in apps %}
      <tr>
        <td class="td-full">
          {% snippet 'scheming/snippets/display_field.html',
            field=name_field,
            data=resource,
            entity_type='dataset',
            object_type=pkg.type
          %}
        </td>
        <td class="td-center">
          {% snippet 'scheming/snippets/display_field.html',
            field=h.scheming_field_by_name(schema.resource_fields, 'related_relationship'),
            data=resource,
            entity_type='dataset',
            object_type=pkg.type
          %}
        </td>
        <td class="td-center">
          {% snippet 'scheming/snippets/display_field.html',
            field=h.scheming_field_by_name(schema.resource_fields, 'related_type'),
            data=resource,
            entity_type='dataset',
            object_type=pkg.type
          %}
        </td>
        <td class="td-center">
          {% snippet 'scheming/snippets/display_field.html',
            field=h.scheming_field_by_name(schema.resource_fields, 'language'),
            data=resource,
            entity_type='dataset',
            object_type=pkg.type
          %}
        </td>
        <td nowrap class="td-center">
          <a href="{{ resource.url }}" class="btn btn-primary" >{{ _('Access') }}</a>
          {% if h.check_access('package_update', {'id': pkg.id}) %}
          {% link_for _('Edit'), controller='package', action='resource_edit', id=pkg.name, resource_id=resource.id, class_='btn btn-default' %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
</section>
