{% import 'macros/canada_read.html' as cr %}

{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

{# Previous variables from Open Maps, delete if no issue #}

{% set schema = h.scheming_get_dataset_schema(pkg.type) %}
{% set name_field = h.scheming_field_by_name(schema.resource_fields, 'name_translated') %}
{% set type_field = h.scheming_field_by_name(schema.resource_fields, 'resource_type') %}
{% set format_field = h.scheming_field_by_name(schema.resource_fields, 'format') %}
{% set lang_field = h.scheming_field_by_name(schema.resource_fields, 'language') %}

{# FIXME: using tables for formatting #}
<tr>
  <td class="">
    {% set name, machine_translated = h.get_translated_t(res, 'name') %}
    {% if ' ' not in name %}
      <span class="wrapall">{{ name }}</span>
    {% else %}
      {{ name }}
    {% endif %}
    {% if machine_translated %}
       <i class="fa fa-language text-muted mrgn-lft-sm" title="{{ _("This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca") }}"></i>
    {% endif %}
  </td>
  <td class="td-center">
    {% snippet 'scheming/snippets/display_field.html',
      field=type_field, data=res, entity_type='dataset', object_type=pkg.type %}
  </td>
  <td nowrap class="td-center">
    {% snippet 'scheming/snippets/display_field.html',
      field=format_field, data=res, entity_type='dataset', object_type=pkg.type %}
  </td>
  <td class="td-center">
    {% snippet 'scheming/snippets/display_field.html',
      field=lang_field, data=res, entity_type='dataset', object_type=pkg.type %}
  </td>
  <td nowrap class="td-center">
    <a href="{{ res.url }}" title="{{_('Resource') ~ ' ' ~ res_num}}" class="resource-url-analytics btn btn-primary" target="_blank" data-pkg-id="{{ pkg.id }}" data-res-id="{{ res.id }}" data-org-id="{{ pkg.organization.id }}">
      {{ _('Access') }}
    </a>
    {% if res.webstore_last_updated %}
    <a href="{{ url }}" class="btn btn-default" >{{ _('Preview') }}</a>
    {% endif %}
    {% if can_edit %}
    {% link_for _('Edit'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn btn-default' %}
    {% endif %}
  </td>
</tr>
