{% ckan_extends %}

{% block basic_fields_url %}
      {{ form.input('url', id='field-url', label=_('URL'), placeholder=_('http://whatever'), value=data.url, error=errors.name) }}
{% endblock %}

{% block previous_button %}
  <button class="btn btn-default" name="save" value="go-dataset" type="submit">{{ _('Previous') }}</button>
{% endblock %}
{% block again_button %}
  <button class="btn btn-default" name="save" value="again" type="submit">{{ _('Save & add another') }}</button>
{% endblock %}
