{% ckan_extends %}
{% block resource_list_inner %}

<a href="/ramp/ramp-{{ h.lang() }}-ckan.html?keys_disabled={{ pkg.name }}" class="btn btn-primary btn-xs pull-right"><span class="fa fa-map-marker"></span> {{ _('View on Map') }}</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{ _('Resource Name') }}</th>
      <th scope="col"><font color="red">{{ _('Format') }}</font></th>
      <th scope="col">{{ _('Language') }}</th>
      <th scope="col">{{ _('Link') }}</th>
    </tr>
  </thead>

{% for resource in resources %}
  {% if resource.format != 'app' %}
    {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang %}
  {% endif %}
{% endfor %}

</table>
{% endblock %}



