


{% block resource_list %}
{% if resources %}

    <h4>{% block resource_list_title %}{{ _('Resources') }}{% endblock %}</h4>
    {% if pkg.resources %}
    {% block resource_list_inner %}
      <table class="wb-tables table table-striped resource-list"
          data-wb-tables='{"searching":false, "info":false,
                  "columnDefs": [ { "orderable": false, "targets": 4 }]}'>
        <thead>
          <tr>
            <th scope="col" nowrap class="td-full">{{ _('Resource Name') }}</th>
            <th scope="col" nowrap class="td-center">{{ _('Resource Type') }}</th>
            <th scope="col" class="td-center">{{ _('Format') }}</th>
            <th scope="col" class="td-center">{{ _('Language') }}</th>
            <th scope="col" nowrap class="td-center">{{ _('Links') }}</th>
          </tr>
        </thead>

      {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
      {% for resource in resources %}
        {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang, can_edit=can_edit %}
      {% endfor %}

      </table>
    {% endblock %}
    {% endif %}
{% else %}
  <p>
    {# Comment out "add some" as action doesn't exist yet #}
    {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
      <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a>
    {% endtrans %}
  </p>
{% endif %}
{% endblock %}




