{% ckan_extends %}

{% set is_registry = h.is_registry() %}
{% set reset_link = h.url_for('user.request_reset') %}

{% block secondary_content %}

  <div class="panel panel-info">
    <div class="panel-heading panel-title">
    {{ _('Need an account') }}</div>
    <div class="panel-body">
      <p>{{ _('Then sign right up, it only takes a minute') }}.</p>
      <p class="action">
        <a class="btn btn-primary btn-xs" href="{{ h.url_for('user.register') }}" role="button">{{ _('Request an Account') }}</a>
      </p>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading panel-title">
    {{ _('Forgotten your password?') }}</div>
    <div class="panel-body">
      <p>{{ _('No problem, use our password recovery form to reset it') }}.</p>
      <p>
        <a class="btn btn-warning btn-xs" href="{{ reset_link }}" role="button">{{ _('Reset password') }}</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block primary_content %}
  {% if is_registry %}
    <div class="panel">
      {% trans %}login welcome text{% endtrans %}

      {% block form %}
        {{ super() }}
      {% endblock %}

      <div class="text-info">
        {% trans %}NOTE: Username and password are case sensitive.{% endtrans %}
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-12">
        {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block help_register %}
  <div class="panel panel-default">
    <div class="panel-body">{{ self.help_register_inner() }}</div>
  </div>
{% endblock %}

{% block help_register_button %}
  <a class="btn btn-default" href="{{ h.url_for('user.register') }}">{{ _(' Create an Account') }}</a>
{% endblock %}

{% block help_forgotten %}
  <div class="panel panel-default">
    <div class="panel-body">{{ self.help_forgotten_inner() }}</div>
  </div>
{% endblock %}

{% block help_forgotten_button %}
  <a class="btn btn-default" href="{{ h.url_for('user.request_reset') }}">{{ _('Forgot your password?') }}</a>
{% endblock %}
