{% ckan_extends %}

{% block primary_content %}
  {% if h.is_registry_domain() %}
    <div class="mrgn-bttm-lg">
      <h2>{{- _('Welcome to the Open Government Registry') -}}</h2>
      <p>
        {{- _('Use the Registry to publish government resources on the Open Government Portal.') -}}
        <br/>
        {{- _('For more information on using the Registry or to report errors, contact <a href="mailto:{support}">{support}</a>.').format(support=h.support_email_address()) | safe -}}
      </p>
      <div class="alert alert-info">
        <details>
          <summary>{{- _('New password security requirements') -}}</summary>
          <p>
            {{- _("The Open Government Registry is now enforcing new password requirements to align with the best practices outlined in the Government of Canada's Password Guidance:") -}}
          </p>
          <ul>
            <li>{{- _('Minimum length equals 12 characters') -}}</li>
            <li>{{- _('Includes at least three of the following character sets: uppercase characters, lowercase characters, digits, punctuation & special characters') -}}</li>
            <li>{{- _('Does not equal username') -}}</li>
          </ul>
          <p>
            {{- _('Users with passwords that do not currently meet the new requirements can update their passwords, through <em>Change password</em> section of My Profile page or the <a href="/user/reset">Reset password</a> function.') -}}
          </p>
          <p>
            {{- _('<strong>Please note:</strong> if passwords are not updated by the end of 2024, we will implement a process to force users to change their password to meet the new requirements before they can access the Registry.') -}}
          </p>
        </details>
      </div>
      {% block form %}
        {{ super() }}
      {% endblock %}
    </div>
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% if h.is_registry_domain() %}
    {% set reset_link = h.url_for('user.request_reset') %}
    {% set name_reset_link = h.url_for('canada.recover_username') %}
    <div class="panel panel-info">
      <div class="panel-heading panel-title">
        {{ _('Need an account') }}
      </div>
      <div class="panel-body">
        <p>{{ _('Then sign right up, it only takes a minute') }}.</p>
        <p class="action">
          <a class="btn btn-primary btn-xs" href="{{ h.url_for('user.register') }}" role="button">{{ _('Request an Account') }}</a>
        </p>
      </div>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading panel-title">
      {{ _('Forgotten your password?') }}</div>
      <div class="panel-body">
        <p>{{ _('No problem, use our password recovery form to reset it') }}.</p>
        <p>
          <a class="btn btn-warning btn-xs" href="{{ reset_link }}" role="button">{{ _('Reset password') }}</a>
        </p>
      </div>
    </div>
    {% if h.plugin_loaded('gcnotify') %}
      {# The email template for username recovery is monkey patched in GC Notify so we need that loaded #}
      <div class="panel panel-warning">
        <div class="panel-heading panel-title">
          {{ _('Forgotten your username?') }}
        </div>
        <div class="panel-body">
          <p>{{ _('No problem, use our username recovery form to recover it') }}.</p>
          <p>
            <a class="btn btn-warning btn-xs" href="{{ name_reset_link }}" role="button">{{ _('Recover username') }}</a>
          </p>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block help_register %}
  <div class="panel panel-default">
    <div class="panel-body">{{ self.help_register_inner() }}</div>
  </div>
{% endblock %}

{% block help_register_button %}
  <a class="btn btn-default" href="{{ h.url_for('user.register') }}">{{ _(' Create an Account') }}</a>
{% endblock %}

{% block help_forgotten %}
  <div class="panel panel-default">
    <div class="panel-body">{{ self.help_forgotten_inner() }}</div>
  </div>
{% endblock %}

{% block help_forgotten_button %}
  <a class="btn btn-default" href="{{ h.url_for('user.request_reset') }}">{{ _('Forgot your password?') }}</a>
{% endblock %}
