{% if h.is_registry_domain() %}
  {% import 'macros/form.html' as form %}
  <form id="user-register-form" role="form" action="" method="post" enctype="multipart/form-data">
    {{ h.csrf_input() }}
    {{ form.errors(error_summary) }}
    {% call form.input("name", id="field-username", label=_("Username"), value=data.name, error=errors.name, attrs={'class': 'form-control canada-custom-validity-general'}, is_required=true, classes=["control-medium"])  %}
      {{ form.info(_('Use only lowercase letters (a-z) and numbers (0-9) with optional hyphens (-) and underscores (_). Example: joe-bloggs')) }}
    {% endcall %}
    {% call form.input("fullname", id="field-fullname", label=_("Full Name"), value=data.fullname, error=errors.fullname, attrs={'class': 'form-control canada-custom-validity-general'}, is_required=true, classes=["control-medium"]) %}
      {{ form.info(_('Example: Joe Bloggs')) }}
    {% endcall %}
    {% call form.input("email", id="field-email", label=_("Email"), type="email", value=data.email, error=errors.email, attrs={'class': 'form-control canada-custom-validity-email'}, is_required=true, classes=["control-medium"]) %}
      {{ form.info(_('Example: {example_email}').format(example_email=h.obfuscate_to_code_points('joe.bloggs@tbs-sct.gc.ca'))) }}
    {% endcall %}
    {% set format_attrs={'data-module': 'autocomplete', 'data-module-source': h.url_for('canada.organization_autocomplete') ~ '?q=?', 'data-module-key': 'title', 'data-module-label': 'title', 'data-module-dropdownClass': 'org-select2-dropdown', 'data-module-containerClass': 'org-select2-container', 'data-module-tags': 'false', 'data-module-createtags': 'false', 'class':'control-medium canada-custom-validity-general'} %}
    {{ form.input('department', id='field-department', label=_('Organization'), value=data.department, error=errors.department, attrs=format_attrs, is_required=true, placeholder=_('Search organizations...')) }}
    {% call form.input("phoneno", id="field-phoneno", label=_("Phone Number"), value=data.phoneno, error=errors.phoneno, classes=["control-medium"]) %}
      {{ form.info(_('Example: 000 000 0000')) }}
    {% endcall %}
    {% call form.input("password1", id="field-password", label=_("Password"), value=data.password1, error=errors.password1, type="password", attrs={'class': 'form-control canada-custom-validity-general', 'autocomplete': 'off'}, is_required=true, classes=["control-medium"]) %}
      {{ form.info(_('Password must be 12 characters or longer, and must consist of at least three of the following character sets: uppercase characters, lowercase characters, digits, punctuation & special characters')) }}
    {% endcall %}
    {% call form.input("password2", id="field-confirm-password", label=_("Confirm Password"), value=data.password2, error=errors.password1, type="password", attrs={'class': 'form-control canada-custom-validity-general', 'autocomplete': 'off'}, is_required=true, classes=["control-medium"]) %}
      {{ form.info(_('The password must match')) }}
    {% endcall %}
    <div class="terms-and-conditions">
      {% trans %}
        <h2>Terms and Conditions for the Open Government Registry</h2>
        <p><em>Privacy Statement</em></p>
        <p>The Government of Canada is committed to providing measures that respect and value your privacy and security. This page summarizes the privacy policy and practices that apply to your Open Government Registry Account Credentials.</p>
        <p>The purpose for collecting and using “Username, Password and Email” is to issue, manage and validate anonymous credentials of individuals accessing and/or communicating with Government of Canada systems and applications.</p>
        <p>The personal information may be used to establish audit trails of credential usage. In the case of suspected security or privacy breaches, personal information may be shared with departmental security and access to information and privacy officials, as well as the federal government department or agency which collects and uses the personal information considered to have been compromised (refer to Standard PIB Security Incidents - PSU 939). For suspected criminal activity, personal information may also be disclosed to the Royal Canadian Mounted Police for investigational purposes; refer to institution-specific PIB Operational Case Records - RCMP PPU 005.</p>
        <p>We employ software programs to monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage. This software receives and records the Internet Protocol (IP) address of the computer that has contacted our websites, the date and time of the visit and the pages visited. We make no attempt to link these addresses with the identity of individuals visiting our sites unless an attempt to damage the sites has been detected.</p>
        <p>Questions, concerns and complaints regarding this notice, or the administration of the Privacy Act in connection with your GCKey may be directed to the Access to Information and Privacy Protection Division by email to <a href="mailto:&#065;&#084;&#073;&#080;&#045;&#065;&#073;&#080;&#082;&#080;&#064;&#115;&#115;&#099;&#045;&#115;&#112;&#099;&#046;&#103;&#099;&#046;&#099;&#097;">&#065;&#084;&#073;&#080;&#045;&#065;&#073;&#080;&#082;&#080;&#064;&#115;&#115;&#099;&#045;&#115;&#112;&#099;&#046;&#103;&#099;&#046;&#099;&#097;</a>, or by writing to the following address:</p>
        <p>Access to Information and Privacy Directorate<br/>
        Corporate Secretariat<br/>
        Shared Services Canada<br/>
        PO Box 9808, STN T, CSC<br/>
        Ottawa ON K1G 4A8</p>
        <p>For more information on privacy issues and the <em>Privacy Act</em> in general, please consult the Office of the <a href="http://www.priv.gc.ca/index_e.asp">Privacy Commissioner of Canada</a> website or call 1-800-282-1376.</p>
        <p>In return for the Treasury Board of Canada Secretariat (TBS) giving you access to the Open Government Registry (the Registry), you agree to abide by the following terms and conditions of use for this and all future uses of the Registry:</p>
        <ol><li>You agree to provide all of the required information for the creation of a registry account<br/>
        Username<br/>
        Full Name<br/>
        Government of Canada Email<br/>
        Department Name<br/>
        Password</li>
        <li>You agree that any information you provide is true, accurate, and complete to the best of your knowledge.</li>
        <li>You understand and accept that you are at all times responsible for your login information . This responsibility applies even if you change your login information. This information must be kept confidential at all times and must not be shared with or disclosed to others.</li>
        <li>If your login information (i.e. username, password) are revealed or if you suspect that someone else has learned or obtained them, you are responsible for taking all necessary measures to ensure compliance with the terms and conditions you agreed to when you created your login information.</li>
        <li>You agree not to use your own or another individual's login information for any improper activities.</li>
        <li>You agree to provide all of the required information for the creation of records</li>
        <li>You agree not to use the services in a manner that harasses or may harass other parties, or that will or will have the potential to disrupt, undermine, corrupt, diminish or otherwise threaten or jeopardize the Registry.</li>
        <li>The TBS Open Government Team will monitor access to the Registry to ensure the service is being used responsibly and in accordance with these terms and conditions.</li>
        <li>You understand and accept that the TBS Open Government Group can suspend or revoke your access to the Registry without notice under the following circumstances:
          <ul><li>we suspect unauthorized use of your personal or login information;</li>
          <li>you fail to comply with any of the terms and conditions of use and/or agreements in place with the Treasury Board of Canada Secretariat;</li>
          <li>as a security measure;</li>
          <li>for operational reasons;</li>
          <li>for administrative reasons.</li></ul></li>
        <li>The TBS Open Government Group has taken all reasonable steps to ensure the security of this website. We have used sophisticated encryption technology and incorporated other procedures to protect your personal information at all times. However, the Internet is a public network and there is the remote possibility of data security violations.</li>
        <li>TBS is not responsible for the failure to meet publication deadlines relating to:
          <ul><li>the availability or unavailability, for any reason, of the Internet, login services or other infrastructure systems;</li>
          <li>any restriction, delay, malfunction, or unavailability of the Registry</li></ul></li>
        <li>These terms and conditions of use may be amended from time to time</li></ol>
        <p>By selecting “I agree” you indicate that you accept these terms and conditions of use.</p>
        <p>If you select “I do not agree” you will not have access to the Registry.</p>
      {% endtrans %}
    </div>
    <script nonce="{{- h.get_inline_script_nonce() -}}">
      window.addEventListener('load', function(){
        $(document).ready(function(){
          const invalidGeneralMsg = '{{- _("Please fill out this field.") -}}';
          const invalidEmailMsg = '{{- _("Please enter a valid email address.") -}}';

          let generalFields = $('.canada-custom-validity-general');
          if( generalFields.length > 0 ){
            $(generalFields).each(function(_index, _generalField){
              $(_generalField).off('invalid.CustomMessage');
              $(_generalField).on('invalid.CustomMessage', function(_event){
                $(_generalField)[0].setCustomValidity(invalidGeneralMsg);
              });
              $(_generalField).on('change', function(_event){
                $(_generalField)[0].setCustomValidity('');
              });
            });
          }

          let emailFields = $('.canada-custom-validity-email');
          if( emailFields.length > 0 ){
            $(emailFields).each(function(_index, _emailField){
              $(_emailField).off('invalid.CustomMessage');
              $(_emailField).on('invalid.CustomMessage', function(_event){
                $(_emailField)[0].setCustomValidity(invalidEmailMsg);
              });
              $(_emailField).on('change', function(_event){
                $(_emailField)[0].setCustomValidity('');
              });
            });
          }
        });
      });
    </script>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" name="save">{{ _("I agree") }}</button>
      <button class="btn btn-default" type="reset">{{ _("I do not agree") }}</button>
    </div>
  </form>
{% endif %}
