{% ckan_extends %}

{% block primary_content %}
  {% if h.is_registry_domain() %}
    <div class="row mrgn-bttm-lg mrgn-tp-md canada-page-main-wrapper">
      <div class="col-md-12">
        <section class="alert alert-info">
          <p>{% trans %}password reset requirements{% endtrans %}</p>
        </section>
        <section>
          {% block primary_content_inner %}
            <div class="module-content">
              {% block form %}
                {{ super() }}
              {% endblock %}
            </div>
          {% endblock %}
        </section>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block help %}
  <section class="module module-info span-2">
    {{ self.help_inner() }}
  </section>
{% endblock %}

{% block secondary_content %}
{% endblock %}
