{% ckan_extends %}

{% block breadcrumb_content %}
  {% if h.is_registry_domain() %}
    {{ h.build_nav('user.index', _('Users')) }}
    {{ h.build_nav('user.read', user.display_name|truncate(35), id=user.name) }}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('user.read', h.humanize_entity_type('package', dataset_type, 'content tab') or _('Datasets'), id=user.name, icon='sitemap') }}
  {% if h.check_access('sysadmin') %}
    {% if h.plugin_loaded('activity') %}
      {{ h.build_nav_icon('activity.user_activity', _('Activity'), id=user.name, icon='clock') }}
    {% endif %}
  {% endif %}
  {{ h.build_nav_icon('user.read_organizations', h.humanize_entity_type('organization', org_type, 'content tab') or _('Organizations'), id=user.name, icon='building') }}
  {% if h.check_access('api_token_list', {'user': user['name']}) %}
    {{ h.build_nav_icon('user.api_tokens', _('API Tokens'), id=user.name, icon='key') }}
  {% endif %}
  {% if h.security_enable_totp() and h.check_access('user_update', user) %}
    {{ h.build_nav_icon('mfa_user.configure_mfa', _('MFA'), id=user.name, icon='shield-alt') }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">{{ _('Details') }}</div>
    </div>
    {% block secondary_content_inner %}
      {% block user_heading %}{% endblock %}
      <div class="panel-body">
      {% block user_about %}
        {% if about_formatted %}
          {{ about_formatted }}
        {% endif %}
      {% endblock %}
      {% block user_nums %}
      <div class="row">
        <div class="col-md-8 left-center text-break text-wrap"><strong>{{ _('Followers:') }} </strong></div>
        <div class="col-md-4 left-center text-break text-wrap">{{ h.SI_number_span(user.num_followers) }}</div>
      </div>
      <div class="row">
        <div class="col-md-8 left-center text-break text-wrap"><strong>{{ _('Datasets:') }} </strong></div>
        <div class="col-md-4 left-center text-break text-wrap">{{ h.SI_number_span(user.number_created_packages) }}</div>
      </div>
      {% endblock %}
      {% block user_follow %}{% endblock %}  {# disallow following, not fully fleshed out in Canada setup #}
      {% block user_info %}
        <div class="row mrgn-tp-md">
          {% if user.name.startswith('http://') or user.name.startswith('https://') %}
            <div class="col-md-12 left-center text-break text-wrap"><strong>{{ _('Open ID:') }} </strong></div>
            <div class="col-md-12 left-center text-break text-wrap">{{ user.name|urlize(25) }}{# Be great if this just showed the domain #}</div>
          {% else %}
            <div class="col-md-12 left-center text-break text-wrap"><strong>{{ _('Username:') }} </strong></div>
            <div class="col-md-12 left-center text-break text-wrap">{{ user.name }}</div>
          {% endif %}
        </div>
        {% set user_email = h.get_user_email(user.id) %}
        {% if user_email %}
          <div class="row mrgn-tp-md">
            <div class="col-md-12 left-center text-break text-wrap"><strong>{{ _('Email') }} <span
                class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></strong></div>
            <div class="col-md-12 left-center text-break text-wrap"><a href="mailto:{{- h.obfuscate_to_code_points(user_email) -}}">{{- h.obfuscate_to_code_points(user_email) -}}</a></div>
          </div>
        {% endif %}
        <div class="row mrgn-tp-md">
          <div class="col-md-12 left-center text-break text-wrap"><strong>{{ _('Member Since') }}</strong></div>
          <div class="col-md-12 left-center text-break text-wrap">{{ h.render_datetime(user.created) }}</div>
        </div>
        {% if h.is_registry_domain() %}
          <div class="info mrgn-tp-md">
            {% if h.user_organizations(user) %}
            <dl>
              <dt>{{ _('Organizations') }}</dt>
              <dd><ul>
                {% for org in h.user_organizations(user) %}
                  <li><a class="text-break text-wrap" href="{{ h.url_for(org.type + '.read', id=org.name) }}">{{h.split_piped_bilingual_field(org.title, h.lang())}}</a></li>
                {% endfor %}
              </ul></dd>
            </dl>
            {% endif %}
          </div>
        {% endif %}
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}
