{% ckan_extends %}

{% block page %}
  {{ super() }}
  <div id="dtprv_processing" class="dataTables_processing card">
    <div>
      <div></div><div></div><div></div><div></div>
    </div>
  </div>
{% endblock %}

{%- block datatable_column_label -%}
  {%- set label = 'label_' + h.lang() -%}
  {%- set description = 'notes_' + h.lang() -%}
  {%- if data_dictionary_labels and field.info is defined and field.info[label]|length -%}
    {# remove encode when upgrading to CKAN 2.9 - applied as a fix for OPEN-2054 #}
    {{ field.info[label].encode('ascii', 'xmlcharrefreplace') | safe }}
  {%- else -%}
    {{ field.id|replace(" ", nbspval) }}
  {%- endif -%}
  &nbsp;
  {%- if data_dictionary_labels and field.info is defined and field.info[description]|length -%}
    <i class="fa fa-info-circle" title="{{ h.markdown_extract(field.info[description], 300) }}"></i>
  {%- endif -%}
  &nbsp;
{%- endblock -%}

{%- block links -%}
  {{super()}}
  {%- block meta -%}
    {{ super() }}
    {% block adobe_analytics_meta %}
      {%- block adobe_analytics_title -%}
      <meta property="dcterms:title" content="{{ g.site_title }}" />
      {%- endblock -%}
      <meta property="dcterms:language" content="{{ h.adobe_analytics_lang() }}" />
      {%- block adobe_analytics_creator -%}
      {# remove encode when moving from fanstatic - applied as a fix for OPEN-1566 #}
      <meta property="dcterms:creator" content="{{ _('Treasury Board of Canada Secretariat').encode('ascii', 'xmlcharrefreplace') | safe }}"/>
      {%- endblock -%}
      <meta property="dcterms:service" content="OG-GO" />
      <meta property="dcterms:accessRights" content="{{ h.adobe_analytics_login_required(h.full_current_url()) }}" />
    {%- endblock -%}
  {%- endblock -%}

  {%- block google_analytics -%}
    {% set ga4_id = h.ga4_id() %}
    {% if ga4_id %}
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga4_id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ ga4_id }}');
      </script>
    {% endif %}
  {%- endblock -%}

  {% block adobe_analytics %}
    {% if h.adobe_analytics_js() %}
      <script src="{{ h.adobe_analytics_js() }}"></script>
    {% endif %}
  {%- endblock -%}
{%- endblock -%}

{% block scripts %}
  {% block adobe_analytics_footer %}
    <script type="text/javascript">if( typeof _satellite !== "undefined" ){ _satellite.pageBottom(); }</script>
  {%- endblock -%}
  {% block google_analytics_footer %}{%- endblock -%}
  {{ super() }}
  <script src="{{ h.url_for_static('/static/js/canada_datatables.js') }}" type="text/javascript"></script>
{% endblock %}

{%- block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ h.url_for_static('/css/canada_datatables.css?x=1') }}" type="text/css" />
{%- endblock -%}
