{% ckan_extends %}
{% import 'macros/canada_read.html' as cr %}

{%- block title -%}
  {# Core datatables views uses no spaces and EM Dashes. Lets force our title formatting here... #}
  {%- set package_title, package_machine_translated = h.get_translated_t(package, 'title') -%}
  {%- set resource_title, resource_machine_translated = h.get_translated_t(resource, 'name') -%}
  {{- (package_title or package.name) | trim -}} - {{- (resource_title or resource.name) | trim -}} - {{- _(g.site_title) | trim -}}
{%- endblock -%}

{% block page %}
  {{ super() }}
  <div id="dtprv_processing" class="dataTables_processing card">
    <div>
      <div></div><div></div><div></div><div></div>
    </div>
  </div>
{% endblock %}

{%- block datatable_column_label -%}
  {%- set label = 'label_' + h.lang() -%}
  {%- set description = 'notes_' + h.lang() -%}
  {%- if data_dictionary_labels and field.info is defined and field.info[label]|length -%}
    {{ field.info[label] | trim }}
  {%- else -%}
    {{ field.id|replace(" ", nbspval) }}
  {%- endif -%}
  &nbsp;
  {%- if data_dictionary_labels and field.info is defined and field.info[description]|length -%}
    <i class="fa fa-info-circle" title="{{ h.markdown_extract(field.info[description], 300) }}"></i>
  {%- endif -%}
  &nbsp;
{%- endblock -%}

{% block adobe_analytics_creator %}
  {%- set owner_org_title = cr.split_bilingual_field(package.organization.title, h.lang()) -%}
  {%- set owner_2 = 'N/A' -%}
  {%- set owner_3 = 'N/A' -%}
  {%- set owner_4 = 'N/A' -%}
  {% if 'org_section' in package and h.scheming_language_text(package.org_section) | length > 0 %}
    {% set org_sections = h.scheming_language_text(package.org_section).split(',') %}
    {%- set owner_2 = (org_sections[0] or 'N/A') | trim -%}
    {%- set owner_3 = (org_sections[1] or 'N/A') | trim -%}
    {%- set owner_4 = (org_sections[2] or 'N/A') | trim -%}
  {% endif %}
  {{ h.adobe_analytics_creator(creator=owner_org_title,
                                owner_1=owner_org_title, owner_2=owner_2,
                                owner_3=owner_3, owner_4=owner_4) }}
{% endblock %}

{% block scripts %}
  {% block adobe_analytics_footer %}
    <script type="text/javascript">if( typeof _satellite !== "undefined" ){ _satellite.pageBottom(); }</script>
  {% endblock %}
  {% block google_analytics_footer %}{% endblock %}
  {{ super() }}
  {% asset 'canada_datatables/js' %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'canada_datatables/css' %}
{% endblock %}
