:root{
  --canada-root-dir: '/data';
}

#flDebug .flDebugPanelContentParent{
  overflow: scroll !important;
}

/* Core data:image overrides for CSP support */
body .form-select{
  /* background-image: url("/data/static/img/data_img/chevron-down.svg"); */
  background-image: none;
}

body .form-check-input:checked[type=checkbox]{
  /* background-image: url("/data/static/img/data_img/check.svg"); */
  background-image: none;
}

body .form-check-input:checked[type=radio]{
  /* background-image: url("/data/static/img/data_img/dot.svg"); */
  background-image: none;
}

body .form-check-input[type=checkbox]:indeterminate{
  /* background-image: url("/data/static/img/data_img/dash.svg"); */
  background-image: none;
}

body .form-switch .form-check-input {
  /* background-image: url("/data/static/img/data_img/dot-grey.svg"); */
  background-image: none;
}

body .form-switch .form-check-input:focus{
  /* background-image: url("/data/static/img/data_img/dot-blue.svg"); */
  background-image: none;
}

body .form-switch .form-check-input:checked{
  /* background-image: url("/data/static/img/data_img/dot-white.svg"); */
  background-image: none;
}

body .was-validated .form-control:valid, .form-control.is-valid{
  /* background-image: url("/data/static/img/data_img/check-green.svg"); */
  background-image: none;
}

body .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"], .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"]{
  /* background-image: url("/data/static/img/data_img/chevron-downg"), url("/data/static/img/data_img/check-green.svg"); */
  background-image: none;
}

body .was-validated .form-control:invalid, .form-control.is-invalid{
  /* background-image: url("/data/static/img/data_img/danger.svg"); */
  background-image: none;
}

body .was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"], .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"]{
  /* background-image: url("/data/static/img/data_img/chevron-down.svg"), url("/data/static/img/data_img/danger.svg"); */
  background-image: none;
}

body .navbar-light .navbar-toggler-icon{
  /* background-image: url("/data/static/img/data_img/burger.svg"); */
  background-image: none;
}

body .navbar-dark .navbar-toggler-icon{
  /* background-image: url("/data/static/img/data_img/burger-lite.svg"); */
  background-image: none;
}

body .accordion-button:not(.collapsed)::after{
  background-image: url("/data/static/img/data_img/chevron-down-blue.svg");
}

body .accordion-button::after{
  background-image: url("/data/static/img/data_img/chevron-down-grey.svg");
}

body .btn-close{
  /* background-image: url("/data/static/img/data_img/close-black.svg"); */
  background-image: none;
}

body .carousel-control-prev-icon{
  /* background-image: url("/data/static/img/data_img/chevron-left.svg"); */
  background-image: none;
}

body .carousel-control-next-icon{
  /* background-image: url("/data/static/img/data_img/chevron-right.svg"); */
  background-image: none;
}

body .user-recaptcha-wrapper{
  width: 304px;
  height: 352px;
  position: relative;
}

body .user-recaptcha-frame-wrapper{
  width: 304px;
  height: 352px;
  position: absolute;
}

body .user-recaptcha-frame{
  width: 304px;
  height: 352px
}

body .user-recaptcha-text-wrapper{
  width: 250px;
  height: 80px;
  position: absolute;
  bottom: 21px;
  left: 25px;
  margin: 0;
  padding: 0;
  right: 25px;
}

body .user-recaptcha-text{
  width: 250px;
  height: 80px;
  border: 1px solid #c1c1c1;
  margin: 0;
  padding: 0;
  resize: none;
}
/* END Core data:image overrides for CSP support END */

body .canada-w10-spacer{
  display: inline-block !important;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 10px !important;
  max-width: 10px !important;
  width: 10px !important;
  min-height: 0 !important;
  max-height: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}

img.openness-rating-stars {
  margin-bottom: 0px !important;
}

.canada-debug-wrapper{
  border: 2px solid #af3c43;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px;
}

.canada-debug-wrapper > div.container{
  max-width: 100% !important;
}

.facet-item {
  padding-bottom: 3px;
  padding-top: 3px;
}

.pkg-rss-feed-text {
  color: white;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border: 1px solid #ddd;
}
.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
  border: 1px solid #ddd;
}
.td-center {
  text-align: center;
}
.td-full {
  width: 100%;
}
.resource-list td {
  vertical-align: middle !important;
}
.alert-error,
.label-error,
.label-error[href]:active,
.label-error[href]:focus,
.label-error[href]:hover,
details.alert-error {
  background: #f3e9e8;
  border-color: #d3080c;
  color: #000;
}
.alert-error>:first-child:before {
  color: #d3080c;
  content: "\e101";
}

.list-facets a {
  text-decoration: none;
}

.list-facets a:visited {
  color: #295376;
}

.fgpv {
  height: 700px;
  border: 1px solid black;
  margin: 1em 0;
  position: relative;
}
.wrapall {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.btn .icon {
  padding-left: 0;
  min-height: 0;
  min-width: 0;
}
.field--name-field-vote {
  display: none;
}

#wb-sm li.dropdown-item a {
  color: #284162;
  text-align: left;
  text-decoration: none;
}

#wb-sm .menu li.dropdown-item a:hover {
  color: white;
}

#wb-sm .menu>li {
  padding:0;
}
#wb-sm .menu>li>a {
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

#wb-sm .menu {
  text-shadow: none;
}

[role="main"], .main {
  background: none;
}

.stages li.active .highlight {
  background: #284162;
}

.stages li.active::before {
  color: #284162;
}

.stages li.active:after {
  border-top-color: #c5e2c4;
  border-bottom-color: #c5e2c4;
  border-right-color: #284162;
  z-index: -1;
}

body {
background: none;
}

.nav-item > a, .nav-aside li a {
  font-size: inherit;
}

.nav-item.active > a, .nav-aside li.active a {
  background-color: unset;
  color: #335075;
}

.nav-item.active > a::before, .nav-aside li.active a::before {
  border: none;
}

.nav-item.active > a:hover,
.nav-aside li.active a:hover {
  color: initial;
  background-color: initial;
}

.module-content {
  padding: 0;
}

.context-info .nums {
  border: none;
}

.form-actions {
  text-align: inherit;
}

.form-actions .action-info.small {
  font-size: inherit;
  line-height: inherit;
}
.form-actions .action-info {
  float: inherit;
  width: auto;
  margin-right: inherit;
}
.form-actions .action-info {
  line-height: 2;
  text-align: inherit;
  color: inherit;
  margin: revert;
}

table {
  table-layout: initial;
}

button.dt-button, div.dt-button, a.dt-button {
  padding: 2px 10px;
}

.resource-tags {
  text-align: left;
  white-space: inherit;
  word-break: break-word;
  word-wrap: break-word;
}

#resource-desc {
  word-break: break-word;
  word-wrap: break-word;
}

#resources_nav {
  font-size: initial;
}

.panel.panel-primary, .panel.panel-primary .panel-heading { border-color: #335075; }
.panel.panel-primary .panel-heading { background: #335075; }
.panel.panel-primary .panel-heading a { color: #fff }
.panel-primary { overflow-wrap: break-word; }

.page-header .content_action {
  margin-top: 3px;
}
.page-header.module-content {
  padding-top: 0;
  padding-bottom: 0;
}
.label.lb-open-data { float:right; border-color: #088; background: #fff }
.label.lb-sug-datasets { float:right; border-color: #f80; background: #fff }
.label.lb-open-dialogue { float:right; border-color: #f08; background: #fff }
.label.lb-open-info { float:right; border-color: #80f; background: #fff }
.label.lb-pd { float:right; border-color: #44f; background: #fff }

a#edit-comment-body-0-format-help-about, button#edit-submit,button#edit-actions-submit  {
  width: auto;
  top: auto;
}

.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th {
  background-color: #fff;
}

/*###################
## Activity Stream ##
#####################*/
.activity {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  background-image: url('/data/static/img/dotted.png');
  background-repeat: repeat-y;
  background-position: 17px 0;
}
.activity table{
  max-width: 100% !important;
  overflow-x: scroll !important;
  display: block !important;
}
.activity .item{
  position: relative;
  margin: 0 0 15px 0;
  padding: 0 0 15px 56px !important;
  font-size: 14px;
  line-height: 1.5;
}
.activity .item::after,
.activity .item::before{
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
.activity .item:not(:last-of-type)::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 90%;
  border-radius: 25px;
  background: #f6f6f6;
}
.activity .item .fa-stack{
  padding: 0;
  margin: 0;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;
}
.activity .item .fa-stack i{
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  line-height: 1 !important;
  text-align: initial !important;
}
.activity .item .fa-stack i::before{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 14px;
}
.activity .item .gravatar {
  display: none !important;
}
.activity .item .actor {
  display: none !important;
}
.activity .item .date {
  color: #999;
  font-size: 12px;
  white-space: nowrap
}
.activity .item .fa-stack i.icon{
  border: 4px solid white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: normal;
  margin-right: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-left: 0px;
}
.activity .item .fa-stack i.icon::before{
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.activity .item p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 10px 0;
}
.activity .item table{
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}
.activity .item table p{
  margin: 0;
  margin-top: 10px;
}
.activity .item h2{
  margin-top: 0 !important;
}
.activity .item > div{
  margin: 0 !important;
}
.activity .item .new {
  display: block;
  position: absolute;
  overflow: hidden;
  top: -3px;
  left: -3px;
  width: 10px;
  height: 10px;
  background-color: #A35647;
  border: 1px solid #FFF;
  text-indent: -1000px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
}
.activity .item.no-avatar p {
  margin-left: 0;
}
.activity .load-less {
  margin-bottom: 15px;
}
.activity .item .icon {
  background-color: #999999
}
.activity .item.failure .icon {
  background-color: #b95252
}
.activity .item.success .icon {
  background-color: #69a67a
}
.activity .item.added-tag .icon {
  background-color: #6995a6
}
.activity .item.changed-group .icon {
  background-color: #767dce
}
.activity .item.changed-package .icon {
  background-color: #8c76ce
}
.activity .item.changed-package_extra .icon {
  background-color: #769ace
}
.activity .item.changed-resource .icon {
  background-color: #aa76ce
}
.activity .item.changed-user .icon {
  background-color: #76b8ce
}
.activity .item.changed-organization .icon {
  background-color: #699fa6
}
.activity .item.changed-resource-view .icon {
  background-color: #9c89d5
}
.activity .item.deleted-group .icon {
  background-color: #b95252
}
.activity .item.deleted-package .icon {
  background-color: #b97452
}
.activity .item.deleted-package_extra .icon {
  background-color: #b95274
}
.activity .item.deleted-resource .icon {
  background-color: #b99752
}
.activity .item.deleted-organization .icon {
  background-color: #b95297
}
.activity .item.deleted-resource-view .icon {
  background-color: #c06483
}
.activity .item.new-group .icon {
  background-color: #69a67a
}
.activity .item.new-package .icon {
  background-color: #69a68e
}
.activity .item.new-package_extra .icon {
  background-color: #6ca669
}
.activity .item.new-resource .icon {
  background-color: #81a669
}
.activity .item.new-user .icon {
  background-color: #69a6a3
}
.activity .item.new-organization .icon {
  background-color: #81a669
}
.activity .item.new-resource-view .icon {
  background-color: #7caf79
}
.activity .item.removed-tag .icon {
  background-color: #b95297
}
.activity .item.deleted-related-item .icon {
  background-color: #b9b952
}
.activity .item.follow-dataset .icon {
  background-color: #767dce
}
.activity .item.follow-user .icon {
  background-color: #8c76ce
}
.activity .item.new-related-item .icon {
  background-color: #95a669
}
.activity .item.follow-group .icon {
  background-color: #8ba669
}
.activity .item.created-datastore .icon{
  color: #749a5b;
  background-color: #749a5b;
}
.activity .item.changed-datastore .icon{
  color: #5b939a;
  background-color: #5b939a;
}
.activity .item.deleted-datastore .icon{
  color: #ac468a;
  background-color: #ac468a;
}
/*###################
##       END       ##
## Activity Stream ##
##       END       ##
#####################*/

.res-tag {
  font-size: 10px;
}

.res-tag-lang {
  background-color: #256EB8;
}

.resource-heading {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.geomap-progress:before {
   background: none;
}

.geomap-progress:after {
   content: none;
}

.goodtables-ui-report .file-heading .file-name {
  display: none;
}
.goodtables-ui-report .file-heading .file-count {
  display: none;
}
.goodtables-ui-report .file-heading .inner::before {
  content: none;
}
.goodtables-ui-report .passed-tests li .badge.badge-success {
  display: none;
}
.goodtables-ui-report .result {
  margin: 0;
}
.goodtables-ui-report .result .error-details .error-list .error-list-heading {
  display: none;
}

.clear-both {
  clear: both;
}

.float-none {
  float: none;
}

.geographic-region-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.geographic-region-wrapper > div{
  padding-left: 0;
}

.module-resource .module-content > .actions{

  z-index: 2;

}

.module-resource .module-content > .resource-view .actions{

  z-index: 1;

}

.modal .modal-dialog .modal-content .modal-header{

  background-color: #2e5274;

}

.modal .modal-dialog .modal-content .modal-header > h1,
.modal .modal-dialog .modal-content .modal-header > h2,
.modal .modal-dialog .modal-content .modal-header > h3,
.modal .modal-dialog .modal-content .modal-header > h4,
.modal .modal-dialog .modal-content .modal-header > h5,
.modal .modal-dialog .modal-content .modal-header > h6{

  color: white;
  margin: 0;

}

body #resource-schema-buttons div.form-group > a.btn:nth-of-type(2){

  display: none !important;
  z-index: -1 !important;

}

.modal .modal-dialog .modal-content .modal-title{

  color: white;

}

.modal .modal-dialog .modal-content button.close span{

  color: white;

}

label.no-colon::after{
  content: none !important;
}


@media all and (max-width: 768px){
  nav#wb-bc{
    padding-left: 15px !important;
  }
}


/*#################
## Form Elements ##
###################*/

/* Action Buttons */
form .form-actions .btn{
  margin-right: 6px !important;
}
/* END - Action Buttons - END */

/* Fieldsets */
form#user-edit-form > fieldset:first-of-type{
  border-top: none !important;
}
/* END - Fieldsets - END */

.admin-publish-date-fieldset{
  border: none !important;
}

.admin-publish-date-label::after{
  content: none !important;
}

/*#################
##      END      ##
## Form Elements ##
##      END      ##
###################*/


/*#########################
## Search Filters/Facets ##
###########################*/

.filter-list{

  margin-top: 10px !important;

}

.filter-list a.facet-pill{
  margin-left: 0 !important;
  margin-right: 8px !important;
  margin-bottom: 8px !important;
}

/*#########################
##           END         ##
## Search Filters/Facets ##
##           END         ##
###########################*/

/*#################
## Resource Item ##
###################*/

.canada-edit-resource-panel{
  margin: -15px -15px 8px -15px !important;
}

.canada-edit-resource-info div.nums{
  margin: 0 !important;
  padding: 0 !important;
}

/* Dataset Index */
ul.resource-list > li.resource-item{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
ul.resource-list > li.resource-item:not(:last-of-type){
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
ul.resource-list > li.resource-item > div#resource_title{
  display: inline-block;
  flex: 1;
  padding-right: 10px;
  align-self: center;
}
ul.resource-list > li.resource-item > div#resource_title > a.resource-heading{
  display: inline !important;
}
ul.resource-list > li.resource-item > a.validation-badge{
  display: none !important;
}
ul.resource-list > li.resource-item > div.canada-resource-list-badges a.loader-badge{
  margin-right: 10px;
}
ul.resource-list > li.resource-item > div.canada-resource-list-badges a.validation-badge{
  margin-left: 0;
  margin-right: 10px;
}
ul.resource-list > li.resource-item > div.canada-resource-list-badges{
  align-self: last baseline;
}
.resource-item .resource-action-links{
  display: block !important;
  position: relative !important;
  right: initial !important;
  top: initial !important;
  align-self: center;
}
.resource-item .resource-action-links > a.btn{
  margin: 0 !important;
}
@media all and (max-width: 768px) {
  ul.resource-list > li.resource-item{
    flex-direction: column;
  }
  ul.resource-list > li.resource-item > div#resource_title,
  .resource-item .resource-action-links,
  ul.resource-list > li.resource-item > div.canada-resource-list-badges{
    align-self: initial;
  }
  .resource-item .resource-action-links{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}
ul.resource-list > li.resource-item .canada-resource-list-validation-info{
  width: calc(100% + 70px);
  margin-left: -60px;
  margin-right: -10px;
  margin-bottom: -10px;
  margin-top: 10px;
  background-color: #e05d44;
  color: white;
  padding: 4px 12px;
  font-size: 16px;
  font-weight: 500;
}
ul.resource-list > li.resource-item:hover .canada-resource-list-validation-info{
  background-color: #dc4a2e;
}
ul.resource-list > li.resource-item .canada-resource-list-validation-info > p{
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
ul.resource-list > li.resource-item .canada-resource-list-validation-info a.btn{
  margin-left: auto;
}
/* END - Dataset Index - END */

/* Side Panel */
.resources-side-panel .nav-item button.dropdown-toggle::after{
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.resources-side-panel .nav-item{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.resources-side-panel .nav-item > a{
  padding-left: 15px;
  padding-right: 35px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
  width: 100%;
}
.resources-side-panel .nav-item ul.dropdown-menu{
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translateY(38px);
  z-index: 100 !important;
}
@media all and (max-width: 992px){
  .resources-side-panel .nav-item ul.dropdown-menu{
    transform: translateY(30px) translateX(calc(-100% + 50px));
  }
}
.resources-side-panel .nav-item.active a{
  cursor: default !important;
  color: #295376 !important;
}
.resources-side-panel .nav-item.active{
  background-color: #eeeeee !important;
}
.resources-side-panel .nav-item.active::before{
  content: none;
}
.resources-side-panel .nav-item .dropdown.position-absolute{
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  margin-right: 0 !important;
}
.resources-side-panel .nav-item .dropdown.position-absolute > .btn-light{
  background-color: #eeeeee !important;
  border-color: #dcdee1 !important;
  color: #335075 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none !important;
  height: 100%;
  width: 46px !important;
}
.resources-side-panel .nav-item .dropdown.position-absolute > .btn-light:hover,
.resources-side-panel .nav-item .dropdown.position-absolute > .btn-light:active,
.resources-side-panel .nav-item .dropdown.position-absolute > .btn-light:focus{
  background-color: #cfd1d5 !important;
  border-color: #bbbfc5 !important;
}
.resources-side-panel .nav-item .dropdown.position-absolute > .btn-light:focus{
  outline: auto !important;
}
.resources-side-panel .nav-item .dropdown.position-absolute.open{
  z-index: 100 !important;
}
.resources-side-section + div.module-content > a.btn-light,
.resources-side-section--no-resources > div.module-content > a.btn-light{
  background-color: #eaebed !important;
  border-color: #dcdee1 !important;
  color: #335075 !important;
  line-height: 2 !important;
}
.resources-side-section + div.module-content > a.btn-light:visited,
.resources-side-section--no-resources > div.module-content > a.btn-light:visited{
  color: #335075 !important
}
.resources-side-section + div.module-content > a.btn-light:hover,
.resources-side-section + div.module-content > a.btn-light:focus,
.resources-side-section + div.module-content > a.btn-light:active,
.resources-side-section--no-resources > div.module-content > a.btn-light:hover,
.resources-side-section--no-resources > div.module-content > a.btn-light:focus,
.resources-side-section--no-resources > div.module-content > a.btn-light:active{
  background-color: #cfd1d5 !important;
  border-color: #bbbfc5 !important;
}
.resources-side-section .panel-body.resources-side-panel{
  padding: 0 !important;
}
.resources-side-section .panel-body > ul > li{
  position: relative !important;
  min-height: 80px;
  padding: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: end;
  background: transparent !important;
}
.resources-side-section .panel-body > ul > li.show{
  display: flex !important;
}
.resources-side-section .panel-body > ul > li:last-of-type,
.resources-side-section .panel-body > ul > li:last-of-type a{
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
.resources-side-section .panel-body > ul > li:last-of-type .dropdown.position-absolute > .btn-light{
  border-bottom-right-radius: 3px !important;
}
.resources-side-section .panel-body > ul > li:not(:first-of-type){
  border-top: 1px dotted #6f6f6f !important;
}
.resources-side-section .panel-body > ul{
  min-height: 80px;
}
.resources-side-section .resources-side-section-item-link{
  position: absolute !important;
  display: block !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 46px) !important;
  height: 100%;
  transition-duration: 0.325s !important;
  text-decoration: none !important;
  color: #284162 !important;
}
.resources-side-section .resources-side-section-item-link:hover,
.resources-side-section .resources-side-section-item-link:active,
.resources-side-section .resources-side-section-item-link:focus{
  text-decoration: none !important;
  color: #284162 !important;
}
.resources-side-section .resources-side-section-item-title-container{
  position: relative;
  overflow: clip;
}
.resources-side-section .resources-side-section-item-badges{
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 52px;
  margin-right: 50px;
  z-index: 2;
  pointer-events: none;
}
@media all and (max-width: 992px){
  .resources-side-section .resources-side-section-item-badges{
    margin-top: 60px;
  }
}
@media all and (max-width: 768px){
  .resources-side-section .resources-side-section-item-badges{
    margin-top: 52px;
  }
}
.resources-side-section .resources-side-section-item-badges .badge{
  margin-bottom: 3px;
}
.resources-side-section .nav-item.active div.dropdown{
  display: none !important;
}
.resources-side-panel.resources-side-panel-no-edit .nav-item > a,
.resources-side-panel .nav-item.active > a{
  padding-right: 15px !important;
  width: 100% !important;
}
/* END - Side Panel - END */

.canada-reorder-resources-wrapper .resource-list{
  margin: 0 0 10px 0 !important;
}

/* Resource Action Buttons */
.module-resource .actions {
  top: unset;
  right: unset;
}
.module-resource .actions > ul > li:nth-last-of-type(2){
  margin-right: 5px !important;
}
@media all and (max-width: 992px){
  .module-resource .actions {
    float: none !important;
  }
  .module-resource .actions > ul{
    padding-left: 0 !important;
    margin-bottom: calc(11.5px - 5px) !important;
  }
  .module-resource .actions > ul > li{
    margin-bottom: 5px !important;
  }
}
/* END - Resource Action Buttons - END */

/* Resource Views Lists */
body ul.nav li.view-item a{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}
body ul.nav li.view-item a i.icon{
  position: relative !important;
}
body ul.nav li.view-item a i.icon::before{
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px !important;
}
/* END - Resource Views Lists - END */

.canada-view-disabled-label{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-left: 8px !important;
}

/*#################
##      END      ##
## Resource Item ##
##      END      ##
###################*/


/*############################
##  Custom Resource Sprites ##
##############################*/
ul.resource-list > li.resource-item span.format-label[data-format="pbix"]{
  background-image: url("/data/static/img/sprite-resource-additional-icons.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 65px;
  background-position: -120px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
ul.resource-list > li.resource-item span.format-label[data-format="mp4"],
ul.resource-list > li.resource-item span.format-label[data-format="flv"],
ul.resource-list > li.resource-item span.format-label[data-format="mov"],
ul.resource-list > li.resource-item span.format-label[data-format="avi"],
ul.resource-list > li.resource-item span.format-label[data-format="mkv"],
ul.resource-list > li.resource-item span.format-label[data-format="wmv"]{
  background-image: url("/data/static/img/sprite-resource-additional-icons.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 65px;
  background-position: -220px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
/*############################
##            END           ##
##  Custom Resource Sprites ##
##            END           ##
##############################*/


/*###############################
## FontAwesome5 Icon Overrides ##
#################################*/
body i.fa.fa-chart-bar::before{
  content: '\f080' !important;
}
body i.fa.fa-arrow-left::before{
  margin-right: 6px !important;
}
/*###############################
##            END              ##
## FontAwesome5 Icon Overrides ##
##            END              ##
#################################*/


/*##################################
## Bootstrap Versioning Overrides ##
###################################*/

/* Resource File Upload Field */
.resource-upload-field .btn-remove-url{
  position: absolute !important;
  top: auto !important;
  right: 0 !important;
  padding: 5px !important;
  border-radius: 0 !important;
  margin-top: 29px !important;
}
.resource-upload-field .upload-type input.form-control{
  display: inline-block !important;
  width: 100% !important;
}
/* END - Resource File Upload Field - END */

/*##################################
##              END               ##
## Bootstrap Versioning Overrides ##
##              END               ##
####################################*/

/*###################
##  Flash Messages ##
#####################*/
.canada-flash-messages{
  z-index: 2;
}
.canada-flash-messages .alert{
  padding-right: 28px;
  position: relative;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
@keyframes flash-fade-in-alert{
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.25;
  }
  67% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.canada-flash-messages .alert.fade.show{
  animation: flash-fade-in-alert 1.325s ease-in 0.325s forwards !important;
}
@keyframes flash-fade-in-close-button{
  0% {
    visibility: hidden;
    opacity: 0;
  }
  67% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 0.625;
  }
}
.canada-flash-messages .flash-messages button.close{
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  padding-bottom: 0;
  visibility: hidden;
  opacity: 0;
  animation: flash-fade-in-close-button 2s ease-in 1s forwards !important;
  padding: 0 !important;
}
.canada-flash-messages .flash-messages button.close::after{
  content: '\f00d';
  font-family: 'FontAwesome';
  font-size: 18px;
  vertical-align: text-top;
}
.canada-flash-messages .flash-messages button.close:hover,
.canada-flash-messages .flash-messages button.close:active,
.canada-flash-messages .flash-messages button.close:focus{
  color: #335075;
}
body .alert a.btn-default{
  color: #335075 !important;
}
body .alert a.btn-primary,
body .alert a.btn-danger{
  color: white !important;
}
body .alert a.btn-warning{
  color: black !important;
}
.canada-flash-messages .flash-messages .alert:not(.alert-dismissible) button.close{
  display: none !important;
  pointer-events: none !important;
}
/*###################
##       END       ##
##  Flash Messages ##
##       END       ##
#####################*/

/*#######################
##  Header Search Form ##
#########################*/
#wb-srch form[name="cse-search-box"]{
  position: relative;
}
#wb-srch input#wb-srch-q{
  position: relative;
  padding-right: 55px;
}
#wb-srch div.form-group.submit{
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 !important;
}
#wb-srch button#wb-srch-sub{
  position: relative;
  top: 0;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
}
.canada-search-filters-title{
  margin-bottom: 10px;
}
.canada-search-filters-title h2{
  margin-top: 0 !important;
}
.canada-search-filters-title a{
  text-decoration: none !important;
}
.canada-search-field-wrapper{
  width: 100% !important;
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
}
.canada-search-field-wrapper input#search_field{
  flex: 1;
}
.canada-search-field-wrapper span.input-group-btn{
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}
.canada-search-form-options-wrapper{
  width: 100% !important;
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.canada-search-form-options-wrapper select{
  display: inline-block !important;
}
.canada-org-result-text{
  font-size: 16px !important;
}
/*#######################
##         END         ##
##  Header Search Form ##
##         END         ##
#########################*/

/*########################
##  Background Job List ##
##########################*/
body ul.canada-job-list.activity li.item i.fa::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700 !important;
}
ul.canada-job-list li.item i.fa.icon{
  color: #999999;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 30px !important;
  height: 30px !important;
}
ul.canada-job-list li.item i.fa.main-icon{
  border-radius: 50% !important;
  width: 32px !important;
  height: 32px !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white !important;
}
ul.canada-job-list li.item i.fa.main-icon::before{
  font-size: 14px !important;
  width: 24px;
  height: 24px;
  line-height: 24px !important;
  color: white !important;
  stroke: white !important;
  border-radius: 50%;
  text-align: center;
}
ul.canada-job-list li.item i.fa.main-icon::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 1 !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
ul.canada-job-list li.item.rq-job-deferred i.fa.main-icon::before{
  color: white !important;
}
ul.canada-job-list li.item.rq-job-queued i.fa.icon{
  color: #999999;
}
ul.canada-job-list li.item.rq-job-queued i.fa.main-icon::before{
  background-color: #999999;
}
ul.canada-job-list li.item.rq-job-started i.fa.icon{
  color: #28a745;
}
ul.canada-job-list li.item.rq-job-started i.fa.main-icon::before{
  background-color: #28a745;
}
ul.canada-job-list li.item.rq-job-finished i.fa.icon{
  color: #17a2b8;
}
ul.canada-job-list li.item.rq-job-finished i.fa.main-icon::before{
  background-color: #17a2b8;
}
ul.canada-job-list li.item.rq-job-failed i.fa.icon{
  color: #dc3545;
}
ul.canada-job-list li.item.rq-job-failed i.fa.main-icon::before{
  background-color: #dc3545;
}
ul.canada-job-list li.item.rq-job-deferred i.fa.icon{
  color: #ffc107;
}
ul.canada-job-list li.item.rq-job-deferred i.fa.main-icon::before{
  background-color: #ffc107;
}
ul.canada-job-list .canada-job-item-title{
  font-size: 115%;
  font-weight: 600;
}
div.canada-job-list-title strong{
  font-size: 16px;
  line-height: 23px;
}
div.canada-job-list-title small{
  font-size: 87%;
}
/*########################
##          END         ##
##  Background Job List ##
##          END         ##
##########################*/

/*###################
##  User Dashboard ##
#####################*/
.canada-dashboard-nav li a{
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.canada-dashboard-panel{
  border-top-left-radius: 0 !important;
}
/*####################
##       END        ##
##  User Dashboard  ##
##       END        ##
######################*/

/*##############################
##  Core CSS URIs w/ Base URL ##
################################*/
body .format-label{
  background-image: url("/data/base/images/sprite-resource-icons.png");
}
body, body .module-grid, body .media-grid, body .main, body .account-masthead, body .masthead, body .site-footer{
  /* background-image: url("/data/base/images/bg.png"); */
  background-image: none !important;
}
/*##############################
##            END             ##
##  Core CSS URIs w/ Base URL ##
##            END             ##
################################*/

/*############################
##  CKAN Base CSS Overrides ##
##############################*/
body .text-info{
  color: #31708f !important;
}
body .bg-info{
  background-color: #d9edf7 !important;
}
body .text-warning{
  color: #8a6d3b !important;
}
body .bg-warning{
  background-color: #fcf8e3 !important;
}
body .text-danger{
  color: #a94442 !important;
}
body .bg-danger{
  background-color: #f2dede !important;
}
body .error-block,
body .error-inline{
  font-size: 12px !important;
  line-height: 23px !important;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .btn.btn-light{
  color: #335075 !important;
  background-color: #eaebed !important;
  border-color: #dcdee1 !important;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
a[class="btn"],
button[class="btn"]{
  color: #335075;
  background-color: #eaebed;
  border-color: #dcdee1;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
a[class="btn"]:hover,
a[class="btn"]:active,
a[class="btn"]:focus,
button[class="btn"]:hover,
button[class="btn"]:active,
button[class="btn"]:focus{
  background-color: #cfd1d5;
  border-color: #bbbfc5;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .btn.btn-light:active,
body .btn.btn-light:focus,
body .btn.btn-light:hover{
  background-color: #cfd1d5 !important;
  border-color: #bbbfc5 !important;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .module-heading{
  padding: 10px 25px !important;
  font-size: 14px !important;
  line-height: 1.3 !important;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .module-narrow .module-heading{
  padding-left: 15px !important;
  padding-right: 15px !important;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .accordion-button{
  font-size: 16px !important;
  line-height: 1.3 !important;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .accordion-header{
  margin: 0 !important;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .accordion{
  margin-bottom: 15px !important;
}
body .resource-upload-field i.fa{
  margin-right: 4px !important;
}
body form#form-purge-all a.purge-all{
  margin-bottom: 15px !important;
}
body .canada-admin-trash #accordion-group{
  display: none !important;
}
@keyframes modal-fade-in{
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.25;
  }
  67% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-fade-out{
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.75;
  }
  67% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .modal.fade,
body .popover.fade{
  animation: modal-fade-out 0.325s ease-in 0s forwards !important;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .modal.fade.show,
body .popover.fade.show{
  animation: modal-fade-in 0.325s ease-in 0s forwards !important;
}
body .popover .popover-header{
  margin: 0 !important;
  font-size: 16px !important;
  padding: 8px 14px !important;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
.btn.btn-secondary{
  color: white !important;
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
@media all and (max-width: 768px){
  body div#wb-bnr > div.row{
    flex-direction: row-reverse;
  }
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .form-select{
  appearance: auto !important;
  -webkit-appearance: auto !important;
  -moz-appearance: auto !important;
}
body #timeout,
body .modal{
  background: rgba(0, 0, 0, 0.15) !important;
}
body #timeout > .modal-dialog{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -25%) !important;
}
@media all and (max-width: 768px){
  body #timeout > .modal-dialog{
    top: 35% !important;
    max-width: 80% !important;
    min-width: 80% !important;
    width: 80% !important;
  }
}
/* BS4+ Fix. TODO: remove after upgrade to BS4+ */
body .modal .modal-dialog .modal-content button.btn-close{
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/data/static/img/data_img/modal-close.svg");
}
body .panel-title > .label.label-info,
body h1 > .label.label-info{
  display: inline-block;
  vertical-align: bottom;
}
body .clear-fix{
  clear: both !important;
}
body .canada-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
@media all and (max-width: 768px){
  body .canada-flex{
    flex-wrap: wrap;
  }
}
body .accordion-heading{
  margin: 0 !important;
}
body .accordion-button{
  padding-right: 25px !important;
}
body .accordion-button.no-after{
  background-color: #f5f5f5 !important;
  color: #333333 !important;
}
body .accordion-button.no-after::after{
  background-image: none !important;
}
form[action*="/dictionary/"] h3:first-of-type{
  margin-top: 0 !important;
}
div.btn-group:not(.dropdown){
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer#wb-info{
  margin-top: 36px !important;
}
.canada-resource-dropdown-explore a{
  text-decoration: none !important;
}
/*###########################
##           END           ##
##  CKAN Base CSS Overrides##
##           END           ##
#############################*/

/*########################
##  Page Action Toolbar ##
##########################*/
.canada-action-toolbar{
  margin-top: 0;
  min-height: auto !important;
  width: 100% !important;
}

.canada-action-toolbar header{
  margin-top: 15px;
  margin-bottom: 0 !important;
  width: 100% !important;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 0 !important;
  background: #E1E4E7 !important;
  border-bottom: 1px solid #D3D4D8;
  border-top: 1px solid #D3D4D8;
}

@media all and (max-width: 992px){
  .canada-action-toolbar header{
    flex-wrap: wrap;
  }
}

.canada-action-toolbar header .nav a{
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
  border-radius: 0 !important;
  border: none !important;
  margin: 0 !important;
  transition-duration: 0.325s !important;
}

.canada-action-toolbar header .nav li:not(.active) a:hover,
.canada-action-toolbar header .nav li:not(.active) a:active,
.canada-action-toolbar header .nav li:not(.active) a:focus{
  background: #EEEFF1 !important;
}

.canada-action-toolbar header .nav li.active a{
  background-color: #335075 !important;
  color: white !important;
  pointer-events: none !important;
}

.canada-action-toolbar header .content_action a{
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
  border-radius: 0 !important;
  border: none !important;
  background: #f6f6f6 !important;
  transition-duration: 0.325s !important;
}

.canada-action-toolbar header .content_action a:not(:last-of-type){
  margin-right: 5px !important;
}

.canada-action-toolbar header .content_action a:hover,
.canada-action-toolbar header .content_action a:active,
.canada-action-toolbar header .content_action a:focus{
  background: #335075 !important;
  color: white !important;
}

.canada-action-toolbar header::after{
  content: none !important;
}

.canada-action-toolbar header > *{
  position: relative !important;
  display: block !important;
  float: none !important;
  margin: 0 !important;
}

.module-resource .module-content > .actions{
  float: none !important;
  margin-top: 0 !important;
  min-height: auto !important;
  width: 100% !important;
  display: block !important;
}

.resource-actions-toolbar{
  float: none !important;
  margin-top: 15px !important;
  min-height: auto !important;
  width: 100% !important;
  display: block !important;
  background: #E1E4E7 !important;
  border-bottom: 1px solid #D3D4D8;
  border-top: 1px solid #D3D4D8;
  border-radius: 0 !important;
  margin-bottom: 15px !important;
}

.resource-actions-toolbar.resource-actions-toolbar-portal{
  background: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}

.resource-actions-toolbar > ul{
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 !important;
  margin: 0 !important;
}

@media all and (max-width: 992px){
  .resource-actions-toolbar > ul{
    flex-wrap: wrap;
  }
}

.resource-actions-toolbar >ul >li{
  margin: 0 !important;
}

.resource-actions-toolbar >ul a.btn-default{
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
  border-radius: 0 !important;
  border: none !important;
  background: #E1E4E7 !important;
  transition-duration: 0.325s !important;
  min-height: auto !important;
  box-shadow: none !important;
}

.resource-actions-toolbar >ul a.btn-default:hover,
.resource-actions-toolbar >ul a.btn-default:active,
.resource-actions-toolbar >ul a.btn-default:focus{
  background: #EEEFF1 !important;
}

.resource-actions-toolbar >ul a.btn-default:focus{
  outline: auto !important;
}

.resource-actions-toolbar .resource-actions-toolbar-spacer{
  flex: 1;
}

.resource-actions-toolbar .resource-actions-toolbar-spacer ~ li a{
  border-radius: 0 !important;
  border: none !important;
}

.resource-actions-toolbar .resource-actions-toolbar-spacer ~ li button.dropdown-toggle{
  border-radius: 0 !important;
  border: none !important;
}

.resource-actions-toolbar .resource-actions-toolbar-spacer ~ li:not(:last-of-type){
  margin-right: 5px !important;
}
/*########################
##          END         ##
##  Page Action Toolbar ##
##          END         ##
##########################*/


/*##############################
##  CDTS Application Template ##
################################*/

/*##############################
##             END            ##
##  CDTS Application Template ##
##             END            ##
################################*/

body details.canada-abbr{
  margin: 0;
  padding: 0;
  display: inline !important;
  color: inherit;
  border: none !important;
  outline: none !important;
}

body details.canada-abbr summary{
  color: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer !important;
  border: none !important;
  text-decoration: underline dotted !important;
  outline: none !important;
}

body details.canada-abbr summary::marker{
  display: none !important;
  content: none !important;
}

body details.canada-abbr summary i{
  opacity: 0.75;
}

body .canada-display-none{
  display: none;
}

body .canada-border-none{
  border: none;
}

body .canada-width-auto{
  width: auto;
}

body .canada-width-full{
  width: 100%;
}

body .canada-break-words{
  word-wrap: break-word;
}

body .canada-list-disc{
  list-style-type: disc;
}

body .canada-padding-top-25{
  padding-top: 25px;
}

body .canada-margin-top-0{
  margin-top: 0;
}

body .canada-margin-bottom-0{
  margin-bottom: 0;
}

body .canada-margin-bottom-10{
  margin-bottom: 10px;
}

body .canada-margin-bottom-15{
  margin-bottom: 15px;
}

body .canada-margin-left-10{
  margin-left: 10px;
}

body .canada-admin-publish-checkbox{
  float: right;
  display: inline-block;
  margin-top: -25px;
}

body .canada-draft-title-pill{
  padding-top: 4px;
  padding-bottom: 4px;
}

body .canada-status-modal{
  max-height: 185px;
  max-width: 600px;
}

body .canada-status-modal > div.modal-dialog{
  margin: auto;
}

body .pd-datatable-ref-link{
  opacity: 0.65;
  margin-left: 4px;
}

body .pd-datatable-ref-link small{
  font-size: 75%;
}

body .ogscartwrapper{
  display: none;
  visibility: hidden;
}

body .canada-mfa-help-link{
  display: none;
  margin-right: 20px;
}

body .canada-imso-approval-help-text{
  margin-bottom: 15px;
  display: inline-block;
}

body .d-none-soft{
  display: none;
}

body select[data-field-select2="True"]{
  display: none !important;
}

.canada-voting-fix-hide{
 opacity: 0;
 pointer-events: none !important;
}

.canada-voting-fix-show{
  pointer-events: all !important;
}

.canada-dt-search-input-no-fts{
  cursor: not-allowed !important;
  outline: none !important;
  box-shadow: none !important;
}

.canada-dt-hidden-div-fix{
  height: 1 !important;
  width: 1 !important;
  overflow: hidden !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}

#promise-download-alert-inner span{
  font-weight: 600 !important;
  font-size: 32px !important;
  color: #38414d !important;
}