img.openness-rating-stars {
  margin-bottom: -4px !important;
}

.facet-item {
  padding-bottom: 3px;
  padding-top: 3px;
}

.pkg-rss-feed-text {
  color: white;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border: 1px solid #ddd;
}
.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
  border: 1px solid #ddd;
}
.td-center {
  text-align: center;
}
.td-full {
  width: 100%;
}
.resource-list td {
  vertical-align: middle !important;
}
.alert-error,
.label-error,
.label-error[href]:active,
.label-error[href]:focus,
.label-error[href]:hover,
details.alert-error {
  background: #f3e9e8;
  border-color: #d3080c;
  color: #000;
}
.alert-error>:first-child:before {
  color: #d3080c;
  content: "\e101";
}

.list-facets a {
  text-decoration: none;
}

.list-facets a:visited {
  color: #295376;
}

.breadcrumb li:last-child a {
  background: transparent !important;
  color: black;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.wrapall {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.btn .icon {
  padding-left: 0;
  min-height: 0;
  min-width: 0;
}
.field--name-field-vote {
  display: none;
}

#wb-sm li.dropdown-item a {
  color: #284162;
  text-align: left;
  text-decoration: none;
}

#wb-sm .menu li.dropdown-item a:hover {
  color: white;
}

#wb-sm .menu>li {
  padding:0;
}
#wb-sm .menu>li>a {
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

#wb-sm .menu {
  text-shadow: none;
}

[role="main"], .main {
  background: none;
}

.stages li.active .highlight {
  background: #284162;
}

.stages li.active::before {
  color: #284162;
}

.stages li.active:after {
  border-top-color: #c5e2c4;
  border-bottom-color: #c5e2c4;
  border-right-color: #284162;
  z-index: -1;
}

body {
background: none;
}

.nav-item > a, .nav-aside li a {
  font-size: inherit;
}

.nav-item.active > a, .nav-aside li.active a {
  background-color: unset;
  color: #335075;
}

.nav-item.active > a::before, .nav-aside li.active a::before {
  border: none;
}

.nav-item.active > a:hover,
.nav-aside li.active a:hover {
  color: initial;
  background-color: initial;
}

.module-content {
  padding: 0;
}

.context-info .nums {
  border: none;
}

.form-actions {
  text-align: inherit;
}

.form-actions .action-info.small {
  font-size: inherit;
  line-height: inherit;
}
.form-actions .action-info {
  float: inherit;
  width: auto;
  margin-right: inherit;
}
.form-actions .action-info {
  line-height: 2;
  text-align: inherit;
  color: inherit;
  margin: revert;
}

table {
  table-layout: initial;
}

button.dt-button, div.dt-button, a.dt-button {
  padding: 2px 10px;
}

.resource-tags {
  text-align: left;
  white-space: inherit;
  word-break: break-word;
  word-wrap: break-word;
}

#resource-desc {
  word-break: break-word;
  word-wrap: break-word;
}

#resources_nav {
  font-size: initial;
}

.panel.panel-primary, .panel.panel-primary .panel-heading { border-color: #335075; }
.panel.panel-primary .panel-heading { background: #335075; }
.panel.panel-primary .panel-heading a { color: #fff }
.panel-primary { overflow-wrap: break-word; }

.page-header .content_action {
  margin-top: 3px;
}
.page-header.module-content {
  padding-top: 0;
  padding-bottom: 0;
}
.label.lb-open-data { float:right; border-color: #088; background: #fff }
.label.lb-sug-datasets { float:right; border-color: #f80; background: #fff }
.label.lb-open-dialogue { float:right; border-color: #f08; background: #fff }
.label.lb-open-info { float:right; border-color: #80f; background: #fff }
.label.lb-pd { float:right; border-color: #44f; background: #fff }

a#edit-comment-body-0-format-help-about, button#edit-submit,button#edit-actions-submit  {
  width: auto;
  top: auto;
}

.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th {
  background-color: #fff;
}

.activity .item {
  position: relative;
  margin: 0 0 15px 0;
  padding: 0;
}
.activity .item .icon {
  padding-left:0;
}
.activity .item p {
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 0 0 40px;
}

.res-tag {
  font-size: 10px;
}

.res-tag-lang {
  background-color: #256EB8;
}

.resource-heading {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.geomap-progress:before {
   background: none;
}

.geomap-progress:after {
   content: none;
}

.goodtables-ui-report .file-heading .file-name {
  display: none;
}
.goodtables-ui-report .file-heading .file-count {
  display: none;
}
.goodtables-ui-report .file-heading .inner::before {
  content: none;
}
.goodtables-ui-report .passed-tests li .badge.badge-success {
  display: none;
}
.goodtables-ui-report .result {
  margin: 0;
}
.goodtables-ui-report .result .error-details .error-list .error-list-heading {
  display: none;
}

.clear-both {
  clear: both;
}

.float-none {
  float: none;
}

.geographic-region-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.geographic-region-wrapper > div{
  padding-left: 0;
}

.module-resource .module-content > .actions{

  z-index: 2;

}

.module-resource .module-content > .resource-view .actions{

  z-index: 1;

}

.modal .modal-dialog .modal-content .modal-header{

  background-color: #2e5274;

}

body #resource-schema-buttons div.form-group > a.btn:nth-of-type(2){

  display: none !important;
  z-index: -1 !important;

}

.modal .modal-dialog .modal-content .modal-title{

  color: white;

}

.modal .modal-dialog .modal-content button.close span{

  color: white;

}

label.no-colon::after{
  content: none !important;
}


@media all and (max-width: 768px){
  nav#wb-bc{
    padding-left: 15px !important;
  }
}


/*#################
## Form Elements ##
###################*/

/* Action Buttons */
form .form-actions .btn{
  margin-right: 6px !important;
}
/* END - Action Buttons - END */

/*#################
##      END      ##
## Form Elements ##
##      END      ##
###################*/


/*#################
## Resource Item ##
###################*/

/* Dataset Index */
.resource-item #resource_title{
  display: inline-block;
  width: 60%;
}
.resource-item .resource-action-links{
  display: block !important;
  position: relative !important;
  float: right;
  margin-left: 10px;
}
@media all and (max-width: 992px) {
  .resource-item #resource_title{
    width: 50%;
  }
}
@media all and (max-width: 768px) {
  .resource-item #resource_title{
    width: 100%;
  }
  .resource-item a.validation-badge{
    margin-left: 0 !important;
  }
  .resource-item .resource-action-links{
    display: block !important;
    float: none !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .resource-item .resource-action-links a.btn{
    float: none !important;
  }
}
/* END - Dataset Index - END */

/* Side Panel */
.resources-side-panel .nav-item button.dropdown-toggle::after{
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.resources-side-panel .nav-item{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.resources-side-panel .nav-item > a{
  padding-left: 15px;
  padding-right: 65px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
  width: 100%;
}
.resources-side-panel .nav-item ul.dropdown-menu{
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translateY(38px);
  z-index: 100 !important;
}
@media all and (max-width: 992px){
  .resources-side-panel .nav-item ul.dropdown-menu{
    transform: translateY(30px) translateX(calc(-100% + 50px));
  }
}
.resources-side-panel .nav-item.active a{
  pointer-events: none !important;
  cursor: default !important;
  color: #295376 !important;
}
.resources-side-panel .nav-item.active{
  background-color: #eeeeee !important;
}
.resources-side-panel .nav-item.active::before{
  content: none;
}
.resources-side-panel .nav-item .dropdown.position-absolute{
  position: absolute !important;
  right: 0 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  margin-right: 0 !important;
}
.resources-side-panel .nav-item .dropdown.position-absolute > .btn-light{
  background-color: #eaebed !important;
  border-color: #dcdee1 !important;
  color: #335075 !important;
}
.resources-side-panel .nav-item .dropdown.position-absolute > .btn-light:hover,
.resources-side-panel .nav-item .dropdown.position-absolute > .btn-light:active,
.resources-side-panel .nav-item .dropdown.position-absolute > .btn-light:focus{
  background-color: #cfd1d5 !important;
  border-color: #bbbfc5 !important;
}
.resources-side-panel .nav-item .dropdown.position-absolute.open{
  z-index: 100 !important;
}
.resources-side-section + div.module-content > a.btn-light,
.resources-side-section--no-resources > div.module-content > a.btn-light{
  background-color: #eaebed !important;
  border-color: #dcdee1 !important;
  color: #335075 !important;
  line-height: 2 !important;
}
.resources-side-section + div.module-content > a.btn-light:visited,
.resources-side-section--no-resources > div.module-content > a.btn-light:visited{
  color: #335075 !important
}
.resources-side-section + div.module-content > a.btn-light:hover,
.resources-side-section + div.module-content > a.btn-light:focus,
.resources-side-section + div.module-content > a.btn-light:active,
.resources-side-section--no-resources > div.module-content > a.btn-light:hover,
.resources-side-section--no-resources > div.module-content > a.btn-light:focus,
.resources-side-section--no-resources > div.module-content > a.btn-light:active{
  background-color: #cfd1d5 !important;
  border-color: #bbbfc5 !important;
}
/* END - Side Panel - END */

/* Resource Action Buttons */
.module-resource .actions {
  top: unset;
  right: unset;
}
.module-resource .actions > ul > li:nth-last-of-type(2){
  margin-right: 5px !important;
}
@media all and (max-width: 992px){
  .module-resource .actions {
    float: none !important;
  }
  .module-resource .actions > ul{
    padding-left: 0 !important;
    margin-bottom: calc(11.5px - 5px) !important;
  }
  .module-resource .actions > ul > li{
    margin-bottom: 5px !important;
  }
}
/* END - Resource Action Buttons - END */

/*#################
##      END      ##
## Resource Item ##
##      END      ##
###################*/


/*###############################
## FontAwesome5 Icon Overrides ##
#################################*/
body i.fa.fa-chart-bar::before{
  content: '\f080' !important;
}
body i.fa.fa-arrow-left::before{
  margin-right: 6px !important;
}
/*###############################
##            END              ##
## FontAwesome5 Icon Overrides ##
##            END              ##
#################################*/


/*##################################
## Bootstrap Versioning Overrides ##
###################################*/

/* Resource File Upload Field */
.resource-upload-field .btn-remove-url{
  position: absolute !important;
  top: auto !important;
  right: 0 !important;
  padding: 5px !important;
  border-radius: 0 !important;
  margin-top: 29px !important;
}
.resource-upload-field .upload-type input.form-control{
  display: inline-block !important;
  width: 100% !important;
}
/* END - Resource File Upload Field - END */

/*##################################
##              END               ##
## Bootstrap Versioning Overrides ##
##              END               ##
####################################*/


/*##################################
##  Resource Actions Toolbar Area ##
###################################*/
.resource-actions-toolbar ul.gap-1 > li{
  margin-right: 5px !important;
}
/*##################################
##              END               ##
##  Resource Actions Toolbar Area ##
##              END               ##
####################################*/

/*###################
##  Flash Messages ##
#####################*/
.canada-flash-messages{
  z-index: 2;
}
.canada-flash-messages .alert{
  padding-right: 15px;
}
.canada-flash-messages .flash-messages a.close{
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  padding-bottom: 0;
}
/*###################
##       END       ##
##  Flash Messages ##
##       END       ##
#####################*/
