{% ckan_extends %}

{% block info %}
  <p>
    <div class="module">
      {{ self.inner() }}
    </div>
  </p>
{% endblock %}

{% block heading %}
  <h3 class="align-center">{{ group.display_name }}</h3>
{% endblock %}

{% block nums %}
  <div class="span-2">
    <div class="span-1 row-start">
      <h4 class="align-center">{{ _('Followers') }}</h4>
      <p class="font-xlarge align-center">
        {{ h.SI_number_span(group.num_followers) }}
      </p>
    </div>
    <div class="span-1 row-start">
      <h4 class="align-center">{{ _('Datasets') }}</h4>
      <p class="font-xlarge align-center">
        {{ h.SI_number_span(group.packages|length) }}
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
{% endblock %}

{% block follow %}
  <p>{{ h.follow_button('group', group.id) }}</p>
{% endblock %}
