{# This is specific to datasets' owner_org field and won't work #}
{# if used with other fields #}

{% import 'macros/canada_read.html' as cr %}

{% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
{% set dataset_has_organization = data.owner_org or data.group_id %}
{% set organizations_available = h.organizations_available('create_dataset') %}
{% set user_is_sysadmin = h.check_access('sysadmin') %}

  <div data-module="dataset-visibility">

  {% set existing_org = data.owner_org or data.group_id %}
  <div class="control-group">
    <label for="field-organizations" class="control-label">{{
      h.scheming_language_text(field.label) }}</label>
    <div class="controls">
      <select id="field-organizations" name="owner_org" data-module="autocomplete">
        {% if h.check_config_permission('create_unowned_dataset') %}
           <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
        {% endif %}
        {% for organization in organizations_available %}
          {# get out first org from users list only if there is not an existing org #}
          {% set selected_org = (existing_org and existing_org == organization.id) or (
            not existing_org and not data.id and organization.id == organizations_available[0].id) %}
          {% set title = cr.split_bilingual_field(organization.title, h.lang()) %}
          <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ title }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  </div>
