{% ckan_extends %}

{% set facet_name = title + 's' %}
{% set active_facets = [] %}

{% block facet_list_heading %}
  <div class="panel-heading"><i class="fa fa-filter" aria-hidden="true"></i> {{ title or h.get_facet_title(name) }}</div>
{% endblock %}

{% block facet_list_item %}
  <div class="panel panel-primary">
    {{ self.facet_list_heading() }}
    <div class="panel-body">
      {% block facet_list_item_panel_body %}
        {% with items = items or h.get_facet_items_dict(name, search_facets=search_facets, limit=200) %}
          {% set item_count = items | length %}
          {% set items = items[0:5] if ( not unlimit) and h.get_param_int('_%s_limit' % name) else items %}
            {% if items %}
              <nav>
                <ul class="list-unstyled list-facets">
                  {% for item in items %}
                    {% do item.update({'label': h.scheming_choices_label(scheming_choices, item.name)
                      if scheming_choices else h.split_piped_bilingual_field(item.display_name, h.lang()) }) %}
                  {% endfor %}
                  {%- macro _text_key(d) -%}
                    {{- h.normalize_strip_accents(d.label) -}}
                  {%- endmacro -%}
                  {%- do items.sort(key=_text_key) -%}
                  {% for item in items %}
                    {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
                    {% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}
                      <li class="nav-item{% if item.active %} active{% endif %} facet-item" >
                        <a href="{{ href }}">
                          <i class="fa{{ 's' if item.active else 'r' }} fa-{{ 'check-' if item.active else '' }}square" aria-hidden="true"></i>&nbsp;<span>{{ item.label }} {{ count }}</span>
                        </a>
                      </li>
                    {% if item.active %}
                      {% do active_facets.append(name) %}
                    {% endif %}
                  {% endfor %}
                </ul>
              </nav>
              <ul class="list-unstyled list-facets canada-margin-bottom-0">
                {% if item_count > 5 and not unlimit %}
                  {% if h.get_param_int('_%s_limit' % name) %}
                    <li>
                      <a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}" title="{{_('Show more')}} {{facet_name}}">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>&nbsp;{{ _('Show more')}}
                      </a>
                    </li>
                  {% else %}
                    <li>
                      <a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}" title="{{_('Show less')}} {{facet_name}}">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>&nbsp;{{ _('Show less') }}
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
                {% if active_facets %}
                  <li>
                    <a href="{{ h.remove_url_param(name, extras=extras, alternative_url=alternative_url) }}" class="action small" title="{{_('Clear All')}} {{facet_name}}">
                      <i class="fa fa-times" aria-hidden="true"></i>&nbsp;{{ _('Clear All') }}</a></li>
                    </a>
                  </li>
                {% endif %}
              </ul>
              {% else %}
                <p>{{ _('There are no filters for this search') }}</p>
              {% endif %}
        {% endwith %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
