<div class="pnl-strt container nvbar">
  <h2 class="wb-inv">{{ _('Topics menu') }}</h2>
  <div class="row">
    <ul class="list-inline menu" role="menubar">
      {% block wet_megamenu_items %}
        {# CKAN and WET developers, please note that wrapping each list item in an unordered list seems to be required for IE compatability #}
        {% if h.lang() == 'fr' %}
          <li><a href="#emplois" class="item">Emplois</a>
            <ul class="sm list-unstyled" id="emplois" role="menu">
              <li><a href="http://www.edsc.gc.ca/fr/emplois/opportunites/index.page">Recherche d'emplois</a></li>
              <li><a href="http://www.guichetemplois.gc.ca/profession_recherche-fra.do?lang=fra">Choix de carrières</a></li>
              <li><a href="http://www.edsc.gc.ca/fr/emplois/formation/index.page">Formation</a></li>
              <li><a href="http://www.edsc.gc.ca/fr/emplois/employeurs_entreprise/index.page">Pour les employeurs</a></li>
              <li><a href="http://www.edsc.gc.ca/fr/emplois/travail_independant/index.page">Travail indépendant</a></li>
              <li><a href="http://www.edsc.gc.ca/fr/emplois/milieu_travail/index.page">Normes en milieu de travail</a></li>
              <li><a href="http://www.edsc.gc.ca/fr/emplois/pension/index.page">Pensions et retraite</a></li>
              <li><a href="http://www.edsc.gc.ca/fr/emplois/assurance_emploi/index.page">Assurance-emploi</a></li>
              <li class="slflnk"><a href="http://www.edsc.gc.ca/fr/emplois/index.page">Emplois – Autres</a></li>
            </ul>
          </li>
          <li><a href="#immigration" class="item">Immigration</a>
            <ul class="sm list-unstyled" id="immigration" role="menu">
              <li><a href="http://www.cic.gc.ca/francais/services-e/index.asp">Ma demande</a></li>
              <li><a href="http://www.cic.gc.ca/francais/immigrer/index.asp">Immigrer</a></li>
              <li><a href="http://www.cic.gc.ca/francais/visiter/index.asp">Visiter</a></li>
              <li><a href="http://www.cic.gc.ca/francais/travailler/index.asp">Travailler</a></li>
              <li><a href="http://www.cic.gc.ca/francais/etudier/index.asp">Étudier</a></li>
              <li><a href="http://www.cic.gc.ca/francais/citoyennete/index.asp">Citoyenneté</a></li>
              <li><a href="http://www.cic.gc.ca/francais/residents/nouveaux_immigrants.asp">Nouveaux immigrants</a></li>
              <li><a href="http://www.cic.gc.ca/francais/residents/canadiens.asp">Canadiens</a></li>
              <li><a href="http://www.cic.gc.ca/francais/refugies/index.asp">Réfugiés et demandes d’asile </a></li>
              <li><a href="http://www.cic.gc.ca/francais/application-loi/index.asp">Application de la loi et violations</a></li>
              <li class="slflnk"><a href="http://www.cic.gc.ca/francais/index.asp">Immigration – Autres</a></li>
            </ul>
          </li>
          <li><a href="#voyage" class="item">Voyage</a>
            <ul class="sm list-unstyled" id="voyage" role="menu">
              <li><a href="http://voyage.gc.ca/actualites">Actualités voyage</a></li>
              <li><a href="http://voyage.gc.ca/voyager/avertissements">Conseils aux voyageurs et avertissements par pays</a></li>
              <li><a href="http://voyage.gc.ca/tourisme-canadien">Attraits touristiques, événements et expériences au Canada</a></li>
              <li><a href="http://voyage.gc.ca/voyager/documents/passeport">Passeports canadiens</a></li>
              <li><a href="http://voyage.gc.ca/voyager">Voyager à l'étranger</a></li>
              <li><a href="http://voyage.gc.ca/retour">Retour au Canada</a></li>
              <li><a href="http://voyage.gc.ca/assistance">Assistance à l'étranger</a></li>
              <li><a href="http://voyage.gc.ca/restez-branches">Restez branchés</a></li>
              <li class="slflnk"><a href="http://voyage.gc.ca">Voyage – Autres</a></li>
            </ul>
          </li>
          <li><a href="#entreprises" class="item">Entreprises</a>
            <ul class="sm list-unstyled" id="entreprises" role="menu">
              <li><a href="http://www.canada.ca/fr/services/entreprises/lancer/index.html">Lancer une entreprise</a></li>
              <li><a href="http://www.canada.ca/fr/services/entreprises/subventions/index.html">Subventions et financement</a></li>
              <li><a href="http://www.canada.ca/fr/services/impots/entreprises/index.html">Taxes et impôt des entreprises</a></li>
              <li><a href="http://www.canada.ca/fr/services/entreprises/recherche.html">Recherche et renseignements d’affaires</a></li>
              <li><a href="http://www.canada.ca/fr/services/entreprises/pi.html">Propriété intellectuelle</a></li>
              <li><a href="http://www.canada.ca/fr/services/entreprises/engager.html">Engager et gérer des employés</a></li>
              <li><a href="http://www.canada.ca/fr/services/entreprises/commerce.html">Commerce international</a></li>
              <li><a href="http://www.canada.ca/fr/services/entreprises/permis.html">Permis, licences et réglementation</a></li>
              <li><a href="http://www.canada.ca/fr/services/entreprises/faillites.html">Faillites</a></li>
              <li class="slflnk"><a href="http://www.canada.ca/fr/services/entreprises/index.html">Entreprise – Autres</a></li>
            </ul>
          </li>
          <li><a href="#prestations" class="item">Prestations</a>
            <ul class="sm list-unstyled" id="prestations" role="menu">
              <li><a href="http://www.canada.ca/fr/services/prestations/ae/index.html">Assurance-emploi</a></li>
              <li><a href="http://www.canada.ca/fr/services/prestations/famille.html">Prestations pour les familles</a></li>
              <li><a href="http://www.canada.ca/fr/services/prestations/retraite.html">Retraite et pensions publiques</a></li>
              <li><a href="http://www.canada.ca/fr/services/prestations/etudes/index.html">Études et formation</a></li>
              <li><a href="http://www.canada.ca/fr/services/prestations/logement.html">Prestations relatives au logement</a></li>
              <li><a href="http://www.canada.ca/fr/services/prestations/handicap/index.html">Prestations relatives aux personnes handicapées</a></li>
              <li class="slflnk"><a href="http://www.canada.ca/fr/services/prestations/index.html">Prestations - Autres</a></li>
            </ul>
          </li>
          <li><a href="#sante" class="item">Santé</a>
            <ul class="sm list-unstyled" id="sante" role="menu">
              <li><a href="http://canadiensensante.gc.ca/security-securite/index-fra.php">Risques, sécurité et urgences</a></li>
              <li><a href="http://canadiensensante.gc.ca/eating-nutrition/index-fra.php">Aliments et nutrition</a></li>
              <li><a href="http://canadiensensante.gc.ca/drugs-products-medicaments-produits/index-fra.php">Médicaments et produits de santé et de consommation</a></li>
              <li><a href="http://canadiensensante.gc.ca/diseases-conditions-maladies-affections/index-fra.php">Maladies et affections</a></li>
              <li><a href="http://canadiensensante.gc.ca/healthy-living-vie-saine/index-fra.php">Vie saine</a></li>
              <li><a href="http://canadiensensante.gc.ca/aboriginal-autochtones/index-fra.php">Santé des autochtones</a></li>
              <li><a href="http://canadiensensante.gc.ca/health-system-systeme-sante/index-fra.php">Système et services de santé</a></li>
              <li><a href="http://canadiensensante.gc.ca/science-research-sciences-recherches/index-fra.php">Science, recherche et données</a></li>
              <li class="slflnk"><a href="http://canadiensensante.gc.ca/index-fra.php">Santé – Autres</a></li>
            </ul>
          </li>
          <li><a href="#impots" class="item">Impôts</a>
            <ul class="sm list-unstyled" id="impots" role="menu">
              <li><a href="http://www.canada.ca/fr/services/impots/particuliers/index.html">Particuliers et familles</a></li>
              <li><a href="http://www.canada.ca/fr/services/impots/entreprises/index.html">Entreprises</a></li>
              <li><a href="http://www.canada.ca/fr/services/impots/representants/index.html">Représentants et professionnels d'impôts</a></li>
              <li><a href="http://www.canada.ca/fr/services/impots/formulaires/index.html">Formulaires et publications</a></li>
              <li><a href="http://www.canada.ca/fr/services/impots/paie/index.html">Retenues sur la paie pour les entreprises</a></li>
              <li><a href="http://www.canada.ca/fr/services/impots/tpstvh/index.html">TPS / TVH pour les entreprises</a></li>
              <li><a href="http://www.canada.ca/fr/services/impots/tarif/index.html">Tarif des douanes</a></li>
              <li><a href="http://www.canada.ca/fr/services/impots/bienfaisance/index.html">Organismes de bienfaisance et dons</a></li>
              <li><a href="http://www.cra-arc.gc.ca/mkpymnt-fra.html">Faire un paiement</a></li>
              <li class="slflnk"><a href="http://www.canada.ca/fr/services/impots/index.html">Impôt - Autres</a></li>
            </ul>
          </li>
          <li><a href="#autres-services" class="item">Autres services</a>
            <ul class="sm list-unstyled" id="autres-services" role="menu">
              <li><a href="http://www.canada.ca/fr/services/environnement/index.html">Environnement et ressources naturelles</a></li>
              <li><a href="http://www.canada.ca/fr/services/defense/index.html">Défense et sécurité</a></li>
              <li><a href="http://www.canada.ca/fr/services/culture/index.html">Arts, culture et patrimoine</a></li>
              <li><a href="http://www.canada.ca/fr/services/securite/index.html">Sécurité publique</a></li>
              <li><a href="http://www.canada.ca/fr/services/transport/index.html">Transport et infrastructure</a></li>
              <li><a href="http://www.canada.ca/fr/services/monde/index.html">Le Canada et le monde</a></li>
              <li><a href="http://www.canada.ca/fr/services/finance/index.html">Argent et finances</a></li>
              <li><a href="http://www.canada.ca/fr/services/science/index.html">Science et innovation</a></li>
              <li class="slflnk"><a href="http://www.canada.ca/fr/services/index.html">Tous les services</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="#jobs" class="item">Jobs</a>
            <ul class="sm list-unstyled" id="jobs" role="menu">
              <li><a href="http://www.esdc.gc.ca/en/jobs/opportunities/index.page">Find a job</a></li>
              <li><a href="http://www.jobbank.gc.ca/occupation_search-eng.do">Career choices</a></li>
              <li><a href="http://www.esdc.gc.ca/en/jobs/training/index.page">Training</a></li>
              <li><a href="http://www.esdc.gc.ca/en/jobs/business_employers/index.page">For employers</a></li>
              <li><a href="http://www.esdc.gc.ca/en/jobs/self_employment/index.page">Self-employment</a></li>
              <li><a href="http://www.esdc.gc.ca/en/jobs/workplace/index.page">Workplace standards</a></li>
              <li><a href="http://www.esdc.gc.ca/en/jobs/pension/index.page">Pensions and retirement</a></li>
              <li><a href="http://www.esdc.gc.ca/en/jobs/ei/index.page">Employment Insurance</a></li>
              <li class="slflnk"><a href="http://www.esdc.gc.ca/en/jobs/index.page">Jobs – More</a></li>
            </ul>
          </li>
          <li><a href="#immigration" class="item">Immigration</a>
            <ul class="sm list-unstyled" id="immigration" role="menu">
              <li><a href="http://www.cic.gc.ca/english/e-services/index.asp">My application</a></li>
              <li><a href="http://www.cic.gc.ca/english/immigrate/index.asp">Immigrate</a></li>
              <li><a href="http://www.cic.gc.ca/english/visit/index.asp">Visit</a></li>
              <li><a href="http://www.cic.gc.ca/english/work/index.asp">Work</a></li>
              <li><a href="http://www.cic.gc.ca/english/study/index.asp">Study</a></li>
              <li><a href="http://www.cic.gc.ca/english/citizenship/index.asp">Citizenship</a></li>
              <li><a href="http://www.cic.gc.ca/english/residents/new_immigrants.asp">New immigrants</a></li>
              <li><a href="http://www.cic.gc.ca/english/residents/canadians.asp">Canadians</a></li>
              <li><a href="http://www.cic.gc.ca/english/refugees/index.asp">Refugees & asylum</a></li>
              <li><a href="http://www.cic.gc.ca/english/enforcement/index.asp">Enforcement & violations</a></li>
              <li class="slflnk"><a href="http://www.cic.gc.ca/english/index.asp">Immigration – More</a></li>
            </ul>
          </li>
          <li><a href="#travel" class="item">Travel</a>
            <ul class="sm list-unstyled" id="travel" role="menu">
              <li><a href="http://travel.gc.ca/news">Travel news</a></li>
              <li><a href="http://travel.gc.ca/travelling/advisories">Country travel advice & advisories</a></li>
              <li><a href="http://travel.gc.ca/canadian-tourism">Canadian attractions, events & experiences</a></li>
              <li><a href="http://travel.gc.ca/travelling/documents/passport">Canadian passports</a></li>
              <li><a href="http://travel.gc.ca/travelling">Travelling abroad</a></li>
              <li><a href="http://travel.gc.ca/returning">Returning to Canada</a></li>
              <li><a href="http://travel.gc.ca/assistance">Assistance abroad</a></li>
              <li><a href="http://travel.gc.ca/stay-connected">Stay connected</a></li>
              <li class="slflnk"><a href="http://travel.gc.ca">Travel - More</a></li>
            </ul>
          </li>
          <li><a href="#business" class="item">Business</a>
            <ul class="sm list-unstyled" id="business" role="menu">
              <li><a href="http://www.canada.ca/en/services/business/start/index.html">Starting a business</a></li>
              <li><a href="http://www.canada.ca/en/services/business/grants/index.html">Grants & financing</a></li>
              <li><a href="http://www.canada.ca/en/services/taxes/businesses/index.html">Business taxes</a></li>
              <li><a href="http://www.canada.ca/en/services/business/research.html">Research & business intelligence</a></li>
              <li><a href="http://www.canada.ca/en/services/business/ip.html">Intellectual property</a></li>
              <li><a href="http://www.canada.ca/en/services/business/hire.html">Hire & manage employees</a></li>
              <li><a href="http://www.canada.ca/en/services/business/trade.html">International trade</a></li>
              <li><a href="http://www.canada.ca/en/services/business/permits.html">Permits, licences & regulations</a></li>
              <li><a href="http://www.canada.ca/en/services/business/bankruptcy.html">Bankruptcy</a></li>
              <li class="slflnk"><a href="http://www.canada.ca/en/services/business/index.html">Business – More</a></li>
            </ul>
          </li>
          <li><a href="#benefits" class="item">Benefits</a>
            <ul class="sm list-unstyled" id="benefits" role="menu">
              <li><a href="http://www.canada.ca/en/services/benefits/ei/index.html">Employment Insurance</a></li>
              <li><a href="http://www.canada.ca/en/services/benefits/family.html">Family benefits</a></li>
              <li><a href="http://www.canada.ca/en/services/benefits/retirement.html">Retirement & public pensions</a></li>
              <li><a href="http://www.canada.ca/en/services/benefits/education/index.html">Education & training</a></li>
              <li><a href="http://www.canada.ca/en/services/benefits/housing.html">Housing benefits</a></li>
              <li><a href="http://www.canada.ca/en/services/benefits/disability/index.html">Disability benefits</a></li>
              <li class="slflnk"><a href="http://www.canada.ca/en/services/benefits/index.html">Benefits - More</a></li>
            </ul>
          </li>
          <li><a href="#health" class="item">Health</a>
            <ul class="sm list-unstyled" id="health" role="menu">
              <li><a href="http://healthycanadians.gc.ca/security-securite/index-eng.php">Risks, safety & emergencies</a></li>
              <li><a href="http://healthycanadians.gc.ca/eating-nutrition/index-eng.php">Food & nutrition</a></li>
              <li><a href="http://healthycanadians.gc.ca/drugs-products-medicaments-produits/index-eng.php">Drugs, health & consumer products</a></li>
              <li><a href="http://healthycanadians.gc.ca/diseases-conditions-maladies-affections/index-eng.php">Diseases & conditions</a></li>
              <li><a href="http://healthycanadians.gc.ca/healthy-living-vie-saine/index-eng.php">Healthy living</a></li>
              <li><a href="http://healthycanadians.gc.ca/aboriginal-autochtones/index-eng.php">Aboriginal health</a></li>
              <li><a href="http://healthycanadians.gc.ca/health-system-systeme-sante/index-eng.php">Health system & services</a></li>
              <li><a href="http://healthycanadians.gc.ca/science-research-sciences-recherches/index-eng.php">Science, research & data</a></li>
              <li class="slflnk"><a href="http://healthycanadians.gc.ca/index-eng.php">Health – More</a></li>
            </ul>
          </li>
          <li><a href="#taxes" class="item">Taxes</a>
            <ul class="sm list-unstyled" id="taxes" role="menu">
              <li><a href="http://www.canada.ca/en/services/taxes/individuals/index.html">Individuals & families</a></li>
              <li><a href="http://www.canada.ca/en/services/taxes/businesses/index.html">Businesses</a></li>
              <li><a href="http://www.canada.ca/en/services/taxes/representatives/index.html">Representatives & tax professionals</a></li>
              <li><a href="http://www.canada.ca/en/services/taxes/forms/index.html">Forms & publications</a></li>
              <li><a href="http://www.canada.ca/en/services/taxes/payroll/index.html">Payroll for businesses</a></li>
              <li><a href="http://www.canada.ca/en/services/taxes/gsthst/index.html">GST/HST for businesses</a></li>
              <li><a href="http://www.canada.ca/en/services/taxes/tariff/index.html">Customs tariff</a></li>
              <li><a href="http://www.canada.ca/en/services/taxes/charities/index.html">Charities & giving</a></li>
              <li><a href="http://www.cra-arc.gc.ca/mkpymnt-eng.html">Make a payment</a></li>
              <li class="slflnk"><a href="http://www.canada.ca/en/services/taxes/index.html">Taxes - More</a></li>
            </ul>
          </li>
          <li><a href="#more-services" class="item">More services</a>
            <ul class="sm list-unstyled" id="more-services" role="menu">
              <li><a href="http://www.canada.ca/en/services/environment/index.html">Environment & natural resources</a></li>
              <li><a href="http://www.canada.ca/en/services/defence/index.html">Defence & security</a></li>
              <li><a href="http://www.canada.ca/en/services/culture/index.html">Arts, culture & heritage</a></li>
              <li><a href="http://www.canada.ca/en/services/safety/index.html">Public safety</a></li>
              <li><a href="http://www.canada.ca/en/services/transport/index.html">Transport & infrastructure</a></li>
              <li><a href="http://www.canada.ca/en/services/world/index.html">Canada & the world</a></li>
              <li><a href="http://www.canada.ca/en/services/finance/index.html">Money & finances</a></li>
              <li><a href="http://www.canada.ca/en/services/science/index.html">Science & innovation</a></li>
              <li class="slflnk"><a href="http://www.canada.ca/en/services/index.html">All services</a></li>
            </ul>
          </li>
        {% endif %}
      {% endblock %}
    </ul>
  </div>
</div>
