{% ckan_extends %}

{% set client_lang = h.lang() %}

{% block package_item %}
  {% set geno = h.recombinant_get_geno(package.type) %}
  <li>
    <article class="panel panel-default mrgn-bttm-sm relative">
      <header class="panel-heading">
        {% if package.type == 'dataset' %}
          <span class="label label-default lb-open-data">{{ _("Open Data") }}</span>
        {% elif package.type == 'prop' %}
          <span class="label label-default lb-sug-datasets">{{ _("Suggested Dataset") }}</span>
        {% elif package.collection in ('transition', 'transition_deputy', 'parliament_report', 'parliament_committee', 'parliament_committee_deputy') %}
          <span class="label label-default lb-pd">{{ _("Proactive Publication") }}</span>
        {% elif package.type == 'info' or geno.portal_type == 'info' %}
          <span class="label label-default lb-open-info">{{ _("Open Information") }}</span>
        {% elif geno.portal_type == 'dialogue' %}
          <span class="label label-default lb-open-dialogue">{{ _("Open Dialogue") }}</span>
        {% elif geno %}
          <span class="label label-default lb-pd">{{ _("Proactive Publication") }}</span>
        {% endif %}
        <h3 class="panel-title">
          {% block heading %}
            {% set my_title, machine_translated = h.get_translated_t(package, 'title') %}
            {% if 'title_translated' not in package %}
              {% set my_title = _(my_title) %}
            {% endif %}
            {% block heading_private %}{# Do not show "Private" label #}{% endblock %}
            {{ h.link_to(my_title|truncate(150), h.url_for(package.type ~ '.read', id=package.name), title=my_title) }}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="label label-danger">{{ _('Deleted') }}</span>
              {% endif %}
            {% endblock %}
            {% if machine_translated %}
              <i class="fa fa-language text-muted mrgn-lft-sm" title="{{ _('This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact {support}').format(support=h.support_email_address()) }}"></i>
            {% endif %}
          {% endblock %}
        </h3>
      </header>
      <div class="panel-body">
        {% block notes %}
          {% set notes, machine_translated = h.get_translated_t(package, 'notes') %}
          {% if notes %}
            <div>
              {% if 'notes_translated' not in package %}
                {{ _(h.markdown_extract(notes, extract_length=300)) }}
              {% else %}
                {{ h.markdown_extract(notes, extract_length=300) }}
              {% endif %}
              {% if machine_translated %}
                <i class="fa fa-language text-muted mrgn-lft-sm" title="{{ _('This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact {support}').format(support=h.support_email_address()) }}"></i>
              {% endif %}
            </div>
          {% else %}
            <p class="empty">{{ _("This dataset has no description") }}</p>
          {% endif %}
        {% endblock %}
        {% block publisher_info %}
          <div class="row mrgn-tp-sm">
            {% if package.organization %}
              <div class="col-md-3">
                <em>{{ _('Organization:') }} </em>
              </div>
              <div class="col-md-9">
                {{ h.split_piped_bilingual_field(package.organization.title, client_lang) }}
              </div>
            {% endif %}
          </div>
          {% set issuing_org = h.scheming_language_text(package.get('org_title_at_publication')) %}
          {% if issuing_org and package.jurisdiction != 'federal' %}
            <div class="row">
              <div class="col-md-3">
                <em>{{ _('Issued by:') }} </em>
              </div>
              <div class="col-md-9">
                {{ issuing_org }}
              </div>
            </div>
          {% endif %}
        {% endblock %}
        {% block resources_outer %}
          {% if package.type == 'prop' %}
            {% set schema = h.scheming_get_dataset_schema(package.type) %}
            <div class="row">
              <div class="col-md-3">
                <em>{{ h.scheming_language_text(schema.dataset_fields[-3].label) }}{{ _(':') }}</em>
              </div>
              <div class="col-md-9">
                {% snippet 'scheming/snippets/display_field.html', field=schema.dataset_fields[-3], data=package, entity_type='dataset', object_type='prop' %}
              </div>
            </div>
            {% if package.status %}
              <div class="row">
                <div class="col-md-3">
                  <em>{{ _('Status:') }}</em>
                </div>
                <div class="col-md-9">
                  {% snippet 'scheming/snippets/display_field.html', field=schema.dataset_fields[-1].repeating_subfields[1], data=package.status[-1], entity_type='dataset', object_type='prop' %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <em>{{ _('Date:') }}</em>
                </div>
                <div class="col-md-9">
                  {{ package.status[-1].date }}
                </div>
              </div>
            {% else %}
              <div class="row">
                <div class="col-md-3">
                  <em>{{ _('Status:') }}</em>
                </div>
                <div class="col-md-9">
                  {{ _('Request sent to data owner – awaiting response') }}
                </div>
              </div>
            {% endif %}
          {% else %}
            {% set r_formats = h.dict_list_reduce(package.resources, 'format') %}
            {% if r_formats %}
              <div class="row">
                <div class="col-md-3">
                  <em>{{ _('Resource Formats:') }}</em>
                </div>
                <div class="col-md-9">
                  <ul class="list-inline list-unstyled">
                    {% for resource in r_formats %}
                      <li><span class="badge">
                        {{ h.scheming_choices_label(h.scheming_get_preset('canada_resource_format').choices, resource) }}
                      </span></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endblock %}
      </div>
    </article>
  </li>
{% endblock %}


