{#
  NOTE: we use as much functional programming here for Datatables as possible
        in order to keep things somewhat synchronous and stateless. With re-drawing
        and re-initializing the table, a full object model can get expensive and
        unpredictable.
#}
{% set lang = h.lang() or 'en' %}
{% set geno = h.recombinant_get_geno(dataset_type) %}
{% set chromo = h.recombinant_get_chromo(resource_name) %}
{% set can_edit = h.check_access('resource_update', {'id': resource_id}) %}
{% set fk_links = {} %}
{% for _res_name, _fkeys in foreign_keys.items() %}
  {% do fk_links.update({_res_name: h.url_for('recombinant.preview_table', resource_name=_res_name, owner_org=owner_org)}) %}
{% endfor  %}
{% set magic_priority_no_field_should_be_below = 2 %}
{% set choice_fields = h.recombinant_choice_fields(resource_name) if can_edit else {} %}
{% set nonEditableCols = ['record_created', 'record_modified', 'user_modified'] %}
{% set tableStyles = {
    'header': {
      'bgColor': '#ffffff',
    },
    'select': {
      'bgColor': '#0d6efd',
    },
    'required': {
      'bgColor': '#ffc107',
    }
  }
%}
{% if geno.datatables_style %}
  {% do tableStyles.update(geno.datatables_style) %}
{% endif %}

<section id="dt-preview">
  <h2 id="prtable">{{_("Interactive Table")}}</h2>
  <div class="pd-datable-instructions">
    <details>
      <summary>{{ _('Keyboard controls') }}</summary>
      {# TODO: add table control tutorials!!! #}
      <ul>
        <li>{{ _('Hold <pre>SHIFT</pre> key while clicking on sort controls for multi-column sorting') }}</li>
        <li>{{ _('Press <pre>ALT + K</pre> keys to enter KeyTable mode, allowing you to navigate the table with arrow keys') }}</li>
        <ul>
          <li>{{ _('Press <pre>SPACE</pre> key to select a row') }}</li>
          <li>{{ _('Press <pre>E</pre> key to expand a row (Compact Table mode only)') }}</li>
          <li>{{ _('Press <pre>ESC</pre> key to exit KeyTable mode') }}</li>
        </ul>
      </ul>
    </details>
  </div>
  <table id="dtprv" class="table table-striped" data-role="table" data-mode="columntoggle" style="visibility: hidden;">
    <thead>
      <tr class="font-small">
        <th scope="col" data-editable-col="false" data-priority="3"></th>
        <th scope="col" data-editable-col="false" data-priority="3">{{ _('Select') }}</th>
        {% for field in ds_fields %}
          {# TODO: add fa fa-info-circle to headings for field data dictionary linking??? #}
          <th scope="col" data-editable-col="{{- (field.id not in nonEditableCols)|tojson -}}" data-datastore-id="{{- field.id -}}" data-datastore-type="{{- field.type -}}" data-priority="{{- field.priority + magic_priority_no_field_should_be_below -}}">
            {{- field.label -}}<span class="sorting-cnt"><span class="sorting-icons"></span></span>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody id="dtprv-body-main"></tbody>
    <tfoot id="dtprv-foot-main">
      <th scope="col" data-priority="3"></th>
      <th scope="col" data-priority="3">{{ _('Select') }}</th>
      {% for field in ds_fields %}
        <th scope="col" data-datastore-id="{{- field.id -}}" data-priority="{{- field.priority + magic_priority_no_field_should_be_below -}}">
          {{- field.label -}}
        </th>
      {% endfor %}
    </tfoot>
  </table>
</section>

<!-- https://github.com/markedjs/marked -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/marked@15.0.7/lib/marked.umd.min.js" defer></script>

<!-- https://github.com/knownasilya/jquery-highlight | https:////bartaz.github.io/sandbox.js/jquery.highlight.js -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/jquery-highlight@3.5.0/jquery.highlight.js" defer></script>

<!-- https://datatables.net/download/release | https://cdn.datatables.net/ -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.min.css"><!-- Core -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/3.2.2/css/buttons.bootstrap5.min.css"><!-- Buttons Extension -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/3.0.4/css/responsive.bootstrap5.min.css"><!-- Responsive Extension -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/3.0.0/css/select.bootstrap5.min.css"><!-- Select Extension -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/keytable/2.12.1/css/keyTable.bootstrap5.min.css"><!-- KeyTable Extension -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/2.2.2/features/searchHighlight/dataTables.searchHighlight.css"><!-- Highlight Extension -->
{% asset 'canada_datatables/pd_datatable_css' %}
{#
  NOTE: to avoid unsafe JS eval, we render the js_error_evals via jinja2.
        because of this, we cannot pass this object into the CKAN JS Module
        like the other variables. So we must make it a JS Global here.
#}
<script type="text/javascript">
  {% if can_edit %}
    const pd_datatables__EDITOR = {
      {% for field in chromo.fields %}
        {{- field.datastore_id -}}: {
          type: '{{- field.datastore_type -}}',
          form_attrs: {{ field.form_attrs|tojson if 'form_attrs' in field else None|tojson}},
          select_choices: {{ choice_fields[field.datastore_id]|tojson if field.datastore_id in choice_fields else None|tojson}},
          is_required: {{- (field.form_required or field.excel_required or false)|tojson -}},
          is_invalid: function(VALUE){
            let CHOICES = [];
            if( this.select_choices ){
              for( let _i = 0; _i < this.select_choices.length; _i++ ){
                CHOICES.push(this.select_choices[_i][0]);
              }
            }
            {% if field.js_error_eval %}
              return (typeof VALUE == "undefined" || VALUE.trim().length == 0) || ({{- field.js_error_eval|safe -}});
            {% elif field.form_required or field.excel_required %}
              return (typeof VALUE == "undefined" || VALUE.trim().length == 0);
            {% else %}
              return false;
            {% endif %}
          }
        },
      {% endfor %}
    }
  {% else %}
    const pd_datatables__EDITOR = false;
  {% endif %}
</script>

<script type="text/javascript" src="//cdn.datatables.net/2.2.2/js/dataTables.min.js" defer></script><!-- Core -->
<script type="text/javascript" src="//cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.min.js" defer></script><!-- Core -->
<script type="text/javascript" src="//cdn.datatables.net/buttons/3.2.2/js/dataTables.buttons.min.js" defer></script><!-- Buttons Extension -->
<script type="text/javascript" src="//cdn.datatables.net/buttons/3.2.2/js/buttons.bootstrap5.min.js" defer></script><!-- Buttons Extension -->
<script type="text/javascript" src="//cdn.datatables.net/responsive/3.0.4/js/dataTables.responsive.min.js" defer></script><!-- Responsive Extension -->
<script type="text/javascript" src="//cdn.datatables.net/responsive/3.0.4/js/responsive.bootstrap5.min.js" defer></script><!-- Responsive Extension -->
<script type="text/javascript" src="//cdn.datatables.net/select/3.0.0/js/dataTables.select.min.js" defer></script><!-- Select Extension -->
<script type="text/javascript" src="//cdn.datatables.net/select/3.0.0/js/select.bootstrap5.min.js" defer></script><!-- Select Extension -->
<script type="text/javascript" src="//cdn.datatables.net/keytable/2.12.1/js/dataTables.keyTable.min.js" defer></script><!-- KeyTable Extension -->
<script type="text/javascript" src="//cdn.datatables.net/keytable/2.12.1/js/keyTable.bootstrap5.min.js" defer></script><!-- KeyTable Extension -->
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/2.2.2/features/searchHighlight/dataTables.searchHighlight.min.js" defer></script><!-- Highlight Extension -->
{% asset 'canada_datatables/pd_datatable_js' %}
<style>
  body #dtprv_wrapper .dt-scroll-head th:not(.bg-info){
    background-color: #{{- tableStyles.header.bgColor -}} !important;
  }
  body #dtprv_wrapper #dtprv-body-main tr.selected td,
  body #dtprv_wrapper #dtprv-body-main tr.selected:hover td,
  body #dtprv_wrapper #dtprv-body-main tr.selected:focus td{
    box-shadow: inset 0 0 0 9999px #{{- tableStyles.select.bgColor -}} !important;
  }
</style>

<div data-module="pd-datatables"
     data-module-locale="{{- lang -}}"
     data-module-locale_string="{{- 'en-CA' if lang == 'en' else 'fr-CA' -}}"
     data-module-timezone_string="{{- 'EST' if lang == 'en' else 'HNE' -}}"
     data-module-csrf_name="{{- g.csrf_field_name -}}"
     data-module-csrf_value="{{- csrf_token() -}}"
     data-module-resource_id="{{- resource_id -}}"
     data-module-resource_name="{{- resource_name -}}"
     data-module-edit_single_uri="{{- h.url_for('canada.update_pd_record', resource_name=resource_name, owner_org=owner_org, pk='') -}}"
     data-module-edit_records_uri="{{- h.url_for('recombinant.template', dataset_type=dataset_type, lang=lang, owner_org=owner_org) -}}"
     data-module-upsert_records_uri="{{- h.url_for('canada.upsert_pd_data', resource_name=resource_name, owner_org=owner_org) -}}"
     data-module-delete_records_uri="{{- h.url_for('canada.delete_selected_records', resource_id=resource_id) -}}"
     data-module-ajax_uri="{{- h.url_for('canada.pd_datatable', resource_name=resource_name, resource_id=resource_id) -}}"
     data-module-table_styles='{{ tableStyles|tojson }}'
     data-module-primary_keys='{{ primary_keys|tojson }}'
     data-module-foreign_keys='{{ foreign_keys|tojson }}'
     data-module-foreign_links='{{ fk_links|tojson }}'
     data-module-chromo_fields='{{ chromo.fields|tojson }}'
     data-module-is_editable='{{ (chromo.edit_form and can_edit)|tojson }}'>
</div>
