{#
  NOTE: we use as much functional programming here for Datatables as possible
        in order to keep things somewhat synchronous and stateless. With re-drawing
        and re-initializing the table, a full object model can get expensive and
        unpredictable.
#}
{% set lang = h.lang() or 'en' %}
{% set geno = h.recombinant_get_geno(dataset_type) %}
{% set chromo = h.recombinant_get_chromo(resource_name) %}
{% set can_edit = h.check_access('resource_update', {'id': resource_id}) %}
{% set fk_links = {} %}
{% for _res_name, _fkeys in foreign_keys.items() %}
  {% do fk_links.update({_res_name: h.url_for('recombinant.preview_table', resource_name=_res_name, owner_org=owner_org)}) %}
{% endfor  %}
{% set magic_priority_no_field_should_be_below = 2 %}
{% set choice_fields = h.recombinant_choice_fields(resource_name) if can_edit else {} %}
{% set nonEditableCols = ['record_created', 'record_modified', 'user_modified'] %}
{% set tableStyles = {
    'header': {
      'bgColor': '90AFC5',
      'fgColor': '000000',
    },
    'select': {
      'bgColor': '757DE8',
      'fgColor': 'ffffff',
    },
    'required': {
      'bgColor': '757DE8',
      'fgColor': '333333',
    },
    'errored': {
      'bgColor': 'FF7961',
      'fgColor': '333333',
    },
    'success': {
      'bgColor': '60d97c',
      'fgColor': '333333',
    }
  }
%}
{% if geno.datatables_style %}
  {% do tableStyles.update(geno.datatables_style) %}
{% endif %}

<section id="dt-preview">
  <h2 id="prtable">{{_("Interactive Table")}}</h2>
  <div class="pd-datable-instructions">
    <details>
      <summary>{{ _('Keyboard controls') }}</summary>
      <ul>
        <li>{{ _('Hold <pre>SHIFT</pre> key while clicking on sort controls for multi-column sorting') }}</li>
        <li>{{ _('Press <pre>ALT + K</pre> keys to enter KeyTable mode, allowing you to navigate the table with arrow keys') }}</li>
        <ul>
          <li>{{ _('Press <pre>SPACE</pre> key to select a row') }}</li>
          <li>{{ _('Press <pre>E</pre> key to expand a row (Compact Table mode only)') }}</li>
          <li>{{ _('Press <pre>ESC</pre> key to exit KeyTable mode') }}</li>
        </ul>
      </ul>
    </details>
  </div>
  <table id="dtprv" class="table table-striped pd-datatables-pre-render-hidden" data-role="table" data-mode="columntoggle">
    <thead>
      <tr class="font-small">
        <th scope="col" data-editable-col="false" data-priority="3"></th>
        <th scope="col" data-editable-col="false" data-priority="3">{{ _('Select') }}</th>
        {% for field in ds_fields %}
          <th scope="col" data-editable-col="{{- (field.id not in nonEditableCols)|tojson -}}" data-schema-label="{{- h.scheming_language_text(field.label) -}}" data-datastore-id="{{- field.id -}}" data-datastore-type="{{- field.type -}}" data-priority="{{- field.priority + magic_priority_no_field_should_be_below -}}">
            {{- field.label -}}<span class="sorting-cnt"><span class="sorting-icons"></span></span>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody id="dtprv-body-main"></tbody>
    <tfoot id="dtprv-foot-main">
      <th scope="col" data-priority="3"></th>
      <th scope="col" data-priority="3">{{ _('Select') }}</th>
      {% for field in ds_fields %}
        <th scope="col" data-datastore-id="{{- field.id -}}" data-priority="{{- field.priority + magic_priority_no_field_should_be_below -}}">
          {{- field.label -}}
        </th>
      {% endfor %}
    </tfoot>
  </table>
</section>

<!-- https://github.com/markedjs/marked -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/marked@15.0.7/lib/marked.umd.min.js" integrity="sha384-EjL6IeH3KCXB9dkBQaYqnb/m6V3TOBP++kooL0bl43Vt6eCFJ2Pxck/B/dU4PB8d" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script>

<!-- https://github.com/knownasilya/jquery-highlight | https:////bartaz.github.io/sandbox.js/jquery.highlight.js -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-highlight@3.5.0/jquery.highlight.js" integrity="sha384-iHYAoCetx95M8Rp57MEkmPOf1LLUXm7Tc/xjsmVejTGEHjR4ePBbRFp+c0v6U43v" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script>

<!-- https://datatables.net/download/release | https://cdn.datatables.net/ -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.min.css" integrity="sha384-BDXgFqzL/EpYeT/J5XTrxR+qDB4ft42notjpwhZDEjDIzutqmXeImvKS3YPH/WJX" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}"><!-- Core -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.2.2/css/buttons.bootstrap5.min.css" integrity="sha384-DJhypeLg79qWALC844KORuTtaJcH45J+36wNgzj4d1Kv1vt2PtRuV2eVmdkVmf/U" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}"><!-- Buttons Extension -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/3.0.4/css/responsive.bootstrap5.min.css" integrity="sha384-seyUnB//1QOFEqox9uI7YTLBgz9jBwFRqZvsEPFrTw6NAsFEo70nhBWsQfODqiYA" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}"><!-- Responsive Extension -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/3.0.0/css/select.bootstrap5.min.css" integrity="sha384-TlxQ7BelG5MWHP/TbW8dDV3/3kwuo6rinsUsoQdbLGPvurwx/DA2Z49RVLIOxVrG" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}"><!-- Select Extension -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.12.1/css/keyTable.bootstrap5.min.css" integrity="sha384-9rz3zS4qleWOOeZmPIp29dWk7GYvmx2zNp0FlRKbtHHY0T8fHci0uuiTB9SwHYbv" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}"><!-- KeyTable Extension -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/2.2.2/features/searchHighlight/dataTables.searchHighlight.css" integrity="sha384-3FGcHDS9wKlVV/Pu4y1kojpLsNxlE3jQjdm1N0p7RC9f6xPdRAj78js3ELGiGP/j" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}"><!-- Highlight Extension -->
{% asset 'canada_datatables/pd_datatable_css' %}
{#
  NOTE: to avoid unsafe JS eval, we render the js_error_evals via jinja2.
        because of this, we cannot pass this object into the CKAN JS Module
        like the other variables. So we must make it a JS Global here.
#}
<script type="text/javascript" nonce="{{- h.get_inline_script_nonce() -}}">
  {% if can_edit %}
    const pd_datatables__EDITOR = {
      {% for field in chromo.fields %}
        {{- field.datastore_id -}}: {
          type: '{{- field.datastore_type -}}',
          label: '{{- h.scheming_language_text(field.label) -}}',
          form_attrs: {{ field.form_attrs|tojson if 'form_attrs' in field else None|tojson}},
          select_choices: {{ choice_fields[field.datastore_id]|tojson if field.datastore_id in choice_fields else None|tojson}},
          is_required: function(VALUE, ROW_INDEX){
            {%- if field.js_required_eval -%}
              {%- set ns = namespace(js_required_eval=field.js_required_eval) -%}
              {%- if '{{' in ns.js_required_eval -%}
                {%- for field in chromo.fields -%}
                  {%- if '{{' ~ field.datastore_id ~ '}}' in ns.js_required_eval -%}
                    let _{{- field.datastore_id }} = $('#dtprv_wrapper').find('#dtprv-body-main').find('tr').eq(ROW_INDEX).find('.pd-datatable-editor-input[data-datastore-id="{{- field.datastore_id -}}"]').val();
                    {%- set ns.js_required_eval = ns.js_required_eval.replace('{{' ~ field.datastore_id ~ '}}', '_' ~ field.datastore_id) -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
              return ({{- ns.js_required_eval|safe -}});
            {%- else -%}
              return ({{- (field.form_required or field.excel_required or false)|tojson -}});
            {%- endif -%}
          },
          is_invalid: function(VALUE, ROW_INDEX){
            {%- set default_error_eval = 'false' -%}
            {% if field.form_required or field.excel_required %}
              {%- set default_error_eval = 'typeof VALUE == "undefined" || VALUE.length == 0' -%}
            {%- endif -%}
            {%- if field.datastore_type in ('int', 'bigint', 'numeric', 'float', 'double', 'year', 'month') -%}
              {%- set default_error_eval = default_error_eval ~ ' || isNaN(parseInt(VALUE)) || ! Number.isInteger(parseInt(VALUE))' -%}
            {%- endif -%}
            {%- if field.datastore_type == 'year' -%}
              {%- set default_error_eval = default_error_eval ~ ' || VALUE.length != 4' -%}
            {%- elif field.datastore_type == 'month' -%}
              {%- set default_error_eval = default_error_eval ~ ' || parseInt(VALUE) < 1 || parseInt(VALUE) > 12' -%}
            {%- endif -%}
            {%- if field.datastore_id in choice_fields -%}
              {%- if field.datastore_type == '_text' -%}
                {%- set default_error_eval = default_error_eval ~ ' || ! VALUE.every(function(_v){return CHOICES.includes(_v)})' -%}
              {%- else -%}
                {%- set default_error_eval = default_error_eval ~ ' || ! CHOICES.includes(VALUE)' -%}
              {%- endif -%}
              let CHOICES = [];
              if( this.select_choices ){
                for( let _i = 0; _i < this.select_choices.length; _i++ ){
                  CHOICES.push(this.select_choices[_i][0]);
                }
              }
            {%- endif -%}
            {%- if field.js_error_eval -%}
              {%- set ns = namespace(js_error_eval=field.js_error_eval) -%}
              {%- if '{{' in ns.js_error_eval -%}
                {%- for field in chromo.fields -%}
                  {%- if '{{' ~ field.datastore_id ~ '}}' in ns.js_error_eval -%}
                    let _{{- field.datastore_id }} = $('#dtprv_wrapper').find('#dtprv-body-main').find('tr').eq(ROW_INDEX).find('.pd-datatable-editor-input[data-datastore-id="{{- field.datastore_id -}}"]').val();
                    {%- set ns.js_error_eval = ns.js_error_eval.replace('{{' ~ field.datastore_id ~ '}}', '_' ~ field.datastore_id) -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
              return ({{- default_error_eval|safe -}}) || ({{- ns.js_error_eval|safe -}});
            {%- else -%}
              return ({{- default_error_eval|safe -}});
            {%- endif -%}
          }
        },
      {% endfor %}
    }
  {% else %}
    const pd_datatables__EDITOR = false;
  {% endif %}
</script>

<script type="text/javascript" src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js" integrity="sha384-AenwROccLjIcbIsJuEZmrLlBzwrhvO94q+wm9RwETq4Kkqv9npFR2qbpdMhsehX3" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- Core -->
<script type="text/javascript" src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.min.js" integrity="sha384-G85lmdZCo2WkHaZ8U1ZceHekzKcg37sFrs4St2+u/r2UtfvSDQmQrkMsEx4Cgv/W" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- Core -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.2/js/dataTables.buttons.min.js" integrity="sha384-DmaAfo+/+UjRKHPidNNswlNqd9ybuE6yx9zKHyMY+vYy9SZhQEu4nauMVgwSx4Z/" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- Buttons Extension -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.2/js/buttons.bootstrap5.min.js" integrity="sha384-BdedgzbgcQH1hGtNWLD56fSa7LYUCzyRMuDzgr5+9etd1/W7eT0kHDrsADMmx60k" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- Buttons Extension -->
<script type="text/javascript" src="https://cdn.datatables.net/responsive/3.0.4/js/dataTables.responsive.min.js" integrity="sha384-A6In5tKqlvPZKDpH+ei4A3A4TZrEsyvvN2Fe+oCB1IaQfGD5HNqDIxwjztNKSGDd" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- Responsive Extension -->
<script type="text/javascript" src="https://cdn.datatables.net/responsive/3.0.4/js/responsive.bootstrap5.min.js" integrity="sha384-VdUZen/UKzp4O+wnInvMeDymYoESBoFxn8hXwJcu+3QTKXC0Ewzr1Wj+17lPUrtn" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- Responsive Extension -->
<script type="text/javascript" src="https://cdn.datatables.net/select/3.0.0/js/dataTables.select.min.js" integrity="sha384-Y/112jU1UJsyj7J/WhficUVfFZTLF2TgmBuDHBvJmYS8f+dGaz3ZNKxgwcg4YgP9" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- Select Extension -->
<script type="text/javascript" src="https://cdn.datatables.net/select/3.0.0/js/select.bootstrap5.min.js" integrity="sha384-Ttfoqnculm18lypWoer93HIDnzUXrznwNRvE6iuz4TQZoWnKUb7xO3wPdnRrSFu+" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- Select Extension -->
<script type="text/javascript" src="https://cdn.datatables.net/keytable/2.12.1/js/dataTables.keyTable.min.js" integrity="sha384-NpM9cy4W0hbpF01CF3uXWZjVV0Q3qBPDaQlLcm92tD/4zpTXoj716Q1VkXFb7/t7" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- KeyTable Extension -->
<script type="text/javascript" src="https://cdn.datatables.net/keytable/2.12.1/js/keyTable.bootstrap5.min.js" integrity="sha384-LjqAejAs/gUORIoPKSXkTcNT0qFKpirTWZ4RvIlbwjgY1TYGi7E7dCoyTFZM1q68" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- KeyTable Extension -->
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/2.2.2/features/searchHighlight/dataTables.searchHighlight.min.js" integrity="sha384-XDdmvsWg5e1/POTILjMFvB3KtrBqRk5W1CG9aoi1+K6bBMPHQAvlKEiekndU6CTp" crossorigin="anonymous" nonce="{{- h.get_inline_script_nonce() -}}" defer></script><!-- Highlight Extension -->
{% asset 'canada_datatables/pd_datatable_js' %}
<style nonce="{{- h.get_inline_script_nonce() -}}">
  {# NOTE: need inline visibility to fully prevent load flashing in datatables #}
  body .pd-datatables-pre-render-hidden{
    visibility: hidden;
  }
  body #dtprv_wrapper .dt-scroll-head th:not(.bg-info){
    background-color: #{{- tableStyles.header.bgColor or 'ffffff' }} !important;
    color: #{{- tableStyles.header.fgColor or '000000' }} !important;
  }
  body #dtprv_wrapper #dtprv-body-main tr.selected td,
  body #dtprv_wrapper #dtprv-body-main tr.selected:hover td,
  body #dtprv_wrapper #dtprv-body-main tr.selected:focus td{
    box-shadow: inset 0 0 0 9999px #{{- tableStyles.select.bgColor or '757DE8' }} !important;
    color: #{{- tableStyles.select.fgColor or 'ffffff' }} !important;
  }
  body #pd-datatables-editor-legend .pd-datatables-legend-success{
    box-shadow: 0 0 2px 2px #{{- tableStyles.success.bgColor }} inset;
  }
  body #pd-datatables-editor-legend .pd-datatables-legend-required{
    box-shadow: 0 0 2px 2px #{{- tableStyles.required.bgColor }} inset;
  }
  body #pd-datatables-editor-legend .pd-datatables-legend-error{
    box-shadow: 0 0 2px 2px #{{- tableStyles.errored.bgColor }} inset;
  }
</style>

<div data-module="pd-datatables"
     data-module-locale="{{- lang -}}"
     data-module-locale_string="{{- 'en-CA' if lang == 'en' else 'fr-CA' -}}"
     data-module-timezone_string="{{- 'EST' if lang == 'en' else 'HNE' -}}"
     data-module-csrf_name="{{- g.csrf_field_name -}}"
     data-module-csrf_value="{{- csrf_token() -}}"
     data-module-resource_id="{{- resource_id -}}"
     data-module-resource_name="{{- resource_name -}}"
     data-module-edit_single_uri="{{- h.url_for('canada.update_pd_record', resource_name=resource_name, owner_org=owner_org, pk='') -}}"
     data-module-edit_records_uri="{{- h.url_for('recombinant.template', dataset_type=dataset_type, lang=lang, owner_org=owner_org) -}}"
     data-module-upsert_records_uri="{{- h.url_for('canada.upsert_pd_data', resource_name=resource_name, owner_org=owner_org) -}}"
     data-module-delete_records_uri="{{- h.url_for('canada.delete_selected_records', resource_id=resource_id) -}}"
     data-module-ajax_uri="{{- h.url_for('canada.pd_datatable', resource_name=resource_name, resource_id=resource_id) -}}"
     data-module-table_styles='{{ tableStyles|tojson }}'
     data-module-primary_keys='{{ primary_keys|tojson }}'
     data-module-foreign_keys='{{ foreign_keys|tojson }}'
     data-module-foreign_links='{{ fk_links|tojson }}'
     data-module-chromo_fields='{{ chromo.fields|tojson }}'
     data-module-is_editable='{{ (chromo.edit_form and can_edit)|tojson }}'>
</div>
