{#
  NOTE: we use as much functional programming here for Datatables as possible
        in order to keep things somewhat synchronous and stateless. With re-drawing
        and re-initializing the table, a full object model can get expensive and
        unpredictable.
#}
{% set chromo = h.recombinant_get_chromo(resource_name) %}
{% set can_edit = h.check_access('resource_update', {'id': resource_id}) %}
{% set fk_links = {} %}
{% for _res_name, _fkeys in foreign_keys.items() %}
  {% do fk_links.update({_res_name: h.url_for('recombinant.preview_table', resource_name=_res_name, owner_org=owner_org)}) %}
{% endfor  %}
{% set magic_priority_no_field_should_be_below = 2 %}
{% set choice_fields = h.recombinant_choice_fields(resource_name) if can_edit else {} %}

<section id="dt-preview">
  <h2 id="prtable">{{_("Interactive Table")}}</h2>
  <div class="pd-datable-instructions">
    <details>
      <summary>{{ _('Keyboard controls') }}</summary>
      {# TODO: add table control tutorials!!! #}
      <ul>
        <li>{{ _('Hold <pre>SHIFT</pre> key while clicking on sort controls for multi-column sorting') }}</li>
        <li>{{ _('Press <pre>ALT + K</pre> keys to enter KeyTable mode, allowing you to navigate the table with arrow keys') }}</li>
        <ul>
          <li>{{ _('Press <pre>SPACE</pre> key to select a row') }}</li>
          <li>{{ _('Press <pre>E</pre> key to expand a row (Compact Table mode only)') }}</li>
          <li>{{ _('Press <pre>ESC</pre> key to exit KeyTable mode') }}</li>
        </ul>
      </ul>
    </details>
  </div>
  <table id="dtprv" class="table table-striped" data-role="table" data-mode="columntoggle" style="visibility: hidden;">
    <thead>
      <tr class="font-small">
        <th scope="col" data-priority="3"></th>
        <th scope="col" data-priority="3">{{ _('Select') }}</th>
        {% for field in ds_fields %}
          {# TODO: add fa fa-info-circle to headings for field data dictionary linking??? #}
          {# TODO: add a glue button for sticky columns #}
          <th scope="col" data-datastore-id="{{- field.id -}}" data-datastore-type="{{- field.type -}}" data-priority="{{- field.priority + magic_priority_no_field_should_be_below -}}">
            {{- field.label -}}<span class="sorting-cnt"><span class="sorting-icons"></span></span>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody id="dtprv-body-main"></tbody>
    <tfoot id="dtprv-foot-main">
      <th scope="col" data-priority="3"></th>
      <th scope="col" data-priority="3">{{ _('Select') }}</th>
      {% for field in ds_fields %}
        <th scope="col" data-datastore-id="{{- field.id -}}" data-priority="{{- field.priority + magic_priority_no_field_should_be_below -}}">
          {{- field.label -}}
        </th>
      {% endfor %}
    </tfoot>
  </table>
</section>

<!-- https://github.com/markedjs/marked -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/marked@15.0.7/lib/marked.umd.min.js" defer></script>

<!-- https://github.com/knownasilya/jquery-highlight | https:////bartaz.github.io/sandbox.js/jquery.highlight.js -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/jquery-highlight@3.5.0/jquery.highlight.js" defer></script>

<!-- https://datatables.net/download/release | https://cdn.datatables.net/ -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.min.css"><!-- Core -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/3.2.2/css/buttons.bootstrap5.min.css"><!-- Buttons Extension -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/3.0.4/css/responsive.bootstrap5.min.css"><!-- Responsive Extension -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/3.0.0/css/select.bootstrap5.min.css"><!-- Select Extension -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/keytable/2.12.1/css/keyTable.bootstrap5.min.css"><!-- KeyTable Extension -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/2.2.2/features/searchHighlight/dataTables.searchHighlight.css"><!-- Highlight Extension -->
{% asset 'canada_datatables/pd_datatable_css' %}

<script type="text/javascript" src="//cdn.datatables.net/2.2.2/js/dataTables.min.js" defer></script><!-- Core -->
<script type="text/javascript" src="//cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.min.js" defer></script><!-- Core -->
<script type="text/javascript" src="//cdn.datatables.net/buttons/3.2.2/js/dataTables.buttons.min.js" defer></script><!-- Buttons Extension -->
<script type="text/javascript" src="//cdn.datatables.net/buttons/3.2.2/js/buttons.bootstrap5.min.js" defer></script><!-- Buttons Extension -->
<script type="text/javascript" src="//cdn.datatables.net/responsive/3.0.4/js/dataTables.responsive.min.js" defer></script><!-- Responsive Extension -->
<script type="text/javascript" src="//cdn.datatables.net/responsive/3.0.4/js/responsive.bootstrap5.min.js" defer></script><!-- Responsive Extension -->
<script type="text/javascript" src="//cdn.datatables.net/select/3.0.0/js/dataTables.select.min.js" defer></script><!-- Select Extension -->
<script type="text/javascript" src="//cdn.datatables.net/select/3.0.0/js/select.bootstrap5.min.js" defer></script><!-- Select Extension -->
<script type="text/javascript" src="//cdn.datatables.net/keytable/2.12.1/js/dataTables.keyTable.min.js" defer></script><!-- KeyTable Extension -->
<script type="text/javascript" src="//cdn.datatables.net/keytable/2.12.1/js/keyTable.bootstrap5.min.js" defer></script><!-- KeyTable Extension -->
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/2.2.2/features/searchHighlight/dataTables.searchHighlight.min.js" defer></script><!-- Highlight Extension -->
{% asset 'canada_datatables/pd_datatable_js' %}

<script type="text/javascript">
  const pd_datatable__locale = "{{- h.lang() or 'en' -}}";
  const pd_datatable__localeString = pd_datatable__locale == 'en' ? 'en-CA' : 'fr-CA';
  const pd_datatable__timezoneString = pd_datatable__locale == 'en' ? 'EST' : 'HNE';  // FIXME: EDT / HAE
  const pd_datatable__csrfTokenValue = "{{- csrf_token() -}}";
  const pd_datatable__csrfTokenName = "{{- g.csrf_field_name -}}";
  const pd_datatable__resourceName = "{{- resource_name -}}";
  const pd_datatable__primaryKeys = {{ primary_keys|tojson }};
  const pd_datatable__foreignKeys = {{ foreign_keys|tojson }};
  const pd_datatable__foreignLinks = {{ fk_links|tojson }};
  const pd_datatable__chromoFields = {{ chromo.fields|tojson }};
  const pd_datatable__isEditable = {{ (chromo.edit_form and can_edit)|tojson }};
  const pd_datatable__selectAllLabel = "{{- _('Select All') -}}";
  const pd_datatable__colSearchLabel = "{{- _('Search:') -}}";
  const pd_datatable__colSortLabel = "{{- _('Sorting by:') -}}";
  const pd_datatable__colSortAscLabel = "{{- _('Ascending') -}}";
  const pd_datatable__colSortDescLabel = "{{- _('Descending') -}}";
  const pd_datatable__colSortAnyLabel = "{{- _('Any') -}}";
  const pd_datatable__readLessLabel = "{{- _('less') -}}";
  const pd_datatable__jumpToPageLabel = "{{- _('Jump to page') -}}";
  const pd_datatable__resetTabelLabel = "{{- _('Reset Table') -}}";
  const pd_datatable__fullscreenLabel = "{{- _('Fullscreen') -}}";
  const pd_datatable__exitFullscreenLabel = "{{- _('Exit Fullscreen') -}}";
  const pd_datatable__fullTableLabel = "{{- _('Full Table') -}}";
  const pd_datatable__compactTableLabel = "{{- _('Compact Table') -}}";
  const pd_datatable__editSingleButtonLabel = "{{- _('Edit Online') -}}";
  const pd_datatable__addInTableButtonLabel = "{{- _('Add new record in Table') -}}";
  const pd_datatable__editInTableButtonLabel = "{{- _('Edit in Table') -}}";
  const pd_datatable__countSuffix = "{{- _(' record(s)') -}}";
  const pd_datatable__ajaxErrorMessage = "{{- _('Error: Could not query records. Please try again.') -}}";
  const pd_datatable__editSingleRecordURI = "{{- h.url_for('canada.update_pd_record', resource_name=resource_name, owner_org=owner_org, pk='') -}}";
  const pd_datatable__editButtonLabel = "{{- _('Edit<span class=\\"pd-datatbales-btn-count\\"></span> in Excel') -}}";
  const pd_datatable__editRecordsURI = "{{- h.url_for('recombinant.template', dataset_type=dataset_type, lang=h.lang(), owner_org=owner_org) -}}";
  const pd_datatable__deleteButtonLabel = "{{- _('Delete<span class=\\"pd-datatbales-btn-count\\"></span>') -}}";
  const pd_datatable__deleteRecordsURI = "{{- h.url_for('canada.delete_selected_records', resource_id=resource_id) -}}";
  const pd_datatable__ajaxURI = "{{- h.url_for('canada.pd_datatable', resource_name=resource_name, resource_id=resource_id) -}}";
  const pd_datatable__tableLanguage = {
    decimal: "",
    emptyTable: "{{- _('No data available in table') -}}",
    info: "{{- _('Showing _START_ to _END_ of _TOTAL_ entries') -}}",
    infoEmpty: "{{- _('Showing 0 to 0 of 0 entries') -}}",
    infoFiltered: "{{- _('(filtered from _MAX_ total entries)') -}}",
    infoPostFix: "",
    thousands: ",",
    lengthMenu: "{{- _('_MENU_ Show number of entries') -}}",
    loadingRecords: "{{- _('Loading...') -}}",
    processing: "",
    search: "{{- _('Search') -}}",
    zeroRecords: "{{- _('No matching records found') -}}",
    paginate: {
      first: "«",
      last: "»",
      next: "›",
      previous: "‹"
    },
    aria: {
      orderable: "{{- _('Order by this column') -}}",
      orderableReverse: "{{- _('Reverse order this column') -}}"
    }
  };
  {% if can_edit %}
    const pd_datatables__EDITOR = {
      {% for field in chromo.fields %}
        {{- field.datastore_id -}}: {
          type: '{{- field.datastore_type -}}',
          form_attrs: {{ field.form_attrs|tojson if 'form_attrs' in field else None|tojson}},
          select_choices: {{ choice_fields[field.datastore_id]|tojson if field.datastore_id in choice_fields else None|tojson}},
          is_invalid: function(VALUE){
            let CHOICES = [];
            if( this.select_choices ){
              for( let _i = 0; _i < this.select_choices.length; _i++ ){
                CHOICES.push(this.select_choices[_i][0]);
              }
            }
            {% if field.js_error_eval %}
              return ({{- field.js_error_eval|safe -}});
            {% else %}
              return false;
            {% endif %}
          }
        },
      {% endfor %}
    }
  {% else %}
    const pd_datatables__EDITOR = false;
  {% endif %}
  window.addEventListener('load', function(){
    $(document).ready(function() {
      load_pd_datatable();
    });
  });
</script>
