{% block header_user_snippet %}
  <section class="text-right">
    <h2 class="wb-inv">Sign-on information</h2>
    <div class="container">
      <div class="row {{ 'mrgn-tp-md' if g.is_registry else '' }}">
        <div class="{{ 'col-md-offset-4 col-md-8' if g.is_registry else 'col-md-12' }}" id="user_nav">
          <ul class="list-inline">
            {% if c.userobj %}
              {% block header_account_logged %}
                {% if g.is_registry %}
                  {% if c.userobj.sysadmin %}
                    <li>
                      <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}" class="btn btn-default mrgn-tp-sm">
                        <i class="fa fa-gavel"></i><span class="text">&nbsp;{{ _('Admin') }}</span>
                      </a>
                    </li>
                  {% endif %}
                  <li class="notifications">
                    <a href="{{ h.url_for('dashboard.index') }}" class="btn btn-default mrgn-tp-sm">
                      <i class="fa fa-tachometer"></i><span class="text">&nbsp;{{ _('Dashboard') }}</span>
                    </a>
                  </li>
                {% endif %}
                {% block header_account_settings_link %}
                  {% if g.is_registry %}
                    <li>
                      <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit Profile') }}" class="btn btn-default mrgn-tp-sm">
                        <span class="fa fa-cog"></span><span class="text">&nbsp;{{ _('Edit Profile') }}</span>
                      </a>
                    </li>
                  {% endif %}
                {% endblock %}
                {% block header_get_help %}
                  {% if g.is_registry %}
                    <li>
                      {% if h.lang() == 'fr' %}
                        {% set help_link = h.portal_url() ~ "/fr/guide-operations-registre/ton-compte" %}
                      {% else %}
                        {% set help_link = h.portal_url() ~ "/en/registry-operations-guide/your-account" %}
                      {% endif %}
                      <a href="{{ help_link }}" title="{{ _('Get Help') }}" class="btn btn-warning mrgn-tp-sm get-help-analytics">
                        <span class="fa fa-question"></span><span class="text">&nbsp;{{ _('Get Help') }}</span>
                      </a>
                    </li>
                  {% endif %}
                {% endblock %}
                {% block header_account_log_out_link %}{% endblock %}
              {% endblock %}
            {% else %}
              {% block header_account_notlogged %}{% endblock %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
