{# slight abuse of scheming_language_text for selecting the desired language version #}
{%- set value, machine_translated = h.language_text_t(data[field.field_name]) -%}
<ul class='list-inline'>
  {%- for tag in value -%}
    <li class="label label-default mrgn-rght-sm resource-tags">{{ tag }}</li>
  {%- endfor -%}
  {%- if machine_translated -%}
    <li><i class="fa fa-language text-muted" title="{{ _('This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact {support}').format(support=h.support_email_address()) }}"></i></li>
  {%- endif -%}
</ul>
