{%- macro display_comment(comment_list) -%}
  {%- if comment_list|length > 0 -%}
    {%- if commen_list[0][1] -%}
      {%- set indent = comment_list[0][1]['thread'].split('.')|length  -%}
      {%- if indent >  1 -%}<div class="indented">{% endif %}
      {% for item in comment_list %}
        {% set sub_comments, comment = item[0], item[1] %}
        <article class="comment ">
          <header><p class="author-datetime"><span class="comment-author">{{ comment['user']}}</span> - <span class="comment-datetime">{{ comment['date'] }}</span></p></header>
          <p>{{ comment['comment_body']|striptags }}</p>
        </article>
        {{ display_comment(sub_comments) }}
      {% endfor %}
      {%- if indent >  1 -%}</div>{% endif %}
    {%- endif -%}
  {% endif %}
{%- endmacro -%}

<section class="indent-large">
<div class="span-6 margin-top-medium">
    {%- set pkg = c.pkg_dict -%}
    {%- set comment_list = h.dataset_comments(request, c, pkg.id) -%}

    {%- if comment_list -%}
      <div class="row">
        <div class="col-md-3"><h4 style="display:inline-block;">{{ _('Comments') }} ({{ c.page.item_count }})</h4></div>

        {% block page_pagination_top %}
          <div class="col-md-4"><small>{{ c.page.pager(q=c.q) }}</small></div>
         {% endblock %}

        <div class="text-right"><small>
          <form class="form-inline mrgn-bttm-sm mrgn-tp-md form-group form-horizontal" role="form" method="get" >
              <label for="field-order-by" class="control-label">{{ _('Order by') }}</label>
              <select id="field-order-by" name="sort" class="form-control input-sm" onchange="this.form.submit()">
              {% for value in ['time_descend', 'time_ascend'] %}
                <option value="{{ value }}" {% if c.sort==value %} selected="selected"{% endif %}>{{ _(value) }}</option>
              {% endfor %}
              </select>

            <select id="field-page-limit" name="pagelimit" class="form-control input-sm" onchange="this.form.submit()">
              {% for value in [20, 50, 100] %}
                <option value="{{ value }}" {% if c.pagelimit==value %} selected="selected"{% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
            <label for="field-page-limit" class="control-label">{{ _('Per Page') }}</label>
          </form>
        </small></div>
      </div>
      {{ display_comment(comment_list) }}

      {% block page_pagination %}
      {{ c.page.pager(q=c.q) }}
      {% endblock %}
    {% else %}
      <h4>{{ _('Comments') }}(0)</h4>
    {%- endif -%}
    <div class="margin-top-medium">
      {% block comment_link %}
        <a href="/{% if h.lang() == 'fr' %}fr{% else %}en{% endif %}/external-entity/ckan-{{pkg.name}}"
            class="btn btn-default btn-lg">{{_('Comment')}}</a>
      {% endblock %}
    </div>
</div>
</section>
