{% block opendatacanada_comments %}


<div class="module-comment indent-large span-5">

  {% set pkg = c.pkg_dict %}

  {% set comment_list = h.dataset_comments(pkg.id) %}

  <h3><a id="comments">{{ comment_list.length }} {{ _('Comments') }}</a></h3>

  {% if comment_list %}
  <ol class="wet-boew-zebra">
    {% for comment in comment_list %}
    <li>
      <div>
        {{ comment['user']}}
      </div>
      <div>
        {{ comment['date']}}
      </div>
      <div>
        {{ comment['subject'] }}
      </div>
      <div>
        {{ comment['comment_body']|striptags }}
      </div>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
  </div>
<div class="clear"></div>


<div class="module-content indent-large span-5">
  <p>
    <ul class="button-group">
      <li class="button">
        <a href="/dataset/{{pkg.name}}">{{_('Comment')}}</a>
      </li>
    </ul>
  </p>

</div>

{% endblock %}


