{% block opendatacanada_comments %}

<div class="module">
  <section class="module-content indent-large">
    
    {% set pkg = c.pkg_dict %}

    {% set comment_list = h.dataset_comments(pkg.id, h.lang()) %}

    <h3><a id="comments">{{ _('Comments') }}</a></h3>
    
    {% if comment_list %}
    <div class="span-5 module-comment">
      <ol class="wet-boew-zebra">
      {% for comment in comment_list %}
        <li>
          <div>{{ comment['user']}}</div>
          <div>{{ comment['date'] }}</div>
          {{ comment['comment_body']|striptags }}
        </li>
      {% endfor %}
      </ol>
    </div>
    <div class="clear"></div>
    {% endif %}
    
     <ul class="button-group">
          <li class="button"><a href="/{% if h.lang() == 'fr' %}fra{% else %}eng{% endif %}/dataset/{{pkg.name}}">{{_('Comment')}}</a></li>
     </ul>
    
  </section>
</div>

{% endblock %}


