<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:py="http://genshi.edgewall.org/"
xmlns:xi="http://www.w3.org/2001/XInclude"
py:strip=""
>

  <py:match path="minornavigation" py:if="c.pkg">
      <div id="wb-sec-in">
        <nav role="navigation">
          <h2 id="wb=nav">Secondary Menu</h2>
          <div class="wb-sec-def">
            <section>
              <ul>
                <div class="top-level">
                  <li><a href="#">Datasets</a></li>
                </div>
                <li>
                  ${h.subnav_link(_('View'), controller='package', action='read', id=c.pkg.name)}
                </li>
                <py:choose test="len(c.pkg_dict.get('resources', []))==0 and not h.check_access('package_update',{'id':c.pkg.id})">
                  <py:when test="True">
                    <li>
                      <a href="#" onclick="return false;">${_('Resources (0)')}</a>
                    </li>
                  </py:when>
                  <py:otherwise>
                    <li>
                      <a href="#">${_('Resources') + ' (' + str(len(c.pkg_dict.get('resources',[]))) + ')'}</a>
                        <ul>
                          <li py:if="h.check_access('package_update',{'id':c.pkg.id})">
                            ${h.link_to(_('Add / Edit resources'),
                            h.url_for(action='editresources', id=c.pkg.name, controller='package')
                            )}
                          </li>
                          <li py:for="res in c.pkg_dict.get('resources', [])">
                            <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}">${h.resource_display_name(res)}</a>
                          </li>
                        </ul>
                    </li>
                  </py:otherwise>
                </py:choose>
                <li py:if="h.asbool(config.get('ckan.dataset.show_apps_ideas', 'true'))">
                  ${h.subnav_link(_('Apps, Ideas etc') + ' (%s)' % c.related_count, controller='related', action='list', id=c.pkg.name)}
                </li>
                <li>
                  ${h.subnav_link(_('History'), controller='package', action='history', id=c.pkg.name)}
                </li>
                <li>
                  ${h.subnav_link(
                  _('Followers ({num_followers})').format(num_followers=h.follow_count('dataset', c.pkg_dict.id)),
                  controller='package',
                  action='followers',
                  id=c.pkg.name)}
                </li>

                <div py:if="h.check_access('package_update',{'id':c.pkg.id})" class="top-level">
                  <li>
                    ${h.subnav_link(_('Settings'), controller='package', action='edit', id=c.pkg.name)}
                  </li>
                </div>

                <div py:if="h.check_access('package_edit_permissions',{'id':c.pkg.id})" class="top-level">
                  <li>
                    ${h.subnav_link(_('Authorization'), controller='package', action='authz', id=c.pkg.name)}
                  </li>
                </div>

              </ul>
            </section>
          </div>
        </nav>
      </div>

  </py:match>

  <xi:include href="../layout.html" />

</html>

