<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Add - Datasets</py:def>
  <py:def function="page_heading">Add a Dataset</py:def>

  <py:def function="body_class">${h.literal('no-sidebar')}</py:def>

  <py:def function="optional_head">
    <script>
      var resources_json = ${h.literal(c.resources_json)};
    </script>
  </py:def>

  <minornavigation></minornavigation>
  
  <div py:match="content" >
    <div py:if="c.error" class="span-6">
    <h3>
      Error: ${c.error}
    </h3>
    </div>
    <div py:if="c.error" class="clear"></div>
    <div class="wet-boew-formvalid span-6">
    ${c.form}
    </div>
  </div>

  <xi:include href="layout.html" />
</html>

