{% ckan_extends %}

{% import 'macros/canada_read.html' as cr %}

{% set pkg = c.pkg_dict %}
{% set client_lang = h.lang() %}

{% block page_header %}

{% endblock %}

{% block breadcrumb_content %}
  {% set dataset = pkg.title or pkg.name %}
  {% set pkg_url = h.url(controller='package', action='read', id=pkg.id) %}
  <li>{% link_for _('Search Data'), controller='package', action='search', highlight_actions = 'new index' %}</li>
{% endblock %}

{% block secondary_content %}

  {% block ds_socialmedia %} 
  {% include "package/snippets/socialmedia.html" %}
  {% endblock ds_socialmedia %}
  
  <div class="module-related">
    <h3>{{_('About this Dataset')}}
    <a href="{{ h.url_for(action='history', controller='package', id=pkg.id)
      }}?format=atom" title="RSS"><span class="wb-icon-rss indent-medium"></span><span style="color:white;">{{_('RSS Feed')}}</span></a></h3>
    <ul>
      {% set owner_org = schema_description.dataset_field_by_id['owner_org'] %}
      <li><b>{{ cr.field_label(owner_org, client_lang) }}:</b>
        <br/>
        {{ cr.org_field(pkg, client_lang) }}
      </li>
      
      {% set keywords = schema_description.dataset_field_by_id['keywords'] %}
      <li>{{ cr.field_label(keywords, client_lang) }}:
        {{ cr.keyword_field(keywords, pkg, client_lang) }}
      </li>
      
      {% set date_published = schema_description.dataset_field_by_id['date_published'] %}
      <li>{{ cr.field_label(date_published, client_lang) }}:
        {% if cr.date_field(date_published, pkg) != 'None' %}
          {{ cr.date_field(date_published, pkg) }}
        {% endif %}
      </li>
      
      {% set date_modified = schema_description.dataset_field_by_id['date_modified'] %}
      <li>{{ cr.field_label(date_modified, client_lang) }}:
        {% if cr.date_field(date_modified, pkg) != 'None' %}
          {{ cr.date_field(date_modified, pkg) }}
        {% endif %}
      </li>
      
      {% set program_url = schema_description.dataset_field_by_id['url'] %}
      <li>{{ cr.field_label(program_url, client_lang) }}:
        {% if cr.field(program_url, pkg, client_lang) != '' %}
          <a href="{{ cr.field(program_url, pkg, client_lang) }}">{{ _('Program Page') }}</a>
        {% endif %}
      </li>

      {% set period_start = schema_description.dataset_field_by_id['time_period_coverage_start'] %}
      {% set period_end = schema_description.dataset_field_by_id['time_period_coverage_end'] %}
      {% if cr.date_field(period_start, pkg) and cr.date_field(period_end, pkg) %}
      <li>{{ _('Temporal Coverage') }}:
        {{ cr.date_field(period_start, pkg) }}–{{ cr.date_field(period_end, pkg) }}
      </li>
      {% endif %}
      
      {% set frequency = schema_description.dataset_field_by_id['maintenance_and_update_frequency'] %}
	  <li class="margin-bottom-medium">{{ cr.field_label(frequency, client_lang) }}:
	    {{ cr.field(frequency, pkg, client_lang) }}
	  </li>
                 
    </ul>
      <ul class="list-bullet-none">
        <li><a href="{{ h.portal_url() + (
            '/eng/openness-rating' if h.lang() == 'en' else
            '/fra/cote-degre-douvertrure-des-donnees') }}">{{ _('Openness rating') }}</a>:
            {%- set openness = h.openness_score(pkg) -%}
            <img src="{{ h.url_for_static('/static/img/stars/star'
              ~ openness ~ '.png') }}" alt="{{
                ['',
                _('one star'),
                _('two stars'),
                _('three stars'),
                _('four stars'),
                _('five stars'),
                ][openness] }}"
                class="image-actual margin-bottom-none openness-rating-stars" />
        </li>  
      </ul>    

  </div>

{% endblock %}
