{# vim: set filetype=htmljinja sw=2 sts=2: #}
{% ckan_extends %}
{% import 'macros/canada_read.html' as cr %}

{% set pkg = c.pkg_dict %}
{% set client_lang = h.lang() %}
{% set wet_server = h.wet_url() %}

{% block subtitle %}{% endblock %}

{% block primary_content_inner %}
  <div class="module">
    <section class="resources module-content indent-large">
      {% if pkg.state == "deleted" %}
      <div class="module-alert">
        <p>{{ _('This dataset has been deleted and is no longer accessible to non-admin users') }}.</p>
      </div>
      {% endif %}
    </section>

    {% block package_item_title %}
    <section class="module-content indent-large">

      <h1>{{ pkg.title[client_lang] or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
      </h1>
      {% if c.pkg_notes_formatted %}
        <div>
          {{ h.render_markdown(pkg.notes[client_lang]) }}
        </div>
      {% endif %} 

      <p><a href="/ramp/ramp-{{ h.lang() }}-ckan.html?keys_disabled={{ pkg.name }}" class="btn btn-primary btn-xs"><span class="fa fa-map-marker"></span> {{ _('View on Map') }}</a></p>

    </section>
    {%- endblock -%}

    <section class="module-content indent-large">
      <div class="span-6 margin-top-medium">
        <div>
          <h4>{{_('Licence')}}: </h4>
        </div>
        <div>

        {% block package_item_license_inner %}
          {# for now, just override the old data.gc.ca license
             url until such time that all datasets have been
             updated with the new url #}

          {% if client_lang == 'fr' %}
            {% if pkg.license_url_fra == 'http://data.gc.ca/fra/licence-du-gouvernement-ouvert-canada' %}
                {% set license_url_fra = 'http://ouvert.canada.ca/fr/licence-du-gouvernement-ouvert-canada' %}
            {% else %}
                {% set license_url_fra = pkg.license_url_fra %}
            {% endif %}
            <a href="{{ license_url_fra }}">{{ pkg.license_title_fra }}</a>
          {% else %}
            {% if pkg.license_url == 'http://data.gc.ca/eng/open-government-licence-canada' %}
                {% set license_url = 'http://open.canada.ca/en/open-government-licence-canada' %}
            {% else %}
                {% set license_url = pkg.license_url %}
            {% endif %}
            <a href="{{ license_url }}">{{ pkg.license_title }}</a>
          {% endif %}
        {% endblock %}

        </div>
        <div class="clear"></div>
      </div>
    </section>
    
    <section id="dataset-resources" class="module-content indent-large">
      <div class="span-6 margin-top-medium">
      <a href="/ramp/ramp-{{ h.lang() }}-ckan.html?keys_disabled={{ pkg.name }}" class="btn btn-primary btn-xs pull-right"><span class="fa fa-map-marker"></span> {{ _('View on Map') }}</a>
      {% if pkg.resources %}
        {% set nonapps = [] %}
        {% for resource in pkg.resources %}
          {% if resource.format != 'app' %}
            {% do nonapps.append(resource) %}
          {% endif %}
        {% endfor %}
        {% if nonapps|length > 0 %}

          {% block package_resources %}
            {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
          {% endblock %}

        {% endif %}
      {% endif %}
      </div>
    </section>
    
    <section class="indent-large">

      {% set apps = [] %}
      {% for resource in pkg.resources %}
        {% if resource.format == 'app' %}
          {% do apps.append(resource) %}
        {% endif %}
      {% endfor %}

      {% if apps|length > 0 %}
      <h2>{{ _('Related Items') }}</h2>
        <ul class="list-bullet-none">
        {% for resource in apps %}
          {% snippet 'package/snippets/app_item.html',
              pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang %}
        {% endfor %}
        </ul>
      {% endif %}

{% block package_item_apps %}
  <div class="span-6 margin-top-medium">
    {% set apps = [] %}
    {% for resource in pkg.resources %}
      {% if resource.format == 'app' %}
        {% do apps.append(resource) %}
      {% endif %}
    {% endfor %}
  </div>

  {% if apps|length > 0 %}
    <div class="span-6 margin-top-medium">
      <h4>{{ _('Related Items') }}</h4>
      <ul class="list-unstyled">
      {% for resource in apps %}
        {% snippet 'package/snippets/app_item.html',
            pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
{% endblock %}

{% block developer_tools %}
<div class="span-6 margin-top-medium">
  <h4>{{ _('Developer Tools') }}</h4>
    <ul class="list-unstyled">
      <li class="mrgn-bttm-md">{{ _('The information on this page (the publication metadata) is also available in JSON format') }} <br/>
      <a href="{{h.url_for_static('/', qualified=true)}}api/action/package_show?id={{pkg.id}}">{{ _('Link to JSON format') }}</a></li>
    </ul>
</div>
{% endblock developer_tools %}

{% block related_items %}
<div class="span-6 margin-top-medium">
  <h4>{{ _('Related Items') }}</h4>
    <font color="red">
    <ul class="list-unstyled">
      <li class="mrgn-bttm-md"><a href="#">These related items</a></li>
      <li class="mrgn-bttm-md"><a href="#">are part of core</a></li>
      <li class="mrgn-bttm-md"><a href="#">CKAN 2.3 / multi-scheming</a></li>
      <li class="mrgn-bttm-md"><a href="#">work, not as part of</a></li>
      <li class="mrgn-bttm-md"><a href="#">Open Maps.</a></li>
      <li class="mrgn-bttm-md"><a href="#">(Except the) HNAP Source XML</a></li>      
    </ul>
    </font>
</div>
{% endblock related_items %}

{% block package_item_geo_preview %}
{% if pkg.geographic_region or pkg.spatial %}
<div class="span-6 margin-top-medium">
  <h4>{{ _('Geographic Information') }}</h4>
  <font color="red">Why is this h.get_map_type() == 'static'?</font>
  {% if pkg.spatial %}
    {% set wkt = h.geojson_to_wkt(pkg.spatial) %}
    {% if wkt %}
      {% if h.get_map_type() == 'static' %}
        {% snippet 'snippets/geomap_static.html', gid=pkg['title'][client_lang], wkt=wkt %}
      {% else %}
        {% snippet 'snippets/geomap_dynamic.html', gid=pkg['title'][client_lang], wkt=wkt %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if pkg.geographic_region %}
    {% set geo_region = schema_description.dataset_field_by_id['geographic_region'] %}

      <div class="col-md-4">
        <h4>{{ cr.field_label(geo_region, client_lang) }}</h4>
      </div>
      <div class="col-md-8">
        {{ cr.tag_vocab_field(geo_region, pkg, client_lang) }}
      </div>

  {% endif %}
</div>
{% endif %}
{% endblock package_item_geo_preview %}

{% block contact_information %}
<div class="span-6 margin-top-medium">
  <h4>{{ _('Contact Information') }}</h4>
  <font color="red">Find pkg. values, how do I identify?</font>
</div>
{% endblock contact_information %}

{% block package_comments %}
{% include "package/comments.html" %}
{% endblock %}

{% endblock primary_content_inner %}

{% block page_extra_scripts %}
<!--[if gte IE 9 | !IE ]><!-->
<script src="{{ wet_server }}/geomapzoom.js" type="text/javascript"></script>
<!--<![endif]--><!--[if lt IE 9]>
<script src="{{ wet_server }}/geomapzoom.js"></script>
<![endif]-->
{% endblock %}

{% block package_license %}{% endblock %}
{% block package_item_notes %}{% endblock %}


