{% ckan_extends %}

{% import 'macros/canada_read.html' as cr %}

{% set pkg = c.pkg_dict %}
{% set client_lang = h.lang() %}
{% set schema = h.scheming_get_dataset_schema(pkg.type) %}

Remove the markdown_extract call because our notes is a dict not a string:
{% block head_extras %}
<meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
{% endblock %}


{% block page_header %}{% endblock %}

{% block content_primary_nav %}{% endblock %}

{% set page_title  = _('{record_title} - Open Data Portal - Open Data') %}
{% block title %}{% set title, mt = h.get_translated_t(pkg, 'title') %}{{ title or pkg.name }} - {{ super() }}{% endblock %}

{% block adobe_analytics_title %}
      <meta property="dcterms:title" content="{% set title, mt = h.get_translated_t(pkg, 'title') %}{{ title or pkg.name }} - {{ g.site_title }}" />
{% endblock %}

{% block secondary_content %}

  {% block ds_socialmedia %} 
  {% include "package/snippets/socialmedia.html" %}
  {% endblock ds_socialmedia %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title">
        {{ _('Additional Information') }}
      </div>
    </div>
    <ul class="list-group">
      {% set include_labels = schema.get('sidebar_show_fields', []) %}
      {% for field_to_show in include_labels %}
        {% set field = h.scheming_field_by_name(schema.dataset_fields, field_to_show) %}
        {% set field_title = h.scheming_language_text(field.label) %}
        {% if field_title %}
          {% set field_value = pkg[field.field_name] %}
          {% if pkg[field.field_name] is mapping %}
          {% set field_value = h.scheming_language_text(field_value) %}
          {% endif %}
          {% if field_value %}
            <li class="list-group-item">
              <strong>{{ field_title }}:</strong>
              {% snippet 'scheming/snippets/display_field.html',
                field=field,
                data=pkg,
                entity_type='dataset',
                object_type=pkg.type
              %}
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {%- set start_date = cr.date_field({"id":"time_period_coverage_start"}, pkg) -%}
      {%- set end_date = cr.date_field({"id":"time_period_coverage_end"}, pkg) -%}
      {% if start_date or end_date %}
      <li class="list-group-item"><b>{{ _('Temporal Coverage') }}:</b>
        <small>
        {% if start_date and end_date and end_date != '9999-09-09' %}
          {{ start_date }} {{ _('to') }} {{ end_date }}
        {% elif start_date %}
          {{ start_date }} {{ _('to undefined') }}
        {% elif end_date %}
          {{ _('undefined to') }} {{ end_date }}
        {% endif %}
        </small>
      </li>
      {% endif %}
      {% if pkg.type == 'dataset' %}
        {% block openness %}
        <li class="list-group-item"><a
           href="{{ '/en/openness-rating' if h.lang() == 'en' else
            '/fr/cote-degre-douvertrure-des-donnees' }}"><b>{{ _('Openness Rating') }}</b></a>:
            {%- set openness = h.openness_score(pkg) -%}
            <img src="{{ h.url_for_static('/static/img/stars/star'
              ~ openness ~ '.png') }}" alt="{{
                ['',
                _('one star'),
                _('two stars'),
                _('three stars'),
                _('four stars'),
                _('five stars'),
                ][openness] }}"
                class="image-actual margin-bottom-none openness-rating-stars" />
        </li>
        {% endblock %}
      {% endif %}
    </ul>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
    <div class="panel-title">{{_('About this Record')}}</div>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <strong>{{ _('Record Released') }}:</strong>
        {{ h.render_datetime(pkg.metadata_created, '%Y-%m-%d') }}
      </li>
      <li class="list-group-item">
        <strong>{{ _('Record Modified') }}:</strong>
        {{ h.render_datetime(pkg.metadata_modified, '%Y-%m-%d') }}
      </li>
      <li class="list-group-item">
        <strong>{{ _('Record ID') }}:</strong>
        {{ pkg.id }}
      </li>
      <li class="list-group-item">
        <strong>{{ _('Metadata') }}:</strong>
        <ul class="list-group" style="margin-bottom: 0;">
          <li class="list-group-item">
            <a href="{{h.url_for_static('/', qualified=true)}}api/action/package_show?id={{pkg.id}}" rel="nofollow">
              {{ _('Link to JSON format') }}
            </a>
          </li>
          {% if h.plugin_loaded('dcat_json_interface') %}
          <li class="list-group-item" style="border: none;">
            <a href="{{ h.url_for(controller='package', action='read', id=pkg.id) }}.jsonld" rel="nofollow">
              {{ _('DCAT (JSON-LD)') }}
            </a>
          </li>
          {% endif %}
          {% if h.plugin_loaded('dcat') %}
          <li class="list-group-item" style="border: none;">
            <a href="{{ h.url_for(controller='package', action='read', id=pkg.id) }}.xml" rel="nofollow">
              {{ _('DCAT (XML)') }}
            </a>
          </li>
          {% endif %}
        </ul>
      </li>
      {% if pkg.collection == 'fgp' %}
      <li class="list-group-item">
        <strong>{{ _('FGP Metadata') }}:</strong>
        <a href="http://csw.open.canada.ca/geonetwork/srv/csw?service=CSW&version=2.0.2&request=GetRecordById&outputSchema=csw:IsoRecord&ElementSetName=full&id={{ pkg.id }}">
          {{ _("HNAP ISO:19115 Metadata Record") }}
        </a>
      </li>
      {% endif %}
      <li class="list-group-item">
        <a href="{{ h.url_for(action='history', controller='package', id=pkg.id) }}?format=atom" title="RSS">
          <span class="fa fa-rss-square"></span> {{_('Atom Feed')}}
        </a>
      </li>
      {% if pkg.spatial_representation_type %}
        {% set srep = h.scheming_field_by_name(schema.dataset_fields,
          'spatial_representation_type') %}
        <li class="list-group-item"><b>{{
          h.scheming_language_text(srep.label) }}:</b>
          {% snippet 'scheming/snippets/display_field.html',
            field=srep, data=pkg, entity_type='dataset', object_type=pkg.type %}
        </li>
      {% endif %}
    </ul>
  </div>

  {% set iso19115_blocks = (
    ('contact_information', 'Data Contact'),
    ('distributor', 'Distributor Contact')
  ) %}
  {% for block_name, block_label in iso19115_blocks %}
  {% if block_name in pkg %}
  {% set dist = h.json_loads(pkg[block_name])[h.lang()] %}
  <div class="panel panel-primary">
    <div class="panel-heading">
    <div class="panel-title">{{ _(block_label) }}</div>
    </div>

    <ul class="list-group">
      {# FIXME: Evaluate ckanext-composite as an alternative to this pseudo-schema. #}
      {% set dis_fields = (
        {'field_name': 'organization_name', 'label': 'Organization Name'},
        {'field_name': 'phone', 'label': 'Telephone Number'},
        {'field_name': 'electronic_mail_address', 'label': 'Email', 'display_snippet': 'email.html'},
        {'field_name': 'address', 'label': 'Address'},
        {'field_name': 'city', 'label': 'City'},
        {'field_name': 'country', 'label': 'Country'},
        {'field_name': 'postal_code', 'label': 'Postal Code'},
        {'field_name': 'administrative_area', 'label': 'Administrative Area'},
        {'field_name': 'role', 'label': 'Role'}
      )
      %}
      {% for field in dis_fields %}
      {% if field.field_name in dist %}
      <li class="list-group-item">
        <b>{{ _(field.label) }}:</b><br />
        {% snippet 'scheming/snippets/display_field.html',
        field=field, data=dist,  entitiy_type='dataset', object_type=pkg.type %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}

{% endblock %}


{% block package_groups %}
  {% if pkg.groups %}
    <p>
      <div class="module-related">
        {{ self.package_groups_title() }}
        {{ self.package_groups_nav() }}
      </div>
    </p>
  {% endif %}
{% endblock %}
