{% ckan_extends %}

{% import 'macros/canada_read.html' as cr with context %}

{% set pkg = c.pkg_dict %}
{% set client_lang = h.lang() %}

{% block page_header %}

{% endblock %}

{% block breadcrumb_content %}
  {% set dataset = pkg.title or pkg.name %}
  {% set pkg_url = h.url(controller='package', action='read', id=pkg.id) %}
  <li>{% link_for _('Datasets'), controller='package', action='search', highlight_actions = 'new index' %}</li>
  <li class="active"><a href="{{ pkg_url }}" title="{{ cr.field_id('title', pkg, client_lang) }}">{{ cr.field_id('title', pkg, client_lang)|truncate(35) }}</a></li>
{% endblock %}

{% block secondary_content %}

  <div class="module-related">
    <h3>{{_('Have your say') }}</h3>
    <ul>
      <li><img class="image-actual" src="/data/img/rating_placeholder.jpg"></li>
      <li><a href="#comments">{{ _('Comments: ') }}  1</a></li>
    </ul>
  </div>
  
  <p>
  <div class="module-related">
    <h3>{{_('About this Dataset')}}</h3>
    <ul>
      {% set owner_org = schema_description.dataset_field_by_id['owner_org'] %}
      <li><b>{{ cr.field_label(owner_org, client_lang) }}:</b>
        <br/>
        {{ cr.org_field(pkg, client_lang) }}
      </li>
      
      {% set keywords = schema_description.dataset_field_by_id['keywords'] %}
      <li>{{ cr.field_label(keywords, client_lang) }}:
        {{ cr.keyword_field(keywords, pkg, client_lang) }}
      </li>
      
      {% set date_published = schema_description.dataset_field_by_id['date_published'] %}
      <li>{{ cr.field_label(date_published, client_lang) }}:
        {% if cr.date_field(date_published, pkg) != 'None' %}
          {{ cr.date_field(date_published, pkg) }}
        {% endif %}
      </li>
      
      {% set date_modified = schema_description.dataset_field_by_id['date_modified'] %}
      <li>{{ cr.field_label(date_modified, client_lang) }}:
        {% if cr.date_field(date_modified, pkg) != 'None' %}
          {{ cr.date_field(date_modified, pkg) }}
        {% endif %}
      </li>
      
      {% set program_url = schema_description.dataset_field_by_id['url'] %}
      <li>{{ cr.field_label(program_url, client_lang) }}:
        <a href="{{ cr.field(program_url, pkg, client_lang) }}">{{ cr.field(program_url, pkg, client_lang) }}</a>
      </li>
    </ul>
  </div>
  </p>
{% endblock %}