{# vim: set filetype=jinja sw=2 sts=2: #}
{% extends "package/read_base.html" %}
{% import 'macros/canada_read.html' as cr %}

{% set pkg = c.pkg_dict %}
{% set client_lang = h.lang() %}

{% block subtitle %}{{ cr.field_id('title', pkg, client_lang) }}{% endblock %}

{% block primary_content_inner %}

  <div class="module">
    <section class="resources module-content indent-large">
      {% if pkg.state == "deleted" %}
      <div class="module-alert">
        <p>{{ _('This dataset has been deleted and is no longer accessible to non-admin users') }}.</p>
      </div>
      {% endif %}
    </section>
  
    <section class="module-content indent-large">
      <h1>{{ cr.field_id('title', pkg, client_lang) or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
      </h1>
      {% if c.pkg_notes_formatted %}
        <div>
          {{ cr.field_id('notes', pkg, client_lang) }}
        </div>
      {% endif %} 

    </section>
    <section class="module-content indent-large">
      <div class="span-6 margin-top-medium">
        <div>
          <h2>{{_('Licence')}}: </h2>
        </div>
        <div>
        {% if client_lang == 'fr' %}
          <a href="{{ pkg.license_url_fra }}">{{ pkg.license_title_fra }}</a>
        {% else %}
          <a href="{{ pkg.license_url }}">{{ pkg.license_title }}</a>
        {% endif %}
        </div>
        <div class="clear"></div>
      </div>
    </section>
    
    <section id="dataset-resources" class="resources module-content indent-large">

      <h2>{{ _('Dataset Resources') }}</h2>
      {% if pkg.resources %}
        <div class="span-6">
          <table class="wet-boew-zebra span-5">
            <thead>
              <tr>
                <th scope="col">{{ _('Resource Name') }}</th>
                <th scope="col">{{ _('Format') }}</th>
                <th scope="col">{{ _('Language') }}</th>
                <th scope="col">{{ _('Link') }}</th>
              </tr>
            </thead>
          {% for resource in pkg.resources %}
            {% if resource.format != 'app' %}
              {% snippet 'package/snippets/resource_item.html',
                pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang %}
            {% endif %}
          {% endfor %}
          </table>
        </div>
      {% endif %}
    </section>
    
    <section class="indent-large">

      {% set apps = [] %}
      {% for resource in pkg.resources %}
        {% if resource.format == 'app' %}
          {% do apps.append(resource) %}
        {% endif %}
      {% endfor %}

      {% if apps|length > 0 %}
      <h2>{{ _('Related Items') }}</h2>
        <ul class="list-bullet-none">
        {% for resource in apps %}
          {% snippet 'package/snippets/app_item.html',
              pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang %}
        {% endfor %}
        </ul>
      {% endif %}

      <h2>{{ _('Developer Tools') }}</h2>
        <ul class="list-bullet-none">
          <li class="margin-bottom-medium">{{ _('The information on this page (the dataset metadata) is also available in JSON format') }}<br/>
          <a href="{{h.url_for_static('/', qualified=true)}}api/action/package_show?id={{pkg.id}}">{{ _('Link to JSON format') }}</a></li>
        </ul>
    </section>

    <br>

    {% if pkg.geographic_region or pkg.spatial %}
    <section class="indent-medium">
      <h2>{{ _('Geographic Information') }}</h2>
      {% if pkg.spatial %}
        {% set wkt = h.geojson_to_wkt(pkg.spatial) %}
        {% if wkt %}
          {% snippet 'snippets/geomap.html', gid=cr.field_id('title', pkg, client_lang), wkt=wkt %}
        {% endif %}
      {% endif %}
      {% if pkg.geographic_region %}
        {% set geo_region = schema_description.dataset_field_by_id['geographic_region'] %}
        <div class="span-6 margin-top-medium">
          <div class="span-2 row-start equalize align-bottom ">
            <h3>{{ cr.field_label(geo_region, client_lang) }}</h3>
          </div>
          <div class="span-4 row-end equalize align-bottom ">
            {{ cr.tag_vocab_field(geo_region, pkg, client_lang) }}
          </div>
        </div>
      {% endif %}
    </section>
    {% endif %}

{#
    <table class="table table-striped table-bordered table-condensed span-6">
      <thead>
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
      {% for f in schema_description.dataset_fields %}
        {% if f.id not in ('title', 'name', 'language', 'author_email',
          'portal_release_date' ) %}
          <tr>
            <td>
              <strong>{{ cr.field_label(f, client_lang) }}</strong>:
            </td>
            <td>
            {%- if f.type == 'keywords' -%}
              {{ cr.keyword_field(f, pkg, client_lang) }}

            {%- elif f.type == 'tag_vocabulary' -%}
              {{ cr.tag_vocab_field(f, pkg, client_lang) }}

            {%- elif f.type == 'url' -%}
              {{ cr.url_field(f, pkg) }}

            {%- elif f.type == 'boolean' -%}
              {{ cr.bool_field(f, pkg) }}

            {%- elif f.id == 'owner_org' -%}
              {{ cr.org_field(pkg, client_lang) }}

            {%- else -%}
              {{ cr.field(f, pkg, client_lang) }}
            {%- endif -%}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
        <tr>
          <td>
            <strong>{{ _('Openness rating') }}</strong>:
          </td>
          <td>
            {% for star in range(h.openness_score(pkg)) -%}
              *
            {%- endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  
#}
  </div>

{% block drupal_comments %}
{% include "package/comments.html" %}
{% endblock drupal_comments %}
    
{% endblock %}

