{% ckan_extends %}
{% import 'macros/canada_read.html' as cr %}

{% set pkg = c.pkg_dict %}
{% set client_lang = h.lang() %}

{% block subtitle %}{% endblock %}
{% block page_title %}{% endblock %}

{% block primary_content_inner %}
  {% if not c.is_activity_archive %}
  {%- snippet 'package/snippets/schemaorg.html', data=pkg -%}
  {% endif %}
  {% block actions_content %}
    <ul class="nav nav-pills">
        {% if h.check_access('package_update', {'id':pkg.id }) %}
          {% block actions_content_inner %}
          {% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary', icon="pencil" %}
          {% link_for _('History'), controller='package', action='history', id=pkg.name, class_='btn btn-default' %}
          {{ h.follow_button('dataset', pkg.name) }}
          {% if pkg.state == "deleted" %}
            {% if h.check_access('package_update', {'id': pkg.id}) %}
              {% link_for _('Undelete'), controller='ckanext.canada.controller:CanadaController', action='package_undelete', pkg_id=pkg.name, class_='btn btn-default' %}
            {% endif %}
          {% endif %}
          {% endblock %}
        {% endif %}
    </ul>
  {% endblock %}
  <div class="module">
    <section class="resources module-content indent-large">
      {% if pkg.state == "deleted" %}
      <div class="module-alert alert alert-danger">
        <p>{{ _('This dataset has been deleted and is no longer accessible to non-admin users') }}.</p>
      </div>
      {% endif %}
    </section>

    {% block package_archive_notice %}
    {% if c.is_activity_archive %}
    <div class="alert alert-error">
      {% trans url=h.url_for(controller='package', action='read', id=pkg.id) %}
      You're currently viewing an old version of this dataset. Some resources
      may no longer exist or the dataset may not display correctly. To see the
      current version, click <a href="{{ url }}">here</a>.
      {% endtrans %}
    </div>
    {% endif %}
    {% endblock %}

    {% block package_item_title %}
    <section class="module-content indent-large">

      {% set title, machine_translated = h.get_translated_t(pkg, 'title') %}
      <h1>{{ title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if machine_translated %}
          <i class="fa fa-language text-muted mrgn-lft-sm" title="{{ _("This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca") }}"></i>
        {% endif %}
      </h1>
      <div>
        {% set notes, machine_translated = h.get_translated_t(pkg, 'notes') %}
        {% if machine_translated %}
          <i class="fa fa-language text-muted mrgn-bttm-md" style="float: right" title="{{ _("This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca") }}"></i>
        {% endif %}
        {{ h.render_markdown(notes) }}
      </div>

      {% if 'fgp_viewer' in pkg.get('display_flags', []) %}
        <p><a href="/data/{{ h.lang() }}/fgpv_vpgf/{{ pkg.name }}" class="btn btn-primary btn-xs"><span class="fa fa-map-marker"></span> {{ _('View on Map') }}</a></p>    
      {% endif %}

    </section>
    {%- endblock -%}

    {% if pkg.organization.name == 'ab' %}
    <section>
      <details class="alert alert-info" id="alberta-content" open="open">
        <summary class="h4">
	  <h4>{{ _('Made available by the Government of Alberta') }}</h4>
	</summary>
        {% trans %}<p>These resources are not under the control of the Government of Canada and the link is provided solely for the convenience of our website visitors. We are not responsible for the accuracy, currency or reliability of the content of this website. The Government of Canada does not offer any guarantee in that regard and is not responsible for the information found through this link.</p>

<p>Visitors should also be aware that information offered by this non-Government of Canada site is not subject to the <a href="http://laws-lois.justice.gc.ca/eng/acts/P-21/index.html">Privacy Act</a> or the <a href="http://laws-lois.justice.gc.ca/eng/acts/O-3.01/">Official Languages Act</a> and may not be accessible to persons with disabilities. The information offered may be available only in the language used by the site. With respect to privacy, visitors should research the privacy policies of this non-government website before providing personal information.</p>{% endtrans %}
	</details>
    </section>
    {% endif %}


    {# Display some publisher-specific details on this dataset inline with the
    dataset notes. #}
    <section>
      <ul class="list-group dataset-inline-details">
        {% if pkg.organization %}
        {# For legacy reasons, organization titles are not stores the same way as
        other multilingual fields, so special case it. #}
        {% set owner_org = h.scheming_field_by_name(schema.dataset_fields, 'owner_org') %}
        {% set owner_org_title = cr.split_bilingual_field(pkg.organization.title, h.lang()) %}
        <li class="list-group-item">
          <strong>{{ h.scheming_language_text(owner_org.label) }}:</strong>
          {{ owner_org_title }}
        </li>
        {% endif %}
        {# Only the list of fields included below will be included #}
        {% set include_labels = [
          "org_title_at_publication",
          "org_section",
          "contributor",
          "license",
        ] %}
        {% for field in schema.dataset_fields if field.field_name in include_labels %}
          {% set field_title = h.scheming_language_text(field.label) %}
          {% if field_title %}
            {% set field_value = pkg[field.field_name] %}
            {% if pkg[field.field_name] is mapping %}
            {% set field_value = h.scheming_language_text(field_value) %}
            {% endif %}
            {% if field_value %}
              {# FIXME: This special case needs to go; Ideally convince client of futility #}
              {% if field.field_name != 'org_title_at_publication' or (field_value|escape) != owner_org_title %}
              {# FIXME: more special cases, embrace the futility! #}
              {% if field.field_name == 'org_title_at_publication' and pkg.jurisdiction != 'federal' %}
              {% set field_title = _('Issued by') %}
              {% endif %}
              <li class="list-group-item">
                <strong>{{ field_title }}:</strong>
                {% snippet 'scheming/snippets/display_field.html',
                  field=field,
                  data=pkg,
                  entity_type='dataset',
                  object_type=pkg.type
                %}
              </li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {# Some core CKAN fields not part of the schema. #}
        <li class="list-group-item">
          <strong>{{ _('Licence') }}:</strong>
          {% if client_lang == 'fr' %}
            <a href="{{ c.pkg.license.url_fra }}">{{ c.pkg.license.title_fra }}</a>
          {% else %}
            <a href="{{ pkg.license_url }}">{{ pkg.license_title }}</a>
          {% endif %}
        </li>
      </ul>
    </section>

    {% snippet 'package/snippets/all_resources_list.html', pkg=pkg %}

{% block package_item_apps %}
  <div class="span-6 margin-top-medium">
    {% set apps = [] %}
    {% for resource in pkg.resources %}
      {% if resource.format == 'app' %}
        {% do apps.append(resource) %}
      {% endif %}
    {% endfor %}
  </div>

  {% if apps|length > 0 %}
    <div class="span-6 margin-top-medium">
      <h4>{{ _('Related Items') }}</h4>
      <ul class="list-unstyled">
      {% for resource in apps %}
        {% snippet 'package/snippets/app_item.html',
            pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
{% endblock %}

{% block related_items %}
{% endblock related_items %}

{% block package_item_geo_preview %}
{% if pkg.geographic_region or pkg.spatial %}
<div class="span-6 margin-top-medium">
  <h4>{{ _('Geographic Information') }}</h4>
  {% if pkg.spatial %}
    {% set wkt = h.geojson_to_wkt(pkg.spatial) %}
    {% if wkt %}
      {% if h.get_map_type() == 'static' %}
        {% snippet 'snippets/geomap_static.html', gid=h.get_translated(pkg, 'title'), wkt=wkt %}
      {% else %}
        {% snippet 'snippets/geomap_dynamic.html', gid=h.get_translated(pkg, 'title'), wkt=wkt %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if pkg.geographic_region %}
    {% set schema = h.scheming_get_dataset_schema(pkg.type) %}
    {% set geo_region = h.scheming_field_by_name(schema.dataset_fields,
      'geographic_region') %}
    <div class="col-md-4">
      <h4>{{
      h.scheming_language_text(geo_region.label) }}: </h4>
    </div>
    <div class="col-md-8">
      {% snippet 'scheming/snippets/display_field.html',
        field=geo_region, data=pkg, entity_type='dataset', object_type=pkg.type %}
    </div>

  {% endif %}
</div>
{% endif %}
{% endblock package_item_geo_preview %}

{% block contact_information %}
  {% set info = h.contact_information(pkg.get('contact_information')) %}
  {% if info %}
    <div class="span-6 margin-top-medium">
      <h4>{{ _('Contact Information') }}</h4>
      {% if 'delivery_point' in info %}
        <p>{{ _('Delivery Point') }}: {{ info['delivery_point'] }}</p>
      {% endif %}
      {% if 'city' in info %}
        <p>{{ _('City') }}: {{ info['city'] }}</p>
      {% endif %}
      {% if 'administrative_area' in info %}
        <p>{{ _('Administrative Area') }}: {{ info['administrative_area'] }}</p>
      {% endif %}
      {% if 'postal_code' in info %}
        <p>{{ _('Postal Code') }}: {{ info['postal_code'] }}</p>
      {% endif %}
      {% if 'country' in info %}
        <p>{{ _('Country') }}: {{ info['country'] }}</p>
      {% endif %}
      {% if 'electronic_mail_address' in info %}
        <p>{{ _('Electronic Mail Address') }}:
        <a href="mailto:{{ info['electronic_mail_address'] }}"
          >{{ info['electronic_mail_address'] }}</a></p>
      {% endif %}
    </div>
  {% endif %}
{% endblock contact_information %}


{% block package_rate %}
  <a name="rate"></a>
  <div data-ajax-replace="/{{ h.lang() }}/vote?uuid={{ c.pkg_dict.id }}"></div>
{% endblock %}

{% block package_comments %}
  <a name="comments"></a>
  <section class="indent-large">
    <div data-ajax-replace="/{{ h.lang() }}/external-comment/dataset/{{ c.pkg_dict.id }}"></div>
  </section>
{% endblock %}

  </div>
{% endblock primary_content_inner %}

{% block scripts %}
{{ super() }}
<!--[if gte IE 9 | !IE ]><!-->
<script src="{{ h.url_for_static('/static/js/geomapzoom.js') }}" type="text/javascript"></script>
<!--<![endif]--><!--[if lt IE 9]>
<script src=""{{ h.url_for_static('/static/js/geomapzoom.js') }}"></script>
<![endif]-->
{% endblock %}

{% block package_license %}{% endblock %}
{% block package_item_notes %}{% endblock %}

{%- block custom_styles %}
{{ super() }}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
{% endblock %}


