{% extends "package/read_base.html" %}

{% import 'macros/canada_read.html' as cr %}

{% set pkg = c.pkg_dict %}
{% set res = c.resource %}

{% block pre_primary %}
{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  {% set resource = res.name[client_lang] %}
  <li>{% link_for resource | truncate(30) | safe,
        controller='package', action='resource_read', id=pkg['name'], resource_id=res.id %}</li>
{% endblock %}

{% block subtitle %}
  {{ res.name[client_lang] }}
{% endblock %}

{% block secondary_content %}{% endblock %}

{% block main_content %}
  <div class="span-8">
  {% block primary_content %}
    {% block resource %}
      <section>
        <div>
          <div>
            {% block resource_content %}
              <a class="button" href="{{ res.url }}"><span class="wb-icon-drive-download"></span>{{ _('Download') }}</a>
              <div class="prose notes" property="rdfs:label">
                {%- set notes = h.get_translated(pkg, 'notes') -%}
                {%- if notes -%}
                  <h3>{{ _('From the asset abstract') }}</h3>
                  <p>{{ h.markdown_extract(notes) }}</p>
                  <p>
                  {% trans
                    dataset=h.get_translated(pkg, 'title'),
                    url=h.url_for(
                        controller='package',
                        action='read',
                        id=pkg['name'])
                    %}Source: <a href="{{ url }}">{{ dataset }}</a>{%
                    endtrans %}
                  </p>
                {% endif %}
              {% endblock %}
            </div>
          </div>
          {% block data_preview %}
            <div>
              {% if c.resource.datastore_active %}
                {# The resource preview feature of CKAN should only be used with an accessible previewer like ckanext-datatable #}

                {{ h.get_datapreview(c.resource.id) }}

              {% endif %}
            </div>
          {% endblock %}
        </div>
      </section>
    {% endblock resource %}
  </div>
  {% endblock primary_content %}

  <div class="clear"></div>
{% endblock main_content %}
