{# vim: set filetype=jinja sw=2 sts=2: #}
{% ckan_extends %}
{% import 'macros/canada_read.html' as cr %}

{%- block api_access_info -%}
  <!-- We want this block to be empty in the canada extension -->
{%- endblock -%}

{% block secondary_content %}
  {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['organization'],
    name='organization') }}
    
  {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['catalog_type'], name='catalog_type' ) }}
    
  {% if h.lang() == 'en' %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['keywords'],
    name='keywords') }}
  {% elif h.lang() == 'fr' %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['keywords_fra'],
    name='keywords_fra') }}
  {% endif %}
  
  {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['subject'],
    name='subject', label_function=cr.subject_label) }}
  
  {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['res_format'],
    name='res_format', label_function=cr.res_label) }}
    
  {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['license_id'],
    name='license_id', label_function=cr.license_lookup) }}
    
  {# { h.snippet('snippets/facet_list.html', title=c.facet_titles['ready_to_publish'],
    name='ready_to_publish') } #}
  <section>
    {% set license = h.get_license('ca-ogl-lgo') %}
    {% if license != None %}
      {% if h.lang() == 'en' %}
        <a href={{ license.url }}>View the {{ license.title }}</a>
      {% else %}
        <a href={{ license.url_fra }}>Voir la {{
          license.title_fra[:1].lower() }}{{ license.title_fra[1:] }}</a>
      {% endif %}
    {% endif %}
  </section>
{% endblock %}

{% block filter_list %}
{% for field in c.fields_grouped %}
  {% set search_facets_items = c.search_facets.get(field)['items'] %}
  <span class="facet">{{ c.facet_titles.get(field) }}:</span>
  {% for value in c.fields_grouped[field] %}
    <span class="filtered pill">
      {%- if c.translated_fields and c.translated_fields.has_key((field,value)) -%}
        {{ c.translated_fields[(field,value)] }}
      {%- else -%}
        {{ cr.split_bilingual_field(h.list_dict_filter(
            search_facets_items , 'name', 'display_name', value),
          h.lang()) }}
      {%- endif %}
      <a href="{{ c.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="icon-remove"></i></a>
    </span>
  {% endfor %}
{% endfor %}
{% endblock %}

{% block suggest_a_dataset_button %}
  {% if h.lang() == 'en' %}
  <a href="/eng/suggested-datasets" class="button">Can’t find what you’re looking for?</a>
  {% else %}
  <a href="/fra/suggested-datasets" class="button">Vous ne trouvez pas ce que vous cherchez?</a>
  {% endif %}
{% endblock %}
