{# vim: set filetype=jinja sw=2 sts=2: #}
{% ckan_extends %}
{% import 'macros/canada_read.html' as cr %}

{%- block api_access_info -%}
  <!-- We want this block to be empty in the canada extension -->
{%- endblock -%}

{% block breadcrumb_content %}
    <li>{{ _('Search Open Data') }}</li>
{% endblock %}

{% block font_awesome %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block subtitle %}{{ _('Open Data Portal') }}{% endblock %}

{%- block title -%}{{ _('Open Data Portal - Open Data') }}{% endblock %}

{% block page_primary_action %}{% endblock %}

{% block secondary_content %}

    <h2>{{ _('Search Filters') }}</h2>
  
    {#
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['organization'],
      name='organization') }}
    #}
<div class="panel panel-primary">
  <div class="panel-heading" style="background-color:#335075"><span class="glyphicon glyphicon-filter"></span> Collection Type</div>
  <div class="panel panel-body">
      <nav>
        <ul class="list-unstyled" style="margin-left: 7px;">

              <li class="nav-item facet-item" >
                <a href="/dataset?catalog_type=maps&amp;__no_cache__=True">
                  <span>Natural Resources Canada</span>
                </a>
              </li>

       </ul>
      </nav>
      <ul style="margin-left: 15px;" class="list-unstyled">
      </ul>
  </div>
</div>

    {#
    {%- macro get_catalog_label(type, lang) -%}
       {{- h.scheming_get_dataset_schema(type.name).catalog_type_label[lang] -}}
    {%- endmacro -%}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['catalog_type'], name='catalog_type', label_function=get_catalog_label ) }}
    #}

<div class="panel panel-primary">
  <div class="panel-heading" style="background-color:#335075"><span class="glyphicon glyphicon-filter"></span> Collection Type</div>
  <div class="panel panel-body">
      <nav>
        <ul class="list-unstyled" style="margin-left: 7px;">

              <li class="nav-item facet-item" >
                <a href="http://open.canada.ca/data/en/dataset?q=&catalog_type=Data+%7C+Données">
                  <span>Non-Spatial Data (123)</span>
                </a>
              </li>

              <li class="nav-item facet-item" >
                <a href="http://open.canada.ca/data/en/dataset?q=&catalog_type=Geo+Data+%7C+Géo">
                  <span>Geospatial Data (456)</span>
                </a>
              </li>

              <li class="nav-item facet-item" >
                <a href="/maps?__no_cache__=True">
                  <span>Open Maps (12)</span>
                </a>
              </li>

        </ul>
      </nav>
      <ul style="margin-left: 15px;" class="list-unstyled">
      </ul>
  </div>
</div>

    
    {% if h.lang() == 'en' %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['keywords'],
      name='keywords') }}
    {% elif h.lang() == 'fr' %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['keywords_fra'],
      name='keywords_fra') }}
    {% endif %}

    {%- set subject_choices = [] -%}
    {# must use 'dataset' type because we have a single facet list #}
    {%- for field in h.scheming_get_dataset_schema('dataset').dataset_fields -%}
      {%- if field.field_name == 'subject' -%}
        {%- do subject_choices.extend(field.choices) -%}
      {%- endif -%}
    {%- endfor -%}
    {%- macro get_subject_label(subj, lang) -%}
      {{- h.scheming_choices_label(subject_choices, subj.name) -}}
    {%- endmacro -%}

    {#
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['subject'],
      name='subject', label_function=get_subject_label) }}
    #}

<div class="panel panel-primary">
  <div class="panel-heading" style="background-color:#335075"><span class="glyphicon glyphicon-filter"></span> Topic Category</div>
  <div class="panel panel-body">
      <nav>
        <ul class="list-unstyled" style="margin-left: 7px;">

          <li class="nav-item facet-item" ><a href="#" title="Keyword Canada">Form Descriptors (279000)</a></li>
          <li class="nav-item facet-item" ><a href="#" title="Keyword Canada">Nature and Environment (2)</a></li>
          <li class="nav-item facet-item" ><a href="#" title="Keyword Canada">Science and Technology (2)</a></li>

<!--
              <li class="nav-item facet-item" >
                <a href="#">
                  <span>Need hook to data</span>
                </a>
              </li>         
-->
        </ul>
      </nav>
  </div>
</div>


    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['res_format'],
      name='res_format', label_function=cr.res_label) }}
    
<div class="panel panel-primary">
  <div class="panel-heading" style="background-color:#335075"><span class="glyphicon glyphicon-filter"></span> Resource Type</div>
  <div class="panel panel-body">
      <nav>
        <ul class="list-unstyled" style="margin-left: 7px;">

          <li class="nav-item facet-item" ><a href="#"><span>Application (1062)</span></a></li>         
          <li class="nav-item facet-item" ><a href="#"><span>GML (16370)</span></a></li>         
          <li class="nav-item facet-item" ><a href="#"><span>Other (1062</span></a></li>         
          <li class="nav-item facet-item" ><a href="#"><span>PDF (27885)</span></a></li>         
          <li class="nav-item facet-item" ><a href="#"><span>SHP (27885)</span></a></li>         

        </ul>
      </nav>
      <ul style="margin-left: 15px;" class="list-unstyled">
        <li>
          <a href="#" title="Show more Tagss">
            <span class="glyphicon glyphicon-chevron-down"></span>Show more</a>
        </li>
      </ul>

  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading" style="background-color:#335075"><span class="glyphicon glyphicon-filter"></span> Spatial Representation Type</div>
  <div class="panel panel-body">
      <nav>
        <ul class="list-unstyled" style="margin-left: 7px;">

              <li class="nav-item facet-item" >
                <a href="#">
                  <span>Vector (25)</span>
                </a>
              </li>         

              <li class="nav-item facet-item" >
                <a href="#">
                  <span>Grid (25)</span>
                </a>
              </li>         

              <li class="nav-item facet-item" >
                <a href="#">
                  <span>TIN (25)</span>
                </a>
              </li>         

        </ul>
      </nav>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading" style="background-color:#335075"><span class="glyphicon glyphicon-filter"></span> Maintenance and Update Frequency</div>
  <div class="panel panel-body">
      <nav>
        <ul class="list-unstyled" style="margin-left: 7px;">

              <li class="nav-item facet-item" >
                <a href="#">
                  <span>Anual (25)</span>
                </a>
              </li>         

              <li class="nav-item facet-item" >
                <a href="#">
                  <span>Bi-Anual (25)</span>
                </a>
              </li>         

              <li class="nav-item facet-item" >
                <a href="#">
                  <span>Quarterly (25)</span>
                </a>
              </li>         

              <li class="nav-item facet-item" >
                <a href="#">
                  <span>Monthly (25)</span>
                </a>
              </li>         

        </ul>
      </nav>
  </div>
</div>

    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['license_id'],
      name='license_id', label_function=cr.license_lookup) }}
    
    {% block extra_facets %}
      
    {% endblock %}
        
    <div class="well well-sm">
      {% set license = h.get_license('ca-ogl-lgo') %}
      {% if license != None %}
        {% if h.lang() == 'en' %}
          <a href="{{ license.url }}">View the {{ license.title }}</a>
        {% else %}
          <a href="{{ license.url_fra }}">Voir la {{
            license.title_fra[:1].lower() }}{{ license.title_fra[1:] }}</a>
        {% endif %}
      {% endif %}
    </div>

{% endblock %}

  {% block search_title %}
    {% if not no_title %}
      {% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}
    {% endif %}
  {% endblock %}

{% block filter_list %}
{% for field in c.fields_grouped %}
  {% set search_facets_items = c.search_facets.get(field)['items'] %}
  <span class="facet">{{ c.facet_titles.get(field) }}:</span>
  {% for value in c.fields_grouped[field] %}
    <span class="filtered pill background-accent facet-filter">
      {%- if c.translated_fields and c.translated_fields.has_key((field,value)) -%}
        {{ c.translated_fields[(field,value)] }}
      {% elif field == 'subject' %}
        {# since we separate subjects by two spaces instead of a pipe... #}
        {{ cr.split_subject_field(value, h.lang()) }}
      {%- else -%}
        {{ cr.split_bilingual_field(h.list_dict_filter(
            search_facets_items , 'name', 'display_name', value),
          h.lang()) }}
      {%- endif %}
      <a href="{{ c.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><span class="wb-icon-x"></span></a>
    </span>
  {% endfor %}
{% endfor %}
{% endblock %}

{% block try_another_search %}
<p class="extra">
{%- trans -%}
Please review your spelling, or reduce the number of filters selected.
{%- endtrans -%}
</p>
{% endblock %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block page_extra_scripts %}
  {{ super() }}

<!-- i18n -->
<script src="{{ h.url_for_static('/static/js/i18n.js') }}"></script>
<!-- OGS Map Shopping Cart -->
<script src="{{ h.url_for_static('/static/js/OGSCookie.js') }}"></script>
<script src="{{ h.url_for_static('/static/js/OGSMapsCart.js') }}"></script>
<script type="text/javascript">
var OGSMapsCart_lang = '{{ h.lang() }}'

$( document ).ready(function() {
  initCart()
  updateCartUI()

  $("#OGSCartPlotItems").click(function() {
    viewOnMap()
  });

  // Part UI ease of use and part system reset
  $("#OGSCartDumpItems").click(function() {
    dumpCart()
    updateCartUI()
  });

  $(".ogscartviewbtn").click(function() {
    var action = $(this).attr('id').split('_')
    type = action[0]
    id = action[1]

    location.href='/ramp/ramp-{{ h.lang() }}-ckan.html?keys_disabled='+id
    //alert('/ramp/ramp-{{ h.lang() }}-ckan.html?keys_disabled='+id)
    return false
  });

  $(".ogscartbtn").click(function() {
    var action = $(this).attr('id').split('_')
    type = action[0]
    id = action[1]

    // Action
    if(type == 'OGSCartAdd')    { addCartItem(id)    }
    if(type == 'OGSCartRemove') { removeCartItem(id) }
    updateCartUI()  
  });

  // Changes to the cart in another tab/window should be accounted for
  $(window).focus(function() {
    initCart()
    updateCartUI() 
  });

<!-- End Cart -->

});
</script>

{% endblock %}




