.openness-rating-1 {
    height: 16px;
    width: 16px;
    background-image: url(../img/star.png);
    display: inline-block;
    margin-bottom: -4px;
}
.openness-rating-2 {
    height: 16px;
    width: 32px;
    background-image: url(../img/star.png);
    background-repeat: repeat-x;
    display: inline-block;
    margin-bottom: -4px;
}
.openness-rating-3 {
    height: 16px;
    width: 48px;
    background-image: url(../img/star.png);
    background-repeat: repeat-x;
    display: inline-block;
    margin-bottom: -4px;
}
.openness-rating-4 {
    height: 16px;
    width: 64px;
    background-image: url(../img/star.png);
    background-repeat: repeat-x;
    display: inline-block;
    margin-bottom: -4px;
}
.openness-rating-5 {
    height: 16px;
    width: 80px;
    background-image: url(../img/star.png);
    background-repeat: repeat-x;
    display: inline-block;
    margin-bottom: -4px;
}
