.form-bg, .form-bg-small, .region-dallaire-first .view-content .views-row .views-field-comment-count, .region-dallaire-first .rate-widget-commons_like, #contact-site-form, #user-login, #user-pass, #user-register-form, .webform-client-form, #custom_share, .comment_forbidden, .disclaimer, .comment, form.comment-form { background: #eee; padding: 1em; border: 1px solid #ddd; border-radius: 4px; }

.form-bg-small, .region-dallaire-first .view-content .views-row .views-field-comment-count, .region-dallaire-first .rate-widget-commons_like { padding: .3em .7em; }

/*GENERAL*/
#wb-core-in { padding-bottom: 1em; }

a:active, a:focus { cursor: pointer; }

/*.node-content { margin-bottom: 3em; }*/
/* SIDEBAR RIGHT */
.recent-blog-posts .views-row { padding-top: 10px; }
.recent-blog-posts #file-44--2 { display: inline; }
.recent-blog-posts .subject-image { float: left; margin-right: 10px; }
.recent-blog-posts .subject-image .content { display: inline; }
.recent-blog-posts .subject-image img { vertical-align: top; margin-bottom: 5px; }
.recent-blog-posts .recent-blog-title { overflow: hidden; }
.recent-blog-posts .recommend-side { font-size: 75%; color: #666; padding-left: 42px; margin-top: 0; }
.recent-blog-posts ul li { overflow: auto; }
.recent-blog-posts .views-field-title-field { overflow: hidden; display: block; }

.bean_stay_connected { margin-bottom: 1em; }
.bean_stay_connected img { vertical-align: middle; margin: 0 1em 0 0; }

/* MIDDLE COLUMN */
div.region-dallaire-first:first-child h2 { margin-top: 0; margin-bottom: .5em; color: black; font-size: 1.8em; }

.region-dallaire-first { /* TODO: TIDY THESE CLASES*/ }
.region-dallaire-first .view-content { margin-top: 7px; }
.region-dallaire-first .view-content .views-field-field-featured-image { float: left; margin-right: 1em; }
.region-dallaire-first .view-content .views-field-field-featured-image figure { height: 100px; }
.region-dallaire-first .view-content .views-field-title-field h1, .region-dallaire-first .view-content .views-field-title-field h2 { font-size: 170%; line-height: 120% !important; font-weight: bold; border-bottom: none; margin-left: 100px; margin-bottom: 5px!important; color: black; }
.region-dallaire-first .view-content .views-field-title-field h1 a, .region-dallaire-first .view-content .views-field-title-field h2 a { text-decoration: none; }
.region-dallaire-first .view-content .views-field-title-field h1 a:link, .region-dallaire-first .view-content .views-field-title-field h2 a:link { text-decoration: none; }
.region-dallaire-first .view-content .views-field-title-field h1 a:hover, .region-dallaire-first .view-content .views-field-title-field h2 a:hover { text-decoration: underline; color: #444; }
.region-dallaire-first .view-content .views-field-created { color: #666; }
.region-dallaire-first .view-content .views-row { margin-bottom: 2em; padding-bottom: 1.5em; border-bottom: 1px solid #cccccc; }
.region-dallaire-first .view-content .views-row .field-name-body { margin-top: 2em; clear: both; }
.region-dallaire-first .view-content .views-row .views-field-comment-count { float: right; }
.region-dallaire-first .view-content .readmore { margin-bottom: 1em; text-align: right; }
.region-dallaire-first .view-content .node-full .submitted .author-datetime { margin-top: .5em; }
.region-dallaire-first .rate-widget-commons_like { /*.rate-commons-like-count { display:inline; padding-right: .4em;}*/ }
.region-dallaire-first .rate-widget-commons_like a { padding-left: 22px; text-decoration: none; display: block; background: url("../images/like.png") left center no-repeat; }
.region-dallaire-first .rate-widget-commons_like a:hover { text-decoration: underline; color: #3e7bab; }
.region-dallaire-first .rate-widget-commons_like span.rate-button { padding-left: 22px; /*padding:2px 0 2px 22px;*/ background: url("../images/liked.png") left center no-repeat; color: #888; }
.region-dallaire-first .rate-widget-commons_like .rate-commons-like-btn { position: static !important; }
.region-dallaire-first .recommend { float: left; }
.region-dallaire-first nav ul { margin-left: 0; margin-right: 0; }
.region-dallaire-first nav li { list-style-type: none; margin-left: 0; }
.region-dallaire-first .field-name-field-featured-image { float: left; margin-right: 1em; margin-top: -0.7em; }
.region-dallaire-first .field-name-field-featured-image figure { height: 100px; }
.region-dallaire-first .node-blog-post { margin-top: 23px; }
.region-dallaire-first .node-blog-post header h1, .region-dallaire-first .node-blog-post header h2 { font-size: 170%; line-height: 120% !important; font-weight: bold; border-bottom: none; margin-left: 100px; margin-bottom: 5px!important; color: black; }
.region-dallaire-first .node-blog-post header h1 a, .region-dallaire-first .node-blog-post header h2 a { text-decoration: none; color: black; }
.region-dallaire-first .node-blog-post header h1 a:link, .region-dallaire-first .node-blog-post header h2 a:link { text-decoration: none; }
.region-dallaire-first .node-blog-post header h1 a:hover, .region-dallaire-first .node-blog-post header h2 a:hover { text-decoration: underline; color: #444; }
.region-dallaire-first .node-blog-post footer { margin-left: 100px; color: #666; }
.region-dallaire-first .node-blog-post .node-content h2 { font-size: 130%; }
.region-dallaire-first .node-blog-post .node-content h3 { font-size: 120%; }
.region-dallaire-first .node-blog-post .node-content h4 { font-size: 110%; }
.region-dallaire-first .node-blog-post .field-name-body { margin-top: 2em; clear: both; }
.region-dallaire-first .node-blog-post #gcwu-date-mod { position: relative; float: right; margin-top: 1em; }

#register-link .item-list ul { margin: 0; }
#register-link .item-list ul li { list-style-type: none !important; margin: 0; }

#contact-site-form { margin-bottom: 3em; }
#contact-site-form .form-item { margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: .5em; }
#contact-site-form .form-item-firstname, #contact-site-form .form-item-lastname { float: left; margin-right: 1em; }
#contact-site-form .form-item-copy { clear: both; }
#contact-site-form .form-item-message { width: 100%; margin-bottom: 1em; }
#contact-site-form #edit-message { width: 100%; }
#contact-site-form #edit-mail { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#edit-actions { margin-bottom: 0; }

.form-submit { margin-bottom: 0; }

#user-login, #user-pass { margin-top: 1em; }

#user-login, #user-pass, #user-register-form { margin-top: 1em; }
#user-login .form-item input.form-text, #user-pass .form-item input.form-text, #user-register-form .form-item input.form-text { width: 98%; }

.form-item input.form-email { width: 98%; }

@media screen and (max-width: 767px), screen and (max-device-width: 767px) { .form-item input.form-email { width: 100%; } }
.webform-client-form { margin-bottom: 2em; }

/*
.wet-boew-share { float: left;}
#bookmark_popup {
	display: block !important;
	position:relative;
	border: none;
	@extend .form-bg;
	padding: 0 .5em 2px 0;

	.popup_title { background: none; color:#444; float: left;}
	.popup_disclaimer { display: none;}
	.bookmark_list li { width: auto; margin-left: 1em; padding: 0;
		a:hover { color: #3C9DD0; }
	}

	.bookmark_icons { vertical-align: middle;}

}
.wet-boew-share h2 { display:none; }
*/
/* manual share*/
#custom_share { float: right; padding: 0 .5em; }
#custom_share .popup_title { color: #444; float: left; margin: 0 .5em 0 0; padding: 5px; font-size: 0.95em; font-weight: 700; }
#custom_share .bookmark_list { list-style-type: none; margin: 0px; padding: 5px 0px; text-align: left; vertical-align: middle; display: inline-block; }
#custom_share .bookmark_list a { font-size: .85em; padding: 2px 0 2px 22px; text-decoration: none; }
#custom_share .bookmark_list a:link, #custom_share .bookmark_list a:visited { color: #295376; }
#custom_share .bookmark_list a:hover, #custom_share .bookmark_list a:active, #custom_share .bookmark_list a:focus { color: #3e7bab; }
#custom_share .bookmark_list li { float: left; }
#custom_share .bookmark_list li.last { margin-left: .5em; }
#custom_share .bookmark_list .facebook { background: url("../images/facebook.png") left bottom no-repeat; }
#custom_share .bookmark_list .twitter { background: url("../images/twitter.png") left bottom no-repeat; }

/* ultraseek search */
.search-form .form-item-qt { display: inline; }

.page-user-edit #block-system-main #user-profile-form { margin-left: 0px; margin-right: 0px; }

.page-user-edit #block-system-main .pane-user-profile { margin-left: 10px; }

.home-link { text-align: right; }

abbr { border-bottom: 1px dotted black; }

.form-bg, .form-bg-small, .region-dallaire-first .view-content .views-row .views-field-comment-count, .region-dallaire-first .rate-widget-commons_like, #contact-site-form, #user-login, #user-pass, #user-register-form, .webform-client-form, #custom_share, .comment_forbidden, .disclaimer, .comment, form.comment-form { background: #eee; border: 1px solid #ddd; border-radius: 4px; }

/*Add new comment link*/
.links .comment-add { margin-top: 1em; margin-left: .5em; }
.links .comment-add a { padding: 2px 0 2px 22px; text-decoration: none; background: url("images/icons/comment.png") left bottom no-repeat; }

.comment_forbidden { padding: .5em 1em; }

.pane-node-links ul { margin-left: 0; margin-right: 0; }
.pane-node-links ul li { list-style-type: none; margin-left: 0; }

.submitted .comment_forbidden { background: inherit; padding: inherit; border: inherit; border-radius: inherit; }

/* COMMENTS AND COMMENT FORM */
.node-blog-post .comment footer { margin: 0; }

#comments { clear: both; margin-bottom: 30px; }

.disclaimer { padding: .5em 1em; font-size: 90%; font-family: Verdana,Arial,Helvetica,sans-serif; }

.comment-title { font-size: 140%; }

.comment { margin-bottom: 1em; }
.comment .submitted { /*font-size: $navbar-font-size;*/ margin-bottom: .5em !important; background: #f5f5f5; padding: .2em .5em; border-radius: 2px; }
.comment .submitted p { margin: 0; float: left; }
.comment .submitted nav { float: right; margin: 0; /*border-top: 1px dotted #ddd;
background: #f5f5f5;
padding: .2em .5em .2em .5em;
border-radius: 2px;*/ /*border: 1px solid #d5d5d5;*/ }
.comment .comment-datetime { font-size: 75%; }
.comment ul { margin-bottom: 0; }
.comment .links { margin-top: 0; }
.comment .links li { display: inline; margin-right: 1em; font-size: 100%; }
.comment .links a { padding: 2px 0 2px 22px; text-decoration: none; color: #3e7bab; }
.comment .links a:hover { text-decoration: underline; color: #3e7bab; }
.comment .links .comment-delete a { background: url("images/icons/delete.png") left center no-repeat; }
.comment .links .comment-edit a { background: url("images/icons/edit.png") left center no-repeat; }
.comment .links .comment-reply { margin-right: 0; }
.comment .links .comment-reply a { background: url("images/icons/comment.png") left bottom no-repeat; }
.comment .comment_forbidden a { padding: 0; }
.comment .comment-content { clear: both; word-wrap: break-word; }
.comment .field-name-comment-body { margin-top: 1.0em; }
.comment .new { color: #7CC900; }

.comment .comment-author, form.comment-form .username { font-weight: bold; color: #086CA2; }

.indented { margin-left: 1em; }
.indented .indented .indented .indented .indented { margin-left: 0; }

/* form */
form.comment-form .form-item { margin-top: 0; }
form.comment-form .form-required { display: none; }

.comment-form input[type="button"], .comment-form input[type="reset"], .comment-form input[type="submit"] { display: inline-block; }

form.comment-form #edit-submit { /*float: left; margin-right: 1em; */ }

.module-related, .module-spotlight { margin-bottom: 1em; }

.subject-image img { width: auto; height: auto; }

.clear-both { clear: both; }

ul.pager li:first-child { margin-left: 0; }

.rating-spacer { margin-left: 80px!important; }