{% ckan_extends %}

{% block resource_read_title %}{% endblock %}

{% block resource_license %}{% endblock %}

{% block additional_info_heading %}<a href="#additional-info"><h2 id="additional-info">{{ _('Additional Information') }}</h2></a>{% endblock %}

{% block additional_info_table_head %}{% endblock %}

{%- block resource_last_updated -%}{%- endblock -%}

{% block resource_metadata_last_updated %}{% endblock %}

{% block resource_more_items %}{% endblock %}

{% block resource_fields %}{% endblock %}
