{% ckan_extends %}
{% block notes %}
    {% set notes = h.get_translated(package, 'notes') %}
    {% if package.type=='consultations' %}
      {% set geno = h.recombinant_get_geno(package.type) %}
      {% if 'upload_warn' in geno %}
        {% set notes = _(geno.upload_warn) %}
      {% endif %}
    {% endif %}
    {% if notes %}
      <div>{{ _(h.markdown_extract(notes, extract_length=300)) }}</div>
    {% else %}
      <p class="empty">{{ _("This dataset has no description") }}</p>
    {% endif %}
{% endblock %}
