{% import 'macros/canada_read.html' as cr %}

{% set facet_name = title + 's' %}

{% with items = items or h.get_facet_items_dict(name, limit=5) %}
  {% set items = items[0:5] if h.get_param_int('_%s_limit' % name) else items%}
  <div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-filter"></span> {{ title or h.get_facet_title(name) }}</div>
    <div class="panel panel-body">
    {% if items %}
      <nav>
        <ul class="list-unstyled list-facets">

          {% set fr = h.parse_release_date_facet(facet_range) %}

          <!-- Published -->
          {% if fr['published'] %}
            {% set href = h.add_url_param(new_params={facet_range_name: fr['published'].url_param}, extras=extras, alternative_url=alternative_url) %}

            <li class="nav-item facet-item">
              <a href="{{ href }}">
                <span>{{ _('Published') }} ({{ fr['published'].count }})</span>
              </a>
            </li>
          {% endif %}

          <!-- Scheduled -->
          {% if fr['scheduled'] %}
            {% set href = h.add_url_param(new_params={facet_range_name: fr['scheduled'].url_param}, extras=extras, alternative_url=alternative_url) %}

            <li class="nav-item facet-item">
              <a href="{{ href }}">
                <span>{{ _('Scheduled') }} ({{ fr['scheduled'].count }})</span>
              </a>
            </li>
          {% endif %}

          {% for item in items %}
            {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
            {% set label = _('Pending') if item.display_name == 'true' else _('Draft') %}
            {% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}
              <li class="nav-item{% if item.active %} active{% endif %} facet-item">
                <a href="{{ href }}">
                  <span>{{ label }} {{ count }}</span>
                </a>
              </li>
          {% endfor %}
        </ul>
      </nav>
      <ul class="list-unstyled list-facets">
        <li><a href="{{ h.remove_url_param(name, extras=extras, alternative_url=alternative_url) }}" class="action"
               title="{{_('Clear All')}} {{facet_name}}">
          <span class="glyphicon glyphicon-remove"></span> {{ _('Clear All') }}</a></li>
        </ul>
      {% else %}
        <p class="module-content color-medium">{{ _('There are no filters for this search') }}</p>
      {% endif %}


    </div>
  </div>
{% endwith %}
