{% set chromo = h.recombinant_get_chromo(res.name) %}

{% set geno = h.recombinant_get_geno(res.name) %}
{% if 'upload_warn' in geno %}
  <div class="alert alert-danger" style="font-weight:bold;">
    <p>{{ h.recombinant_language_text(geno.upload_warn) | safe }}</p>
  </div>
{% endif %}
<form action="{{ h.url_for(
  controller='ckanext.canada.controller:PDUpdateController',
  action='create_travela',
  id=pkg.id,
  resource_id=res.id ) }}" method="POST" id="create_form">
  <div class='container-fluid'>
  <h3>{{ _('Create new record') }}</h3>
    {% for f in chromo.fields %}
      {% set required = f.get('form_required', False) %}
      {% set form_placeholder = f.get('form_placeholder', '') %}
      {% set form_attrs = f.get('form_attrs', {}) %}
      {% if 'solr_compare_previous_year' in f %}
        <div class='row'>
        <div class='col-md-6'>
          {% snippet 'scheming/form_snippets/text.html',
            field={
              'field_name': f.datastore_id,
              'label': f.label,
              'form_placeholder': form_placeholder,
              'required': required,
            }, data=data, errors=errors %}
        </div>
        <div class='col-md-6 align-bottom'>
          {% snippet 'scheming/form_snippets/text.html',
            field={
              'field_name': f.datastore_id + '_prev',
              'label': _(f.label) ~ ', ' ~ _('Previous Year'),
              'form_placeholder': form_placeholder,
              'required': required,
            }, data=data, errors=errors %}
        </div>
        </div>
      {% else %}
        {% snippet 'scheming/form_snippets/text.html',
          field={
            'field_name': f.datastore_id,
            'label': f.label,
            'form_placeholder': form_placeholder,
            'form_attrs': form_attrs,
            'required': required,
          }, data=data, errors=errors %}
      {% endif %}
    {% endfor %}
    <input class='btn btn-primary' type='submit' value='{{ _('Submit') }}' />
  </div>
</form>
