{% block header_user_snippet %}
{%- if c.userobj -%}
    <section id="wb-so">
      <h2 class="wb-inv">Sign-on information</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
          <ul class="list-inline">
    {% if c.userobj %}
        {% block header_account_logged %}
        <li>
            {{ _('Signed in as') }}
            <a href="{{ h.url_for(controller='user', action='dashboard') }}" class="image" title="{{ _('View profile') }}">
                {% if h.gravatar_show() %}
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                {% endif %}
                <span class="username">{{ c.userobj.display_name }}</span>
            </a>
        </li>
        {% if c.userobj.sysadmin %}
        <li>
            <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}" class="btn btn-default">
                <i class="fa fa-gavel"></i>
                <span class="text">{{ _('Admin') }}</span>
            </a>
        </li>
        {% endif %}
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
            {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
            <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}" class="btn btn-default">
                <i class="fa fa-tachometer"></i>
                <span class="text">{{ _('Dashboard') }}</span>
                <span class="wb-inv">{{ _(': ') }}</span>
                <span class="badge">{{ new_activities }}</span>
            </a>
        </li>
            {% block header_account_settings_link %}
            <li>
                <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit Profile') }}" class="btn btn-default">
                    <span class="fa fa-cog"></span>
                    <span class="text">{{ _('Edit Profile') }}</span>
                </a>
            </li>
            {% endblock %}

            {% block header_get_help %}
            <li>
                <a href="mailto:open-ouvert@tbs.sct.gc.ca?subject={{ _('Help using the Open Government Registry') }}" title="{{ _('Get Help') }}" class="btn btn-warning">
                    <span class="fa fa-question"></span>
                    <span class="text">{{ _('Get Help') }}</span>
                </a>
            </li>
            {% endblock %}

            {% block header_account_log_out_link %}
            <!-- This code is correct but we have to address a generic login not in the mega menu before we can re-enable
            <li>
                <a href="{{ h.url_for(controller='user', action='logout') }}" title="{{ _('Log out') }}" class="btn btn-primary">
                    <span class="fa fa-sign-out"></span>
                    <span class="text">{{ _('Log out') }}</span>
                </a>
            </li>
            -->
            {% endblock %}
        {% endblock %}
    {% else %}
        {% block header_account_notlogged %}
        {% if h.check_access('user_create') %}
        <li><a href="{% url_for controller='user', action='register', class_='sub' %}" class="btn btn-default">{{ _('Register') }}</a></li>
        {% endif %}
        <li><a href="{% url_for controller='user', action='login' %}" class="btn btn-primary">{{ _('Log in') }}</a></li>
        {% endblock %}
    {% endif %}
        </ul>
          </div>
        </div>
      </div>
    </section>
{%- endif -%}
{% endblock %}
