{% extends "user/edit_base.html" %}

{% import 'macros/canada_read.html' as cr %}

{% block add_action_content %}
  {% if h.check_access('package_create') %}
    <li>{% link_for _('Add Dataset'), controller='package', action='new', class_="btn btn-primary", icon="plus-sign-alt" %}</li>
  {% endif %}
{% endblock %}

{% block page_header_tabs %}
  {{ h.build_nav('user_dashboard', _('News feed'), class_="button button-accent") }}
  {{ h.build_nav('user_edit', _('Settings'), id=user.name, class_="button") }}
{% endblock %}

{% block primary_content_inner %}
  <div data-module="dashboard">
    {% snippet 'user/snippets/followee_dropdown.html', context=c.dashboard_activity_stream_context, followees=c.followee_list %}
    <h2 class="page-heading">
      {{ _('News feed') }}
      <small>{{ _('Activity from items that you follow') }}</small>
    </h2>
    {{ c.dashboard_activity_stream }}
  </div>
{% endblock %}

{% block secondary_content %}
  {% if not c.dashboard_activity_stream_context.dict == None %}
    <div class="context-info dashboard-context">
      <span class="arrow"></span>
      {% snippet 'snippets/context.html', type=c.dashboard_activity_stream_context.filter_type, dict=c.dashboard_activity_stream_context.dict %}
    </div>
  {% endif %}
  <div class="module-related margin-bottom-large" >
    <h2 class="module-heading">
      <i class="icon-sitemap"></i>
      {{ _('My Datasets') }}
    </h2>
    {% if c.user_dict['datasets'] %}
      <ul class="nav nav-simple ">
        {% for package in c.user_dict['datasets'][0:10] %}
          {% set title = package.title or package.name %}
          <li class="nav-item">
            {{ h.link_to(h.truncate(cr.field_id('title', package, h.lang()), 80), h.url_for(controller='package', action='read', id=package.name)) }}
          </li>
        {% endfor %}
      </ul>
    {% else %}>
      <span>{{ _('You do not have any datasets') }}</span>
    {% endif %}
  </div>
  
  <a href="{{ h.url_for(controller='package', action='new') }}" class="button button-accent">
    {{ _('Add Dataset') }}
  </a>
{% endblock %}
