{% ckan_extends %}

{% import 'macros/canada_read.html' as cr %}

{% block font_awesome %}<link href="{{ wet_server }}/font-awesome/css/font-awesome.css" rel="stylesheet">{% endblock %}

{% block primary_content_inner %}
  <div data-module="dashboard" class="col-md-12">
    {% snippet 'user/snippets/followee_dropdown.html', context=c.dashboard_activity_stream_context, followees=c.followee_list %}
    <div data-module="dashboard" class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">{% block page_heading %}{{ _('News feed') }}{% endblock %}</h3>
      </div>
      <div class="panel-body">
      {{ _('Activity from items that you follow') }}
      {% block activity_stream %}
        {% snippet 'snippets/activity_stream.html', activity_stream=activity_stream %}
      {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}


{% block secondary_content %}
  {% if not c.dashboard_activity_stream_context.dict == None %}
    <div class="panel panel-info">
      <span class="arrow"></span>
      {% snippet 'snippets/context.html', type=c.dashboard_activity_stream_context.filter_type, dict=c.dashboard_activity_stream_context.dict %}
    </div>
  {% endif %}
  <div class="panel panel-info mrgn-bttm-md" >
    <div class="panel-heading">
      <span class="fa fa-sitemap"></span>
      {{ _('My Datasets') }}
    </div>
    <div class="panel-body">
    {% if c.user_dict['datasets'] %}
      <ul class="list-group">
        {% for package in c.user_dict['datasets'][0:10] %}
          {% set title = package.title or package.name %}
          <li class="list-group-item">
            {{ h.link_to(h.truncate(title, 80), h.url_for(controller='package', action='read', id=package.name)) }}
          </li>
        {% endfor %}
      </ul>
    {% else %}>
      <span>{{ _('You do not have any datasets') }}</span>
    {% endif %}
    </div>
  </div>

  <a href="{{ h.url_for(controller='package', action='new') }}" class="btn btn-primary">
    {{ _('Add Dataset') }}
  </a>
{% endblock %}

{% block add_action_content %}
  {% if h.check_access('package_create') %}
    <li>{% link_for _('Add Dataset'), controller='package', action='new', class_="btn btn-primary", icon="plus-square" %}</li>
  {% endif %}
{% endblock %}

{% block page_header %}
  <div class="col-md-12">
    <ul class="nav nav-pills">
      {{ h.build_nav_icon('user_dashboard', _('News feed')) }}
      {{ h.build_nav_icon('user_dashboard_datasets', _('My Datasets')) }}
    </ul>
  </div>
{% endblock %}
