<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  
  <xi:include href="../default_menu.html" />
  <xi:include href="../layout.html" />
  
  <div py:match="breadcrumb">
    <div id="gcwu-bc">
      <h2>Breadcrumb trail</h2>
      <div id="gcwu-bc-in">
        <ol>

          <li>
            <a href="${h.url_for(controller='home', action='index')}">Home</a>
          </li>

        </ol>
      </div>
    </div>
  </div>
</html>

