<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="optional_head">
    <!-- Simple OpenID Selector -->
    <link rel="stylesheet" href="${h.url_for_static('/scripts/vendor/openid-selector/css/openid.css')}" />
  </py:def>
  <py:def function="optional_footer">
    <script type="text/javascript" src="${h.url_for_static('/scripts/vendor/openid-selector/js/openid-jquery.js')}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          openid.init('openid_identifier');
      });
    </script>
  </py:def>
  
  <py:def function="page_title">Login - User</py:def>
  <py:def function="page_heading">Login to ${g.site_title}</py:def>
  <py:def function="body_class">no-sidebar</py:def>
  
  <div py:match="content">

    <div class="span-6">

      <form action="${c.login_handler}" method="post" id="login">
        <div>
          <!--legend i18n:msg="site_title">Login</legend-->

          <label for="login">Login:</label>
          <input type="text" class="input-xlarge" name="login" id="login" value="" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" value="" />
        </div>

        <div>
          <label for="remember">Remember me:</label>
          <!-- optional 2 year cookie expiry -->
          <input type="checkbox" name="remember" id="remember" value="63072000" checked="checked"/>
        </div>

        <div>
          <button name="s" id="s" type="submit" class="btn btn-primary">
            ${_('Sign In')}
          </button>
          &mdash;
          <a href="${h.url_for(controller='user', action='request_reset')}">Forgot your password?</a>
        </div>
      </form>
    </div>

    <div class="clear"></div>
  </div>
  <xi:include href="layout.html" />
</html>
