{% ckan_extends %}

{% block subtitle %}
  {{ user.display_name }}
{% endblock %}

{% block page_heading %}
  {{ super.super() }}
{% endblock %}

{% block primary_content_inner %}
  <h2 class="wb-inv">{{ _('Datasets') }}</h2>

  {% block package_list %}
    {{ super() }}
  {% endblock %}
{% endblock %}


{% import 'macros/canada_read.html' as cr %}

{%- block other_info -%}
  <h3>{{_('Organizations')}}</h3>
  <ul>

  {% for org in h.user_organizations(user) %}
    <li><a href="{{ h.url_for(org.type + '.read', id=org.name) }}">{{cr.split_bilingual_field(org.title, h.lang())}}</a></li>
  {% endfor %}
  </ul>
{%- endblock -%}
