{% ckan_extends %}

{% block breadcrumb_content %}
{{ h.build_nav('admin.index', _('Admin')) }}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('user.index', _('Users'), icon='user') }}
  {{ h.build_nav_icon('canada.list_sysadmins', _('Admins'), icon='user-plus') }}
  {{ h.build_nav_icon('admin.trash', _('Trash'), icon='trash-o') }}
  {{ h.build_nav_icon('canada.ckanadmin_publish', _('Publish Records'), icon='cloud-upload') }}
  {{ h.build_nav_icon('canada.ckanadmin_job_queue', _('Job Queue'), icon='tasks') }}
  {{ h.build_extra_admin_nav() }}
{% endblock %}
