{% extends 'admin/base.html' %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}

{% resource 'js/check_all.js' %}

  <section id="search-results">
    <div class="module-poster">
      <form id="dataset-search" class="dataset-search form-inline mrgn-bttm-lg mrgn-tp-md" method="get" data-module="select-switch" role="search">
        <div id="search">
          <label for="q">{{_('Search Datasets')}}</label>
          <input type="text" class="search" style="width:100%;" name="q" id="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search...') }}" size="45"/>
          {% block suggest_a_dataset_button %}{% endblock %}
        </div>

        <div class="pull-right">
          {{ h.snippet('snippets/sort_by.html', sort=c.sort_by_selected) }}
          <button type="submit" class="btn btn-large btn-primary" value="{{ _('Search') }}">{{ _('Search') }}</button>
        </div>

        {% if c.fields -%}
          <span>
            {{ form.hidden_from_list(fields=c.fields) }}
          </span>
        {%- endif %}

        <div id="dataset-search-ext">{% block dataset_search_ext %}{% endblock %}</div>
      </form>
      <div class="{% if request.params and c.page.item_count == 0 -%}module-info module-simplify{%- endif -%}">
        <h3>{{_('Search Results:')}}</h3>
        <strong>
          {% snippet 'snippets/search_result_text.html', query=c.q, count=c.page.item_count, type='dataset' %}
        </strong>
        <div class="filter-list">
          {% block filter_list %}
            {% for field in g.fields_grouped %}
              {% if field != 'ready_to_publish' and field != 'imso_approval' %}
                {{ h.search_filter_pill(field, extras) }}
              {% endif %}
            {% endfor %}
        {% endblock %}
        </div>
        {% if request.params and c.page.item_count == 0 %}
          {% block try_another_search %}
          {% trans %}
            <p class="extra">Please try another search.</p>
          {% endtrans %}
          {% endblock %}
        {% endif %}
      </div>

      {% if c.query_error %}
        {% trans %}
          <p><strong>There was an error while searching.</strong> Please try again.</p>
        {% endtrans %}
      {% endif %}
      {{ h.snippet('admin/snippets/publish_package_list.html', packages=c.page.items) }}
    </div>

    {%- block pager -%}
      {{ c.page.pager(q=c.q) }}
    {%- endblock -%}
  </section>

  {%- block api_access_info -%}
    <!-- We want this block to be empty in the canada extension -->
  {%- endblock -%}

{% endblock %}

{% block extra_facets %}
  {# we want this to be empty. we don't want to show the publish/pending facet on the publish interface #}
{% endblock %}

{% block secondary_content %}
<div class="filters">
  <h2>{{ _('Search Filters') }}&nbsp;<small><a href="{{ h.url_for('canada.ckanadmin_publish', q=c.q) }}">{{ _('Clear All') }}</a></small></h2>
  <div>
    {% snippet 'snippets/dataset_facets.html', show_org_facet=true %}
  </div>
</div>
{% endblock %}
