{% extends 'admin/base.html' %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}

  {% asset 'canada_public/check_all' %}

  <section id="search-results">
    <div class="module-poster">
      <form id="dataset-search" class="dataset-search form-inline mrgn-bttm-md mrgn-tp-md" method="get" data-module="select-switch" role="search">
        <div id="search">
          <h2 class="mrgn-tp-0 mrgn-bttm-0">
            <label for="search_field"  class="wb-inv">{{ _('Search Datasets') }}</label>
          </h2>
          <div class="input-group col-md-12">
            <input type="text" class="form-control" id="search_field" autocomplete="off" name="q"
                   value="{{ g.q }}" placeholder="{{ _('Search datasets...') }}">
            <span class="input-group-btn">
              {% block search_input_button %}
              <button class="btn btn-primary btn-small" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span class="wb-inv">{{ _('Search') }}</span>
              </button>
              {% endblock %}
            </span>
          </div>
          {% block suggest_a_dataset_button %}{% endblock %}
        </div>

        <div class="row mrgn-tp-md mrgn-bttm-md">
          {% if g.page.item_count == 0 %}
            <div class="col-md-12 text-center text-warning">
              <strong>{% snippet 'snippets/search_result_text.html', query=g.q, count=g.page.item_count, type='dataset' %}</strong>
            </div>
          {% else %}
            <div class="col-md-6 mrgn-tp-sm text-left text-success">
              <strong>{% snippet 'snippets/search_result_text.html', query=g.q, count=g.page.item_count, type='dataset' %}</strong>
            </div>
            <div class="col-md-6 text-left">
              {{ h.snippet('snippets/sort_by.html', sort=c.sort_by_selected) }}
            </div>
          {% endif %}
        </div>

        {% if c.fields -%}
          <span>
            {{ form.hidden_from_list(fields=c.fields) }}
          </span>
        {%- endif %}

        <div id="dataset-search-ext">{% block dataset_search_ext %}{% endblock %}</div>
      </form>
      <div class="{% if request.params and c.page.item_count == 0 -%}module-info module-simplify{%- endif -%}">
        <div class="filter-list">
          {% block filter_list %}
            {% for field in g.fields_grouped %}
              {% if field != 'ready_to_publish' and field != 'imso_approval' %}
                {% for link, label in h.search_filter_pill_link_label(field, extras) %}
                  <a href="{{ link }}" class="btn btn-info btn-xs mrgn-lft-sm mrgn-bttm-sm facet-pill" title="{{ _('Remove') }}">
                    {{ label }}&nbsp;<i class="fa fa-times" aria-hidden="true"></i></a>
                  </a>
                {% endfor %}
              {% endif %}
            {% endfor %}
        {% endblock %}
        </div>
        {% if request.params and c.page.item_count == 0 %}
          {% block try_another_search %}
          {% trans %}
            <p class="extra">Please try another search.</p>
          {% endtrans %}
          {% endblock %}
        {% endif %}
      </div>

      {% if c.query_error %}
        {% trans %}
          <p><strong>There was an error while searching.</strong> Please try again.</p>
        {% endtrans %}
      {% endif %}
      {{ h.snippet('admin/snippets/publish_package_list.html', packages=c.page.items) }}
    </div>

    {%- block pager -%}
      {{ c.page.pager(q=c.q) }}
    {%- endblock -%}
  </section>

  {%- block api_access_info -%}
    <!-- We want this block to be empty in the canada extension -->
  {%- endblock -%}

{% endblock %}

{% block extra_facets %}
  {# we want this to be empty. we don't want to show the publish/pending facet on the publish interface #}
{% endblock %}

{% block secondary_content %}
<div class="filters">
  <h2>{{ _('Search Filters') }}&nbsp;<small><a href="{{ h.url_for('canada.ckanadmin_publish', q=c.q) }}">{{ _('Clear All') }}</a></small></h2>
  <div>
    {% snippet 'snippets/dataset_facets.html', show_org_facet=true %}
  </div>
</div>
{% endblock %}
