{% ckan_extends %}

{% block upload_submit %}
  {{ super() }}
  {% set geno = h.recombinant_get_geno(pkg.dataset_type) %}
  {% if 'upload_info' in geno %}
    <div class="alert alert-info" role="alert">
      <p>{{ _(geno.upload_info) }}</p>
    </div>
  {% endif %}
{% endblock %}

{% block file_input %}
  {{ super() }}
  {% set geno = h.recombinant_get_geno(pkg.dataset_type) %}
  {% if 'upload_warn' in geno %}
    <div class="alert alert-danger">
      <p>{{ _(geno.upload_warn) }}</p>
    </div>
  {% endif %}
{% endblock %}
