{% ckan_extends %}

{% block form %}
{% set chromo = h.recombinant_get_chromo(resource.name) %}
{% if chromo.create_form %}
  <a class="btn btn-default"
     href="{% url_for controller='ckanext.canada.controller:PDUpdateController',
     action='create_pd_record',
     owner_org=pkg.owner_org,
     resource_name=resource.name %}"><i class="glyphicon glyphicon-plus-sign"></i>
    {{ _("Create Single Record") }}</a>
  <h4>{{ _("Create and update multiple records") }}</h4>
{% endif %}
{{ super() }}
{% endblock %}

{% block messages %}
  {{ super() }}
  {% set geno = h.recombinant_get_geno(pkg.dataset_type) %}
  {% if 'upload_warn' in geno %}
  <div class="col-md-12">
    <div class="alert alert-danger" style="font-weight:bold;">
      <p>{{ h.recombinant_language_text(geno.upload_warn) | safe }}</p>
    </div>
  </div>
  {% endif %}
  {% if 'upload_info' in geno %}
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <p>{{ h.recombinant_language_text(geno.upload_info) | safe }}</p>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block errors %}
    <div class="span-3 text-danger" id="upload-errors">
      {% for error in errors %}
        {% set error_message = error.partition(': ')[2] %}
        {% if error_message.startswith("This field must not be empty:") %}
          {% set datastore_id = error.split(': ')[-1] %}
          {{ error.split(':')[0] }}:
          {{ _("This field must not be empty") }}:
          {{ h.recombinant_language_text(
            h.recombinant_get_field(pkg.dataset_type, datastore_id).label)
            or datastore_id }}
        {% elif error_message.startswith("This field must be empty:") %}
          {% set datastore_id = error.split(': ')[-1] %}
          {{ error.split(':')[0] }}:
          {{ _("This field must be empty") }}:
          {{ h.recombinant_language_text(
            h.recombinant_get_field(pkg.dataset_type, datastore_id).label)
            or datastore_id }}
        {% elif error_message.startswith("Invalid choice for") %}
          {% set datastore_id = error_message.split(':')[0][19:] %}
          {{ error.split(':')[0] }}:
          {{ _("Invalid choice for") }}
          {{ h.recombinant_language_text(
            h.recombinant_get_field(pkg.dataset_type, datastore_id).label)
            or datastore_id }}:
          {{ error_message.partition(':')[2] }}
        {% elif error_message.startswith("invalid input syntax for") %}
          {{ error.split(':')[0] }}:
          {{ _(error_message.split(':')[0]) }}:
          {{ error_message.partition(':')[2] }}
        {% else %}
          {{ error }}
        {% endif %}
      {% endfor %}
    </div>
{% endblock %}
