{% ckan_extends %}

{% set organization = group_dict if action != 'new' else {} %}
{%- set translated_title = h.get_translated(organization, 'title') -%}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), named_route=group_type + '.index' %}</li>
  <li>{% link_for translated_title, named_route=group_type + '.read', id=organization.name %}</li>
  <li class="active">{% link_for _('Manage'), named_route=group_type + '.edit', id=organization.name  %}</li>
{% endblock %}

{% block subtitle %}
  {{ h.split_piped_bilingual_field(organization.display_name, client_lang) }}
{% endblock %}

{% block content_action %}
  {% if organization and h.check_access('organization_update', {'id': organization.id}) %}
    {% link_for _('View Organization'), named_route='organization.read', id=organization.name, class_='btn btn-default', icon='eye'%}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {% if g.is_registry %}
    {% if h.check_access('group_update', {'id': organization.id}) %}
      {{ h.build_nav_icon('organization.edit', _('Edit Organization'), id=organization.name, icon='pencil-square') }}
    {% endif %}
    {{ h.build_nav_icon('activity.organization_activity', _('Activity'), id=organization.name, icon='clock') }}
    {% if h.check_access('organization_update', {'id': organization.id}) %}
      {{ h.build_nav_icon('organization.manage_members', _('Edit Members'), id=organization.name, icon='users') }}
    {% elif h.check_access('view_org_members', {'id': organization.id}) %}
      {{ h.build_nav_icon('organization.members', _('View Members'), id=organization.name, icon='users') }}
    {% endif %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if g.is_registry %}
    {% asset 'canada_internal/organization_edit' %}
  {% endif %}
{% endblock %}
