{% extends "organization/edit_base.html" %}

{% block subtitle %}{{ _('Proactive Disclosure Compliance') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block primary_content_inner %}
  {%- set valid_types = h.recombinant_get_types() -%}
  {%- set ns = namespace(genos={}) -%}
  {% for t in group_dict.reporting_requirements %}
    {% if t not in valid_types %}{% continue %}{% endif %}
    {%- do ns.genos.update({t: h.recombinant_get_geno(t)}) -%}
  {% endfor %}
  <div class="row">
    <div class="col-md-12">
      {% if not group_dict.reporting_requirements %}
        <div class="module-alert alert alert-info">
          <p><strong>{{ h.get_translated(group_dict, 'title') }} {{ _('does not have any reporting requirements.') }}</strong></p>
          <p>{{ _('If the organization should have reporting requirements, this can be modified by selecting reporting requirements when editing the organization.') }}</p>
        </div>
      {% else %}
        {# TODO: output summary info??? #}
        {% for t in group_dict.reporting_requirements %}
          {% if t not in valid_types %}{% continue %}{% endif %}
          {% set label = ns.genos[t].shortname or ns.genos[t].title %}
          <div class="pd-comp-summary-wrapper">
            <details>
              <summary>
                <span class="pd-comp-summary-title">{{ _(label) }}</span>
              </summary>
              <div class="pd-comp-summary-content">
                <p>TODO: output stuff here...</p>
              </div>
            </details>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  {{ super() }}
  <div class="panel panel-info">
    <div class="panel-heading">
      <i class="fa fa-lg fa-info-circle"></i>&nbsp;{{ _('What is Proactive Disclosure Compliance?') }}
    </div>
    <div class="panel-body">
        <p>{{ _("Your Organization is required to disclose data under certain data policies.") }}</p>
        <p>{{ _("Use this page to view upcoming and past disclosure requirements for your organization.") }}</p>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script nonce="{{- h.get_inline_script_nonce() -}}">
    window.addEventListener('load', function(){
      $(document).ready(function(){
        let select2Fields = $('[data-field-select2="True"]');
        if( select2Fields.length > 0 ){
          $(select2Fields).each(function(_index, _select2Field){
            $(_select2Field).select2({
              allowClear: true,
              placeholder: "{{ _('Select a Proactive Disclosure...') }}",
            });
          });
        }
      });
    });
  </script>
{% endblock %}
