{% ckan_extends %}

{% set organization = group_dict %}
{%- set translated_title = h.get_translated(organization, 'title') -%}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), named_route=group_type + '.index' %}</li>
  <li class="active">{% link_for translated_title, named_route=group_type + '.read', id=organization.name%}</li>
{% endblock %}

{%- block subtitle -%}
  {{ translated_title | trim }}
{%- endblock -%}

{% block adobe_analytics_creator %}
  {{ h.adobe_analytics_creator(organization=organization) }}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('organization.read', _('Datasets'), id=organization.name, icon='sitemap') }}
  {% if h.plugin_loaded('activity') %}
    {{ h.build_nav_icon('activity.organization_activity', _('Activity'), id=organization.name, icon='clock') }}
  {% endif %}
  {% if h.check_access('organization_update', {'id': organization.id}) %}
    {{ h.build_nav_icon('organization.manage_members', _('Edit Members'), id=organization.name, icon='users') }}
  {% elif h.check_access('view_org_members', {'id': organization.id}) %}
    {{ h.build_nav_icon('organization.members', _('View Members'), id=organization.name, icon='users') }}
  {% endif %}
  {% if h.check_access('sysadmin') %}
    {{ h.build_nav_icon('organization.search_rebuild', _('Rebuild Search Index'), id=organization.name, icon='database') }}
  {% endif %}
{% endblock %}
