{% ckan_extends %}

{%- set translated_title = h.get_translated(c.group_dict, 'title') -%}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), named_route=group_type + '.index' %}</li>
  <li class="active">{% link_for translated_title, named_route=group_type + '.read', id= c.group_dict.name%}</li>
{% endblock %}

{%- block subtitle -%}
  {{ translated_title | trim }}
{%- endblock -%}

{% block adobe_analytics_creator %}
  {{ h.adobe_analytics_creator(organization=c.group_dict) }}
{% endblock %}

{% block primary_content %}
<div class="row">
  <div class="col-md-12 mrgn-bttm-md">
    <header>
      <ul class="nav nav-pills">
        <li class="{% if c.action == 'read' %}active{% endif %}">
          <a href="{{h.url('organization.read', id=c.group_dict.name)}}">{{_('Datasets')}}</a>
        </li>
        <li class="{% if c.action == 'activity' %}active{% endif %}">
          <a href="{{h.url('organization.activity', id=c.group_dict.name, offset=0)}}">{{_('Activity')}}</a>
        </li>
        {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
          <li class="{% if c.action == 'members' %}active{% endif %}">
            <a href="{{h.url('organization.members', id=c.group_dict.name)}}">{{_('Edit Members')}}</a>
          </li>
          {% if h.check_access('group_update', {'id': c.group_dict.id}) %}
            <li class="{% if c.action == 'edit' %}active{% endif %}">
              <a href="{{h.url(('organization' if c.group_dict.is_organization else 'group') + '.edit', id=c.group_dict.name)}}">{{ _('Edit') }}</a>
            </li>
          {% endif %}
        {% elif h.check_access('view_org_members', {'id': c.group_dict.id}) %}
          <li class="{% if c.action == 'members' %}active{% endif %}">
            <a href="{{h.url('organization.members', id=c.group_dict.name)}}">{{_('View Members')}}</a>
          </li>
        {% endif %}
      </ul>
    </header>
  </div>
  <div class="col-md-12 mrgn-bttm-md">
  {% block primary_content_inner %}{% endblock %}
  </div>
</div>
{% endblock %}
