{% import 'macros/form.html' as form %}
{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}

{% if h.security_enable_totp() %}
  {% asset 'security/mfa_login' %}
  <div class="col-md-12 canada-flash-messages">
    <div class="flash-messages">
      <div id="login-error" class="alert fade alert-danger error-explanation canada-display-none">
        <p class="canada-margin-bottom-10">{{ _('Login failed. Incorrect username or password.') }}</p>
      </div>
      <div id="mfa-error" class="alert fade alert-danger error-explanation canada-display-none">
        <p class="canada-margin-bottom-10">{{ _('Invalid code, please try again.') }}</p>
      </div>
      <div id="unknown-error" class="alert fade alert-danger error-explanation canada-display-none">
        <p class="canada-margin-bottom-10">{{ _('An unknown error occurred.') }}</p>
      </div>
    </div>
  </div>
{% endif %}

<form id="mfa-login-form" action="{{ action }}?next={{ h.url_for('home.index') }}" method="post" role="form">
  {{ h.csrf_input() }}
  {% if error_summary %}
    <a href="{{ action }}" id="login-invalid"></a>
  {% endif %}
  {{ errors }}
  {{ form.errors(errors=error_summary, type='danger') }}
  <div class="text-info mrgn-bttm-md">
    {% trans %}NOTE: Username and password are case sensitive.{% endtrans %}
  </div>
  {{ form.input('login', label=_("Username"), id='field-login', value="", error=username_error) }}
  {{ form.input('password', label=_("Password"), id='field-password', attrs={'class': 'form-control', 'autocomplete': 'off'}, type="password", value="", error=password_error) }}
  <div class="form-actions">
    {% block login_button %}
      <div class="clear"></div>
      <button class="btn btn-default" type="submit">{{ _('Log in') }}</button>
    {% endblock %}
  </div>
  {% if h.security_enable_totp() %}
    <div id="mfa-form" class="canada-display-none">
      <p class="mrgn-tp-md">{{_('Please enter your authenticator app generated 6-digit verification code.')}}</p>
      {{ form.input('mfa', label=_("Verification code"), id='field-mfa', type="text", value="", error=mfa_error, classes=["control-medium"], attrs={"autocomplete": "off", "class": "form-control"}) }}

      <input id="mfa-form-active" name="mfa-form-active" type="hidden" value="" />
      <div class="form-actions">
        <a id="mfa-help-link" class="canada-mfa-help-link" href="/">{{_('Need help?')}}</a>
        <button class="btn btn-primary" type="submit">{{ _('Submit') }}</button>
      </div>
    </div>
  {% endif %}
</form>


