{# Used to insert the home icon into a breadcrumb #}
{% if h.lang() == 'en' %}
<li><a href="https://www.canada.ca/en.html">Home</a></li>
<li><a href="/en">Open Government</a></li>
<li><a href="https://open.canada.ca/open-information">Open Information</a></li>
<li><a href="/open-by-default-pilot">Open by Default Pilot</a></li>
{% else %}
<li><a href="https://www.canada.ca/fr.html">Accueil</a></li>
<li><a href="/fr">Gouvernement ouvert</a></li>
<li><a href="https://ouvert.canada.ca/fr/information-ouverte">Information ouverte</a></li>
<li><a href="/fr/pilote-ouverture-par-defaut">Projet pilote de l’« Ouverture par défaut »</a></li>
{% endif %}
