{% ckan_extends %}

{% block search_alert_info %}
    <p>{{ _('Open by Default provides access to working documents used by the Government of Canada. Most of this information is unpublished. Documents may be in draft form, and are generally available in the language in which they were created. Unless otherwise indicated, information is made available under the <a href="http://open.canada.ca/en/open-government-licence-canada">Open Government Licence</a>.')|safe }}</p>
{% endblock %}

{% block search_suggest_dataset %}
{% endblock %}
